<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="./Public/Admin/Finance/index.css" media="all">
    <link rel="stylesheet" type="text/css" href="./Public/Admin/mypubliccss/button.css" media="all">
    <style>
        .tables{
            width: 300px!important;
            text-align: left!important;
        }
        .span{
            width: 65px!important;
        }
        .btn-form{
            width: 300px;
        }
        .imgs{
            width: 30px;height: 30px;
        }
        .delete{
            width: 27px;height: 27px;
            position: absolute;
            margin-top:2px;
            margin-left: 10px;
        }
    </style>
</block>
<block name="body">

    <div class="main-title">
        <h2>新币配置</h2>
    </div>

<form class="ajax_form" method="post" action="">
    <table class="tables">

        <tbody>

            <tr>
                <td><span class="span">新币名称:</span></td>
                <td><input type="text" name="name" value="{$data.name}"></td>
            </tr>

            <tr>
                <td><span class="span">新币简称:</span></td>
                <td><input type="text" name="brief" value="{$data.brief}"></td>
            </tr>

        </tbody>

    </table>

    <div class="btn-form" style="margin-left: 0;margin-top: 20px;">
        <button class="btns btns-red add" type="button">确 定</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btns btns-green" onclick="javascript:history.back(-1);return false;">返 回</button>
    </div>
</form>

</block>
<block name="script">

    <script src="/Public/Admin/Motion/js/motion.js"></script>
    <script>
        highlight_subnav('{:U('nameInfo')}');



    </script>
</block>