<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>钱包列表编辑</h2>
    </div>
    <foreach name="data" item="vo">
    <form action="{:U('Userwallet/save')}" method="post" class="form-horizontal ajax_back" onsubmit="return false">
        <input name="href" id="href" value="" style="display:none">
        <div class="form-item">
            <label class="item-label">用户ID</label>
            <div class="controls">
                <input type="text" class="text input-large" name="userid" value="{$vo.id}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">币种</label>
            <div class="controls">
                <input type="text" class="text input-large" name="xnb" value="{$vo.xnb}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">用户</label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="{$vo.username}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">钱包地址</label>
            <div class="controls">
                <input type="text" class="text input-large" name="addr" value="{$vo.addr}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">钱包标签</label>
            <div class="controls">
                <input type="text" class="text input-large" name="label" value="{$vo.label}">
            </div>
        </div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit"  type="submit" >确 定</button>
            <button class="btn btn-return" onclick="returnback()">返 回</button>
        </div>
    </form>
    </foreach>
</block>

<block name="script">
    <script type="text/javascript" src="__JS__/returnback.js"></script>
    <script type="text/javascript">
       function returnback() {
           location.href="{:U('Userwallet/index')}"
       }
        //导航高亮
       highlight_subnav("{:U('Userwallet/Index')}");

    </script>
</block>
