<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/rmb.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/rmb.js" ></script>
	</head>
	<body  class="backgroundfff">
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span> 
			</a>
			<h2>人民币充值状态</h2>
		</header>
		<section class="charge-record-state">
			<ul>
				<foreach name="order" item="vo">
					<li>
						<span>支付状态</span>
						<if condition="$vo.status eq 0"> <span class="record-flag cwait">等待</span>
							<elseif condition="$vo.status eq 1"/><span class="record-flag cwait">处理中</span>
							<elseif condition="$vo.status eq 3"/><span class="record-flag csell">成功</span>
							<else /> <span class="record-flag cbuy">失败</span>
						</if>
					</li>
					<li>
						<span>开户银行</span>
						<span>{$vo.collbankname}</span>
					</li>
					<li>

						<span>收款账号</span>
						<if condition="$vo.status eq 0"> <span>{$vo.collectionaccount}</span>
							<elseif condition="$vo.status eq 1"/><span>{$vo.collectionaccount}</span>
							<elseif condition="$vo.status eq 3"/><span>{$vo.bankcard}</span>
							<else /> <span>{$vo.bankcard}</span>
						</if>

					</li>

					<li>
						<span>收款人	</span>
						<span>{$vo.payee}</span>
					</li>
					<li>
						<span>充值金额</span>
						<span class="cred">{$vo.money}</span>
					</li>
				</foreach>
			</ul>
	 	</section>
		<include file="Public:footer" />
	</body>
</html>
 