<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/setting.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="js/base.js" ></script>
		<script type="text/javascript" src="js/setting.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<a class="top-left" id="back">
				<img src="img/back.png"/>
				<span>返回</span>
			</a>
			<h2>费用说明</h2>
		</header>
		<div class="cost-title">
			<div class="cost-tab">
				<span class="pitch">交易手续费</span><span>转出手续费</span>
			</div>
			<div class="cost-hint explain-hint"><span>商品名称</span><span>人民币交易区</span><span>AAT交易区</span></div>
			<div class="appear-hint explain-hint"><span>商品名称</span><span>提现/资产手续费</span></div>
		</div>
		<section class="setting-cost">
			<ul class="setting-deal explain-list">
			</ul>
			<ul class="setting-appear explain-list">
			</ul>
		</section>
		<include file="Public:footer" />
	</body>
</html>
