<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/coin.css" />
		<link rel="stylesheet" href="__CSS__/swiper-3.4.2.min.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/swiper-3.4.2.jquery.min.js" ></script>
		<script type="text/javascript" src="__JS__/slide.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/coin.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>成交记录</h2>
		</header>
		<div class="tab-entrust swiper2">
			<div class="swiper-container swiper-container-horizontal swiper-container-free-mode">
				<div class="tab-entrustlist swiper-wrapper">
					<volist name="market" id="data">
						<a href="{:U('demand',['marketid'=>$data['id']])}" <eq name="marketid" value="$data['id']">class="swiper-slide pitch" <else/>class="swiper-slide"</eq> ><span id="tab_rmb" >{$data.name}</span></a>
					</volist>
				</div>
				<div class="swiper-button-next"></div>
		        <div class="swiper-button-prev"></div>
			</div>
		</div>
		<section class="entrust-coin">
			<ul id="entrust_rmb">
				<volist name="xnblist" id="data">
					<li>
						<a href="{:U('Property/demand_detail', array('xnbid' => $data['id']))}">
							<img class="coin-head" src="{$data.imgurl}"/>
							<span class="coin-character">{$data.name}({$data.brief})</span>
							<img class="coin-right" src="__IMG__/right1.png"/>
						</a>
					</li>
				</volist>
			</ul>
		</section>
		<include file="Public:footer" />

	</body>
	<script>
		$(".tab-entrust ul li").click(function () {
			var marketid = $(this).attr("data");
			window.location.href = "/Wap`Property`demand`marketid`" + marketid;
		})
	</script>
</html>
