
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">              
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/personage.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/personage.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>资产明细</h2>
		</header>
		<section class="currency">
			<ul>
				<foreach name="xnb_data" item="vo">
					<neq name="vo['xnb_name']" value="">
						<li>
							<eq name="vo['xnb_name']" value="人民币">
								<!--<a  href="{:U('Trade/buy',array('xnb'=>$vo['xnb_id'],'Marke'=>$xmarket))}">-->
									<else/><a  href="{:U('Trade/buy')}">
								<!--<a  href="{:U('Trade/trade',array('xnb'=>$vo['xnb_id'],'marke'=>$xmarket))}">-->
							</eq>

							<div class="currency-name">
									<span class="currency-name-left">
										<img src="{$vo.imgurl}"/>
										{$vo.xnb_name}({:strtoupper($vo['xnb_brief'])})
									</span>
							</div>
							<dl>
								<dt class="c1cd846">可用 : <eq name="vo.property" value="0">0.00<else/>{:floatval($vo['property'])}</eq></dt>
								<dt class="ceb4d49">冻结 : <eq name="vo.property_clos" value="">0.00<else/>{:floatval($vo['property_clos'])}</eq></dt>
							</dl>
							<dl>
								<dt>合计 : <eq name="vo['property']+$vo['property_clos']" value="0">0.00<else/>{:floatval($vo['property']+$vo['property_clos'])}</eq></dt>
								<neq name="vo.xnb_id" value="1"><dt>折合 : <eq name="vo.allproperty" value="">0.00<else/>{:floatval($vo['allproperty'])}</eq> </dt></neq>
							</dl>
							</a>
						</li>
					</neq>
				</foreach>
			</ul>
		</section>
		<include file="Public:footer" />
	</body>
</html>
