<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/coin.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/coin.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>转入资产</h2>
		</header>
		<section class="join-coin" id="coin_list">
			<ul>
				<foreach name="xnb_name" item="vo">
					<li>
						<a href="{:U('Property/join_currency_detail',array('id'=>$vo['id'],'name'=>$vo['name'],'brief'=>$vo['brief']))}">
							<img class="coin-head" src="{$vo.imgurl}"  alt="图标">
							<span class="coin-character"><span>{$vo.name}</span><span>{$vo.brief}</span></span>
							<img class="coin-right" src="__IMG__/right1.png"/>
						</a>
					</li>

				</foreach>
				</ul>
		</section>
		<include file="Public:footer" />
	</body>
</html>
