<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/coin.css" />

		<link rel="stylesheet" href="__CSS__/dropload.css" />


		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/coin.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<a class="top-left" id="back" >
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>转出商品记录</h2>
		</header>
		<input id="inputd" value="{$xnbid}" type="hidden">
		<section class="out-coin-record inner">
			<ul id="ul">
					<foreach name="water" item="vo">
						<li>
							<div class="out-record-info">
								<p><span>转出钱包地址:</span> <span class="cred">{$vo.currency_xnbrollout_addr}</span></p>
							</div>
							<div class="out-record-num">
								<p><span>转出数量:</span><span>{$vo.currency_xnbrollout_allnumber}</span></p>
								<p><span>状态:</span> <span class="csell">
								<if condition="$vo.currency_xnbrollout_status eq 1 "><span class="csell"> 等待</span>
									<button style="margin-left: 20px;color:#fff;background: #c7c7c7;border: 0px;border-radius: 5px;width: 50px;height: 25px;" onclick="revoked(this)" value="{$vo.id}">撤销</button>
									<elseif condition="$vo.currency_xnbrollout_status eq 2"/><span class="csell">处理中</span>
									<elseif condition="$vo.currency_xnbrollout_status eq 3"/><span class="cwait">成功</span>
									<elseif condition="$vo.currency_xnbrollout_status eq 4"/><span class="cbuy">拒绝</span>
									<else/> <span class="cbuy">撤销</span>
								</if>
								</span>
								</p>
							</div>
							<div class="out-record-condition">
								<p><span>转出时间:</span><span
										class="ctime">{$vo.currency_xnbrollout_addtime|time_format}</span></p>
							</div>
						</li>
					</foreach>
			</ul>
		</section>
		<include file="Public:footer" />
		<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
		<script type="text/javascript" src="__JS__/dropload.min.js" ></script>
		<script type="text/javascript">
			function revoked(ss) {
				var id = $(ss).attr("value");
				$.ajax({
					url: "{:U('Property/revokeds')}",
					type: "post",
					data: {id: id},
					dataType: 'json',
					success: function (data) {
						if (data.status != true) {   //请求失败
							ShowHintBox(data.info);
							return false
						}
						ShowHintBox(data.info,true);
					}
				});
			}
			//	 页面上下滑动加载数据
			$(function(){
				var start=0;
				var xnb = $('#inputd').val();
				// dropload
				var dropload = $('.inner').dropload({
					autoLoad:true,
					scrollArea:window,
					threshold:5,
					domDown : {
						domClass   : 'dropload-down',
						domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
						domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
						domNoData  : '<div class="dropload-noData">暂无数据</div>'
					},
					loadDownFn: function (me) {
						if(start<0){
							me.noData(true);
							me.resetload();
							return false;
						}
						$.ajax({
							type: 'POST',
							url: "{:U('Property/out_currency_record2')}",
							data: {xnb:xnb,start:start},
							dataType: 'json',
							success: function (data) {
								if (data == "" || data == null){
									start=-1;
									me.noData(true);
									me.resetload();
									return false;
								}
								var result = '';
								$.each(data, function (i,v) {
									var time = getMyDate(v.currency_xnbrollout_addtime);  //  时间
									var type = getType(v.currency_xnbrollout_status,v.id)  // 状态
									var color = getcolor(v.currency_xnbrollout_status); // 颜色
									result += '<li> <div class="out-record-info"> <p><span>转出钱包地址:</span><span class="cred">' + v.currency_xnbrollout_addr
											+ '</span></p></div><div class="out-record-num"><p><span>转出数量:</span><span>' + v.currency_xnbrollout_allnumber
											+ '</span></p><p><span>状态:</span> <span class="'+color+'">'+type
											+ '</span></p></div><div class="out-record-condition">'
											+ '<p><span>转出时间:</span><span class="ctime">' +time+ '</span></p>'
								})
								$('#ul').append(result);
								start+=5;
								me.resetload();
							},
						});
					}
				});
			});
			//  时间格式转换
			function getMyDate(str) {
				var oDate = new Date(str*1000),
						oYear = oDate.getFullYear(),
						oMonth = oDate.getMonth() + 1,
						oDay = oDate.getDate(),
						oHour = oDate.getHours(),
						oMin = oDate.getMinutes(),
						oSen = oDate.getSeconds(),
						oTime = oYear + '-' + getzf(oMonth) + '-' + getzf(oDay) + ' ' + getzf(oHour) + ':' + getzf(oMin);//最后拼接时间
				return oTime;
			}
			;
			//补0操作
			function getzf(num) {
				if (parseInt(num) < 10) {
					num = '0' + num;
				}
				return num;
			}

			function getType(int,id){
				var html = '';
				if(int == 1){
					html = '<button style="margin-left: 20px;background: rgb(26, 188, 156);border: 0px;border-radius: 5px;width: 50px;height: 25px;"onclick="revoked(this)" value='+id+'>撤销</button>';
					return "等待"+html;
				}
				if(int == 2){
					return "处理中";
				}
				if(int == 3){
					return "成功";
				}
				if(int == 4){
					return "拒绝";
				}
				if(int == 5){
					return "撤销";
				}
			}


			function getcolor(int) {
				if( int == 1){
					return 'csell';
				}

				if( int == 2){
					return 'csell';
				}
				if( int == 3){
					return 'cwait';
				}
				if( int == 4){
					return 'cbuy';
				}
				if( int == 5){
					return 'cbuy';
				}
			}
		</script>
	</body>
</html>
