<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/coin.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/coin.js" ></script>
		<script type="text/javascript" src="/Public/zz/z.js"></script>
	</head>
	<body>
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>{$xnb_name}</h2>
			<a class="top-right character" href="{:U('Property/out_currency_record',array('xnb'=>$xnb_id))}">转出记录</a>
		</header>
		<section class="join-coin-detail">
				<div class="coin-detail-shift">
					<dl class="coin-detail-surplus" >
						<dt>可用<span>{$brief}</span> : <span>
							<if condition="$money neq 0 "> {$money}
								<else /><span>0.00</span>
							</if>
						</span></dt>
						<dt>冻结<span>{$brief}</span> : <span>
							<if condition="$stop neq 0 "> {$stop}
								<else /><span>0.00</span>
							</if>
						</span></dt>
					</dl>
					<div class="coin-outin">
						<div class="coin-out-location">
							<input type="text" id="address" placeholder="钱包地址" />
						</div>
						<input type="number" class="input100" id="number" placeholder="转出数量" />
						<p class="coin-out-hint">
						单笔转出限额为{$minnumber}-{$maxnumber}{$brief}, 当前每人每日
						最高可提现{$selltop}{$brief}, 不同账户同一身份证共享配额。
						</p>
						<input type="password" class="input100" onkeyup="clearNoNum(this)" onchange="checkMumber(this)" id="password" placeholder="交易密码" />
						<div class="coin-out-yzm">
							<input type="text" id="yanzhengma" placeholder="请输入手机验证码" />
							<a type="button" id="button">获取验证码</a>
							<input id="phone" value="{$phone}" type="hidden">
						</div>
						<input id="bid" value="{$xnb_id}" type="hidden">
						<input id="submit" type="submit" class="coin-out-btm" value="确定转出" />
					</div>
					<div class="coin-detail-hint">
						<ul>
							<li>转出说明 : </li>
							<li>1.为了安全,转出商品是由人工处理,您提交后,我们会在短时间内为您处理。</li>
							<li>2.为了加快转商品的速度,我们会每次转商品支付手续费,但由于商品网络的不稳定性,部分转商品仍会较慢,请耐心等待</li>
							<li>转出商品服务费为 {$poundage}% {$brief}</li>
						</ul>
					</div>
				</div>
		</section>
		<include file="Public:footer" />
		<script type="text/javascript">
			 //获取验证码
			 $('#button').click(function () {
				 $.ajax({
//					 url: "/Wap_Register_smss",
					 url:"{:U('Register/smss')}",
					 type: "post",
					 data: {phone_num: $('#phone').val()},
					 dataType: 'json',
					 success: function (data) {
						 if (data.status == true) {
							 ShowHintBox(data.info);
							 yanjzetime = 57;
							 var ss = setInterval(function () {
								 if (yanjzetime > 0) {
									 yanjzetime = yanjzetime - 1;
									 $('#button').html(yanjzetime + "秒")
									 $('#button').css({"background":"green"});
									 $('#button').css({"pointer-events": "none"}); //移除click
								 } else if (yanjzetime <= 0) {
									 clearInterval(ss);
									 $('#button').html("重新获取");
									 $('#button').css({"background":"#FF8C00"});
									 $('#button').css({"pointer-events": "auto"}); //移除click
									 yanjzetime = 0;
								 }
							 }, 1000)
						 } else {
							 ShowHintBox(data.info);
						 }
					 }
				 });
			});

			// 转出信息提。交
			$('#submit').click(function () {
				if ( $('#address').val() != $('#address').val().match(/^[1-9]\d*$|^[1-9]\d*\.\d*[1-9]{1,6}$|0\.\d*[1-9]{1,6}$/)){
					ShowHintBox('请输入正确的地址');
					return false
				}
				if ( $('#password').val() != $('#password').val().match(/^[1-9]\d*$|^[1-9]\d*\.\d*[1-9]{1,6}$|0\.\d*[1-9]{1,6}$/)){
					ShowHintBox('请输入正确书写密码');
					return false
				}
				if ( $('#yanzhengma').val() != $('#yanzhengma').val().match(/^[1-9]\d*$|^[1-9]\d*\.\d*[1-9]{1,6}$|0\.\d*[1-9]{1,6}$/)){
					ShowHintBox('验证码格式不正确');
					return false
				}
				if ( $('#number').val() != $('#number').val().match(/^[1-9]\d*$|^[1-9]\d*\.\d*[1-9]{1,6}$|0\.\d*[1-9]{1,6}$/)){
					ShowHintBox('请输入正确交易数量');
					return false
				}

				if ($("#address").val() == "" || $("#number").val() == "" || $("#password").val() == "" || $("#yanzhengma").val() == "") {
					ShowHintBox('请输入完整信息');
					return false;
				} else {
					$.post("{:U('Property/orders')}", {
						'bid': $('#bid').val(),
						'address': $('#address').val(),
						'number': $('#number').val(),
						'password': $('#password').val(),
						'yanzhengma': $('#yanzhengma').val(),
					}, function (data) {
						if (data.status != true) {   //请求失败
							ShowHintBox(data.info);
							return false
						}
						ShowHintBox(data.info,true);
					});
				}
			 });
			</script>
	</body>
</html>
