<!DOCTYPE html>
<html> 
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">              
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/rmb.css" />
		<link rel="stylesheet" href="__CSS__/dropload.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/rmb.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>人民币提现</h2>
		</header>
		<section class="fetch-record inner">
			<ul class="us">

			</ul>
			
		</section>
		<include file="Public:footer" />
	</body>
</html>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/dropload.min.js"></script>
<script>
	$(function () {
		// dropload
		var start=0;
		var dropload = $('.inner').dropload({
			scrollArea:window,
			threshold:5,
			autoLoad:true,
			domDown : {
				domClass   : 'dropload-down',
				domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
				domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
				domNoData  : '<div class="dropload-noData">暂无数据</div>'
			},
			loadDownFn : function(me){
				if(start<0){
					me.noData(true);
					me.resetload();
					return false;
				}
				$.ajax({
					type: 'post',
					url: "{:U('PropertyData/getCarryapplywater')}",
					dataType: 'json',
					data:{start:start},
					success: function(data){

						//如果返回空就不在发起请求
						if (data==""){
							start=-1;
							me.noData(true);
							me.resetload();
							return false;
						}

						var li=" ";
						$.each(data,function (k,v) {
							var time=getTime(v.addtime);
							var color=getcolor(parseInt(v.status))
							var type=gettype(parseInt(v.status),v.orderfor)
							li+='<li>';
								li+='<div>'
									li+='<p><span>提现ID:</span><span  class="recordid">'+v.userid+'</span></p>'
									li+='<p>'+time+'</p>'
								li+='</div>'
								li+='<div>'
									li+='<p><span>提现：</span>¥<span>'+v.allmoney+'</span></p>'
									li+='<p><span>实收:</span>¥<span>'+v.money+'</span></p>'
								li+='</div>'
								li+='<p class="withdrawal-state '+color+'">'+type+'</p>'
							li+='</li>'
						})
						$('.us').append(li)
						start+=4;
						me.resetload();
					},
					error: function(xhr, type){
						me.noData(true);
						// 即使加载出错，也得重置
						dropload.resetload();
					}
				});
			}
		});


		function getTime(int) {
			int=int*1000
			var date=new Date();
			date.setTime(int);


			return date.getFullYear()+"-"+(date.getMonth()+1)+'-'+date.getDate()+" "+date.getHours()+':'+date.getMinutes()+':'+date.getSeconds();
		}

		function gettype(int,orderfor) {
			switch (int){
				case 1:
						return '<img src="/Public/Wap/img/del.png" class="delete" orderfor="'+orderfor+'">';
					break;
				case 2:
						return "处理中";
					break;
				case 3:
						return "成功";
					break;
				case 4:
						return "失败";
					break;
				case 5:
						return "撤销";
					break;
			}
		}

		function getcolor(int) {
			switch (int){
				case 1:
					return 'csell';
					break;
				case 2:
					return 'csell';
					break;
				case 3:
					return 'cwait';
					break;
				case 4:
					return 'cbuy';
					break;
				case 5:
					return 'cbuy';
					break;
			}
		}

		$('body').on('click','.delete',function () {
			$.ajax({
				url:'{:U("Property/rmbwithdrawal_delete")}',
				type:'post',
				data:{orderfor:$(this).attr('orderfor')},
				success:function (data) {
					if (data.status!=true){
						ShowHintBox(data.info,false);
						return false;
					}
					ShowHintBox(data.info,true);
				}
			})
		})


	})
</script>