<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<!-- <link rel="stylesheet" href="__CSS__/swiper-3.4.2.min.css" /> -->
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/deal.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<!-- <script type="text/javascript" src="__JS__/swiper-3.4.2.jquery.min.js" ></script> -->

		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/deal.js" ></script>
		<script type="text/javascript" src="/Public/zz/z.js" ></script>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="__CSS__/shop/style.css" rel="stylesheet" type="text/css" media="all" />
		<link href="__CSS__/shop/form.css" rel="stylesheet" type="text/css" media="all" />
		<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
		<!-- <script src="__JS__/shop/jquery1.min.js"></script> -->
		<!-- start menu -->
		<link href="__CSS__/shop/megamenu.css" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body class="backgroundf6">
		<header class="top">
			<h2>商品详情</h2>
			<!--<a class="top-right" href="{:U('editDisplayCurrency')}"><img src="__IMG__/bianji.png"/></a>-->
		</header>
		<section class="deal-content">
			<div class="mens">    
			    <div class="main">
			        <div class="wrap">
			        	<script src="__JS__/shop/jquery.easydropdown.js"></script>
			     		<div class="rsingle span_1_of_single" style="font-size: 15px;">
							<h5 class="m_1">类别</h5>	
			              	<select id="ship_id" style="font-size: 15px;font: inherit;width: 100%;height: 40px;" onchange="top.location=this.value;" >
			              		
					                <volist name="cate" id="datas">
					                	<notempty name="datas.child">
						                  <a href=""><option value="{:U('lists', ['cat_id'=>$datas['id']])}">{$datas.name}</option></a>
						                  <volist name="datas.child" id="val">
											<a href="{:U('lists', ['cat_id'=>$datas['id']])}"><option value="{:U('lists', ['cat_id'=>$val['id']])}">|---{$val.name}</option></a>
										  </volist>
										<else />
						                	<a href="{:U('lists', ['cat_id'=>$datas['id']])}"><option value="{:U('lists', ['cat_id'=>$datas['id']])}">{$datas.name}</option></a>
						                </notempty>
					                </volist>

			              	</select>						       
					    </div>
					    
					    <div class="clear"></div>
			     		<ul class="breadcrumb breadcrumb__t" style="font-size: 15px;"><a class="home" href="{:U('Index/index')}">首页</a> / <a href="{:U('Shop/lists', ['cat_id' => $info['cat_id']])}">{$info.class_name}</a></ul>
						<div class="cont span_2_of_3">
					  		<div class="grid images_3_of_2">
								<div id="container">
									<div id="products_example">
										<div id="products">
											<a href="#"><img class="a" style="width: 360px;height: 300px;" id="img1" src="__ROOT__/{$info['img']}" alt="" rel="__ROOT__/{$info['img']}" /></a>
										</div>
									</div>
								</div>
				            </div>
					        <div class="desc1 span_3_of_2">
					         	<h3 class="m_3" style="font-size: 22px;">{$info.name}</h3>
					         	<eq name="info.type" value="1">
					         		<p class="m_5">{$price_show} </p>
					         	</eq>
					         	<eq name="info.type" value="2">
					         		<p class="m_5">{$price_show.cmc} CMC + {$price_show.cny} CNY </p>
					         	</eq>
					         	<eq name="info.type" value="3">
					         		<p class="m_5">{$price_show} </p>
					         	</eq>
					             
								<div class="btn_form">
									<form onsubmit="return false">
										<input type="submit" class="showlock" value="立即购买" id="buy" data="{$info.id}" title="">
									</form>
								</div>
						    </div>
						   <div class="clear"></div>	
						    <div class="clients"></div>
						    <div class="toogle">
						     	<h3 class="m_3">产品详情描述</h3>
						     	<p class="m_text">{$info.description}</p>
						    </div>
					    </div>			
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</section>
		<div class="login-box">
			<p style="float: left">请登录</p>
			<p style="float: right" class="closelogin">关闭</p>
			<form action="{:U('Public/logins')}" class="form-horizontal ajaxlogin_form" method="post" onsubmit="return false">
				<div class="loginl">
					<input class="login_in"  name="name" type="text" placeholder="请输入您的手机和或邮箱" />
					<input class="login_in" name="pass" type="password" placeholder="请输入密码" />
					<input class="login_login" type="submit"  value="登录" />
				</div>
				<div class="register-forget">
					<a href="{:U('Register/Register')}">立即注册</a><a href="{:U('Public/retrievePassword')}">忘记密码</a>
				</div>
			</form>
		</div>
		<include file="Public:footer" />
	</body>
</html>
<!-- <script type="text/javascript" src="__JS__/Trade/buy.js"></script> -->
<script>
	$(function () {
		$("#buy").click(function() {
			var id = $(this).attr("data");
			$.ajax({
	            url:"{:U('Wap/ifsess')}",
	            type:"get",
	            success:function(data) {
	                var href="/Wap`Buy`buy?product_id="+ id;
	                if(data!=true){
	                    $('.login-box').attr("style", "display:block");
	                    return false
	                }
	                location.href=href
	            }
	        })
	        return false
		});

		$('.closelogin').click(function () {
			$('.login-box').css({"display":"none"});
		})

		//登陆
		$('.ajaxlogin_form').find('input[type=submit]').click(function () {

			var form=$(this).parents().parent('.ajaxlogin_form');
			if (form.get(0)==undefined){
				form=$(this).parent();
			}
			$.ajax({
				url:form.attr('action'),
				type:form.attr('method'),
				data:form.serialize(),
				dataType:'json',
				success:function (data) {
					if (data.status!=true){   //请求失败
						ShowHintBox(data.info,false);
						return false
					}
					setTimeout(function () {
						window.location.reload();
					}, 1500);
				}
			});

		})
	})
</script>
<!-- <script type="text/javascript" src="__JS__/slide.js" ></script> -->