<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/editad.css" media="all">

</block>
<block name="body">
    <div class="main-title cf">
        <if condition="$app['id'] neq ''" >
            <h2>修改APP展示页面</h2>
            <else />
            <h2>添加APP展示页面</h2>
        </if>
    </div>
    <!-- 标签页导航 -->
    <div class="tab-wrap">
        <div class="tab-content">
            <!-- 表单 -->
            <form id="form" action="{:U('updateappphoto')}" method="post" class="form-horizontal" enctype="multipart/form-data"  >
                <input type="hidden" value="{$app.id}" name="id">
                <div class="form-item cf">
                    <label class="item-label">页面名称</label>
                    <input type="text" class="text input-medium" name="name" value="{$app.name}">
                </div>
                <div class="form-item cf">
                    <label class="item-label">排序<span>(按数字大小排序)</span></label>
                    <input type="text" class="text input-medium" name="sort" value="{$app.sort}">
                </div>
                <div class="form-item cf">
                    <label class="item-label">页面图片</label>
                    <div class="controls">
                        <input type="file" name="imgurl" class="display">
                        <input type="button" class="files"  value="请选择文件">
                        <div class="upload-img-box">
                            <img src="{$app.imgurl}" width="180" height="320" alt="图片预览区">
                        </div>
                    </div>
                </div>

                <div class="form-item cf">
                    <button class="btn submit-btn ajax-post hidden" id="submit" type="button" target-form="form-horizontal">确 定</button>
                    <a class="btn btn-return" href="javascript:history.back(-1);">返 回</a>
                </div>
            </form>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        highlight_subnav("{:U('appphotolist')}");


        $('#submit').click(function(){
            var formData= new FormData($('form').get(0));

            $.ajax({
                url:"{:U('updateappphoto')}",
                type:"post",
                data:formData,
                processData:false,
                contentType:false,
                dataType:"json",
                success:function (data) {
                    if (data.status!=1){  //失败
                        set_poput_code(data.info,false)
                        return false;
                    }
                    set_poput_code(data.info,true)
                }
            })
        });
        $('.files').click(function () {
            $('[type=file]').trigger('click');
        })

        $("input[type='file']").change(function () {

            var  fr= new FileReader()
            fr.onload=function () {
                $('.upload-img-box img').attr("src",fr.result)
            }
            fr.readAsDataURL(this.files[0])
        })

    </script>
</block>
