<extend name="Public/base"/>

<!-- 子导航 -->

<block name="body">
	<!-- 标题 -->
	<div class="main-title">
		<h2>文章管理</h2>
	</div>

	<!-- 按钮工具栏 -->
	<div class="cf">
		<div class="fl">
		<empty name="model.extend">
			<div class="tools">
				<a class="btn" href="{:U('aredit', array('type' => $type))}">新 增</a>
				<button class="btn ajax-post confirm" target-form="ids" url="{:U('ardelete')}">删 除</button>
                <button class="btn ajax-post" target-form="ids" url="{:U("setstatus",array("status"=>1))}">启 用</button>
                <button class="btn ajax-post" target-form="ids" url="{:U("setstatus",array("status"=>0))}">禁 用</button>
                <button class="btn ajax-post" target-form="ids" url="{:U("headershow",array("status"=>1))}">首页显示</button>
                <button class="btn ajax-post" target-form="ids" url="{:U("footershow",array("status"=>1))}">底部显示</button>
                <button class="btn ajax-post" target-form="ids" url="{:U("headershow",array("status"=>0))}">首页禁用</button>
                <button class="btn ajax-post" target-form="ids" url="{:U("footershow",array("status"=>0))}">底部禁用</button>
			</div>
		</empty>
		</div>
		<!-- 高级搜索 -->
		<!-- <div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="{$model['search_key']|default='title'}" class="search-input" value="{:I('title')}" placeholder="请输入关键字">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('Think/lists','model='.$model['name'],false)}"><i class="btn-search"></i></a>
			</div>

		</div> -->
	</div>

	<!-- 数据表格 -->
    <div class="data-table">
		<table>
            <!-- 表头 -->
            <thead>
                <tr>
                    <th class="row-selected row-selected">
                        <input class="check-all" type="checkbox">
                    </th>
                    <th>排序</th>
                    <th>ID</th>
                    <th>文章标题</th> 
                    <th>文章类型</th>
                    <th>文章标签</th>
                    <th>虚拟币</th>
                    <th>添加时间</th>
                    <th>更新时间</th>
                    <th>首页显示</th> 
                    <th>底部显示</th> 
                    <th>状态</th> 
                    <th>操作</th> 
                   
                    
                </tr>
            </thead>

            <!-- 列表 -->
            <tbody>
                <volist name="list" id="data">
                    <tr>
                        <td><input class="ids" type="checkbox" value="{$data['id']}" name="ids[]"></td>
                    	<td><input type="text" name="sort" class="text input-mini" value="{$data.sort}"   tid="{$data.id}" />
                    	</td>
                        <td>{$data.id}</td>
                        <td>{$data.title}</td>
                        <td>{$data.typename}</td>
                        <td>{$data.labelname}</td>
                        <td>{$data.xnbname}</td>
                        <td>{$data.addtime|date="Y-m-d H-i-s",###}</td>
                        <td>{$data.endtime|date="Y-m-d H-i-s",###}</td>
                        <td><eq name="data.header" value="1">是</eq><neq name="data.header" value="1">否</neq></td>
                        <td><eq name="data.footer" value="1">是</eq><neq name="data.footer" value="1">否</neq></td>
                        <td><eq name="data.status" value="1">正常</eq><neq name="data.status" value="1">禁用</neq></td>
                        <td>
                        	<a href="{:U('aredit?id='.$data['id'])}">修改</a>
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>
	</div>
	<!-- 分页 -->
    <div class="page">
        {$page}
    </div>
</div>

</block>
<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('arlist', array('type' => I('type')))}");
    </script>
<script type="text/javascript">
$(function(){
	$("input[name='sort']").blur(function(){      
		var id=$(this).attr('tid');
		var val=$(this).val();
		$.ajax({
			type: "POST",
             url: "{:U('arsort')}",
             data: {id:id, sort:val},
             dataType: "json",
             success: function(data){                   
                      if (data.status!=1){  //失败
                            set_poput_code(data.info,false)
                            return false;
                        }
                        set_poput_code(data.info,true) 
                }
		});
	})
})
</script>
</block>
