<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="./Public/Admin/Finance/index.css" media="all">
    <link rel="stylesheet" type="text/css" href="./Public/Admin/mypubliccss/button.css" media="all">
    <style>
        .tables{
            width: 300px!important;
            text-align: left!important;
        }
        .span{
            width: 65px!important;
        }
        .btn-form{
            width: 300px;
        }
        .imgs{
            width: 30px;height: 30px;
        }
        .delete{
            width: 27px;height: 27px;
            position: absolute;
            margin-top:2px;
            margin-left: 10px;
        }
    </style>
</block>
<block name="body">

    <div class="main-title">
        <h2>运营配置</h2>
    </div>

    <form action="">

        <div>
            <div>
               交易重消率: <input type="text" name="repeat" value="{:$data['repeat']*100}" style="text-align: center;height: 30px;border-radius: 3px;border: 1px;">%
            </div>
            <br/>

        </div>

        <div>
            <div>
                红包日返率: <input type="text" name="date_back" value="{:($data['date_back'] ? $data['date_back']*100 : 0)}" style="text-align: center;height: 30px;border-radius: 3px;border: 1px;">%/天
            </div>

            <br/>

        </div>

        <div>
            <div>
                红包重消率: <input type="text" name="repeat_paper" value="{:($data['repeat_paper'] ? $data['repeat_paper']*100 : 0)}" style="text-align: center;height: 30px;border-radius: 3px;border: 1px;">%
            </div>

            <br/>

        </div>

        <div>
            <div>
                积分月复利: <input type="text" name="integral" value="{:($data['integral'] ? $data['integral']*100 : 0)}" style="text-align: center;height: 30px;border-radius: 3px;border: 1px;">%/月
            </div>

            <br/>

        </div>

        <div>
            <div>
                复 利 月 数: <input type="text" name="water" value="{:($data['water'] ? $data['water'] : 0)}" style="text-align: center;height: 30px;border-radius: 3px;border: 1px;">月
            </div>

            <br/>

        </div>

        <div>
            <div>
                积分释放率: <input type="text" name="water_release" value="{:($data['water_release'] ? $data['water_release'] : 0)}" style="text-align: center;height: 30px;border-radius: 3px;border: 1px;">%/天
            </div>

            <br/>

        </div>

        <div>
            <div>
                CMC单价: <input type="text" name="cmc" value="{:($data['cmc'] ? $data['cmc'] : 0)}" style="text-align: center;height: 30px;border-radius: 3px;border: 1px;">
            </div>

            <br/>

        </div>


        <div>
            <input value="{$id}" name="id" type="hidden">
            <button class="btn send" type="button">确定</button>
        </div>


    </form>


</block>
<block name="script">

    <script src="/Public/Admin/Motion/js/motion.js"></script>
    <script>
        highlight_subnav('{:U('repeat')}');

        $(function () {

            $('.send').click(function () {
                var formData= new FormData($('form').get(0))
                $.ajax({
                    'url':"",
                    processData:false,
                    contentType:false,
                    type:'POST',
                    data:formData,
                    success:function(data){
                        if (data.status!=true){   //请求失败
                            set_poput_code(data.info,false);
                            return false
                        }
                        set_poput_code(data.info,true);
                    }

                })
            })


        })

    </script>

</block>