<!DOCTYPE html>
<html>
	<head>
		<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta name="description" content="农畜商品交易平台">
		<meta name="keywords" content="数字货币交易平台,数字货币,虚拟币,虚拟币新闻资讯">
		<meta name="author" content="lihuijie">
		<title>委托管理-农畜商品交易平台</title>
		<link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
		<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css"/>
		<link rel="stylesheet" href="__CSS__/bae.css">
		<link rel="stylesheet" href="__CSS__/default.css" />
		<link rel="stylesheet" href="__CSS__/jquery.ui.css"/>
		<link rel="stylesheet" href="__CSS__/center_left.css">
		<link rel="stylesheet" href="__CSS__/center_header.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/finance.css"/>
		<script type="text/javascript" src="__JS__/jquery.js" ></script>
		<script src="__JS__/base.js"></script>
	</head>
	<body>
	<include file="Public:header"/>

	<main>

		<div class="container">
			<ol class="breadcrumb">
				<li><a href="{:U('Index/index')}">首页</a></li>
				<li><a href="{:u('Property/finance')}">财务中心</a></li>
				<li class="active">
					<span>委托管理</span>
				</li>
			</ol>
		</div>

		<div class="container center_content">
	<!--		<include file="Public:finance_left"/>-->
			<div class="pull-left">
				<h5 id="center_title">财务中心<span class="glyphicon glyphicon-chevron-down"></span></h5>
				<ul class="list-unstyled" id="finance_list">
					<li class="similar"><a href="{:U('Property/finance?tag=0')}">财务中心<span class="right_icon"></span></a></li>
					<li class="similar"><a href="{:U('Property/rmbrecharge?tag=1')}">人民币充值<span class="right_icon"></span></a></li>
					<li id="rmbtx" class="similar"><a href="{:U('Property/rmbwithdrawal?tag=2')}">人民币提现<span class="right_icon"></span></a></li>
					<li class="similar"><a href="{:U('Property/join_currency?tag=3')}">转入资产<span class="right_icon"></span></a></li>
					<li class="similar"><a href="{:U('Property/out_currency?tag=4')}">转出资产<span class="right_icon"></span></a></li>
					<li class="selected"><a href="{:U('Property/commissioned')}">委托管理<span class="right_icon"></span></a></li>
					<li class="similar"><a href="{:U('Property/demand?tag=6')}">成交查询<span class="right_icon"></span></a></li>
					<li class="similar"><a href="{:U('Property/handler?tag=7')}">经理人<span class="right_icon"></span></a></li>
				</ul>
			</div>

			<div class="pull-right finance-content">
				<div class="big_title">
					<h4>委托管理</h4>
					<div class="clearfix"></div>
				</div>
				<div class="currency-type form-group">
				<div id='xnb' class="xnb_panel">
					<empty name="xnb">
						<span class="xnb_content">
							<img src="{$xnb_data[0]['imgurl']}" alt="图标"><span>{$xnb_data[0]['name']}({$xnb_data[0]['brief']})</span>
						</span>
					<else />
						<foreach name="xnb_data" item="vo">
							<eq name="xnb" value="$vo['id']">
								<td class="xnb_panel">
									<img src="{$vo.imgurl}" alt="图标"><span>{$vo.name}({$vo.brief})</span>
								</td>
							</eq>
						</foreach>
					</empty>
					<i></i>
				</div>
				<div id="xnb_table">
					<table>
						<foreach name="xnb_data" item="vo">
							<php>$k=$key+1;</php>
							<eq name="k+2" value="0"><tr></eq>
								<td class="xnb_panel" id="{$vo.id}">
									<img src="{$vo.imgurl}" alt="图标"><span>{$vo.name}({$vo.brief})</span>
								<!--	<i></i>-->
								</td>
							<eq name="k%3" value="0"></tr></eq>
						</foreach>
					</table>
				</div>
					<form action="" method="post" class="form-inline">
						<input type="hidden" name="xnb" value="{:I('xnb')}">   <!--//虚拟币-->
						<input type="hidden" name="type" value="{:I('type')}">  <!--买卖类型-->
						<input type="hidden" name="cancel" value="{:I('cancel')}">  <!--订单状态-->
						<div class="form-group">
							<input type="text" name="date" value="{:I('date')}"  readonly="readonly"  class="text form-control" id="date_start" />
							至 <input type="text" name="dates" value="{:I('dates')}" readonly="readonly" class="text form-control" id="date_end" />
							<input type="submit" value="查询" class="form-control">
						</div>
					</form>
				</div>
				<div class="currency-record-hint">委托记录</div>
				<div class="entrust-column">
					<ul>
			<!--			<li class="entrust-column-type">
							<img src="__IMG__/jinbi.png"/>
							<select class="" style="width: 75%">
								<option value="0">银币(YB/CNY)</option>
							</select>
						</li>-->
						<li class="entrust-column-num">订单号</li>
						<li class="entrust-column-time">时间</li>
						<li>
							<select class="type">
								<option value="" <eq name="type" value="">selected="selected"</eq>	>买/卖</option>
								<option value="1" <eq name="type" value="1">selected="selected"</eq> >买入</option>
								<option value="2" <eq name="type" value="2">selected="selected"</eq> >卖出</option>
							</select>
						</li>
						<li>委托价格</li>
						<li>委托数量</li>
						<li>成交数量</li>
						<li>尚未成交</li>
						<li>
							<select class="cancel">
								<option value=""  <eq name="cancel" value="">selected="selected"</eq> >状态</option>
								<option value="0" <eq name="cancel" value="0">selected="selected"</eq> >交易中</option>
								<option value="2" <eq name="cancel" value="2">selected="selected"</eq>>已完成</option>
								<option value="1" <eq name="cancel" value="1">selected="selected"</eq> >已撤销</option>
							</select>
						</li>
						<li>操作</li>
					</ul>
				</div>
				<div class="entrust-content">
					<ul>
						<eq name="data" value="">
							<li>
								<dl style="text-align: center;line-height: 30px;font-size: 15px">oh 还没有内容！</dl>
							</li>
						</eq>
						<li>
							<foreach name="data" item="vo">
								<dl>
									<dt class="entrust-column-num">{$vo['oderfor']}</dt>
									<dt class="entrust-column-time">{:date('Y-m-d H:i:s',$vo['currency_entrustwater_time'])}</dt>
									<dt><eq name="vo['type']" value="1">买入<else/>卖出</eq></dt>
									<dt>{:floatval($vo['price'])}</dt>
									<dt>{:floatval($vo['number'])}</dt>
									<dt>{:floatval($vo['deal'])}</dt>
									<dt>{:floatval($vo['number'])-floatval($vo['deal'])}</dt>
									<dt>

										<switch name="vo['cancel']" >
											<case value="0" >交易中</case>
											<case value="1">已撤销</case>
											<case value="2">交易完成</case>

										</switch>

									</dt>

									<dt class="examine">
										<neq name="vo['cancel']" value="0">
											<!--<button style="background: rgb(185, 187, 188);border: 0px;border-radius: 5px;width: 50px;height: 25px;">撤销</button>-->
											<else/>
											<form class="ajax_form" action="{:U('Cancel/cancel')}" method="post" >
												<input name="oderfor" value="{$vo['oderfor']}" type="hidden">
												<button type="submit">撤销</button>
											</form>
										</neq>
									</dt>
								</dl>
							</foreach>
						</li>
					</ul>
				</div>
				<div class="page">
					{$page}
				</div>
			</div>
		</div>
	</main>

	<include file="Public:footer"/>

	<script type="text/javascript" src="/Public/Home/js/jquery.ui.js"></script>
	<script src="__JS__/center_left.js"></script>
	<script src="__JS__/date_picker.js"></script>
	<script type="text/javascript" src="__JS__/finance_comm.js" ></script>

	<script>
		$(function () {
			$('.type').change(function () {
				$('input[name=type]').val($(this).val());
				$('.form-inline').submit();
			})

			$('.cancel').change(function () {
				$('input[name=cancel]').val($(this).val());
				$('.form-inline').submit();
			})


		})
	</script>
	</body>

</html>
