<!DOCTYPE html>
<html>
	<head>
		<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta name="description" content="华联全球商贸平台">
		<meta name="keywords" content="华联全球商贸">
		<meta name="author" content="lihuijie">
		<title>成交查询-华联全球商贸平台</title>
		<link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
		<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css"/>
		<link rel="stylesheet" href="__CSS__/jquery.ui.css"/>
		<link rel="stylesheet" href="__CSS__/bae.css">
		<link rel="stylesheet" href="__CSS__/default.css" />
		<link rel="stylesheet" href="__CSS__/center_left.css">
		<link rel="stylesheet" href="__CSS__/center_header.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/finance.css"/>
		<script type="text/javascript" src="__JS__/jquery.js" ></script>
		<script src="__JS__/base.js"></script>
		<script src="__JS__/center_left.js"></script>
		<script type="text/javascript" src="__JS__/finance.js" ></script>
	</head>

	<body>
	<include file="Public:header"/>
	<main>
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="{:U('Index/index')}">首页</a></li>
				<li><a href="{:u('Property/finance')}">财务中心</a></li>
				<li class="active">
					成交查询
				</li>
			</ol>
		</div>

	</main>
		<div class="container center_content">

			<!--<include file="Public:finance_left"/>-->
			<include file="Public:finance_left"/>

				<div class="pull-right finance-content demand_content">
					<div class="big_title">
						<h4>成交查询</h4>
						<div class="clearfix"></div>
					</div>
					<div class="currency-type form-group">

						<div id='xnb' class="xnb_panel">
							<empty name="xnb">
								<span class="xnb_content">
									<img src="{$xnb_data[0]['imgurl']}" alt="图标"><span>{$xnb_data[0]['name']}({$xnb_data[0]['brief']})</span>
								</span>
							<else />
								<foreach name="xnb_data" item="vo">
									<eq name="xnb" value="$vo['id']">
										<td class="xnb_panel">
											<img src="{$vo.imgurl}" alt="图标"><span>{$vo.name}({$vo.brief})</span>
											<!--	<i></i>-->
										</td>
									</eq>
								</foreach>
							</empty>
							<i></i>
						</div>

						<div id="xnb_table">
							<table>
								<foreach name="xnb_data" item="vo">
									<php>$k=$key+1;</php>
									<eq name="k+2" value="0"><tr></eq>
									<td class="xnb_panel" id="{$vo.id}">
										<img src="{$vo.imgurl}" alt="图标"><span>{$vo.name}({$vo.brief})</span>
										<!--	<i></i>-->
									</td>
									<eq name="k%3" value="0"></tr></eq>
								</foreach>
							</table>
						</div>

						<form action="" method="post" class="form-inline">
							<input type="hidden" name="xnb" value="{:I('xnb')}">   <!--//虚拟币-->
							<input type="hidden" name="type" value="{:I('type')}">  <!--买卖类型-->
							<div class="form-group">
								<input type="text" name="date" value="{:I('date')}"  readonly="readonly"  class="text form-control" id="date_start" />
								至 <input type="text" name="dates" value="{:I('dates')}" readonly="readonly" class="text form-control" id="date_end" />
								<input type="submit" value="查询" class="form-control">
							</div>
						</form>

					</div>

					<div class="currency-record-hint">成交记录</div>
					<div class="entrust-column demand_report">
						<ul>
							<li class="entrust-column-num">订单号</li>
							<li class="entrust-column-time">时间</li>
							<li>
								<select name="buy_sell" id="buy_sell">
									<option value="" <eq name="type" value="">selected="selected"</eq>  >买/卖</option>
									<option value="1" <eq name="type" value="1">selected="selected"</eq> >买</option>
									<option value="2" <eq name="type" value="2">selected="selected"</eq> >卖</option>
								</select>
							</li>
							<li>成交价格</li>
							<li>成交数量</li>
							<li>成交金额</li>
							<li>手续费</li>
						</ul>
					</div>
					<div class="entrust-content demand_report">
						<ul>
							<foreach  name="data" item="vo">
								<li>
									<dl>
										<!--<dt id="brief"  class="entrust-column-type textindent25">{$wo.xnb} ({$wo.brief})</dt>-->
										<dt class="entrust-column-num">
											<eq name="vo.type" value="1">
												{$vo.buyoderfor}
											<else/>
												{$vo.selloderfor}
											</eq>
										</dt>
										<dt class="entrust-column-time">{:date('Y-m-d H:i:s',$vo['time'])}</dt>
										<dt>
											<php>
												if( session('user')['id']==$vo['buy'] ){
													echo "买";
												}else{
													echo "卖";
												}
											</php>
										</dt>
										<dt>{$vo.price}</dt>
										<dt>{$vo.number}</dt>
										<dt>{$vo.allmoney}</dt>
										<dt>
											<php>
												if( session('user')['id'] == $vo['buy'] ){
													   echo  $vo['buypoundage'];
												}else{
													   echo  $vo['sellpoundage'];
												}
											</php>
										</dt>
									</dl>
								</li>
							</foreach>

						</ul>
					</div>
					<div class="page">
						{$page}
					</div>
				</div>

		</div>
	<include file="Public:footer"/>
	</body>
	<script type="text/javascript" src="/Public/Home/js/jquery.ui.js"></script>
	<script src="__JS__/center_left.js"></script>
	<script src="__JS__/date_picker.js"></script>
	<script type="text/javascript" src="__JS__/finance_comm.js"></script>
	<script type="text/javascript">
		$(".xnb_panel").click(function() {
			var value = $('.bi_zhong').html();
			$('.bi_zhongl').attr('value', value);
		});
		$("select#buy_sell").change(function() {
			var value = $(this).val();
			$.ajax({
				url: "{:U('Property/query')}",
				data: {value: value},
				type: "post"
			})
		})
		$('[name=buy_sell]').change(function () {
			$('[name=type]').val($(this).val());
			$('.form-inline').submit();
		})


	</script>

</html>
