<!DOCTYPE html>
<html>
<head>
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="农畜商品交易平台">
    <meta name="keywords" content="数字货币交易平台,数字货币,虚拟币,虚拟币新闻资讯">
    <meta name="author" content="lihuijie">
    <title>农畜商品交易平台</title>
    <link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css"/>
    <link rel="stylesheet" href="__CSS__/bae.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/formanager.css"/>
    <script type="text/javascript" src="__JS__/jquery.js" ></script>
</head>

<body>
<include file="Public:header"/>

<main>

    <div class="part_1">
        <div class="container ">

            <div class="left_part pull-left">
            <h1>招募经理人</h1>
            <h2>奖金&middot;佣金&middot;专业&middot;共赢</h2>
            <dl>
                <dt>推荐用户加入区块链</dt>
                <dt>赚取&nbsp;<i>交易费佣金</i>&nbsp;和&nbsp;<i>额外奖金</i></dt>
                <dt>轻松做一个经理人</dt>
            </dl>
            <div class="apply_num">
                <div>
                    已有
                <div class="numberRun4"></div>


                    人申请

                </div>

            </div>
            <button class="btn btn-danger for_apply_form">免费申请</button>
            </div>
            <div class="pull-right">
                <img src="__IMG__/finance_images/mangers.png" alt="经理人图片" id="managers_img">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

<div class="container part2 similar_out">
<h1>经理人排行榜 <span id="bd_info">榜单说明</span></h1>
    <ol id="bd_content">
        <li>榜单数据统计时间为上个月的1号00点到月底最后一天24点；</li>
        <li>收益排行榜的收益已经折合为人民币金额；</li>
        <li>邀请人数排行榜奖励规则：总奖金池为20个LTC，邀请人数前10名的经理人方可分享总奖金池利益，分配规则按照邀请人数占前10位总邀请人数的比例分享总奖金池；</li>
        <li>收益排行榜奖励规则：奖品为等额经理人收益的现金奖励；</li>
        <li>本榜单数据已自动屏蔽恶意刷量用户；</li>
    </ol>
    <div class="manager_rank">
        <div class="pull-left similar_rank">
            <h2 class="part2_title"><span>邀请人排行榜</span></h2>
            <h3>2017年06月</h3>
            <table>
                <thead>
                <tr>
                    <td>排名</td>
                    <td>用户名</td>
                    <td>邀请人数</td>
                    <td>奖品</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <img src="__IMG__/finance_images/jinpai.jpg" alt="图标">
                    </td>
                    <td>112***@qq.com61</td>
                    <td>626</td>
                    <td>3LTC</td>
                </tr>
                <tr>
                    <td>
                        <img src="__IMG__/finance_images/yinpai.jpg" alt="图标">
                    </td>
                    <td>112***@qq.com61</td>
                    <td>626</td>
                    <td>3LTC</td>
                </tr>
                <tr>
                    <td>
                            <img src="__IMG__/finance_images/tongpai.jpg" alt="图标">
                    </td>
                    <td>112***@qq.com61</td>
                    <td>626</td>
                    <td>3LTC</td>
                </tr>
                <tr>
                    <td>
                        <span>
                            4
                        </span>
                    </td>
                    <td>112***@qq.com61</td>
                    <td>626</td>
                    <td>3LTC</td>
                </tr>
                <tr>
                    <td>
                        <span>
                            5
                        </span>
                    </td>
                    <td>112***@qq.com61</td>
                    <td>626</td>
                    <td>3LTC</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pull-right similar_rank">
            <h2 class="part2_title"><span>收益排行榜</span></h2>
            <h3>2017年06月</h3>
            <table>
                <thead>
                <tr>
                    <td>排名</td>
                    <td>用户名</td>
                    <td>收益</td>
                    <td>奖品</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <img src="__IMG__/finance_images/jinpai.jpg" alt="图标">
                    </td>
                    <td>112***@qq.com61</td>
                    <td>626</td>
                    <td>3LTC</td>
                </tr>
                <tr>
                    <td>
                        <img src="__IMG__/finance_images/yinpai.jpg" alt="图标">
                    </td>
                    <td>112***@qq.com61</td>
                    <td>626</td>
                    <td>3LTC</td>
                </tr>
                <tr>
                    <td>
                        <img src="__IMG__/finance_images/tongpai.jpg" alt="图标">
                    </td>
                    <td>112***@qq.com61</td>
                    <td>626</td>
                    <td>3LTC</td>
                </tr>
                <tr>
                    <td>
                        <span>
                            4
                        </span>
                    </td>
                    <td>112***@qq.com61</td>
                    <td>626</td>
                    <td>3LTC</td>
                </tr>
                <tr>
                    <td>
                        <span>
                            5
                        </span>
                    </td>
                    <td>112***@qq.com61</td>
                    <td>626</td>
                    <td>3LTC</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="part3">
    <div class="container similar_out">
        <h1>农畜商品交易平台经理人计划</h1>
        <ul class="list-unstyled">
            <li>
                <h3><span>农畜商品交易平台经理人计划介绍</span></h3>
                <div class="similar3_content">
                <p><strong>去中心化的数字货币，去中心化的星币市场部，农畜商品交易平台首创去中心化市场部模式。 </strong></p>
                <p>现面向所有币友招募市场经理，共同维护和拓展数字货币市场，真正达到共赢。</p>
                </div>
            </li>
            <li id="part3_show">
                <h3><span>农畜商品交易平台经理人，可以获得</span></h3>
                <div class="similar3_content">
               <ol class="list-unstyled">
                   <li>
                       <img src="__IMG__/finance_images/chaopiao.png" alt="图标" class="part3_img">
                       <div class="img_right">
                       <h2>佣金 <span>Commission</span></h2>
                       <p>推荐农畜商品交易平台（http://www.nc.com）给其他人，可以获取被推荐人半年内的 <span>30%</span> 交易手续费做为佣金，躺着也挣钱！</p>
                       </div>
                   </li>
                   <li>
                       <img src="__IMG__/finance_images/jiangjin.png" alt="图标" class="part3_img">
                       <div class="img_right">
                       <h2>奖金 <span>Bonus</span></h2>
                       <p>每个经理人都会有相应的业绩排名，每月业绩排名前 <span>10</span> 名会获得额外奖金。</p>
                       </div>
                   </li>
               </ol>
                    <div class="clearfix"></div>
                </div>
            </li>
            <li>
                <h3><span>农畜商品交易平台经理人，有机会成为</span></h3>
                <div class="similar3_content">
                <ul class="list-unstyled">
                    <li>
                        <h4>固定收入的自由职业者</h4>
                        <p>开拓的市场、邀请的人员都会有系统记录，半年内可固定获得相应的佣金收入，只要维护好客户就可以有稳定的收入来源；</p>
                    </li>
                    <li>
                        <h4>农畜商品交易平台的专职市场经理</h4>
                        <p>针对业绩突出、活跃的经理人，农畜商品交易平台会进行筛选后邀请加入到农畜商品交易平台专职团队中，与我们一起创业发展，并获得丰厚的薪资；</p>
                    </li>
                    <li>
                        <h4>具有行业影响力的大V</h4>
                        <p>农畜商品交易平台经理人与客户直接联系体系，可以使经理人获得更多的市场资源和发展空间，在工作过程中可不断的提升自己的行业地位和影响力。</p>
                    </li>
                </ul>
                    <div class="clearfix"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
    <div class="part4">
    <div class="container similar_out">
        <h1>优秀的你赶紧加入我们吧</h1>
        <div class="out_border" id="out_border">
            <span class="part4_show">
                优秀的宣传者和组织者
            </span>
            <span class="part4_show">
                很强的魅力和宽广胸襟
            </span>
            <span class="part4_show">
                良好的职业道德
            </span>
            <span class="part4_show">
                优秀的整合者和策划人
            </span>
        </div>
        <button class="btn btn-danger for_apply_form">立即申请成为经理人</button>
    </div>
    </div>

    <div id="lock_screen"></div>
    <form id="apply_form" role="form">
        <h5>申请成为经理人 <span class="glyphicon glyphicon-remove" id="form_close"></span></h5>
        <div class="form-group">
            <p><span class="glyphicon glyphicon-exclamation-sign"></span>QQ号码与微信号码必须选填一项。</p>
        </div>
            <div class="form-group">
                <label for="qq_num">QQ号码：</label>
                <input type="text" id="qq_num" name="name" placeholder="请输入QQ号码">
            </div>
            <div class="form-group">
                <label for="wx_num">微信号码：</label>
                <input type="text" id="wx_num" name="pass" placeholder="请输入微信号码">
            </div>
            <div class="form-group" id="apply_submit">
                <button type="submit" class="btn" >提交申请</button>
            </div>
    </form>
</main>

<include file="Public:footer"/>



</body>
<script src="__JS__/num_plugin.js"></script>
<script src="__JS__/base.js"></script>
<script src="__JS__/center_left.js"></script>
</html>
