<!DOCTYPE html>
<html>
	<head>
	<!--	<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta name="description" content="农畜商品交易平台">
		<meta name="keywords" content="数字货币交易平台,数字货币,虚拟币,虚拟币新闻资讯">
		<meta name="author" content="lihuijie">
		<title>人民币充值-农畜商品交易平台</title>
		<link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
		<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css"/>
		<link rel="stylesheet" href="__CSS__/bae.css">
		<link rel="stylesheet" href="__CSS__/default.css" />
		<link rel="stylesheet" href="__CSS__/center_left.css">
		<link rel="stylesheet" href="__CSS__/center_header.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/finance.css"/>
		<script type="text/javascript" src="__JS__/jquery.js" ></script>
		<script type="text/javascript" src="__JS__/bootstrap.min.js" ></script>
		<script src="__JS__/base.js"></script>
		<script src="__JS__/center_left.js"></script>
		<script src="__JS__/Property/rmbrecharge.js"></script>
		<script type="text/javascript" src="__JS__/finance.js" ></script>
	</head>

	
	<body>
	<include file="Public:header"/>
	<main>
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="{:U('Index/index')}">首页</a></li>
				<li><a href="{:u('Property/finance')}">财务中心</a></li>
				<li class="active">
					人民币充值
				</li>
			</ol>
		</div>

		<div class="container center_content">

			<include file="Public:finance_left"/>

			<div class="pull-right finance-content rmb_content">
				<div class="big_title">
					<h4>人民币充值</h4>
					<div class="clearfix"></div>
				</div>

				<div class="rmb-balance">
					<strong>您的账户余额为 : </strong>
					<if condition="($cny eq null)">
						<span class="C669900">&yen;0.00</span>
						<else/><span class="C669900">&yen;{$cny}</span>
					</if>
				</div>

				<div class="recharge">
					<if condition="($bankcard.bankcard eq null)">
						<div class="recharge_tip" id="first_tips">
						<h5><span class="glyphicon glyphicon-bell"></span>充值提醒</h5>
						<ul>
							<li>本平台可支持银行卡转账充值，暂不支持ATM机进行汇款；</li>
							<li>请使用已绑定的银行卡进行转账充值，并确认卡号正确。</li>
							<li>请按页面提示进行汇款，无需备注信息，系统自动入账。</li>
						</ul>
						<p>
							<span><a href="{:U('Safety/cardManage?tag=5')}"><i class="glyphicon glyphicon-plus"></i>添加银行卡</a></span></p>
					</div>
						<else/><form>
						<h4 class="charge_title">充值</h4>
						<div class="form-group">
							<label>充值方式 : </label>
							<select class="form-control dianji"  id="#PrePaid">
								<option value="0" disabled="disabled">选择方式</option>
								<option value="1">银行卡充值</option>
								<!--<option value="2">微信支付</option>-->
								<!--<option value="3">银行卡充值</option>-->
							</select>
						</div>
						<div class="form-group">
							<label>充值金额 : </label>
							<input class="form-control" type="text"  id="cny_money" onkeyup="clearNoNum(this)" onchange="clearNoNum(this)" placeholder="请输入充值金额" />
						</div>
						<div class="to-recharge">
							<a id="ToRecharge" data-toggle="modal" >确认</a>
						</div>
					</form>
					</if>

				</div>
				<div class="recharge_tip" id="first_tip">
					<h5><span class="glyphicon glyphicon-bell"></span>充值提醒</h5>
					<ul>
						<li>本平台可支持银行卡转账充值，暂不支持ATM机进行汇款；</li>
						<li>请使用已绑定的银行卡进行转账充值，并确认卡号正确。</li>
						<li>请按页面提示进行汇款，无需备注信息，系统自动入账。</li>
					</ul>
					<p><span id="first_tip_close">5s</span></p>
				</div>

				<div class="purse-explain" id="after_tips" style="display: none">
					<p><span class="glyphicon glyphicon-info-sign"></span><strong>充值提醒：</strong></p>
					<p>1、本平台可支持银行卡转账充值，暂不支持ATM机进行汇款；</p>
					<p>2、请使用已绑定的银行卡进行转账充值，并确认卡号正确。</p>
					<p><span class="red">3、请按页面提示进行汇款，无需备注信息，系统自动入账。</span></p>
				</div>

				<div class="currency-record-hint">充值记录</div>
				<div class="currency-mold rmb_in">
					<ul>
						<li >订单号</li>
						<li>时间</li>
						<li>充值金额</li>
						<li>充值方式</li>
						<li>
								<select name="type" id="status" onchange="window.location=this.value">
									<option value="{:U('Property/rmbrecharge',array('tag'=>'1.html','type'=>''))}"<eq name="type" value="">selected="selected"</eq>>全部</option>
									<option value="{:U('Property/rmbrecharge',array('tag'=>'1.html','type'=>0))}" <eq name="type" value="0">selected="selected"</eq>>等待</option>
									<option value="{:U('Property/rmbrecharge',array('tag'=>'1.html','type'=>3))}" <eq name="type" value="3">selected="selected"</eq>>成功</option>
									<option value="{:U('Property/rmbrecharge',array('tag'=>'1.html','type'=>2))}" <eq name="type" value="2">selected="selected"</eq>>失败</option>
									<option value="{:U('Property/rmbrecharge',array('tag'=>'1.html','type'=>1))}" <eq name="type" value="1">selected="selected"</eq>>处理中</option>
								</select>
						</li>
						<li>操作</li>
					</ul>
				</div>
				<div class="currency-record rmb_out rmb_in" id="like" >

					<volist name="order" id="tt">
						<ul>
							<li>{$tt.order}</li>
							<li>{$tt.addtime|date="Y-m-d H:i:s",###}</li>
							<li>{$tt.money}</li>
							<li><eq name="tt.rechargetype" value='1'>支付宝</eq>
								<eq name="tt.rechargetype" value="2">微信</eq>
								<eq name="tt.rechargetype" value="3">银行卡</eq>
							</li>
							<li id="type" value="{$tt.status}">
								<!--{$tt.status}-->
								<if condition="$tt.status eq 0"> 等待
									<elseif condition="$tt.status eq 1"/>处理中
									<elseif condition="$tt.status eq 3"/>成功
									<else /> 拒绝
								</if>
							</li>
							<li class="examine">
								<a value="{$tt.id}" class="look">查看</a>
							</li>
						</ul>
					</volist>

				</div>
				<div class="white"></div>
				<!--<div class="prepaid-box modal-dialog " id="PrepaidBox" >-->
					<!--<div class="prepaid-box-box">-->
						<!--<div class="prepaid-box-top" >-->
							<!--<span> 人民币充值</span><span class="prepaid-box-close glyphicon glyphicon-remove" data-dismiss="modal" id="curr_close_in" onclick="newweb()"></span>-->
						<!--</div>-->
						<!--<p class="prepaid-box-fs">支付宝转账汇款</p>-->
						<!--<p class="prepaid-box-hint">请使用支付宝转账至以下账号或扫描二维码进行转账，若有疑问请<span class="ed4040"> 联系客服 </span></p>-->
						<!--<div class="prepaid-box-info">-->
							<!--<p><label>官方账户 : </label><span>hengzongwl@foxmail.com</span></p>-->
							<!--<p><label>开户名称 ：</label><span>横纵网络科技有限公司</span></p>-->
							<!--<p><label>开户地址 ：</label><span>支付宝</span></p>-->
							<!--<p><label>支付金额 ：</label><span class="cred" id="alipay_cny"></span></p>-->
							<!--<p><label>订单编号 ：</label><span class="cred" id="order_alipay"></span></p>-->
						<!--</div>-->

						<!--<div class="prepaid-box-info2">-->
							<!--请在汇款［备注/附言］中严格按要求填写充值订单编号：<span class="cred" id="order_alipays"></span></br>-->
							<!--不要填写其它字符（比特币、莱特币等），否则不能正确到账！</br>-->
							<!--我们会在收到汇款后20分钟内为您入账，在此期间无需联系客服，如有问题我们会主动联系您。</br>-->
						<!--</div>-->
						<!--<div class="gathering-ewm">-->
							<!--<img src="__IMG__/finance_images/erweima.png"/>-->
							<!--<p>官网收款支付宝账号</p>-->
							<!--<p>扫描二维码进行转账</p>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div id="wechat_show" style="display: none;" class="prepaid-box modal-dialog " >-->
					<!--<div class="prepaid-box-box">-->
						<!--<div class="prepaid-box-top" >-->
							<!--<span> 人民币充值</span><span class="prepaid-box-close glyphicon glyphicon-remove" data-dismiss="modal" id="curr_close_in_wx" onclick="newweb()"></span>-->
						<!--</div>-->
						<!--<p class="prepaid-box-fs">微信转账汇款</p>-->
						<!--<p class="prepaid-box-hint">请使用微信转账至以下账号或扫描二维码进行转账，若有疑问请<span class="ed4040"> 联系客服 </span></p>-->
						<!--<div class="prepaid-box-info" >-->
							<!--<p><label>官方账户 : </label><span>hengzongwl@foxmail.com</span></p>-->
							<!--<p><label>开户名称 ：</label><span>横纵网络科技有限公司</span></p>-->
							<!--<p><label>开户地址 ：</label><span>微信</span></p>-->
							<!--<p><label>支付金额 ：</label><span class="cred" id="wechat_cny"></span></p>-->
							<!--<p><label>订单编号 ：</label><span class="cred" id="order_wechat"></span></p>-->
						<!--</div>-->

						<!--<div class="prepaid-box-info2">-->
							<!--请在汇款［备注/附言］中严格按要求填写充值订单编号：<span class="cred" id="order_wechats"></span></br>-->
							<!--不要填写其它字符（比特币、莱特币等），否则不能正确到账！</br>-->
							<!--我们会在收到汇款后20分钟内为您入账，在此期间无需联系客服，如有问题我们会主动联系您。</br>-->
						<!--</div>-->
						<!--<div class="gathering-ewm">-->
							<!--<img src="__IMG__/finance_images/erweima.png"/>-->
							<!--<p>官网收款微信账号</p>-->
							<!--<p>扫描二维码进行转账</p>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<div id="bank_recharge" class="prepaid-box modal-dialog " style="display: none">
					<div class="prepaid-box-box">
						<div class="prepaid-box-top" >
							<span> 人民币充值</span><span class="prepaid-box-close glyphicon glyphicon-remove" data-dismiss="modal" id="curr_close_in_card" onclick="newweb()"></span>
						</div>
						<p class="prepaid-box-fs">银行卡转账汇款</p>
						<p class="prepaid-box-hint">请使用已绑定的银行卡转账充值，若有疑问请<a class="ed4040" href="{:U('Communication/customer')}" target="_blank" onclick="showService()"> 联系客服 </a></p>
						<div class="prepaid-box-info">
							<p class="title">付款方：</p>
							<foreach name="bank" item="vo">
							<p><label>付款银行:</label><span>{$vo.bankname}</span></p>
							<p><label>付款卡号:</label><span id="fukuan">{$vo.bankcard}</span></p>

							</foreach>
							<p><label>付款金额 ：</label><span class="cred" id="money_cny"></span></p>
						</div>
						<div class="prepaid-box-info">
							<p class="title">收款方：</p>
							<foreach name="shoubank" item="vo">
							<p><label>收款银行 ：</label><span id="shoukuanbank">{$vo.bankname}</span></p>
							<p><label>收款人 ：</label><span id="payee">{$vo.payee}</span></p>
							<p><label>收款账号 ：</label><span id="shoukuan">{$vo.bankcard}</span></p>
							</foreach>
						</div>

						<div class="prepaid-box-info2">
						<!--	请在汇款［备注/附言］中严格按要求填写充值订单编号：<span class="cred" id="order_cny"></span></br>
							不要填写其它字符（比特币、莱特币等），否则不能正确到账！</br>-->
							我们会在收到汇款后20分钟内为您入账，在此期间无需联系客服，如有问题我们会主动联系您。</br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


	<include file="Public:footer"/>
	</body>
	<script type="text/javascript" src="./Public/zz/z.js"></script>
	<script type="text/javascript">
    //设定倒数秒数

    var t = 5,time_set=null;

    //显示倒数秒数
    function showTime(){
        if(t>=1){
            t -= 1;
            document.getElementById('first_tip_close').innerHTML= t+"s";
		}
        if(t==0){
            $("#first_tip").hide();
            $("#after_tips").show();
            document.getElementById('first_tip_close').innerHTML= "<a href=\'{:U(\'Safety/cardManage?tag=5\')}\'><i class=\'glyphicon glyphicon-plus\'></i>添加银行卡</a>";
        }
        //每秒执行一次,showTime()
        time_set=setTimeout("showTime()",1000);
    }
    //执行showTime()
    showTime();

	function newweb() {
		window.location.reload();
	}


/*	/!*人民币充值提示关闭*!/
    $("#first_tip_close").click(function () {
    /!*    $("#first_tip").hide();
        $("#after_tips").show();*!/
        clearTimeout(time_set)
    });*/


</script>
</html>
