<!DOCTYPE html>
<html lang="en">
<head>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="华联全球商贸平台">
    <meta name="keywords" content="华联全球商贸">
    <meta name="author" content="lihuijie">
    <title>用户注册-华联全球商贸平台</title>
    <link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/bae.css">
    <link rel="stylesheet" href="__CSS__/safe_center.css">
    <link rel="stylesheet" href="__ALERT__/qiwen_popup.css">
    <link rel="stylesheet" href="__CSS__/register.css">
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.min.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<include file="Public:header"/>
<main>
    <div id="register_steps">
    <div class="register_step container selected">
        <ul class="list-inline reg_steps">
            <li class="selected">
                <div class="step_line"></div>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">1</strong>
                    <span class="step_text">用户注册</span>
                </div>
            </li>
            <li>
                <div class="step_line"></div>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">2</strong>
                    <span class="step_text">设置交易密码</span>
                </div>
            </li>
            <li>
                <div class="step_line"></div>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">3</strong>
                    <span class="step_text">实名认证</span>
                </div>
            </li>
            <li>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">4</strong>
                    <span class="step_text">注册成功</span>
                </div>
            </li>
        </ul>

        <div id="register-step1" class="form-input">
            <div class="reg_form">
                <div id="register-title" class="reg-title">
                    <span class="selected">手机号注册</span>
                    <strong class="line">|</strong>
                    <span>邮箱注册</span>
                </div>
                <div id="out-register">
                    <div id="register_form">
                        <form action="{:U('Register/zhuce')}" id="num_form" role="form" class="ajax_zhuce" onsubmit="return false">
                            <div class="form-group">
                                <label for="phone_num" class="control-label">手机号码:</label>
                                <div class="input_width_9">
                                    <input type="text" class="form-control input-lg" id="phone_num" placeholder="请输入手机号" onblur="Regphone(this)" onkeyup="keyRegphone(this)" name="phone_num" autocomplete="off">
                                    <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>请输入正确的手机号码</span>
                                    <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>手机号码格式正确</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="yanzheng_num" class="control-label form_input_3">验证码:</label>
                                <div class="input_width_9">
                                    <input type="text" class="form-control input-lg"  name="yanzheng_num" id="yanzheng_num" placeholder="请输入您的验证码">
                                    <div class="yzm_zj"><img class="left15" alt="验证码" src="{:U('Photoma/checkphoto')}"><span>看不清楚换一张？</span></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">获取验证码:</label>
                                <div class="input_width_9">
                                    <button type="button" class="form-control input-lg" value="{$code}" onclick="yanzheng()" name="input_identify_code" id="input_identify_code">免费获取验证码</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input_identity" class="control-label">手机验证码:</label>
                                <div class="input_width_9">
                                    <input type="text" class="form-control input-lg" value=""  onchange="tijiaophone(this)" name="input_identity" id="input_identity" placeholder="请输入手机验证码">
                                    <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>手机验证码输入错误</span>
                                    <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>手机验证码输入正确</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cipher_code" class="control-label">登录密码:</label>
                                <div class="input_width_9">
                                    <input type="password" class="form-control input-lg" onblur="RegeMatch(this)" onkeyup="RegeMatch(this)" name="cipher_code" id="cipher_code" placeholder="请输入密码">
                                    <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>密码必须以字母开头,长度为6-18位</span>
                                    <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>密码格式正确</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="confirm_code" class="control-label">重复密码:</label>
                                <div class="input_width_9">
                                    <input type="password" class="form-control input-lg" onblur="newpwdReg(this,'#cipher_code')" onkeyup="newpwdReg(this,'#cipher_code')" name="confirm_code" id="confirm_code" placeholder="请重复输入密码">
                                    <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i><span>密码必须以字母开头,长度为6-18位</span></span>
                                    <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>密码一致</span>
                                </div>
                            </div>
                            <php>
                                $value = session('invit');
                            </php>
                            <div class="form-group" <neq name="value" value="">style="display: none"</neq>>
                                <label for="yaoqing_code_num" class="control-label">邀请码:</label>
                                <div class="input_width_9">
                                    <input value="{$value}"  class="form-control input-lg" name="yaoqing_code_num" id="yaoqing_code_num" placeholder="非必填">
                                    <span class="tips"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" input_width_9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" id="agree1_checkbox" name="agree1_checkbox">我已阅读并同意<a href="{:U('Content/about', array('id' => 15))}" target="_blank">注册协议</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input_width_9">
                                    <button type="button" class="btn btn-default register_btn" onclick="nextren()" id="num_submit">下一步</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <form action="#" id="email_form" role="form" class="ajax_zhuce" onsubmit="return false">
                            <div class="form-group">
                                <label for="email_name" class="control-label">电子邮箱:</label>
                                <div class="input_width_9">
                                    <input type="text" class="form-control input-lg" name="email_name" onblur="tijiaoemail(this)" onkeyup="keytijiaoemail(this)" id="email_name" placeholder="请输入正确的邮箱">
                                    <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>请输入正确的邮箱</span>
                                    <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>邮箱格式正确</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="yanzheng_num" class="control-label form_input_3">验证码:</label>
                                <div class="input_width_9">
                                    <input type="text" class="form-control input-lg"  name="yanzheng_num" id="yanzheng_email_num" placeholder="请输入您的验证码">
                                    <span class="tips"></span>
                                    <div class="yzm_zj"><img class="left15" alt="验证码" src="{:U('Photoma/checkphoto')}"><span>看不清楚换一张？</span></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cipher_code" class="control-label">获取验证码:</label>
                                <div class="input_width_9">
                                    <button type="button" class="form-control input-lg" value="{$code}" onclick="Regemail()" name="input_identify_code" id="input_identify_email">免费获取验证码</button>
                                    <span class="tips"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input_identity" class="control-label">邮箱验证码:</label>
                                <div class="input_width_9">
                                    <input type="text" class="form-control input-lg" value="" onchange="regcodeemail(this)" name="input_identity" id="input_identity_email" placeholder="请输入邮箱验证码">
                                    <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>邮箱验证码输入错误</span>
                                    <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>邮箱验证码输入正确</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email_password" class="control-label">登录密码:</label>
                                <div class="input_width_9">
                                    <input type="password" class="form-control input-lg" onblur="RegeMatch(this)" onkeyup="RegeMatch(this)" name="email_password" id="email_password" placeholder="请输入密码">
                                    <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>密码必须以字母开头,长度为6-18位</span>
                                    <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>密码格式正确</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="re_email_password" class="control-label">重复密码:</label>
                                <div class="input_width_9">
                                    <input type="password" class="form-control input-lg"  onblur="newpwdReg(this,'#email_password')" onkeyup="newpwdReg(this,'#email_password')"  name="re_email_password" id="re_email_password" placeholder="请重复输入密码">
                                    <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i><span>密码必须以字母开头,长度为6-18位</span></span>
                                    <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>密码一致</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="yaoqing_code_email" class="control-label">邀请码:</label>
                                <div class="input_width_9">
                                    <input type="text" class="form-control input-lg" name="yaoqing_code_email"  id="yaoqing_code_email" placeholder="非必填">
                                    <span class="tips"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input_width_9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" id="agree2_checkbox" name="agree2_checkbox" >我已阅读并同意<a href="{:U('Content/about', array('id' => 15))}" target="_blank">注册协议</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input_width_9">
                                    <button type="button" class="btn btn-default register_btn" onclick="enext()" id="email_submit">下一步</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="register_step container">
        <ul class="list-inline reg_steps">
            <li>
                <div class="step_line"></div>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">1</strong>
                    <span class="step_text">用户注册</span>
                </div>
            </li>
            <li class="selected">
                <div class="step_line"></div>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">2</strong>
                    <span class="step_text">设置交易密码</span>
                </div>
            </li>
            <li>
                <div class="step_line"></div>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">3</strong>
                    <span class="step_text">实名认证</span>
                </div>
            </li>
            <li>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">4</strong>
                    <span class="step_text">注册成功</span>
                </div>
            </li>
        </ul>


        <div id="register-step2" class="form-input">
            <div class="reg_form">
                <div class="reg-title">
                    <p class="notice"><span class="glyphicon glyphicon-info-sign"></span>为保障您的资金安全，请设置交易密码，请务必牢记!</p>
                </div>
                <div>
                        <form action="#" role="form" class="ajax_zhuce" onsubmit="return false">
                            <div class="form-group">
                                <label for="set_trade_pw" class="control-label">设置交易密码:</label>
                                <div class="input_width_9">
                                    <input type="password" class="form-control input-lg" id="set_trade_pw" onblur="Regdeal(this)"  onkeyup="Regdeal(this)" placeholder="请输入交易密码" name="set_trade_pw">
                                    <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>交易密码必须是6位数字</span>
                                    <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>密码格式正确</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="reset_trade_pw" class="control-label">确认交易密码:</label>
                                <div class="input_width_9">
                                    <input type="password" class="form-control input-lg" onblur="Regnewdeal(this,'#set_trade_pw')" onkeyup="Regnewdeal(this,'#set_trade_pw')" name="reset_trade_pw" id="reset_trade_pw" placeholder="请重新输入交易密码">
                                    <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i><span>交易密码必须是6位数字</span></span>
                                    <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>交易密码一致</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input_width_9">
                                    <button type="button" class="btn btn-default register_btn" onclick="nextdeal()" id="trade_pw_submit">下一步</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <div class="register_step container">
        <ul class="list-inline reg_steps">
            <li>
                <div class="step_line"></div>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">1</strong>
                    <span class="step_text">用户注册</span>
                </div>
            </li>
            <li>
                <div class="step_line"></div>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">2</strong>
                    <span class="step_text">设置交易密码</span>
                </div>
            </li>
            <li class="selected">
                <div class="step_line"></div>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">3</strong>
                    <span class="step_text">实名认证</span>
                </div>
            </li>
            <li>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">4</strong>
                    <span class="step_text">注册成功</span>
                </div>
            </li>
        </ul>


        <div id="register-step3" class="form-input">
            <div class="reg_form">
                <div class="reg-title">
                    <p class="notice"><span class="glyphicon glyphicon-info-sign"></span>根据国家相关规定，请填写您的真实身份信息，完成实名认证!</p>
                </div>
                <div>
                        <form action="#" role="form" class="ajax_zhuce" onsubmit="return false">
                            <div class="form-group">
                                <label for="id_type" class="control-label">证件类型:</label>
                                <div  class="input_width_9">
                                    <select name="id_type" id="id_type" class="form-control  input-lg">
                                        <option value="身份证" selected>身份证</option>
                                    </select>
                                </div>
                                </div>
                            <div class="form-group">
                                <label for="real_name" class="control-label">真实姓名:</label>
                                <div class="input_width_9">
                                    <input type="text" class="form-control input-lg" id="real_name" placeholder="请输入您的真实姓名" name="real_name">
                                    <span class="tips"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_num" class="control-label">证件号码:</label>
                                <div class="input_width_9">
                                    <input type="text" class="form-control input-lg" onchange="cardReg(this)" name="id_num" id="id_num" placeholder="请输入您的证件号码">
                                    <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>输入正确的身份证号码</span>
                                    <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>身份证号码格式正确</span>
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                                <!--<label for="yanzheng_num" class="control-label">验证码:</label>-->
                                <!--<div class="input_width_9">-->
                                    <!--<input type="text" class="form-control input-lg"  name="yanzheng_num" id="yanzheng_nums" placeholder="请输入您的验证码">-->
                                    <!--<span class="tips"></span>-->
                                    <!--<p class="yzm_zj"><img width="100%" class="left15" height="50px" alt="验证码" src="{:U('Register/yanzhengma')}" title="点击刷新"></p>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <div class="input_width_9">
                                    <button type="button" class="btn btn-default register_btn" onclick="tijiaozhuce()" id="real_name_submit">下一步</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <div class="register_step container">
        <ul class="list-inline reg_steps">
            <li>
                <div class="step_line"></div>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">1</strong>
                    <span class="step_text">用户注册</span>
                </div>
            </li>
            <li>
                <div class="step_line"></div>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">2</strong>
                    <span class="step_text">设置交易密码</span>
                </div>
            </li>
            <li>
                <div class="step_line"></div>
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">3</strong>
                    <span class="step_text">实名认证</span>
                </div>
            </li>
            <li class="selected">
                <div class="step_panel">
                    <i class="step_icon"></i>
                    <strong class="step_num">4</strong>
                    <span class="step_text">注册成功</span>
                </div>
            </li>
        </ul>


        <div id="register-step4" class="form-input">
                <div class="reg-title">
                  <span class="glyphicon glyphicon-ok-sign"></span>恭喜您，已经注册成功！
                </div>
            <div class="success_content">
            <ul class="user_info">
                <li><span>注册账号：</span><i id="users"></i></li>
                <li><span>认证姓名：</span><i id="username"></i></li>
                <li><span>证件类型：</span><i id="idtype"></i></li>
                <li><span>证件号码：</span><i id="idcard"></i></li>
            </ul>
            <div class="go_to">
                <a href="{:U('Trade/buy')}">去交易</a>
                <a href="{:U('Help/help')}">点击查看新手教程</a>
            </div>
            <dl class="other_identy">
                <dt>您还可以：</dt>
                    <dd><a href="{:U('Safety/phoneBind?tag=4')}">绑定手机</a></dd>
                    <dd><a href="{:U('Property/rmbrecharge?tag=1')}">充值</a></dd>

            </dl>
            </div>

            </div>
        </div>
    </div>
    <div class="danger_notice container">
        <p><strong>风险提示：</strong>现货交易，其价格波动较大，因此我们强烈建议您在自身能承受的风险范围内参与本次现货交易。</p>
    </div>

</main>
<include file="Public:footer"/>

<!--[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript" src="__JS__/selectivizr.js"></script>
<![endif]-->


<script src="__JS__/jquery.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/base.js"></script>
<!--<script src="__JS__/safe_center.js"></script>-->
<!--<script src="/Public/Home/js/jquery.js"></script>-->
<!--<script type="text/javascript" src="__ALERT__/qiwen_popup.js"></script>-->

<script src="__JS__/register.js"></script>
<script type="text/javascript">
    $('.session').click(function () {
        $.ajax({
            url:"{:U('Session/ifsession')}",
            type:"POST",
            success:function(data) {
                var href=$(this).attr('href');
                if(data!=true){
                    lock();
                    return false
                }
                location.href=href
            }
        });
        return false
    });
    $('#agree1_checkbox').click(function () {
        if($("#agree1_checkbox").is(":checked")==true){
            $("#agree1_checkbox").attr("value","1");
        }else {
            $("#agree1_checkbox").attr("value","0");
        }
    });
   $('#agree2_checkbox').click(function () {
       if($("#agree2_checkbox").is(":checked")==true){
           $("#agree2_checkbox").attr("value","1");
       }else {
           $("#agree2_checkbox").attr("value","0");
       }
   });
    var captcha_img = $('.yzm_zj').find('img');
    var span= $('.yzm_zj').find('span');
    var verifyimg = captcha_img.attr("src");
    span.click(function(){
        if( verifyimg.indexOf('?')>0){
            captcha_img.attr("src", verifyimg+'&random='+Math.random());
        }else{
            captcha_img.attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
        }
    });
</script>
</body>
</html>