.property-title{
	padding-bottom: 20px;
	font-size: 24px;
}

.reveal{
	font-size: 16px;
	/*margin-bottom: 20px;*/
	/*height: 325px;*/
	position: relative;
}
.reveal-title{
	font-size: 18px;
	padding-bottom: 30px;
}
.reveal-exhibition{
	display: inline-block;
	cursor: pointer;
	position: relative;
}
.reveal-exhibition-v{
	display: inline-block;
	cursor: pointer;
	margin-left: 5px;
}
.reveal-title:hover .reveal-exhibition-v {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.reveal-exhibition:hover .reveal-box {
	display: block;
}
.reveal-box:hover .reveal-box {
	display: block;	
}
.reveal-box{
	position: absolute;
	top: 30px;
	width: 500px;
	height: 300px;
	display: inline-block;
	overflow: hidden;
	background: #eee;
	display: none;
}
.reveal-box  ul li{
	width: 100%;
	overflow: hidden;
	/*padding: 5px 0px;*/
}
.reveal-box  ul li a{
	color: #333;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	width: 33.3333333%;
	height: ;
	float: left;
	border-bottom: 1px rgb(225,225,225) solid;
}
.reveal-box  ul li a:hover{
	color: red;
	text-decoration: underline;
}
.reveal-info:nth-child(2){
	margin-top: 20px;
}
.reveal-info label{
	font-weight: 600;
	margin-right: 50px;
	display: inline-block;
	width: 60px;
}
.reveal-info .reveal-row{
	margin-top: 10px;
	overflow: hidden;
	
}
.reveal-info label{
	float: left;
}
.reveal-row-money{
	display: inline-block;
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	
}
.reveal-row-hint{
	color: #c56200;
	float: left;
}
