
<!DOCTYPE HTML>
<html>
<head>
<title>产品列表</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/shop/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="__CSS__/shop/form.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<script src="__JS__/shop/jquery1.min.js"></script>
<!-- start menu -->
<link href="__CSS__/shop/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="__JS__/shop/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script type="text/javascript" src="__JS__/shop/jquery.jscrollpane.min.js"></script>
		<script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
		</script>


    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="农畜商品交易平台">
    <meta name="keywords" content="数字货币交易平台,数字货币,虚拟币,虚拟币新闻资讯">
    <meta name="author" content="lihuijie">
    <title>农畜商品交易平台</title>
    <link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/bae.css">
    <link rel="stylesheet" href="__CSS__/index.css">
</head>
<body>
     <include file="Public:header"/>
<div class="mens">    
  <div class="main"  style="margin-top: 100px;">
     <div class="wrap">
		<div class="cont span_2_of_3">
		  	<h2 class="head">{$cat_name.name}</h2>

	 	 	<volist name="list" id="data">
				<div class="top-box">

					<volist name="data" id="val">
					 	<div class="col_1_of_3 span_1_of_3"> 
					   		<a href="{:U('single', ['id'=>$val['id']])}">
								<div class="inner_content clearfix">
									<div class="product_image">
										<img style="width: 300px;height: 273px;" src="__ROOT__/{$val['img']}" alt=""/>
									</div>
		                    		<div class="price">
							   			<div class="cart-left">
											<p class="title">{$val.name}</p>
											<div class="price1">
								  				<eq name="val.type" value="1">
													<span class="actual">{$val.price_show}</span>
												</eq>
												<eq name="val.type" value="2">
													<span class="actual">{$val.price_show.cmc} CMC + {$val.price_show.cny} CNY</span>
												</eq>
												<eq name="val.type" value="3">
													<span class="actual">{$val.price_show}</span>
												</eq>
											</div>
										</div>
										<div class="cart-right"> </div>
										<div class="clear"></div>
							 		</div>				
		                   		</div>
		                 	</a>
						</div>		
					</volist>

					<div class="clear"></div>
				</div>	
			</volist>

			<div class="mens-toolbar">
	        	<div class="pager">   
	        		<div class="limiter visible-desktop">
	            		<ul class="dc_pagination dc_paginationA dc_paginationA06">
						    <li><a href="#" class="previous">页码</a></li>
						    {$page}
					  	</ul>    
	             	</div>

		   			<div class="clear"></div>
	    		</div>
     			<div class="clear"></div>
	 	 	</div>		 							 			    
		</div>
			<div class="rsidebar span_1_of_left">
				<h5 class="m_1">分类</h5>
					<volist name="cate" id="datas">
						<notempty name="datas.child">
							<select onchange="window.location=this.value" class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
								<option value="{:U('lists', ['cat_id'=>$datas['id']])}">{$datas.name}</option>
								<volist name="datas.child" id="val">
									<option value="{:U('lists', ['cat_id'=>$val['id']])}">{$val.name}</option>
								</volist>
							</select>
						<else />
							<ul class="kids">
								<li ><a href="{:U('lists', ['cat_id'=>$datas['id']])}">{$datas.name}</a></li>
							</ul>
						</notempty>
						
					</volist>
                   	<!-- <section  class="sky-form">
					<h4>价格区间</h4>
						<div class="row row1 scroll-pane">
							<div class="col col-4">
								<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Rs 500 - Rs 700</label>
							</div>
							<div class="col col-4">
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 700  - Rs 1000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 1000 - Rs 1500</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 1500 - Rs 2000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 2000 - Rs 2500</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 2500 - Rs 3000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 3500 - Rs 4000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 4000 - Rs 4500</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 4500 - Rs 5000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 5000 - Rs 5500</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 5500 - Rs 6000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 6000 - Rs 6500</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 6500 - Rs 7000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 7000 - Rs 7500</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 7500 - Rs 8000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 8000 - Rs 8500</label>	
							</div>
						</div>
		        </section> -->
		      </div>
			<div class="clear"></div>
			</div>
		   </div>
		</div>
		<script src="__JS__/shop/jquery.easydropdown.js"></script>
	<include file="Public:footer"/>
<div style="display:none"></div>
</body>
</html>