
<!DOCTYPE HTML>
<html>
<head>
<title>产品详情</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/shop/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="__CSS__/shop/form.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<!-- <script src="__JS__/shop/jquery1.min.js"></script> -->
<!-- start menu -->
<link href="__CSS__/shop/megamenu.css" rel="stylesheet" type="text/css" media="all" />


<!-- 平台css -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="农畜商品交易平台">
    <meta name="keywords" content="数字货币交易平台,数字货币,虚拟币,虚拟币新闻资讯">
    <meta name="author" content="lihuijie">
    <title>农畜商品交易平台</title>
    <link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/bae.css">
    <link rel="stylesheet" href="__CSS__/index.css">

<link rel="stylesheet" href="__ALERT__/qiwen_popup.css"/>
<link rel="stylesheet" href="__CSS__/headersession.css"/>	
</head>
<body>
       <include file="Public:header"/>
<div class="mens">    
  <div class="main" style="margin-top: 100px">
     <div class="wrap">
     	<ul class="breadcrumb breadcrumb__t"><a class="home" href="#">首页</a> / <a href="#">Dolor sit amet</a> / Lorem ipsum dolor sit amet</ul>
		<div class="cont span_2_of_3">
		  	<div class="grid images_3_of_2">
						<div id="container">
							<div id="products_example">
								<div id="products">
									<a href="#"><img class="a" style="width: 360px;height: 300px;" id="img1" src="__ROOT__/{$info['img']}" alt="" rel="__ROOT__/{$info['img']}" /></a>
								</div>
							</div>
						</div>
	            </div>
		         <div class="desc1 span_3_of_2">
		         	<h3 class="m_3">{$info.name}</h3>
		         	<eq name="info.type" value="1">
		         		<p class="m_5">{$price_show} </p>
		         	</eq>
		         	<eq name="info.type" value="2">
		         		<p class="m_5">{$price_show.cmc} CMC + {$price_show.cny} CNY </p>
		         	</eq>
		         	<eq name="info.type" value="3">
		         		<p class="m_5">{$price_show} </p>
		         	</eq>
		             
					<div class="btn_form">
						<form onsubmit="return false">
							<input type="submit" value="立即购买" id="buy" data="{$info.id}" title="">
						</form>
					</div>
			     </div>
			   <div class="clear"></div>	
	    <div class="clients">
     </div>
     <div class="toogle">
     	<h3 class="m_3">产品详情描述</h3>
     	<p class="m_text">{$info.description}</p>
     </div>
      </div>
			<div class="rsingle span_1_of_single">
				<h5 class="m_1">类别</h5>
					<volist name="cate" id="datas">
						<notempty name="datas.child">
							<select onchange="window.location=this.value" class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
								<option value="{:U('lists', ['cat_id'=>$datas['id']])}">{$datas.name}</option>
								<volist name="datas.child" id="val">
									<option value="{:U('lists', ['cat_id'=>$val['id']])}">{$val.name}</option>
								</volist>
							</select>
						<else />
							<ul class="kids">
								<li ><a href="{:U('lists', ['cat_id'=>$datas['id']])}">{$datas.name}</a></li>
							</ul>
						</notempty>
						
					</volist>
					
		       <script src="__JS__/shop/jquery.easydropdown.js"></script>
		      </div>
		      <div class="clear"></div>
			</div>
			 <div class="clear"></div>
		   </div>
		</div>
	<include file="Public:footer"/>
<div style="display:none"></div>

<script src="__JS__/jquery.js"></script>
<!-- <script type="text/javascript" src="__ALERT__/ajax.form.js"></script>
<script type="text/javascript" src="__ALERT__/qiwen_popup.js"></script>
<script type="text/javascript" src="__JS__/ifsession.js"></script> -->
<script type="text/javascript">
	$("#buy").click(function() {
		$.ajax({
            url:"{:U('Session/ifsession')}",
            type:"get",
            success:function(data) {
            	var id = $(this).attr("data");
                var href="/Home`Buy`buy?product_id="+ id;
                if(data!=true){
                    lock();
                    return false
                }
                location.href=href
            }
        })
        return false
	});


</script>
</body>
</html>