
<!DOCTYPE HTML>
<html>
<head>
<title>产品详情</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/shop/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="__CSS__/shop/form.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<script src="__JS__/shop/jquery1.min.js"></script>
<!-- start menu -->
<link href="__CSS__/shop/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="__JS__/shop/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script type="text/javascript" src="__JS__/shop/jquery.jscrollpane.min.js"></script>
		<script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
		</script>
<!-- start details -->
<script src="__JS__/shop/slides.min.jquery.js"></script>
   <script>
		$(function(){
			$('#products').slides({
				preload: true,
				preloadImage: 'img/loading.gif',
				effect: 'slide, fade',
				crossfade: true,
				slideSpeed: 350,
				fadeSpeed: 500,
				generateNextPrev: true,
				generatePagination: false
			});
		});
	</script>
	<!-- start zoom -->
	<link rel="stylesheet" href="__CSS__/shop/zoome-min.css" />
	<script type="text/javascript" src="__JS__/shop/zoome-e.js"></script>
	<script type="text/javascript">
		$(function(){
		$('#img1,#img2,#img3,#img4').zoome({showZoomState:true,magnifierSize:[250,250]});
	});
	</script>		
</head>
<body>
       <include file="Public:shop_header"/>
<div class="mens">    
  <div class="main">
     <div class="wrap">
     	<ul class="breadcrumb breadcrumb__t"><a class="home" href="#">首页</a> / <a href="#">Dolor sit amet</a> / Lorem ipsum dolor sit amet</ul>
		<div class="cont span_2_of_3">
		  	<div class="grid images_3_of_2">
						<div id="container">
							<div id="products_example">
								<div id="products">
									<div class="slides_container">
									        <a href="#"><img class="a" style="width: 360px;height: 300px;" id="img1" src="__ROOT__/{$info['img']}" alt="" rel="__ROOT__/{$info['img']}" /></a>
											<!-- <a href="#"><img class="a" id="img2" src="__IMG__/shop/s-img1.jpg" alt="" rel="__IMG__/shop/s-img1.jpg" /></a>
											<a href="#"><img class="a" id="img3" src="__IMG__/shop/s-img2.jpg" alt="" rel="__IMG__/shop/s-img2.jpg" /></a>
											<a href="#"><img class="a" id="img4" src="__IMG__/shop/s-img3.jpg" alt="" rel="__IMG__/shop/s-img3.jpg" /></a> -->
									</div>
									<!-- <ul class="pagination">
										<li><a href="#"><img src="__IMG__/shop/s1.jpg" width="s-img" alt="1144953 3 2x"></a></li>
										<li><a href="#"><img src="__IMG__/shop/s2.jpg" width="s-img1" alt="1144953 3 2x"></a></li>
										<li><a href="#"><img src="__IMG__/shop/s3.jpg" width="s-img2" alt="1144953 3 2x"></a></li>
										<li><a href="#"><img src="__IMG__/shop/s4.jpg" width="s-img3" alt="1144953 1 2x"></a></li><div class="clear"></div>
									</ul> -->
								</div>
							</div>
						</div>
	            </div>
		         <div class="desc1 span_3_of_2">
		         	<h3 class="m_3">{$info.name}</h3>
		             <p class="m_5">{$info.price} </p>

					<!-- <span class="m_link"><a href="#">login to save in wishlist</a> </span> -->
				    <p class="m_text2" style="margin: "> </p>
					<div class="btn_form">
						<form onsubmit="return false">
							<!-- <input type="submit" value="加入购物车" title=""> -->
							<input type="submit" value="立即购买" id="buy" data="{$info.id}" title="">
						</form>
					</div>
			     </div>
			   <div class="clear"></div>	
	    <div class="clients">
	    <!-- <h3 class="m_3">相同产品</h3> -->
		 <!-- <ul id="flexiselDemo3">
			<li><img src="__IMG__/shop/s5.jpg" /><a href="#">Category</a><p>Rs 600</p></li>
			<li><img src="__IMG__/shop/s6.jpg" /><a href="#">Category</a><p>Rs 850</p></li>
			<li><img src="__IMG__/shop/s7.jpg" /><a href="#">Category</a><p>Rs 900</p></li>
			<li><img src="__IMG__/shop/s8.jpg" /><a href="#">Category</a><p>Rs 550</p></li>
			<li><img src="__IMG__/shop/s9.jpg" /><a href="#">Category</a><p>Rs 750</p></li>
		 </ul> -->
	<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel();
			$("#flexiselDemo2").flexisel({
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: { 
		    		portrait: { 
		    			changePoint:480,
		    			visibleItems: 1
		    		}, 
		    		landscape: { 
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: { 
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });
		
			$("#flexiselDemo3").flexisel({
				visibleItems: 5,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: { 
		    		portrait: { 
		    			changePoint:480,
		    			visibleItems: 1
		    		}, 
		    		landscape: { 
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: { 
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });
		    
		});
	</script>
	<script type="text/javascript" src="__JS__/shop/jquery.flexisel.js"></script>
     </div>
     <div class="toogle">
     	<h3 class="m_3">产品详情描述</h3>
     	<p class="m_text">{$info.description}</p>
     </div>
      </div>
			<div class="rsingle span_1_of_single">
				<h5 class="m_1">类别</h5>
					<volist name="cate" id="datas">
						<notempty name="datas.child">
							<select onchange="window.location=this.value" class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
								<option value="{:U('lists', ['cat_id'=>$datas['id']])}">{$datas.name}</option>
								<volist name="datas.child" id="val">
									<option value="{:U('lists', ['cat_id'=>$val['id']])}">{$val.name}</option>
								</volist>
							</select>
						<else />
							<ul class="kids">
								<li ><a href="{:U('lists', ['cat_id'=>$datas['id']])}">{$datas.name}</a></li>
							</ul>
						</notempty>
						
					</volist>
					
                   <!-- <section  class="sky-form">
					<h4>价格区间</h4>
						<div class="row row1 scroll-pane">
							<div class="col col-4">
								<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Rs 500 - Rs 700</label>
							</div>
							<div class="col col-4">
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 700  - Rs 1000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 1000 - Rs 1500</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 1500 - Rs 2000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 2000 - Rs 2500</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 2500 - Rs 3000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 3500 - Rs 4000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 4000 - Rs 4500</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 4500 - Rs 5000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 5000 - Rs 5500</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 5500 - Rs 6000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 6000 - Rs 6500</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 6500 - Rs 7000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 7000 - Rs 7500</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 7500 - Rs 8000</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Rs 8000 - Rs 8500</label>	
							</div>
						</div>
		        </section> -->
		       <script src="__JS__/shop/jquery.easydropdown.js"></script>
		      </div>
		      <div class="clear"></div>
			</div>
			 <div class="clear"></div>
		   </div>
		</div>
	<include file="Public:shop_footer"/>
<div style="display:none"></div>
<script type="text/javascript">
	$("#buy").click(function() {
		var id = $(this).attr("data");
		window.location.href="/Home`Buy`buy?product_id="+ id;
	});
</script>
</body>
</html>