<meta charset="UTF-8">
<div class="pull-left" id="help_nav">
    <h5 id="center_title">下载中心<span class="glyphicon glyphicon-chevron-down"></span></h5>
    <ul class="list-unstyled" id="download_list">
        <li class="selected"><a href="{:U('DownLoadCenter/APPDownload?tag=0')}">手机APP下载<span class="right_icon"></span></a></li>
        <li class="similar"><a href="{:U('DownLoadCenter/walletDown?tag=1')}">资产钱包下载<span class="right_icon"></span></a></li>
        <li class="similar"><a href="{:U('DownLoadCenter/llqDown?tag=2')}">浏览器下载<span class="right_icon"></span></a></li>
        <li class="similar"><a href="{:U('DownLoadCenter/newDown?tag=3')}">产品上线申请<span class="right_icon"></span></a></li>
    </ul>
</div>