<meta charset="UTF-8">
<header>

    <div class="container">
        <p>您好，欢迎来到中国领先的农畜产品交易平台!</p>
        <ul class="list-inline">
            <gt name="session" value="1">
                <li><a id="right" href="{:U('Property/finance?tag=0')}" value="{$id}">{$id}</a></li>
                <li><a id="lift">退出</a></li>
                <else/>
                <li><a href="{:U('Register/Register')}">注册</a></li>
                <li ><a class="showlock" href="#" id="login">登录</a></li>
            </gt>
        </ul>
    </div>
</header>

<link rel="stylesheet" href="__ALERT__/qiwen_popup.css"/>
<link rel="stylesheet" href="__CSS__/headersession.css"/>
<nav>

    <div class="container">
        <div class="logo pull-left" ><a href="{:U('Index/Index')}"><img src="__IMG__/base_images/xqqkl_logo.png" alt="logo" style="height: 54px!important;"></a></div>
        <ul class="nav text-nowrap" id="nav">
            <li <eq name='CONTROLLER_NAME' value='Index'>class="selected"<else/>class="similar"</eq>><a href="{:U('Index/Index')}" data-text="首页">首页</a></li>
            <li <eq name='CONTROLLER_NAME' value='Trade'>class="selected"<else/>class="similar  trade"</eq>><a href="{:U('Trade/buy')}" class="trade_centre" data-text="交易中心">交易中心</a></li>
            <li <eq name='CONTROLLER_NAME' value='Property'>class="selected"<else/>class="similar showlock property"</eq>><a href="{:U('Property/finance')}"  class="property_centre" data-text="财务中心">财务中心</a></li>
            <li <eq name='CONTROLLER_NAME' value='Safety'>class="selected"<else/>class="similar showlock safety"</eq>><a href="{:U('Safety/safeCenter')}" class="safe_centre" data-text="安全中心">安全中心</a></li>
            <li <eq name='CONTROLLER_NAME' value='Help'>class="selected"<else/>class="similar"</eq>><a href="{:U('Help/help')}" data-text="帮助中心">帮助中心</a></li>
            <li <eq name='CONTROLLER_NAME' value='Information'>class="selected"<else/>class="similar"</eq>><a href="{:U('Information/arlist')}" data-text="资讯中心">资讯中心</a></li>
            <li <eq name='CONTROLLER_NAME' value='DownLoadCenter'>class="selected"<else/>class="similar"</eq>><a href="{:U('DownLoadCenter/APPDownload')}" data-text="下载中心">下载中心</a></li>
            <!--<li <eq name='CONTROLLER_NAME' value='Shop'>class="selected"<else/>class="similar"</eq>><a href="{:U('Shop/index')}" data-text="商城中心">商城中心</a></li>-->
            <!--<li class="<?PHP if(Index==CONTROLLER_NAME){ echo 'selected';}else{echo 'similar';}?>"><a href="#" data-text="众筹">众筹</a></li>-->
            <!--<li class="<?PHP if(Index==CONTROLLER_NAME){ echo 'selected';}else{echo 'similar';}?>"><a href="#" data-text="BtcTrade">BtcTrade</a></li>-->
        </ul>
        <div class="online_service pull-right"><a href="{:U('Communication/customer')}" target="_blank" onclick="showService()"><span class="glyphicon glyphicon-headphones"></span>在线客服</a>
        </div>
    </div>
    <empty name="login">
        <else/>
        <div id="delay_form_out">
            <div class="qiwen_poput_div" id="lock_screen_delay"></div>
            <div class="qiwen_poput_form qiwen_poput_form_delay">
                <h2 class="qiwen_poput_title">
                    <span class="title">农畜商品交易平台</span><span class="qiwen_poput_title_close_delay" id="delay_btn" style="position: relative;top: -18px">&times;</span>
                </h2>
                <p><span>农畜商品交易平台提示您：</span></p>
                <div class="tips_content_alert_delay"><span class="glyphicon glyphicon-info-sign"></span><span id="delay_tips">{$login}</span></div>
            </div>
        </div>
    </empty>

    <!--<form action="{:U('Index/login')}" id="enter_form_lock" style="display: none" class="form-horizontal ajax_form" method="get" onsubmit="return false">-->
    <!--<div class="login-before" id="login-before" style="display: block;" >-->
    <!--<div class="user_enter">-->
    <!--<div class="form-group content">-->
    <!--<input type="text" id="user_name" name="name" value="{$username}" placeholder="请输入手机号或邮箱">-->
    <!--</div>-->
    <!--<div class="form-group content">-->
    <!--<input type="password" id="user_password" name="pass" value="{$password}" placeholder="请输入密码">-->
    <!--</div>-->
    <!--<div class="form-group remember_password">-->
    <!--<input type="checkbox" id="remember_password" ><label for="remember_password">记住密码</label>-->
    <!--&lt;!&ndash;     <span class="pull-right"><a href="#">忘记密码？</a></span>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="form-group" id="enter_submit">-->
    <!--<button type="submit" class="btn" >登录</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group" id="QQ_enter">-->
    <!--<span class="pull-right"><a href="#">忘记密码？</a></span><span class="pull-left"><a-->
    <!--href="{:U('Register/Register')}">免费注册</a></span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>-->
</nav>
<div id="lock_screen"></div>
<form action="{:U('Index/login')}" id="enter_form_lock" class="ajaxlogin_form" method="post" style="display: none" role="form" onsubmit="return false">
    <h5>请先登录 <span class="glyphicon glyphicon-remove" id="enter_form_close"></span></h5>
    <div class="user_enter">
        <div class="form-group content">
            <label for="users_name">用户名：</label>
            <input type="text" id="users_name" name="name" value="{$username}" placeholder="请输入手机号或邮箱">
        </div>
        <div class="form-group content">
            <label for="users_password">密码：</label>
            <input type="password" id="users_password" name="pass" value="{$password}" placeholder="请输入密码">
        </div>
        <div class="form-group remember_password">
            <input type="checkbox" id="remembers_password" ><label for="remembers_password">记住密码</label>
        </div>
        <div class="form-group" id="enter_submit">
            <button type="submit" class="btn" >登录</button>
        </div>
    </div>
    <div class="form-group" id="QQ_enter">
        <span class="pull-right"><a href="{:U('Register/findTradePw')}">忘记密码？</a></span><span class="pull-left"><a
            href="{:U('Register/Register')}">免费注册</a></span>
    </div>
</form>
<script src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__ALERT__/ajax.form.js"></script>
<script type="text/javascript" src="__ALERT__/qiwen_popup.js"></script>
<script type="text/javascript" src="__JS__/ifsession.js"></script>
<script type="text/javascript">
    $(function () {
        var locks=$('#right').val();
        if(locks==undefined){
            lock();
        }
    });
    $('#login').click(function () {
        lock();
    });
    $('#lift').click(function () {
        $.ajax({
            url:"{:U('Index/lift')}",
            type:"POST",
            success:function (data) {
                location.href="{:U('Index/index')}"
            }
        })
    });
    $('.property').click(function () {
        $.ajax({
            url:"{:U('Session/ifsession')}",
            type:"get",
            success:function(data) {
                var href=$('.property_centre').attr('href');
                if(data!=true){
                    lock();
                    return false
                }
                location.href=href
            }
        })
        return false
    })
    $('.safety').click(function () {
        $.ajax({
            url:"{:U('Session/ifsession')}",
            type:"get",
            success:function(data) {
                var href=$('.safe_centre').attr('href');
                if(data!=true){
                    lock();
                    return false
                }
                location.href=href
            }
        })
        return false
    })
    $("#remembers_password").click(function () {
        if($("#remembers_password").is(':checked')==true){
            var user=$("#users_name").val();
            var pass=$("#users_password").val();
            $.ajax({
                url:"{:U('Index/record')}",
                data:{user:user,pass:pass},
                type:"POST",
                success:function(data) {
                }
            });
        }
    });
</script>
<script>
	function showService(){
			var openUrl = "{:U('Communication/customer')}";//弹出窗口的url
			var iWidth=620; //弹出窗口的宽度;
			var iHeight=600; //弹出窗口的高度;
			var iTop = (window.screen.availHeight-30-iHeight)/2; //获得窗口的垂直位置;
			var iLeft = (window.screen.availWidth-10-iWidth)/2; //获得窗口的水平位置;
			window.open(openUrl,"","height="+iHeight+", width="+iWidth+", top="+iTop+", left="+iLeft); 
	}
</script>


