<meta charset="UTF-8">
<div class="pull-left">
    <h5 id="center_title">安全中心<span class="glyphicon glyphicon-chevron-down"></span></h5>
    <ul class="list-unstyled" id="safe_list">
        <li class="selected"><a href="{:U('Safety/safeCenter?tag=0')}">安全中心<span class="right_icon"></span></a></li>
        <li class="similar"><a href="{:U('Safety/nameIdenty?tag=1')}">实名认证<span class="right_icon"></span></a></li>
        <li class="similar"><a href="{:U('Safety/photoIdenty?tag=2')}">照片认证<span class="right_icon"></span></a></li>
        <li class="similar"><a href="{:U('Safety/changePw?tag=3')}">修改密码<span class="right_icon"></span></a></li>
        <li class="similar"><a href="{:U('Safety/phoneBind?tag=4')}">手机绑定<span class="right_icon"></span></a></li>
        <!--<li class="similar"><a href="{:U('Safety/payBind?tag=5')}">支付绑定<span class="right_icon"></span></a></li>-->
        <li class="similar"><a href="{:U('Safety/cardManage?tag=5')}">银行卡管理<span class="right_icon"></span></a></li>
        <li class="similar"><a href="{:U('Safety/findPw?tag=6')}">找回交易密码<span class="right_icon"></span></a></li>
    </ul>
</div>


