<div class="footer">
		<div class="footer-top">
			<div class="wrap">
			  <div class="section group example">
				<div class="col_1_of_2 span_1_of_2">
					<ul class="f-list">
					  <li><img src="__IMG__/shop/2.png"><span class="f-text">{:market_cooperation()[1]['value']}</span><div class="clear"></div></li>
					</ul>
				</div>
				<div class="col_1_of_2 span_1_of_2">
					<ul class="f-list">
					  <li><img src="__IMG__/shop/3.png"><span class="f-text">{:market_cooperation()[2]['value']}</span><div class="clear"></div></li>
					</ul>
				</div>
				<div class="clear"></div>
		      </div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="wrap">
	             <div class="copy">
			        <p>华联全球商贸   版权所有     苏ICP备15050956号-1</p>
		         </div>
				<!-- <div class="f-list2">
				 <ul>
					<li class="active"><a href="about.html">About Us</a></li> |
					<li><a href="delivery.html">Delivery & Returns</a></li> |
					<li><a href="delivery.html">Terms & Conditions</a></li> |
					<li><a href="contact.html">Contact Us</a></li> 
				 </ul>
			    </div> -->
			    <div class="clear"></div>
		      </div>
	     </div>
	</div>