<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/Entrust/index.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/mypubliccss/button.css" media="all">
</block>
<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>人民币充值记录</h2>
        <div class="cf search_right">
            <div class="fl">
                <!--<a class="btn" href="{:U('Userbank/add')}">新 增</a>-->
                <!--<button class="btn ajax-post" url="{:U('Userbank/changeStatus',array('method'=>'resumeUser'))}" target-form="ids">启 用</button>-->
                <!--<button class="btn ajax-post" url="{:U('Userbank/changeStatus',array('method'=>'forbidUser'))}" target-form="ids">禁 用</button>-->
                <!--<button class="btn ajax-post confirm" url="{:U('Recharge/changeStatus',array('method'=>'deleteuser','model'=>'rechargewater'))}" target-form="ids">删 除</button>-->
            </div>
            <!-- 高级搜索 -->
            <form action="" method="post">
                <div class="difference">
                    <!--<select name="method" id="" style="width: 220px;height: 32px;border-radius: 5px">-->
                        <!--<option value="">充值方式</option>-->
                        <!--<option <if condition="I('method') eq 1"> selected </if> value="1">支付宝</option>-->
                        <!--<option <if condition="I('method') eq 2"> selected </if> value="2">微信</option>-->
                        <!--<option <if condition="I('method') eq 3"> selected </if> value="3">银行卡</option>-->
                    <!--</select> &nbsp; &nbsp;-->
                    <input name="name" class="username" value="{:I('name')}" placeholder="用户名/审核人"/> &nbsp; &nbsp;
                    <button class="send" type="submit">确定</button>
                </div>
            </form>
        </div>
    </div>


    <!-- 数据列表 -->
    <div class="data-table">
        <table class="">
            <thead>
            <tr>
                <!--<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>-->
                <th class="">用户名</th>
                <th class="">充值金额</th>
                <th class="">到账金额</th>
                <!--<th class="">充值方式</th>-->
                <th class="">充值订单</th>
                <th class="">充值时间</th>
                <th class="">审核人</th>
                <th class="">审核时间</th>
                <th class="">审核状态</th>
            </tr>
            </thead>
            <tbody>
            <volist name="_list" id="vo">
                <tr>
                    <!--<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>-->
                    <td>{$vo.username}</td>
                    <td>{$vo.allmoney}</td>
                    <td>{$vo.money}</td>
                    <!--<td>-->
                        <!--<if condition="($vo.arrivetype eq 3)">银行卡-->
                            <!-- -->
                        <!--</if>-->
                    <!--</td>-->
                    <td>{$vo.order}</td>
                    <td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>
                    <td>{$vo.admin}</td>
                    <td>{$vo.endtime|date="Y-m-d H:i:s",###}</td>
                    <td><if condition="$vo['status'] eq 3">成功<else />拒绝</if></td>
                </tr>
            </volist>
            </tbody>
        </table>

    </div>
    <!-- 分页 -->
    <div class="page">{$_page}</div>
    <!-- /分页 -->

</block>
<block name="script">
    <script type="text/javascript">
        highlight_subnav('{:U('index')}');

        $(function(){
            $("#action_add").click(function(){
                window.location.href = $(this).attr('url');
            })
        })
    </script>
</block>
