<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/Entrust/index.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/mypubliccss/button.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/jquery.ui.css" media="all">
</block>
<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>手续费记录</h2>
    </div>

    <div>
        <!--<button class="btn ajax-post confirm" target-form="ids" url="">删 除</button>-->
        <!-- 高级搜索 -->
        <form action="{:U('Recharge/poundage')}" method="post">
            <div class="difference">
                <span>查询字段：</span>
                <select name="search_type" class="market" id="">
                    <option value="0" <if condition="I('search_type') eq 0"> selected </if>>买家订单号</option>
                    <option value="1" <if condition="I('search_type') eq 1"> selected </if>>卖家订单号</option>
                    <option value="2" <if condition="I('search_type') eq 2"> selected </if>>用户</option>
                    <option value="3" <if condition="I('search_type') eq 3"> selected </if>>市场</option>
                    <option value="4" <if condition="I('search_type') eq 4"> selected </if>>类型</option>
                    <option value="6" <if condition="I('search_type') eq 6"> selected </if>>币种</option>
                </select>&nbsp; &nbsp;
                <span>查询内容：</span>
                <input name="search" class="username poundage_input" value="{:I('search')}" placeholder="输入关键字"/> &nbsp; &nbsp;
                <span>时间段：</span>
                <input type="text" class="username poundage_input" placeholder="起始时间" name="start_time" id="start_time" value="{:I('start_time')}" readonly>&nbsp; &nbsp;
                <input type="text" class="username poundage_input" placeholder="截止时间" name="end_time" id="end_time" value="{:I('end_time')}" readonly>&nbsp; &nbsp;
                <button class="send" type="submit">确定</button>
            </div>
        </form>
    </div>
    <!-- 数据列表 -->
    <div class="data-table">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox" style="display: none"/></th>
                <th class="">订单</th>
                <th class="">用户</th>
                <th class="">市场</th>
                <th class="">类型</th>
                <th class="">金额</th>
                <th class="">币种</th>
                <th class="">时间</th>
            </tr>
            </thead>
            <tbody>
            <volist name="poundage" id="vo">
                <tr>
                    <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" style="display: none" /></td>
                    <td>{$vo.oderfor}</td>
                    <td>{$vo.username}</td>
                    <td>{$vo.market}</td>
                    <td><if condition="$vo['type'] eq 1">买入手续费<elseif condition="$vo['type'] eq 2"/>卖出手续费<elseif condition="$vo['type'] eq 3" />转出手续费<elseif condition="$vo['type'] eq 4" /> 提现手续费 </if></td>
                    <td>{$vo.money}</td>
                    <td>{$vo.xnb}</td>
                    <td>{$vo.time|date="Y-m-d H:m:s", ###}</td>
                </tr>
            </volist>
            </tbody>
        </table>

    </div>
    <!-- 分页 -->
    <div class="page">{$page}</div>
    <!-- /分页 -->

</block>
<block name="script">
    <script type="text/javascript" src="__JS__/jquery.ui.js"></script>
    <script type="text/javascript">
        highlight_subnav('{:U('poundage')}');

        $(function(){
            $("#action_add").click(function(){
                window.location.href = $(this).attr('url');
            })
        })
    </script>
    <script>
        $(function () {
            $('#start_time,#end_time').datepicker({
                dateFormat : 'yy-mm-dd',
                //dayNames : ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
                //dayNamesShort : ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
                dayNamesMin : ['日','一','二','三','四','五','六'],
                monthNames : ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
                //monthNamesShort : ['一','二','三','四','五','六','七','八','九','十','十一','十二'],
                altField : '#abc',
                altFormat : 'dd/mm/yy',
//	        appendText : '日历',
                showWeek : true,
                weekHeader : '周',
                firstDay : 1,
                changeYear: true
            });
        });


    </script>
</block>
