<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/setting.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/setting.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>费用说明</h2>
		</header>
		<div class="cost-title">
			<div class="cost-tab">
				<span class="pitch">交易手续费</span><span>转出手续费</span>
			</div>
			<div class="cost-hint explain-hint"><span>商品名称</span><span>买入手续费</span><span>卖出手续费</span></div>
			<div class="appear-hint explain-hint"><span>商品名称</span><span>提现/转让手续费</span></div>
		</div>
		<section class="setting-cost">
			<ul class="setting-deal explain-list" id="ul1">
				<!--<foreach name="xnb" item="vo">-->
					<!--<li>-->
						<!--<div>-->
							<!--<img src="{$vo.imgurl}"/>-->
							<!--<span>{$vo.name}.({$vo.brief})</span>-->
						<!--</div>-->
						<!--<div >{$poundage}%</div>-->
						<!--<div id="divs"><php>$vo.sellpoundage</php></div>-->
					<!--</li>-->
				<!--</foreach>-->
			</ul>
			<ul class="setting-appear explain-list" id="ul2">
					<li class="appear-two">
						<div>
							<img src="{$img}"/>
							<span>{$name}.({$jc})</span>
						</div>
						<div id="div1">
							<!--<p>普通提现 : 手续费{$rmbtx}%, 最低2元</p>-->
							<!--<p>快速提现 : 手续费{$rmbtxq}%, 最低2元</p>-->
						</div>
					</li>
					<!--<foreach name="xnb" item="vos">-->
					<!--<li>-->
						<!--<div>-->
							<!--<img src="{$vos.imgurl}" />-->
							<!--<span>{$vos.name}.({$vos.brief})</span>-->
						<!--</div>-->
						<!--<div>-->
							<!--<p>每次收取{$vos.poundage}{$vos.brief}</p>-->
						<!--</div>-->
					<!--</li>-->
					<!--</foreach>-->
			</ul>
		</section>
		<include file="Public:footer" />
		<script type="text/javascript">
			$.ajax({
				url: "{:U('Profile/costExplain2')}",
				type: "post",
				dataType: 'json',
				success: function (data) {
					var html = '';
					var html2 ='';
					if (data != null) {
						$.each(data, function (i, v) {
							var buypoundage = get(v.buypoundage);
							var sellpoundage = get(v.sellpoundage);
							var poundage = get(v.poundage);
							html += '<li><div><img src="'+v.imgurl+'"/>'
									+ '<span>'+v.name+' ('+v.brief+')</span>'
									+ '</div><div>'+buypoundage+'%</div>'
									+ '<div>'+sellpoundage+'%</div></li>'

							html2 += '<li><div><img src="'+v.imgurl+'" />'
									+'<span>'+v.name+' ('+v.brief+')</span></div><div>'
									+'<p>每次收取 '+poundage+'%</p></div></li>'
								})
						$('#ul1').append(html);
						$('#ul2').append(html2);
					}
				}
			});

			$.ajax({
				url: "{:U('Profile/costExplain3')}",
				type: "post",
				dataType: 'json',
				success: function (data) {
					var html = '';
					if (data != null) {
						console.log(data);
						$.each(data, function (i, v) {
							var slowpoundage = get(v.slowpoundage);
							var fastpoundage = get(v.fastpoundage);
							html +='<p>普通提现 : 手续费 '+slowpoundage+'%,最低2元</p>'
									+'<p>快速提现 : 手续费 '+fastpoundage+'%,最低2元</p>'
							})
						$('#div1').append(html);
					}
				}
			});

			function get(float){   	//  处理小数空位0
				var aa = parseFloat(float);
				return aa;
			}

		</script>
	</body>
</html>
