<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/personage.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/personage.js" ></script>
		<script src="/Public/jquery.qrcode/jquery-1.11.1.min.js"></script>
	</head>
	<body>
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>平台经理人</h2>
		</header>
		<!--已注册-->
		<section class="handler" style="display: block;">
			<h5>推荐华联全球商贸平台给其他人，可以获取被推荐人30%交易手续费做为佣金，躺着也挣钱！</h5>
			<div class="handlerway">
				<ul>
					<li>
						<div>
							<p>邀请方法一  : 复制您的专属推荐地址给您的好友</p>
						</div>
						<div class="handlerwayex">
							<span>您的专属地址</span>
							<input type="text" readonly="readonly" id="addr" value="{$config}{$invit}" />
						</div>
					</li>
					<li>
						<div>
							<p>邀请方法二  : 复制您的专属邀请码给您的好友</p>
						</div>
						<div class="handlerwayex">
							<span>您的专属邀请码</span>
							<input type="text" readonly="readonly" value="{$invit}" />
						</div>
					</li>
					<li>
						<div>
							<span class="handlerwayzm">邀请方法三: 分享下方二维码给您的好友，扫描完成注册</span>
						</div>
						<div class="handlerwayex">
							<!--<img src="__IMG__/ewm.png"/>-->
							<div id="qrcode" ></div>
						</div>
					</li>
				</ul>
			</div>
			<div class="grandtotal">
						<div>
							<p>
								<span>累计邀请佣金：</span><span class="cred">{$allmoney}元</span>
								<a class="grandtotalde cred" href="{:U('handlerProfit',['allmoney'=>$allmoney])}">查看明细</a>
							</p>
						</div>
						<div>
							<p>
								<span>累计邀请人数：</span><span class="cred">{$allmenber}人</span>
								<a class="grandtotalde cred" href="{:U('handlerInviter',['allmenber'=>$allmenber])}">查看明细</a>
							</p>
						</div>
			</div>
			<h6>注：邀请人数及佣金每天结算一次。</h6>
		</section>
		<!--未注册-->
		<section class="handler-not" style="display: none;">
			<p>
				您现在还不是区块链经理人<a class="applyfor applyshow">免费申请</a>
			</p>
			<p>推荐区块链（www.qkl.com）给其他人，可以获取被推荐人30%交易手续费做为佣金，躺着也挣钱！</p>
			<p><a class="applyshow"><img src="__IMG__/jjr.png"/></a></p>
		</section>
		<div class="applyfor-box">
			<div class="applyfor-box-title">
				<span>申请成为经理人</span>
				<span class="applyforclose">X</span>
			</div>
			<h4 class="applyfor-hint">QQ号码与微信号码必须选填一项。</h4>
			<div class="applyfor-in-row">
				<label>QQ号码 :</label>
				<input type="text" />
			</div>
			<div class="applyfor-in-row">
				<label>微信号码 :</label>
				<input type="text" />
			</div>
			<div class="applyfor-refer">
				<a>提交申请</a>
			</div>
		</div>
		<div class="cover"></div>
		<include file="Public:footer" />
	</body>
	<script src="/Public/jquery.qrcode/jquery.qrcode.js"></script>
	<script>
		$("#qrcode").qrcode({  //二维码
			render : "canvas",    //设置渲染方式，有table和canvas，使用canvas方式渲染性能相对来说比较好
			text : $('#addr').val(),    //扫描二维码后显示的内容,可以直接填一个网址，扫描二维码后自动跳向该链接
			width : "100",               //二维码的宽度
			height : "100",              //二维码的高度
			background : "#ffffff",       //二维码的后景色
			foreground : "#000000",        //二维码的前景色
			src: '/Public/jquery.qrcode/54.png'             //二维码中间的图片
		});
	</script>
</html>
