<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/personage.css" />
		<link rel="stylesheet" href="__CSS__/dropload.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/jquery.min.js" ></script>
		<script type="text/javascript" src="__JS__/dropload.min.js"></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/personage.js" ></script>
	</head>
	<body>
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>佣金明细</h2>
		</header>
		<section class="handler-grand inner">

			<h5>推荐平台给其他人，可以获取被推荐人30%交易手续费做为佣金，躺着也挣钱！</h5>

			<h4>累积邀请佣金折合：<span class="cred">{:I('allmoney')}元</span></h4>
			<div class="brokerage">
				<ul class="lists">
					<foreach name="data" item="vo">
						<li>
							<div>
								<p><span>{$vo.childname}</span></p>
								<p><span>手续费类型 :</span><span>{$vo.currency_xnb_name}</span></p>
							</div>
							<div>
								<p><span>金额 :</span><eq name="vo.currency_keepmoney_type" value="买入商品"><span class="cbuy">{$vo.currency_keepmoney_number}</span><else /><span class="csell">{$vo.currency_keepmoney_number}</span></eq></p>
								<p><span>{:date('Y-m-d H:i:m',$vo['currency_keepmoney_time'])}</span></p>
							</div>
							<eq name="vo.currency_keepmoney_type" value="买入商品"><span class="brost cbuy">买</span><else /><span class="brost csell">卖</span></eq>
						</li>
					</foreach>
				</ul>
			</div>
		</section>
		<include file="Public:footer" />
	</body>
	<script>
		$(function(){
			var groupNumber = 1;
			var status = 0;

			// dropload
			var dropload = $('.inner').dropload({
				autoLoad:true,
				threshold:5,
				scrollArea : window,
				domDown : {
					domClass   : 'dropload-down',
					domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
					domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
					domNoData  : '<div class="dropload-noData">暂无数据</div>'
				},
				loadDownFn : function(me){
					if (status < 0) {
						me.noData(true);
						me.resetload();
						return false;
					}
					$.ajax({
						type: 'POST',
						url: '{:U("handlerProfit_more")}',
						dataType: 'json',
						data: {groupNumber:groupNumber},
						success: function(data){
							if (data == 2){
								status = -1;
								me.noData(true);
								me.resetload();
								return false;
							} else {
								var result = '';
								var classname = '';
								var text = '';
								var time = '';
								$.each(data, function (i, value) {
									if (value.currency_keepmoney_type == '买入商品') {
										classname = 'cbuy';
										text = '买';
									} else {
										classname = 'csell';
										text = '卖';
									}
									time = formatDate(value.currency_keepmoney_time);
									result += '<li><div><p><span>' + value.currency_xnb_name +
											'</span></p><p><span>手续费类型 :</span><span>' + value.currency_xnb_name +
											'</span></p></div><div><p><span>金额 :</span>' +
											'<span class= "'+ classname +'">' + value.currency_keepmoney_number +
											'</span></p><p><span>' + time +
											'</span></p></div>' +
											'<span class="brost ' + classname + '">' + text +
											'</span></li>'
								});
								// 为了测试，延迟1秒加载
								groupNumber ++;
//							setTimeout(function(){
								$('.lists').append(result);
								// 每次数据加载完，必须重置
								dropload.resetload();
//							},1000);
							}
						},
						error: function(xhr, type){
							me.noData(true);
							// 即使加载出错，也得重置
							dropload.resetload();
						}
					});
				}
			});
		});
		function   formatDate(time)   {
			var date = new Date(time*1000);
			var Y = date.getFullYear() + '-';
			var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
			var D = date.getDate() + ' ';
			var h = date.getHours() + ':';
			var m = date.getMinutes() + ':';
			var s = date.getSeconds();
			return Y+M+D+h+m+s;
//			return   year+"-"+month+"-"+dates+"   "+hour+":"+minute+":"+second;
		}
	</script>
</html>
