<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/setting.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/setting.js" ></script>
	</head>
	<body>
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>意见反馈</h2>
			<a class="top-right" href="{:U('opinionReply')}"><img src="__IMG__/yjfl.png"/></a>
		</header>

		<section class="feedback">
			<input type="hidden" value="{:session('user_wap.id')}" id="uid">
			<textarea placeholder="请输入您意见与建议, 感谢您对我们的信任与支持（字数限制在200字以内）。" id="text"></textarea>
			<button id="submit">提交</button>
		</section>
		<include file="Public:footer" />
	</body>
	<script>
		$("#submit").click(function () {
			var uid = $("#uid").val();
			var text = $("#text").val();
			if (text == "") {
				ShowHintBox("反馈内容不能为空", false);
			} else if(text.length > 200) {
				alert("超出指定字数，请限制在200字以内");
			} else {
				$.ajax({
					url:"{:U('Profile/opinionPost')}",
					type:"POST",
					data:{
						"uid":uid,
						"text":text
					},
					success:function (data) {
						if (data.status != true) {
							ShowHintBox(data.info,false);
						} else {
							ShowHintBox(data.info);
							setTimeout("window.location.href='/Wap`Profile`opinionReply'", 2000);
						}
					}
				});
			}
		})
	</script>
</html>
