<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/setting.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/setting.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>意见回复</h2>
		</header>

		<section class="ticking">
			<ul>
				<volist name="replylist" id="data">
					<li>
						<div class="ticking-idea">{$data.text}</div>
						<div class="ticking-answer">{$data.reply}</div>
						<p  class="ticking-time">{$data.time|date="Y-m-d",###}</p>
					</li>
				</volist>
			</ul>
		</section>
		<include file="Public:footer" />
	</body>
</html>
