<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/personage.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/personage.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<h2>账户中心</h2>
			<a class="top-right" href="{:U('Profile/setting')}" id="remind"><img src="__IMG__/shezhi.png"/></a>
		</header>
		<section class="personage">
			<foreach name="data" item="vo">
				<dl class="info">
						<dt>UID : {$vo.id}</dt>
						<dt>帐号 : {$vo.users}</dt>
						<dt>姓名 : {$vo.username}</dt>
				</dl>
				<ul>
					<li>
						<a href="{:U('Property/finance')}">
							<span class="handle-left"><img src="__IMG__/zichan.png"/>总资产</span>
							<span class="handle-right cfe504b pzc"><if condition="$allmoney neq ''">{$allmoney}<else />0</if><img src="__IMG__/right1.png"/></span>
						</a>
					</li>
				</ul>
			</foreach>
				<ul>
					<li>
						<a href="{:U('Property/rmbrecharge')}">
							<span class="handle-left"><img src="__IMG__/gcz.png"/>人民币充值</span>
							<span class="handle-right"><img src="__IMG__/right1.png"/></span>
						</a>
					</li>
					<li>
						<a href="{:U('Property/rmbwithdrawal')}">
							<span class="handle-left"><img src="__IMG__/gtx.png"/>人民币提现</span>
							<span class="handle-right"><img src="__IMG__/right1.png"/></span>
						</a>
					</li>
					<li>
						<a href="{:U('Safety/cardManage')}">
							<span class="handle-left"><img src="__IMG__/gyhk.png"/>银行卡管理</span>
							<span class="handle-right"><img src="__IMG__/right1.png"/></span>
						</a>
					</li>
					<!--<li>
						<a href="{:U('Profile/redPacket')}">
							<span class="handle-left"><img src="__IMG__/ghb.png"/>我的红包</span>
							<span class="handle-right"><img src="__IMG__/right1.png"/></span>
						</a>
					</li>-->
				</ul>
				<ul>
					<li>
						<a href="{:U('Property/join_currency')}">
							<span class="handle-left"><img src="__IMG__/gzr.png"/>转入资产</span>
							<span class="handle-right cfe504b"><img src="__IMG__/right1.png"/></span>
						</a>
					</li>
					<li>
						<a href="{:U('Property/out_currency')}">
							<span class="handle-left"><img src="__IMG__/gzc.png"/>转出资产</span>
							<span class="handle-right cfe504b"><img src="__IMG__/right1.png"/></span>
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="{:U('Property/commissioned')}">
							<span class="handle-left"><img src="__IMG__/gwt.png"/>委托管理</span>
							<span class="handle-right cfe504b"><img src="__IMG__/right1.png"/></span>
						</a>
					</li>
					<li>
						<a href="{:U('Property/demand')}">
							<span class="handle-left"><img src="__IMG__/gcj.png"/>成交记录</span>
							<span class="handle-right cfe504b"><img src="__IMG__/right1.png"/></span>
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="{:U('Property/commissioned')}">
							<span class="handle-left"><img src="__IMG__/gwt.png"/>收货地址</span>
							<span class="handle-right cfe504b"><img src="__IMG__/right1.png"/></span>
						</a>
					</li>
					<li>
						<a href="{:U('Property/demand')}">
							<span class="handle-left"><img src="__IMG__/gcj.png"/>我的订单</span>
							<span class="handle-right cfe504b"><img src="__IMG__/right1.png"/></span>
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="{:U('Safety/photoIdenty')}">
							<span class="handle-left"><img src="__IMG__/top_cz.png"/>实名认证</span>
							<span class="handle-right cfe504b"><img src="__IMG__/right1.png"/></span>
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="{:U('Profile/handler')}">
							<span class="handle-left"><img src="__IMG__/jlr.png"/>平台经理人</span>
							<span class="handle-right cfe504b"><img src="__IMG__/right1.png"/></span>
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="{:U('Communication/service')}">
							<span class="handle-left"><img src="__IMG__/gkf.png"/>在线客服</span>
							<span class="handle-right cfe504b"><img src="__IMG__/right1.png"/></span>
						</a>
					</li>
				</ul>
		</section>
		<include file="Public:footer" />
	</body>
</html>
