<extend name="Public/base"/>
<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/jquery.ui.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/addxnb.css" media="all">

</block>
<block name="body">
    <div class="main-title">
        <empty name="data">
            <h2>虚拟币配置>>添加虚拟币</h2>
            <else/>
            <h2>虚拟币配置>>修改虚拟币</h2>
        </empty>

    </div>
    <form  class="form-horizontal">
        <notempty>
            <input type="hidden" value="{$data.id}" name="id">
        </notempty>
        <div class="form-item">
            <label class="item-label">币种简称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="brief" value="{$data.brief}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">币种名称</label>
            <div class="controls">
                <input  class="text input-large" name="name" value="{$data.name}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">英文名</label>
            <div class="controls">
                <input  class="text input-large" name="enname" value="{$data.enname}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">推出时间</label>
            <div class="controls">
                <input id="detrusion" class="text input-large" readonly="readonly" name="createtime" value="{$data.createtime}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">发布时间</label>
            <div class="controls">
                <input id="publish" readonly="readonly"  class="text input-large" name="releasedate" value="{$data.releasedate}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">研发者</label>
            <div class="controls">
                <input  class="text input-large" name="author" value="{$data.author}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">核心算法</label>
            <div class="controls">
                <input  class="text input-large" name="algorithm" value="{$data.algorithm}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">区块时间</label>
            <div class="controls">
                <input  class="text input-large" name="blocktime" value="{$data.blocktime}" id="qukuai_time">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">区块奖励</label>
            <div class="controls">
                <input  class="text input-large" name="blockreward" value="{$data.blockreward}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">货币总量</label>
            <div class="controls">
                <input  class="text input-large" name="totalmoney" value="{$data.totalmoney}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">主要特色</label>
            <div class="controls">
                <input  class="text input-large" name="advantage" value="{$data.advantage}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">不足之处</label>
            <div class="controls">
                <input  class="text input-large" name="disadvantage" value="{$data.disadvantage}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">币种图标</label>
            <input type="file" name="imgurl" class="display">
            <input type="button" class="files"  value="请选择文件" style="margin-top: 15px">
            <a href="{$data.imgurl}" class="nonea"><img src="{$data.imgurl}" alt="" class="tb"></a>
        </div>

        <div class="form-item">
            <label class="item-label">币种介绍</label>
            <div class="controls">
                <input type="text" class="text input-large" name="text" value="{$data.text}">
            </div>
        </div>
        <!--<div class="form-item">-->
            <!--<label class="item-label">钱包服务器ip</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="text input-large" name="ip" value="{$data.ip}">-->
            <!--</div>-->
        <!--</div> -->
        <!--<div class="form-item">-->
        <!--<label class="item-label">钱包服务器端口</label>-->
        <!--<div class="controls">-->
            <!--<input type="text" class="text input-large" name="port" value="{$data.port}">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="form-item">-->
            <!--<label class="item-label">钱包服务器密码</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="text input-large" name="password" value="{$data.password}">-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-item">
            <label class="item-label">钱包地址</label>
            <div class="controls">
            <input type="text" class="text input-large" name="address" value="{:base64_decode($data['address'])}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">卖单挂单比例（0为不设限制）</label>
            <div class="controls">
                <input type="text" class="text input-large" name="scale" value="{$data.scale}">%
            </div>
        </div>

        <!--<div class="form-item">-->
            <!--<label class="item-label">单笔卖出金额上限</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="text input-large" name="selltop" value="{$data.selltop}">-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-item">-->
            <!--<label class="item-label">单笔买入金额上限</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="text input-large" name="buytop" value="{$data.buytop}">-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-item">
            <label class="item-label">单笔最小转出数量（0为不设限制）</label>
            <div class="controls">
                <input type="text" class="text input-large" name="minnumber" value="{$data.minnumber}" id="min_number">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">单笔最大转出数量（0为不设限制）</label>
            <div class="controls">
                <input type="text" class="text input-large" name="maxnumber" value="{$data.maxnumber}" id="max_number">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">单笔最小转入数量（0为不设限制）</label>
            <div class="controls">
                <input type="text" class="text input-large" name="inminnumber" value="{$data.inminnumber}" id="inmin_number">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">单笔最大转入数量（0为不设限制）</label>
            <div class="controls">
                <input type="text" class="text input-large" name="inmaxnumber" value="{$data.inmaxnumber}" id="inmax_number">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">涨停幅度</label>
            <div class="controls">
                <input type="text" class="text input-large" name="riserange" value="{$data.riserange}">%
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">跌停幅度</label>
            <div class="controls">
                <input type="text" class="text input-large" name="fallrange" value="{$data.fallrange}">%
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">涨停额度</label>
            <div class="controls">
                <input type="text" class="text input-large" name="price_up" value="{$data.price_up}">%
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">跌停额度</label>
            <div class="controls">
                <input type="text" class="text input-large" name="price_dow" value="{$data.price_dow}">%
            </div>
        </div>


        <div class="form-item">
            <label class="item-label">转出手续费</label>
            <div class="controls">
                <input type="text" class="text input-large" name="poundage" value="{$data.poundage}">%
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">买家手续费</label>
            <div class="controls">
                <input type="text" class="text input-large" name="buypoundage" value="{$data.buypoundage}">%
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">卖家手续费</label>
            <div class="controls">
                <input type="text" class="text input-large" name="sellpoundage" value="{$data.sellpoundage}">%
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">今日转出最大数（0为不设限制）</label>
            <div class="controls">
                <input type="text" class="text input-large" name="totalmaxnumber" value="{$data.totalmaxnumber}" id="max_rollout">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">锁定周期</label>
            <div class="controls">
                <input type="text" class="text input-large" name="memory_day" value="{$data.memory_day}" id="memory_day">天
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">解锁日返率</label>
            <div class="controls">
                <input type="text" class="text input-large" name="memory_back" value="{:($data['memory_back']*100)}" id="memory_back">%
            </div>
        </div>

        <!--<div class="form-item">-->
            <!--<label class="item-label">自动转出</label>-->
            <!--<div class="controls">-->
                <!--<input type="text" class="text input-large" name="voluntarily" value="{$data.voluntarily}">-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-item">-->
            <!--<label class="item-label">市场</label>-->
            <!--<div class="controls">-->
                <!--&lt;!&ndash;<input type="text" class="text input-large" name="market" value="{$data.market}">&ndash;&gt;-->
                <!--<select name="market">-->
                        <!--<option>交易市场</option>-->
                    <!--<foreach name="markedata" item="item">-->
                        <!--<option value="{$item['id']}" <php>if($data['market']==$item['id']){ echo 'selected="selected"'; }</php>>{$item['name']}</option>-->
                    <!--</foreach>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-item">
            <label class="item-label">是否显示</label>
            <div class="controls">
                <!--<input type="text" class="text input-large" name="status" value="{$data.market}">-->
                <select name="sort" value="{$data.sort}">
                    <option value="1" <?php if($data['sort']==1){echo 'selected=selected';} ?> >显示</option>
                    <option value="2" <?php if($data['sort']==2){echo 'selected=selected';} ?>>不显示</option>
                </select>
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">转入状态</label>
            <div class="controls">
                <!--<input type="text" class="text input-large" name="changestatus" value="{$data.changestatus}">-->
                <select name="changestatus" value="{$data.changestatus}">
                    <option value="1" <?php if($data['changestatus']==1){echo 'selected="selected"';}?>>启用</option>
                    <option value="2" <?php if($data['changestatus']==2){echo 'selected="selected"';}?>>禁用</option>
                </select>
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">状态</label>
            <div class="controls">
                <!--<input type="text" class="text input-large" name="status" value="{$data.market}">-->
                <select name="status" value="{$data.status}">
                    <option value="1" <?php if($data['status']==1){echo 'selected=selected';} ?> >启用</option>
                    <option value="2" <?php if($data['status']==2){echo 'selected=selected';} ?>>禁用</option>
                </select>
            </div>
        </div>

        <div class="form-item">
            <button class="btn submit-btn" type="button">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <!--<script type="text/javascript" src="__JS__/jquery-3.2.1.js"></script>-->
    <script type="text/javascript" src="__JS__/jquery.ui.js"></script>
    <script type="text/javascript" src="__JS__/addxnb.js"></script>
     <script>
         highlight_subnav('{:U('xnb')}');

         $(function () {
	    $('#detrusion,#publish').datepicker({
	        dateFormat : 'yy-mm-dd',
	        //dayNames : ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
	        //dayNamesShort : ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
	        dayNamesMin : ['日','一','二','三','四','五','六'],
	        monthNames : ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
	        //monthNamesShort : ['一','二','三','四','五','六','七','八','九','十','十一','十二'],
	        altField : '#abc',
	        altFormat : 'dd/mm/yy',
//	        appendText : '日历',
	        showWeek : true,
	        weekHeader : '周',
	        firstDay : 1,
	        changeYear: true
	    });
	});


  </script>
</block>
