<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>币种地址配置</h2>
    </div>

    <div class="cf">
        <div class="fl">
            <a class="btn" href="{:U('Setup/addxnbaddress')}">新 增</a>
            <button class="btn ajax-post" url="{:U('statusxnbaddress',array('method'=>'resume'))}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('statusxnbaddress',array('method'=>'forbid'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('statusxnbaddress',array('method'=>'delete'))}" target-form="ids">删 除</button>
        </div>

        <!-- 高级搜索 -->
        <form action="{:U('Setup/xnbaddress')}" method="post">
            <div class="search-form fr cf">
                <div class="sleft">
                    <input type="text" name="search" class="search-input" value="{:I('search')}" placeholder="请输入产品名称">
                    <button style="background: white;border: 0px;width: 50px"><i class="btn-search"></i></button>
                </div>
            </div>
        </form>
    </div>

    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox" /></th>
                <th class="">产品名称</th>
                <th class="">下载地址</th>
                <th class="">官网地址</th>
                <th class="">状态</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="xnbaddress">

                <foreach name="xnbaddress" item="vo">
                    <tr>
                        <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$vo.id}" /></td>
                        <td>{$vo.name}</td>
                        <td>{:base64_decode($vo['downadd'])}</td>
                        <td>{:base64_decode($vo['webadd'])}</td>
                        <td ><eq name="vo['status']" value="1">启用<else/>禁用</eq></td>

                        <td>
                            <a href="{:U('addxnbaddress',array('id' => $vo['id']))}">编辑</a>
                            <a href="{:U('delxnbaddress', array('id' => $vo['id']))}" class="ajax-get confirm">删除</a>
                        </td>
                    </tr>
                </foreach>

                <else/>
                <td colspan="13" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    <script>
        highlight_subnav('{:U('xnbaddress')}');

    </script>
</block>
