<extend name="Public/base"/>

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>用户登录日志</h2>
    </div>

    <div>
           <button class="btn ajax-post confirm" target-form="ids" url="{:U('Userqian/deleteprice',array('status'=>-1))}">删 除</button>
    </div>
    <!-- 数据列表 -->
    <div class="data-table">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">ID</th>
                <th class="">用户名</th>
                <th class="">类型</th>
                <th class="">操作IP</th>
                <th class="">操作时间</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="_list" item="vo">
                <tr>
                    <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
                    <td>{$vo.id} </td>
                    <td>{$vo.username}</td>
                    <td>{$vo.remark}</td>
                    <td>{$vo.addip}</td>
                    <td>{$vo.addtime|time_format}</td>
                    <td><a href="{:U('Userqian/deleteprice?ids='.$vo['id'])}" class="confirm ajax-get">删除</a></td>
                </tr>
            </foreach>
            </tbody>
        </table>

    </div>
    <!-- 分页 -->
    <div class="page">{$_page}</div>
    <!-- /分页 -->

</block>
<block name="script">
    <script type="text/javascript">
        highlight_subnav("{:U('logintext')}");

        $(function(){
            $("#action_add").click(function(){
                window.location.href = $(this).attr('url');
            })
        })
    </script>
</block>
