<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/login.css" />
		<script type="text/javascript" src="js/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="js/base.js" ></script>
		<script type="text/javascript" src="js/login.js" ></script>>
	</head>
	<body>
		<header class="top">
			<a class="top-left" id="back">
				<img src="img/back.png"/>
				<span>返回</span>
			</a>
			<h2>登录</h2>
		</header>
		<section class="login-content">
			<div class="designation">
				<img src="img/logo.png"/>
			</div>
			<div class="enter">
				<form>
					<input type="text" value="5689626@qq.com" placeholder="请输入您的手机和或邮箱" />
					<input class="pass" type="password" value="56256325" placeholder="请输入密码" />
					<input class="login" type="button" onclick="login()" value="登录" />
				</form>
			</div>
			<div class="register-forget">
				<a href="register.html">注册</a>丨<a href="retrieve-password.html">忘记密码</a>
			</div>
		</section>
		<script>
			function login(){
				window.location.href="personage.html";
			}
		</script>
	</body>
</html>
