<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="华联全球商贸平台">
    <meta name="keywords" content="华联全球商贸">
    <meta name="author" content="lihuijie">
    <title>华联全球商贸平台-在线客服</title>
   	<!--<link rel="stylesheet" href="/Public/Home/Communication/jquery.mCustomScrollbar.css" />-->
    <link rel="shortcut icon" href="/Public/bd_safe4.png">
    <link rel="stylesheet" href="/Public/Home/Communication/customer_service.css">
    
</head>
<body>
<div class="customer_service_mainBody" id="customer_service_mainBody">
    <!--头部  customer_service_top -->
    <div class="customer_service_top">
        <h3>华联全球商贸平台</h3>
        <!--<a href="#"><div>人工客服</div></a>-->
    </div>
    <div class="row">
        <div class=" customer_service_left">
            <!--聊天内容  chat_content-->
            <div class="chat_content">
               <p class="text-center">您正在和小农对话</p>
                <div class="row servicein">
                	<div>
                    	<div class="row-head">
                    		 <img src="/Public/bd_safe4.png" alt="" class="col-xs-1" style="width: 30px;height: 30px;">
                    	</div>
                        <div class="col-xs-7 row_text">
                       		  <p>您好，欢迎来到华联全球商贸平台 !我是智能小农，很高兴为您服务！</p>
                       		  <div class="arrow"></div>
                        </div>
                    </div>
                </div>
                <div class="row servicein">
                	<div>
                		<div class="row-head">
	                    	<img src="/Public/bd_safe4.png" alt="" class="col-xs-1" style="width: 30px;height: 30px;">
	                    </div>
	                    <div class="col-xs-3 row_text customerin">
	                        <p>常见问题：</p>
	                        <ul>
                                <volist name="question" id="data">
                                    <li><span class="dot"></span><a class="clickforquestion" href="#" data="{$data.id}">{$data.title}</a></li>
                                </volist>
	                        </ul>
	                        <div class="arrow"></div>
	                    </div>
                    </div>
                </div>
                <!--<h3 class="duankai">连接已断开</h3>-->
                <!--历史记录框-->
            </div>
            <!--消息输入框-->
            <div class="information_input">
                <form action="" method="post">
                        <textarea name="mine_information" id="mine_informationID" placeholder="请输入消息.." ></textarea>
                    <input type="button" value="发送" id="send_informationId">
                </form>
            </div>

        </div>
    </div>
</div>
</body>
<script src="/Public/Home/js/jquery.js"></script>
<!--<script src="/Public/Home/Communication/jquery.mCustomScrollbar.concat.min.js" ></script>-->
<!--<script>!window.jQuery && document.write(unescape('%3Cscript src="js/minified/jquery-1.9.1.min.js"%3E%3C/script%3E'))</script>-->
<script>
    $(function () {
        //聊天室
        var mydata;
        $('#contact_wid').click(function () {
            $('.chat-room').show();
        })

        // 假设服务端ip为127.0.0.1
        ws = new WebSocket("ws://47.92.125.176:8282");
        ws.onopen = function() {
//            alert("连接成功");

            ws.send('{"room_id":"17"}');

        };
        ws.onmessage = function(e) {
//            alert("收到服务端的消息：" + e.data);
            var mydata='<div class="row servicein">'+
                    '<div>'+
                    '<div class="row-head">'+
                    '<i>'+
                    	'<img src="/Public/bd_safe4.png" alt="" class="col-xs-1" style="width: 30px;height: 30px;">'+
                    '<i>'+
                    '</div>'+
                    '<div class="col-xs-3 row_text">'+
                    '<p>'+JSON.parse(e.data)+'</p>'+
                    '<div class="arrow"></div>'+
                    '</div>'+
                    '</div>'+
                    '</div>';
            $('.chat_content').append(mydata);
            $('.chat_content').scrollTop( $('.chat_content')[0].scrollHeight );
        };

        $('#send_informationId').click(function () {
        	if($("#mine_informationID").val().length==0){
        		return false;
	        }
        	else{
        		mydata=$('#mine_informationID').val();
	            ws.send('{"data":"'+mydata+'","my_room_id":"17"}');
	            $('#mine_informationID').val("");
	
	            var mydata='<div class="row row-me">'+
	                            '<div>'+
	                                '<div class="row-head">'+
	                                '<i>'+
	                                   '<img src="/Public/jquery.qrcode/userhead.png" alt="" class="col-xs-1" style="width: 30px;height: 30px;">'+
	                                '</i>'+
	                                '</div>'+
	                                '<div class="col-xs-3 row_text">'+
	                                    '<p>'+mydata+'</p>'+
	                                    '<div class="arrow"></div>'+
	                                '</div>'+
	                            '</div>'+
	                        '</div>';
	            $('.chat_content ').append(mydata);
	            $('.chat_content').scrollTop( $('.chat_content')[0].scrollHeight );
	            
	            this.style.background="rgb(249,196,194)";
        	}
            
        })


        function getTime() {
            var d= new Date();
            return d.getFullYear()+"-"+d.getMonth()+"-"+ d.getDay()+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
        }
        
        //输入框输入内容按钮变色
        $(function(){
        	var mine_informationID=document.getElementById("mine_informationID");//输入框
        	var send_informationId=document.getElementById("send_informationId");//按钮
        	mine_informationID.oninput=function(){
        		if(mine_informationID.value.length!=0){
        			send_informationId.style.background="rgb(236, 82, 76)";
        		}
        		else if(mine_informationID.value.length==0){
        			send_informationId.style.background="rgb(249,196,194)";
        		}
        	}
        })
        
        
    })

</script>
<!--滚动条默认到底部-->
<script>
	$(function(){
		$('.chat_content').scrollTop( $('.chat_content')[0].scrollHeight );
	})
</script>
<!--滚动条-->
<script>
//		(function($){
//			$(window).load(function(){
//				$("#content_1").mCustomScrollbar({
//					scrollButtons:{
//						enable:true
//					}
//				});
//				//ajax demo fn
//				$("a[rel='load-content']").click(function(e){
//					e.preventDefault();
//					var $this=$(this),
//						url=$this.attr("href");
//					$this.addClass("loading");
//					$.get(url,function(data){
//						$this.removeClass("loading");
//						$("#content_1 .mCSB_container").html(data); //load new content inside .mCSB_container
//						$("#content_1").mCustomScrollbar("update"); //update scrollbar according to newly loaded content
//						$("#content_1").mCustomScrollbar("scrollTo","top",{scrollInertia:200}); //scroll to top
//					});
//				});
//				$("a[rel='append-content']").click(function(e){
//					e.preventDefault();
//					var $this=$(this),
//						url=$this.attr("href");
//					$this.addClass("loading");
//					$.get(url,function(data){
//						$this.removeClass("loading");
//						$("#content_1 .mCSB_container").append(data); //append new content inside .mCSB_container
//						$("#content_1").mCustomScrollbar("update"); //update scrollbar according to newly appended content
//						$("#content_1").mCustomScrollbar("scrollTo","h2:last",{scrollInertia:2500,scrollEasing:"easeInOutQuad"}); //scroll to appended content
//					});
//				});
//			});
//		})(jQuery);
	</script>
<!-- 客服常见问题回答 别动( ⊙ o ⊙ ) -->
<script>
    $(function () {
        var body = $("body");
        body.delegate(".clickforquestion", "click", function () {
            var helpdata=$(this).html();
            var helpid = $(this).attr("data");
            //传递消息
            $.ajax({
                url:"{:U('Communication/answer')}",
                type:"POST",
                data:{
                    "helpid":helpid
                },
                success:function (data) {
                    var dataobj = eval("("+data+")");
//                alert(dataobj);
                    var text = null;
                    var sametype = null;
                    $.each(dataobj, function(i, item) {
                        switch (i) {
                            case "text":
                                text = item;
                                break;
                            case "sametype":
                                sametype = item;
                                break;
                            default:break;
                        }
                    });
                    var list = "";
                    if (sametype != "null") {
                        var sametypeobj = eval("("+sametype+")");
                        list = '<div class="col-xs-3 row_text customerin" style="border: 0px"><ul>';
                        $.each(sametypeobj, function (i, item) {
                            list += '<li><span class="dot"></span><a class="clickforquestion" id="'+item.id+'ss" href="#" data="'+ item.id +'">'+ item.title+ '</a></li>';
                        });
                        list = list + '</ul></div>';
                    }
                    //客服消息
                    var mydata='<div class="row servicein">'+
                            '<div>'+
                            '<div class="row-head">'+
                            '<i>'+
                            '<img src="/Public/bd_safe4.png" alt="" class="col-xs-1" style="width: 30px;height: 30px;">'+
                            '<i>'+
                            '</div>'+
                            '<div class="col-xs-3 row_text">'+
                            '<p style="border-bottom: 1px #e6e6e6 solid;width: 100%">'+text+'</p>'+list+
                            '<div class="arrow"></div>'+
                            '</div>'+
                            '</div>'+
                            '</div>';
                    $('.chat_content').append(mydata);
                    $('.chat_content').scrollTop( $('.chat_content')[0].scrollHeight );
                }
            });

            //用户消息
            var mydata='<div class="row row-me">'+
                    '<div>'+
                    '<div class="row-head">'+
                    '<i>'+
                    '<img src="/Public/jquery.qrcode/userhead.png" alt="" class="col-xs-1" style="width: 30px;height: 30px;">'+
                    '</i>'+
                    '</div>'+
                    '<div class="col-xs-3 row_text">'+
                    '<p>'+helpdata+'</p>'+
                    '<div class="arrow"></div>'+
                    '</div>'+
                    '</div>'+
                    '</div>';
            $('.chat_content ').append(mydata);
            $('.chat_content').scrollTop( $('.chat_content')[0].scrollHeight );
            //客服消息


        })
    });

</script>
</html>