<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/Entrust/index.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/mypubliccss/button.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/property.css"/>
</block>
<block name="body">
    <div class="main-title">
        <h2>用户流水列表</h2>
    </div>

    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="" style="text-align:center;">ID</th>
                <th class="" style="text-align:center;">用户名</th>
                <th class="" style="text-align:center;">币种</th>
                <th class="" style="text-align:center;">操作数量</th>
                <th class="" style="text-align:center;">操作类型</th>
                <th class="" style="text-align:center;">操作之前</th>
                <th class="" style="text-align:center;">操作之后</th>
                <th class="" style="text-align:center;">说明</th>
                <th class="" style="text-align:center;">时间</th>
                <!--<th class="" style="text-align:center;">操作</th>-->
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td class="titlecenter">{$vo.id} </td>
                        <td class="titlecenter">{$vo.username}</td>
                        <td class="titlecenter">{$vo.name}</td>
                        <td class="titlecenter">{$vo.operatenumber}</td>
                        <td class="titlecenter">{$vo.operatetype}</td>
                        <td class="titlecenter">{$vo.operaefront}</td>
                        <td class="titlecenter">{$vo.operatebehind}</td>
                        <td class="titlecenter">{$vo.explain}</td>
                        <td class="titlecenter"><span>{$vo.time|time_format}</span></td>
                            <!--<td><a href="{:U('Userproperty/dproperty?id='.$vo['id'])}" class="confirm ajax-get">删除</a>-->
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
        <!-- 分页 -->
        <div class="page">{$_page}</div>
        <!-- /分页 -->
    </div>

</block>

<block name="script">
    <!--<script src="__JS__/jquery.mousewheel.js"></script>-->
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('Userqian/index')}");
    </script>
</block>
