.span{
    font-size: 15px;
    color: rgb(52, 73, 94);
    font-weight: bold;
    display: block;
    text-align: right;
    float: right;
    width: 170px!important;
}
.tables{
    width: 1000px;

    /*border: 1px solid black;*/
}
td{
    text-align:center;
}
.tables tr td input{
    width: 75%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0 15px;
}
.tables tr td select{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
}
.tables tr{
    height: 80px;
}