<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="./Public/Admin/Finance/receivables.css" media="all">
    <link rel="stylesheet" type="text/css" href="./Public/Admin/mypubliccss/button.css" media="all">
    <link rel="stylesheet" type="text/css" href="./Public/Admin/css/jquery.editable-select.min.css" media="all">
    <style>
        .imgs{
            width: 30px;height: 30px;
        }
        .delete{
            width: 27px;height: 27px;
            position: absolute;
            margin-top:2px;
            margin-left: 10px;
        }
    </style>
</block>

<block name="body">
    <div class="main-title">
        <h2>红包管理津贴</h2>
    </div>
    <form class="ajax_form" method="post">
        <div>
            <table class="tables" >
                <tbody>
                <foreach name="data" item="vo" key="k">
                    <tr>
                        <td>直推 : <input type="text" onblur="clearNoNum(this)" name="numpeople" value="{$vo.numpeople}" id="numpeople" placeholder="直推"></td>
                        <td>团队 : <input type="text" onblur="clearNoNum(this)"  name="numpeople_all"  value="{$vo.numpeople_all}" id="numpeople_all" placeholder="津贴">人</td>
                        <td>津贴 : <input type="text" onblur="clearNoNum(this)"  name="percentage"  value="{$vo.percentage}" id="percentage" placeholder="团队">%</td>
                    </tr>
                </foreach>
                </tbody>
            </table>
            <div style="padding-left: 23px">
                <img class="add imgs" src="/Public/Admin/Motion/img/add.png" >
                <img class="delete" src="/Public/Admin/Motion/img/delete.png">
            </div>
        </div>
        <div class="btn-form">
            <button class="btns btns-red" type="button" id="submit">确 定</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btns btns-green" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>

</block>
<block name="script">
    <script type="text/javascript" src="__JS__/jquery.editable-select.min.js"></script>
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('')}');
        $('.add').click(function () {

            var index = $('tbody').children().length

            var tr = '<tr>'+
                '<td>直推 : <input type="text" onblur="clearNoNum(this)"  name="numpeople" value="" id="numpeople" placeholder="直推">人</td>'+
                '<td>团队 : <input type="text" onblur="clearNoNum(this)"  name="numpeople_all" value="" id="numpeople_all" placeholder="团队">人</td>'+
                '<td>津贴 : <input type="text"  onblur="clearNoNum(this)"  name="percentage" value="" id="percentage" placeholder="津贴">%</td>'+
                '</tr>'

            $('tbody').append(tr)

        })



        $('.delete').click(function () {

            $('tbody').children().eq($('tbody').children().length-1).remove()

        })

        $('#submit').click(function () {

            var input = $('tbody').find('input');

            var i = true;

            $.each(input,function (k,v) {
                var x = $(v).val();

                if (x === null || x === undefined || x === '') {

                    return i = false;

                }

            })

            if (!i){

                set_poput_code('数据不能不空',false);
                return false;

            }



            var farmData =  {};

            var data  = $('tbody').children()

            $.each(data,function (k,v) {

                farmData[k] = {'numpeople':$(v).find('[name=numpeople]').val(),'numpeople_all':$(v).find('[name=numpeople_all]').val(),'percentage':$(v).find('[name=percentage]').val()}
            })



            $.ajax({
                url:"",
                data:{'data':farmData ? farmData:''},
                type: farmData.length>0 ? 'post' :'get',
                success:function(data){
                    if (!data.status){
                        set_poput_code(data.info,false);
                        return false
                    }
                    set_poput_code(data.info,true);

                }

            })

        })

    </script>

</block>
