<extend name="Public/base"/>
<block name="style">
    <style>
        .xnb{
            border: 1px solid gainsboro;
            border-radius: 5px;
            height: 30px;
            width: 120px;
            float: left;
            background: white;
            margin-right: 5px;
            margin-bottom: 5px;
            text-align: center;

        }
        .a{
           margin-top: 4px;
            display: inline-block;
            width: 100px;  /*必须设置宽度*/
            overflow: hidden;  /*溢出隐藏*/
            text-overflow: ellipsis; /*以省略号...显示*/
            white-space: nowrap;  /*强制不换行*/
        }

        .xnb_all{
            width: 100px;
            height: 28px;
            background: white;
            border-radius: 3px;
            border: 1px solid gainsboro;
            color: gainsboro;
            text-align: left;
            padding-left: 10px;
            line-height: 27px;
            font-size: 15px;
        }



        .pd{
            width: 390px;min-height: 390px;border: 1px solid rgba(0, 0, 0, 0.28);padding: 5px;
            border-radius: 3px;
        }

        .up,.x{
            float: right;width: 12px;height: 12px;margin-top: 3px;margin-right: 2px
        }
    </style>
    <link rel="stylesheet" type="text/css" href="__CSS__/jquery.editable-select.min.css" media="all">
</block>
<block name="body">
    <div class="main-title">
        <notempty  name="data">
            <h2>修改交易市场</h2>
          <else/>
            <h2>添加交易市场</h2>
        </notempty>
    </div>
    <form  method="post" class="form-horizontal ajax_form" onsubmit="return false">
        <input type="hidden" name="id" value="{$data.id}">
        <div class="form-item">
            <label class="item-label">市场名称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$data.name}">
            </div>
        </div>


        <div class="form-item">
            <label class="item-label">买家最小交易价</label>
            <div class="controls">
                <input type="text" class="text input-large" name="buyminprice" value="{:floatval($data['buyminprice'])}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">买家最大交易价</label>
            <div class="controls">
                <input type="text" class="text input-large" name="buymaxprice" value="{:floatval($data['buymaxprice'])}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">卖家最小交易价</label>
            <div class="controls">
                <input type="text" class="text input-large" name="sellminprice" value="{:floatval($data['sellminprice'])}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">卖家最大交易价</label>
            <div class="controls">
                <input type="text" class="text input-large" name="sellmaxprice" value="{:floatval($data['sellmaxprice'])}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">单笔最大交易总额</label>
            <div class="controls">
                <input type="text" class="text input-large" name="maxallmoney" value="{:floatval($data['maxallmoney'])}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">单笔最小交易总额</label>
            <div class="controls">
                <input type="text" class="text input-large" name="minallmoney" value="{:floatval($data['minallmoney'])}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">本位币</label>
            <input type="hidden" name="standardmoney" value="" id="standardmoneyhidden">
            <select id="standardmoney" placeholder="币种" style="background-color: white;border: 1px solid #EEEEEE;width: 100px;height:30px">
                <foreach name="xnb_all" item="vo">
                    <option class="option"  value ="{$vo.id}" <eq name="vo.id"  value="$data['standardmoney']">selected="selected"</eq>>{$vo.name}</option>
                </foreach>
            </select>
        </div>

        <div class="form-item">
            <label class="item-label">所属虚拟币</label>
            <select class="xnb_select"   name="xnb_parent" id="xnb" style="background-color: white;border: 1px solid #EEEEEE;width: 100px;height:30px" placeholder="所属虚拟币">
                <foreach name="xnb_all" item="vo">
                    <neq name="vo.id" value="1">
                     <option value ="{$vo.id}" class="option_xnb">{$vo.name}</option>
                    </neq>
                </foreach>
            </select>
        </div>

        <div class="pd">
            <foreach name="data['xnb']" item="vo">
                <div type="text" class="xnb">
                    <input type="hidden" name="xnb[]" value="{$vo.id}">
                    <span class="a">{$vo.name}</span>
                    <img src="/Public/Admin/images/x.png" class="x" >
                </div>
            </foreach>
        </div>


        <div class="form-item">
            <label class="item-label">是否开盘</label>
            <select name="openingquotation">
                <option  value ="1" <eq name="data.openingquotation" value="1">selected="selected"</eq> >开盘</option>
                <option value ="2" <eq name="data.openingquotation" value="2">selected="selected"</eq> >闭盘</option>
            </select>

            <label class="item-label">是否启用</label>
            <select name="status">
                <option  value ="1" <eq name="data.status" value="1">selected="selected"</eq> >启用</option>
                <option value ="2" <eq name="data.status" value="2">selected="selected"</eq> >禁用</option>
            </select>

           <div style="height: 10px"></div>
            <button class="btn submit-btn ajax-post" id="submit" type="button"> <notempty  name="data">修 改<else/>确 定</notempty></button>
            <button  id='false' class="btn btn-return" onclick="location.href='Admin`Trading`marking'">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('Admin/trading/marking')}");
    </script>
    <script type="text/javascript" src="__JS__/Trading/add.js"></script>
    <script type="text/javascript" src="__JS__/jquery.editable-select.min.js"></script>
    <script>

        $('body').on('click','.x',function(){
            $(this).parent().remove();
        });
        $("#standardmoney").editableSelect({
            effects:'slide'
        });
        $("#xnb").editableSelect({
            effects:'slide'
        });
        $('.option_xnb').click(function () {
            var t=$(this).val();
            if (t==1){
                set_poput_code('人民币不能作为交易币',false);
                return false;
            }
            var a=$(this).html();
            var chid='<div type="text" class="xnb">'+
                            '<input type="hidden" name="xnb[]" value="'+t+'">'+
                              '<span class="a">'+a+'</span>'+
                            '<img src="/Public/Admin/images/x.png" class="x" >'+
                      '</div>'
            $('.pd').append(chid);
        });

        $('[name=sellminprice],[name=buyminprice],[name=sellpoundage],[name=sellmaxprice],[name=buymaxprice]').blur(function () {
            if ($(this).val().match(/^[0-9]\d*$|^[0-9]\d*\.\d{1,}|0\.\d*[1-9]{1,}$/) != $(this).val()){
                var fas=$(this).parent().prev().text();
                set_poput_code(fas+'处：非法字符',false);
                $(this).val("")
            }
        });



        $('#submit').click(function () {
                //是否有查询的币种
                var standardmoney = $("#standardmoney").val();
                $(".option").each(function () {
                    var txt = $(this).text();
                    var val = $(this).val();
                    if (txt == standardmoney) {
                        $("#standardmoneyhidden").val(val);
                    }
                });
            var form=$(this).parents().parent('.ajax_form');
            if (form.get(0)==undefined){
                form=$(this).parent();
            }

            if ($('[name=name]').val()==""){
                set_poput_code('市场名称不能为空！',false);
            }


            $('[name=sellminprice],[name=buyminprice],[name=sellpoundage],[name=sellmaxprice],[name=buymaxprice]').each(function () {
                    if ($(this).val().match(/^[0-9]\d*$|^[0-9]\d*\.\d{1,}|0\.\d*[1-9]{1,}$/) != $(this).val()){
                       var fas=$(this).parent().prev().text();
                        set_poput_code(fas+'处：非法字符',false);
                    }
                });

            var back=true;
            var xnb= new Array();
            $('.xnb').children('input').each(function () {
                xnb.push($(this).val());
            })
            $.each(xnb,function (k,v) {
                $.each(xnb,function (i,q) {
                   if (k!=i && v==q){
                       set_poput_code('虚拟币：'+$('li[value="'+q+'"]').html()+'重复',false);
                       return v=false;
                    }
                })
                if (!v){
                    return back=false;
                }
            })

            if (!back){
                return back=false;
            }

            $.ajax({
                url:form.attr('action'),
                type:form.attr('method'),
                data:form.serialize(),
                dataType:'json',
                success:function (data) {
                    if (data.status!=true){   //请求失败
                        set_poput_code(data.info,false);
                        return false
                    }
                    set_poput_code(data.info,true);
                }
            });
        })

    </script>
</block>
