<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>交易市场修改</h2>
    </div>
    <volist name="face" id="vo">
    <form action="{:U('Trading/redata?id='.$vo['id'])}" method="post" class="form-horizontal ajax_back" onsubmit="return false">
        <div class="form-item">
            <label class="item-label">市场名称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$vo.name}" >
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">卖家手续费</label>
            <div class="controls">
                <input type="text" class="text input-large" name="sellpoundage" value="{$vo.sellpoundage}" >%
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">买家手续费</label>
            <div class="controls">
                <input type="text" class="text input-large" name="buypoundage" value="{$vo.buypoundage}">%
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">卖家最小交易价</label>
            <div class="controls">
                <input type="text" class="text input-large" name="sellminprice" value="{$vo.sellminprice}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">买家最小交易价</label>
            <div class="controls">
                <input type="text" class="text input-large" name="buyminprice" value="{$vo.buyminprice}" >
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">卖家最大交易价</label>
            <div class="controls">
                <input type="text" class="text input-large" name="sellmaxprice" value="{$vo.sellmaxprice}" >
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">买家大交易价</label>
            <div class="controls">
                <input type="text" class="text input-large" name="buymaxprice" value="{$vo.buymaxprice}" >
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">本位币</label>
            <select  id="standardmoney" name="standardmoney">
                <volist name="list" id="list">
                <option value='{$list.id}' <eq name="list.id" value="$face.0.standardmoney">selected="selected"</eq> >{$list.name}</option>
                 </volist>
            </select>
        </div>
        <div class="form-item">
            <label class="item-label">是否开盘</label>
            <select name="openingquotation">
                <eq name="vo.openingquotation" value="1">
                <option value ="1">开盘</option>
                    <option value ="2">闭盘</option>
                    <else/>
                <option value ="2">闭盘</option>
                    <option value ="1">开盘</option>
                </eq>
            </select>
            <label class="item-label">是否启用</label>
            <select name="status">
                <eq name="vo.status" value="1">
                <option value ="1">启用</option>
                    <option value ="0">禁用</option>
                    <else/>
                <option value ="0">禁用</option>
                    <option value ="1">启用</option>
                    </eq>
            </select>
            <div style="height: 10px"></div>
            <button class="btn submit-btn ajax-post" id="submit" type="submit">确 定</button>
            <button id="false" class="btn btn-return" onclick="back();">返 回</button>
        </div>
    </form>
    </volist>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('marking')}');
    </script>
    <script type="text/javascript" src="__JS__/Trading/redact.js"></script>
</block>
