<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/swiper-3.4.2.min.css" />
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/deal.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/swiper-3.4.2.jquery.min.js" ></script>

		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/deal.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<h2>交易大厅</h2>
			<!--<a class="top-right" href="{:U('editDisplayCurrency')}"><img src="__IMG__/bianji.png"/></a>-->
		</header>
		<section class="deal-content">
			<div class="overhead">
				<if condition="($marketlength gt 1)">
				<div class="tabdeal swiper2">
					<div class="swiper-foreach">
						<div class="swiper-wrapper">
							<input type="hidden" name="market" value="{$Market}">
							<!--<a class="swiper-slide swiper-foreach-horizontal swiper-foreach-free-mode pitch" id="tab_rmb">人民币交易区</a>-->
							<foreach name="market_data" item="vo">

									<a <eq name="Market" value="$vo['id']">class="swiper-slide swiper-foreach-horizontal swiper-foreach-free-mode pitch"<else/>class="swiper-slide swiper-foreach-horizontal swiper-foreach-free-mode"</eq>   href="{:U('buy',['Market'=>$vo['id']])}" <eq name="Market" value="$vo['id']">class="swiper-slide pitch" <else/>class="swiper-slide"</eq> >
									<span id="tab_rmb" >{$vo.name}</span></a>
									</a>


								<!--<a><span class="pitch" id="tab_rmb">人民币交易</span></a>-->
							</foreach>

						</div>
						<div class="swiper-button-next"></div>
			        	<div class="swiper-button-prev"></div>
					</div>

				</div>
				<else/>
				</if>
				<div class="rank">
					<ul class="rank_amount">
						<li class="rank_pitch" type="new_price"><span>成交价</span><img src="__IMG__/xiangxia1.png" /></li>
						<li type="allnumber"><span>成交量</span><img src="__IMG__/xiangxia.png" /></li>
						<li type="allmoney"><span>成交额</span><img src="__IMG__/xiangxia.png" /></li>
						<li type="up_dow"><span>日涨跌</span><img src="__IMG__/xiangxia.png" /></li>
					</ul>
				</div>
			</div>
			<div class="district" id="rmb">
				<ul class="us">
					<foreach name="xnb_data" item="vo">
						<li>
							<a href="{:U('Trade/trade',['xnb'=>$vo['id'],'marke'=>$Market])}">
								<div class="district-title">
									<div class="district-title-left">
										<img src="{$vo.imgurl}"/>
										<span>{$vo.name}({$vo.brief})</span>
									</div>
									<div class="district-title-right">
										<img src="__IMG__/right1.png"/>
									</div>
								</div>
								<div class="district-cost">
									<!--最新-->
									<span class="district-cost-price"><if condition="($pd eq 1)">￥</if><span  type="new_price" value="{:floatval($vo['new_price'])}"><eq name="vo['new_price']" value="">0.00<else/>{:floatval($vo['new_price'])}</eq></span></span>
									<!--日涨跌-->
									<php>$zd=($vo['new_price']-$vo['oldprice'])/$vo['oldprice']*100; $zd= floatval($zd) ==0  ?  "0.00" : floatval($zd) ; </php>
									<span class="district-grow ce34c48" type="up_dow" value="{$zd}">
										{:round($zd,2)}%
									</span>
								</div>
								<dl class="district-info">
									<dt>
									<p>最高价</p>
									<p><if condition="($pd eq 1)">￥</if><eq name="vo.max(price)" value="">0.00<else/>{:floatval($vo['max(price)'])}</eq></p>
									</dt>
									<dt>
									<p>最低价</p>
									<p><if condition="($pd eq 1)">￥</if><eq name="vo.min(price)" value="">0.00<else/>{:floatval($vo['min(price)'])}</eq></p>
									</dt>
									<dt>
									<p>成交量</p>
									<p type="allnumber" value="{:floatval($vo['smum_number'])}"><eq name="vo['smum_number']" value="">0.00<else/>{:getUnit($vo['smum_number'])}</eq></p>
									</dt>
									<dt>
									<p>成交额</p>
									<p type="allmoney" value="{:floatval($vo['avg_price']*$vo['smum_number'])}"><eq name="vo['avg_price']*$vo['smum_number']" value="">0.00<else/>{:getUnit($vo['avg_price']*$vo['smum_number'])}</eq></p>
									</dt>
								</dl>
							</a>
						</li>
					</foreach>
				</ul>
			</div>
		</section>
		<include file="Public:footer" />
	</body>
</html>
<script type="text/javascript" src="__JS__/Trade/buy.js"></script>
<script>
	var changcss=0;
	$(function () {
		  changcss=$('.swiper2').val();
		if(changcss!=undefined){
			$('.overhead').css({"height":"100px"})
			$('.district').css({"margin-top":"141px"})
		}else {
			$('.overhead').css({"height":"56px"})
			$('.district').css({"margin-top":"100px"})
		}
		var state=0;
		var sort_list=$(".rank ul li");
		sort_list.each(function(){
			sort_list.attr("st","false");
		})
		$(sort_list).click(function() {
			$(this).addClass("rank_pitch").siblings().removeClass("rank_pitch");
			$(this).siblings().find("img").attr("src", "Public/Wap/img/xiangxia.png");
			$(this).siblings().attr("st","false");
			if($(this).attr("st")=="false"){
				$(this).attr("st","true");
				$(this).find("img").attr("src", "Public/Wap/img/xiangshang1.png");
				state=1;
				order($(this).attr('type'),state)
			}
			else if($(this).attr("st")=="true"){
				$(this).attr("st","false");
				$(this).find("img").attr("src", "Public/Wap/img/xiangxia1.png");
				state=2;
				order($(this).attr('type'),state)
			}
		})

		function order(type,status) {
			var li=$('.us').children();
			for (var i=0;i<li.length;i++){
				$.each(li,function (k,v) {

						if ((k+1)<li.length){
							var me=v;
							var next=li[k+1];
							var me_data=parseFloat($(me).find('[type='+type+']').attr('value'));
							var next_data=parseFloat($(next).find('[type='+type+']').attr('value'));
							if (status==1){
								if (me_data>next_data){
									li[k]=next;
									li[k+1]=me;
								}
							}
							if (status==2){
								if (me_data<next_data){
									li[k]=next;
									li[k+1]=me;
								}
							}

						}

				})
			}
			$('.us').children().remove();
			$('.us').append(li);
		}

	})
</script>
		<script type="text/javascript" src="__JS__/slide.js" ></script>