<!--<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/message.css" />
		<script type="text/javascript" src="js/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="js/base.js" ></script>
		<script type="text/javascript" src="js/message.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<a class="top-left" id="back">
				<img src="img/back.png"/>
				<span>返回</span>
			</a>
			<h2>比特币介绍</h2>
		</header>
		<section class="currency-introduce">
				<div class="currency-intro">
					<div class="currency-intro-plore">
						<img class="currency-intro-head" src="img/coin2.png"/>
						<div class="currency-intro-name">
							<p>比特币 (英文: Bitcooin 缩写 BTC)</p>
							<p>推出日期: 2009-01-09</p>
						</div>
					</div>
					<div>Bitcoin是点对点大基于SHA-256算法的网络数字货币到2140年之前总额达到2100万。</div>
					<div>详细参数</div>
				</div>
				<div class="currency-intro-info">
					<ul>
						<li>
							<span>中文名 : </span>
							<span>比特币 </span>
						</li>
						<li>
							<span>核心算法 : </span>
							<span>SHA-256</span>
						</li>
						<li>
							<span>英文简称 : </span>
							<span>BTC</span>
						</li>
						<li>
							<span>英文名 : </span>
							<span>Bitcom</span>
						</li>
						<li>
							<span>研发者 : </span>
							<span>Satashi Nakamoto</span>
						</li>
						<li>
							<span>区块时间 : </span>
							<span>600秒/块</span>
						</li>
						<li>
							<span>发布日期 : </span>
							<span>2009/01/09</span>
						</li>
						<li>
							<span>主要特色 : </span>
							<span>虚拟币始创者, 守众最广, 被信任最高 </span>
						</li>
						<li>
							<span>货币总量 : </span>
							<span>2100万 </span>
						</li>
						<li>
							<span>区块奖励 : </span>
							<span>25BTC</span>
						</li>
						<li>
							<span>不足之处 : </span>
							<span>确定时间长</span>
						</li>
					</ul>
				</div>
		</section>
		<include file="Public:footer" />
	</body>
</html>-->
