<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/deal.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/deal.js" ></script>
	</head>
	<body class="kbg">
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2 class="xnbname" value="{$id}" mark="{$mark}" brief="{$xnb.brief}">{$xnb.name}交易</h2>
			<a class="top-right character" href="{:U('Trade/buy')}">关闭</a>
		</header>
		
		<section class="market_Kline">
			<div class="list_2 auto" style="height: auto; overflow: hidden; display: block;">
					<div class="market_k">
						<div class="timing">
							<button class="fiveminter minterxian" onclick="fivemin(this)" value="300">5分钟</button>
							<button class="fiveminter minterxian" onclick="fivemin(this)" value="900">15分钟</button>
							<button class="fiveminter minterxian" onclick="thertyemin(this)" value="1800">30分钟</button>
							<button class="fiveminter minterxian" onclick="onehero(this)" value="3600">1小时</button>
							<button class="fiveminter minterxian" onclick="eighero(this)" value="28800">8小时</button>
							<button class="activebtn btn-success" onclick="rik()">日线</button>
						</div>
						<div id="kxiantu" width="200" height="300" style="width:100%;margin:auto;height: 300px;"></div>



						<div id="box1" width="500" height="450" style="width:100%;height: 200px;"></div>
					</div>

				</div>
		    </div>
		</section>
		<include file="Public:footer" />
	</body>
	<script type="text/javascript" src="__JS__/jquery.js"></script>
	<script type="text/javascript" src="__JS__/echarts.js"></script>
	<script type="text/javascript" src="__JS__/Chart.js"></script>
	<script type="text/javascript" src="__JS__/kxiantu.js"></script>
	<script type="text/javascript">
		$(function () {
			riks()
		})
		function riks(asds) {
			var dom = document.getElementById("box1");
			var myChart1 = echarts.init(dom);
			var sef= [];
			var ss=[];
			var seff=[];
			var ssa=[];
			var value=[];
			var day=[];
			var xnb=$('.xnbname').attr("value");
			var mark=$('.xnbname').attr("mark");
			$.ajax({
				url:"/Home`Trade`echarts",
				type:"POST",
				dataType:'json',
				data:{xnb:xnb,mark:mark},
				success:function (data) {
					ss.push(data);
					console.log(ss)
					for(var ssd in ss[0].buy_data){
						sef.push(ssd);
					}
					for(var sd in ss[0].sell_data){
						ssa.push(sd);
					}
					for(var jk=0;jk<sef.length;jk++){
						seff.push(ss[0].buy_data[jk].price)
					}
					var xAxisData = [];
					var value2=[];
					for(var j=0;j<seff.length;j++){
						xAxisData.push(seff[j]);
						value.push(ss[0].buy_data[j].num)
						value2.push(0);
					}

					for(var jh=0;jh<ssa.length;jh++){
						xAxisData.push(ss[0].sell_data[jh].price)
						value2.push(ss[0].sell_data[jh].num);
					}
					option1 = {
						legend: {
							data:[ {name: '累计买单',
									textStyle:{color:"#25c36c"}
								},
								{name:'累计卖单',
										textStyle:{color:"#25c36c"}}
								],
								bottom:10,
						},
						toolbox: {

						},
						tooltip: {},
						xAxis: {
							data: xAxisData,
							silent: false,
							axisLabel: {
								show: true,
								textStyle: {
									color: '#fff'
								}
							},
							splitLine: {
								show: false
							}
						},
						yAxis: {
							axisLabel: {
								show: true,
								textStyle: {
									color: '#fff'
								}
							},
						},
						series: [{
							name: '累计买单',
							type: 'bar',
							data: value,
						}, {
							name: '累计卖单',
							type: 'bar',
							data: value2,
						}],
						animationEasing: 'elasticOut',
					};

					myChart1.setOption(option1);

				}
			});



		}

	$(".timing button").click(function(){$(this).addClass("btn-success").siblings().removeClass("btn-success")})
	</script>
</html>
