<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/deal.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/deal.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>{$xnb_data.name}交易</h2>
			<a class="top-right" href="{:U('Trade/market_Kline',['marke'=>I('marke'),'xnb'=>I('xnb')])}"><img src="__IMG__/kxt.png"/></a>
		</header>
		<section class="market-con">
		<div class="market-title">
				<div class="market-name">
					<p class="market-name-head">
						<img src="{$xnb_data.imgurl}"/>
						<span>{$xnb_data.name}({$xnb_data.brief})</span>
					</p>
					<div class="market-ratio">
						<p>
							<span ><if condition="($xnb_data.standardmoney eq 1)">¥</if>{:floatval($xnb_data['new_price'])}</span>
							<span class="c1dce45"><php>$zd=($xnb_data['new_price']-$xnb_data['oldprice'])/$xnb_data['oldprice']/100; echo $zd !="" ? round($zd*100,2).'%' : '0.00%'; </php></span>
						</p>
					</div>
					<div class="market-price">
						<ul>
							<li>
								<p>最高价</p>
								<p><if condition="($xnb_data.standardmoney eq 1)">¥</if><eq name="xnb_data.min(price)" value="">0.00<else/>{$xnb_data['max(price)']}</eq></p>
							</li>
							<li>
								<p>最低价</p>
								<p><if condition="($xnb_data.standardmoney eq 1)">¥</if><eq name="xnb_data.min(price)" value="">0.00<else/>{$xnb_data['min(price)']}</eq></p>
							</li>
							<li>
								<p>成交量</p>
								<p><if condition="($xnb_data.standardmoney eq 1)">¥</if><eq name="xnb_data.min(price)" value="">0.00<else/>{:getUnit($xnb_data['smum_number'])}</eq></p>
							</li>
							<li>
								<p>成交额</p>
								<p><if condition="($xnb_data.standardmoney eq 1)">¥</if>{:getUnit($xnb_data['avg_price']*$xnb_data['smum_number'])}</p>
							</li>
						</ul>
					</div>
				</div>
			
				<div class="market-deal">
					<p>
						<img src="__IMG__/maimai.png"/>
						<span>买卖盘</span>
					</p>
					<ul>
						<li>买入量</li>
						<li>买入价<if condition="($xnb_data.standardmoney eq 1)">(¥)</if></li>
						<li>卖出价<if condition="($xnb_data.standardmoney eq 1)">(¥)</if></li>
						<li>卖出量</li>
					</ul>
				</div>
			</div>
			<input type="hidden" name="xnb" value="{:I('xnb')}">
			<input type="hidden" name="market" value="{:I('marke')}">
		<div class="market pan">
			<div>
				<ul class="buypan">
					<foreach name="entrust['buy_data']" item="vo">
						<li>
							<span>{:floatval($vo['num'])}</span>
							<span>{:floatval($vo['price'])}</span>
						</li>
					</foreach>
				</ul>
				<ul class="sellpan">
					<foreach name="entrust['sell_data']" item="vo">
						<li>
							<span>{:floatval($vo['price'])}</span>
							<span>{:floatval($vo['num'])}</span>
						</li>
					</foreach>
				</ul>
			</div>
		</div>
		<div class="market-deal marketre">
					<p>
						<img src="__IMG__/cjjl.png"/>
						<span>成交记录</span>
					</p>
					<ul class="mtitle">
							<li class="ma_tab">买/卖</li>
							<li>成交时间</li>
							<li>成交价<if condition="($xnb_data.standardmoney eq 1)">(¥)</if></li>
							<li>成交量</li>
					</ul>
		</div>
		<div class="market market2">
			<div>
				<ul>
					<foreach name="trade_water" item="vo">
						<li>
							<eq name="vo.type" value="1" >
								<span class="cbuy">买</span>
							<else/>
								<span class="csell">卖</span>
							</eq>
							<span class="matime">
								<p>{:date('Y-m-d',$vo['time'])}</p>
								<p>{:date('H:i:s',$vo['time'])}</p>
							</span>
							<span>{:floatval($vo['price'])}</span>
							<span>{:floatval($vo['number'])}</span>
						</li>
					</foreach>
				</ul>

			</div>
		</div>
		</section>
		<include file="Public:footer" />
	</body>
	<script type="text/javascript" src="__JS__/Trade/market.js"></script>
</html>
