<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/deal.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/deal.js" ></script>
		<script type="text/javascript" src="/Public/zz/z.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>{$xnb_data.name}交易</h2>
			<!--<a class="top-right" id="coin_catalog"><img src="__IMG__/caidan.png"/></a>-->
		</header>
		<div class="transaction">
			<div class="transaction-info">
				<a href="{:U('market',['xnb'=>I('xnb'),'marke'=>I('marke')])}">
					<div class="transaction-name">
						<span>
							<img src="{$xnb_data.imgurl}"/>
							{$xnb_data.name}({$xnb_data.brief})
						</span>
						<span><if condition="($pd eq 1)">¥</if><eq name="transac_new" value="">0.00<else/>{:floatval($transac_new)}</eq></span>
						<span><img src="__IMG__/right1.png"/></span>
					</div>
					<div class="transaction-price">
						<span>买一价: <eq name="Trade_data['buy_data'][0]['price']" value="">0.00<else/>{:floatval($Trade_water['buy_data'][0]['price'])}</eq></span>
						<span>卖一价:<eq name="Trade_data['sell_data'][0]['price']" value="">0.00<else/>{:floatval(end($Trade_water['sell_data'])['price'])}</eq></span>
					</div>
				</a>
			</div>
			<div class="transaction-tab">
				<span class="c046ec1 pitch tab_de" id="tab_income">买入</span>
				<span class="tab_de" id="tab_appear">卖出</span>
				<span class="tab_revoke">撤单</span>
			</div>
		</div>
		<section class="detail-content">
				<!--买入功能-->

				<div class="Switchtrading">

					<div class="buy tab_a">
						<form class="buy_b">
						<div class="business-balance">
							<div class="business-balance-left">
								<p>可用{$standardmoney['name']} :<span  class="c1dce45" name="property_us" status="buy"><eq name="property_us" value="">0.00<else/>{:floatval($standardmoney['money'])}</eq></span></p>
								<p>可买{$xnb_data.name} : <span class="ce34c48">{:floor(floatval($standardmoney['money'])/floatval(end($Trade_water['sell_data'])['price'])*1000)/1000}</span></p>
							</div>
							<eq name="standardmoney['name']" value="人民币">
								<a class="business-balance-right" href="{:U('Property/rmbrecharge')}">充值</a>
								<else/>	<a class="business-balance-right" href="{:U('Property/join_currency_detail',array('id'=>$xnb_data['id'],'name'=>$xnb_data['name'],'brief'=>$xnb_data['brief']))}">充值</a>
							</eq><span class="bmoney">
						</div>
						<div class="business-lab">
							<input name="business_tupe" value="1" type="hidden"/>
							<input name="xnb" value="{:I(xnb)}" type="hidden"/>
							<input name="markethouse" value="{:I(marke)}" type="hidden"/>
							<div class="business-labline">
								<label>买入价格:</label>
								<input  onfocus="login_l()"  onkeyup="clearNoNum(this)" onchange="checkMumber(this)" min="0" name="price" value="{:floatval(end($Trade_water['sell_data'])['price'])}" placeholder="请输入交易价格" status="buy" />
							</div>
							<div class="business-labline">
								<label>买入数量:</label>
								<input onfocus="login_l()" onkeyup="clearNoNum(this)" onchange="checkMumber(this)" name="number"  value="{:floor(floatval($standardmoney['money'])/floatval(end($Trade_water['sell_data'])['price'])*1000)/1000}" status="buy" placeholder="请输入交易数量" />
							</div>
							<div class="business-labline">
								<label>折合金额:</label>
								<span  class="allmoney" status="buy" >0.00</span>
							</div>
							<div class="business-labline">
								<label>交易密码:</label>
								<input onfocus="login_l()" type="password" name="dealpassword" placeholder="" />
							</div>
							<div class="business-sb">
								<input  type="submit" class="send"  value="买入" />
							</div>
						</div>
						</form>
					</div>

					<div class="sell tab_a">
						<form class="sell_s">
							<div class="business">

								<div class="business-balance">
									<div class="business-balance-left">
										<p>可卖{$xnb_data.name} :<span  class="c1dce45" status="sell" name="property_xnb"><eq name="property_us" value="">0.00<else/>{:floatval($property_us)}</eq></span></p>
										<p>冻结{$xnb_data.name} :<span class="ce34c48"><eq name="property_d" value="">0.00<else/>{:floatval($property_d)}</eq></span></p>
									</div>
									<a class="business-balance-right" href="{:U('Property/join_currency_detail',array('id'=>$xnb_data['id'],'name'=>$xnb_data['name'],'brief'=>$xnb_data['brief']))}">转入</a>
								</div>
								<div class="business-lab">
									<input name="business_tupe" value="2" type="hidden"/>
									<input name="xnb" value="{:I(xnb)}" type="hidden"/>
									<input name="markethouse" value="{:I(marke)}" type="hidden"/>
									<div class="business-labline">
										<label>卖出价格:</label>
										<input onfocus="login_l()" onkeyup="clearNoNum(this)" onchange="checkMumber(this)" name="price" value="{:floatval($Trade_water['buy_data'][0]['price'])>0?floatval($Trade_water['buy_data'][0]['price']):'0.00'}" status="sell" placeholder="请输入交易价格" />
									</div>
									<div class="business-labline">
										<label>卖出数量:</label>
										<input onfocus="login_l()" onkeyup="clearNoNum(this)" onchange="checkMumber(this)" name="number" status="sell"  value="{:floatval($property_us)>0?floatval($property_us):'0.00'}" placeholder="请输入交易数量" />
									</div>
									<div class="business-labline">
										<label>折合金额:</label>
										<span status="sell" name="sell_allmoney">0.00</span>
									</div>
									<div class="business-labline">
										<label>交易密码:</label>
										<input onfocus="login_l()" name="dealpassword" type="password"  />
									</div>
									<div class="business-sb">
										<input class="ba1cd846 send" type="submit"   value="卖出" />
									</div>
								</div>

							</div>
						</form>
					</div>

					<!--撤单记录-->
					<div class="business business_revoke tab_a">

						<empty name="entrust_water" >
							<p class="without">{$entrust_water}亲,空空如也哦~</p>
						<else/>
							<ul>
								<foreach name="entrust_water" item="vo">
										<li>
											<div class="add-title">
												<span>{:floatval($vo['currency_entrust_price'])}</span>
											<span>
												<img src="/Public/Wap/img/del.png" orderfor="{$vo['oderfor']}" class="delete" />
											</span>
											</div>
											<div class="add-amount">
												<p><span>委托量:</span><span>{:floatval($vo['currency_entrust_number'])}</span></p>
												<p><span>未成交:</span><span>{:floatval($vo['currency_entrust_number'])-floatval($vo['currency_transactionrecords_number'])}</span></p>
											</div>

											<eq name="vo['type']" value="1">
												<p class="addstatus cbuy" >买</p>
											<else/>
												<p class="addstatus csell">卖</p>
											</eq>
										</li>
								</foreach>
							</ul>

						</empty>

					</div>
				</div>

			</div>
			<div class="take_notes">
				<div class="business_be">
					<div class="business-statistics">
						<div class="business-title">
							<span>买/卖</span>
							<span>价格<if condition="($pd eq 1)">(￥)</if></span>
							<span>数量</span>
						</div>
					</div>
					<div class="business-statistics">
					<div class="business-num">
						<ul>

							<php>$a=count($Trade_water['sell_data']);</php>
							<foreach name="Trade_water['sell_data']"  item="vo">
								<li>
									<span>卖<php> echo $a--;</php></span>
									<span>{:floatval($vo['price'])}</span>
									<span>{:floatval($vo['num'])}</span>
								</li>
							</foreach>
						</ul>
						<!--------------------------------------->
						<ul>
							<foreach name="Trade_water['buy_data']"  item="vo">
								<li>
									<span>买<php> echo $key += 1;</php></span>
									<span>{:floatval($vo['price'])}</span>
									<span>{:floatval($vo['num'])}</span>
								</li>
							</foreach>
						</ul>
					</div>
				</div>
				</div>

			</div>
		</section>
		<aside class="coin-list">
			<ul>
				<li>
					<a>
						<img class="coin-list-head" src="__IMG__/coin2.png"/>
						<span>以太经典(ETC)</span>
						<img class="coin-list-right" src="__IMG__/right1.png"/>
					</a>
				</li>
			</ul>
		</aside>
		<div class="coin-cover"></div>
		<!--登录弹框-->
		<div class="login-box" >
			<p style="float: left">请登录</p>
			<p style="float: right" class="closelogin">关闭</p>
			<form action="{:U('Public/logins')}" class="form-horizontal ajaxlogin_form" method="post" onsubmit="return false">
				<div class="loginl">
					<input class="login_in"  name="name" type="text" placeholder="请输入您的手机和或邮箱" />
					<input class="login_in" name="pass" type="password" placeholder="请输入密码" />
					<input class="login_login" type="submit"  value="登录" />
				</div>
				<div class="register-forget">
					<a href="{:U('Register/Register')}">立即注册</a><a href="{:U('Public/retrievePassword')}">忘记密码</a>
				</div>
			</form>
		</div>
		<include file="Public:footer" />
	</body>
</html>
<script>
	var logins=0;
	function login_l() {
		$.ajax({
			url:'{:U("Wap/ifsess")}',
			type:"get",
			success:function (data) {
				if (data==true){
					logins=1;
					return logins;
				}
				$('.login-box').css({"display":"block"});
//				var li="";
//				li+='<a >'+
//						"点击去登陆"+
//					'</a>';
//				ShowHintBox(li,false);
			}
		})
	}
	$(function () {
		$('.closelogin').click(function () {
			$('.login-box').css({"display":"none"});
		})
		function set_buy() {
			var price=	$('[name=price][status=buy]').val();
			var number=	$('[name=number][status=buy]').val();
			$('.allmoney[status=buy]').text(getallmoney(price,number))
		}
		set_buy()

		function set_sell() {
			//金额的计算
			var price=	$('[name=price][status=sell]').val();
			var number=	$('[name=number][status=sell]').val();
			$('[name=sell_allmoney]').text(getallmoney(price,number))
		}
		set_sell()

		$('input[status=buy]').each(function () {
			//金额的计算
			$(this).blur(function () {
				set_buy();
			})
		})

		$('input[status=sell]').each(function () {
			//金额的计算
			$(this).blur(function () {
				set_sell();
			})
		})

		//折合金额
		function getallmoney(price,number){
			var number=parseFloat((parseFloat(price)* parseFloat(number)).toFixed(6));
			return number>0 ? number : '0.00';
		}
		//买卖功能
		$('.send').click(function () {
			var form=$(this).parents().parent('form');
			var price=form.find('[name=price]').val();
			var number=form.find('[name=number]').val();
			var dealpassword=form.find('[name=dealpassword]').val();
			if(logins==0){
				$('.login-box').css({"display":"block"});
				return false;
			}
			if ( price!= price.match(/^[1-9]\d*$|^[1-9]\d*\.\d*[1-9]{1,6}$|0\.\d*[1-9]{1,6}$/)){
				ShowHintBox('请输入正确的交易价');
				return false
			}

			if ( number!= number.match(/^[1-9]\d*$|^[1-9]\d*\.\d*[1-9]{1,6}$|0\.\d*[1-9]{1,6}$/)){
				ShowHintBox('请输入正确的交易价');
				return false
			}

			//判断单价和数量是否合法
			if (price<=0 || isNaN(price)){
				ShowHintBox('请输入正确的交易价');
				return false
			}
			if (number<=0 || isNaN(number)){
				ShowHintBox('请输入正确的交易量');
				return false
			}

			if (dealpassword == ""){
				ShowHintBox('交易密码不正确！');
				return false
			}

			if ($(this).val()=='买入'){
				var user_umoney=parseFloat($('[name=property_us]').text());
				if ( parseFloat($('.allmoney[status=buy]').text()) > user_umoney){
					ShowHintBox('余额不足！请分批购买!');
					return false
				}
			}

			if ($(this).val()=='卖出'){
				var user_umoney=parseFloat($('[name=property_xnb]').text());
				if ( parseFloat($('.allmoney[status=sell]').text()) > user_umoney){
					ShowHintBox('余额不足！请分批购买!');
					return false
				}
			}


			$.ajax({
				url:"",
				type:"post",
				data:form.serialize(),
				success:function (data) {
					if (data.status!=true){
						ShowHintBox(data.info);
						return false;
					}
					ShowHintBox(data.info,true);
				}
			})

			return false; //阻止submit事件
		})

		//撤单功能
		$('.delete').each(function () {
				$(this).click(function () {
					//验证订单号
					var orderfor=$(this).attr('orderfor');
					if (isNaN(orderfor)){
						ShowHintBox('非法操作');
						return false;
					}
					$.ajax({
						url:"{:U('delete_orders')}",
						type:"post",
						data:{orderfor:orderfor},
						success:function (data) {
							if (data.status!=true){
								ShowHintBox(data.info);
								return false;
							}
							ShowHintBox(data.info,true);
						}
					})

				})
		})
		//登陆
		$('.ajaxlogin_form').find('input[type=submit]').click(function () {

			var form=$(this).parents().parent('.ajaxlogin_form');
			if (form.get(0)==undefined){
				form=$(this).parent();
			}
			$.ajax({
				url:form.attr('action'),
				type:form.attr('method'),
				data:form.serialize(),
				dataType:'json',
				success:function (data) {
					if (data.status!=true){   //请求失败
						ShowHintBox(data.info,false);
						return false
					}
					setTimeout(function () {
						window.location.reload();
					}, 1500);
				}
			});

	})


})
</script>
