<!DOCTYPE html>
<html>
	<head>
		<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta name="description" content="华联全球商贸平台">
		<meta name="keywords" content="华联全球商贸">
		<meta name="author" content="lihuijie">
		<title>财务中心-专业的虚拟数字货币交易平台</title>
		<link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
		<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css"/>
		<link rel="stylesheet" href="__CSS__/default.css" />
		<link rel="stylesheet" href="__CSS__/bae.css">
		<link rel="stylesheet" href="__CSS__/center_left.css">
		<link rel="stylesheet" href="__CSS__/center_header.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/finance.css"/>
		<script type="text/javascript" src="__JS__/jquery.js" ></script>
		<script src="__JS__/base.js"></script>
		<script src="__JS__/center_left.js"></script>
		<script type="text/javascript" src="__JS__/finance.js" ></script>
	</head>

	<body>
	<include file="Public:header"/>

	<main>

		<div class="container">
			<ol class="breadcrumb">
				<li><a href="{:U('Index/index')}">首页</a></li>
				<li><a href="{:u('Property/finance')}">财务中心</a></li>
				<li class="active">
					<span>订单列表</span>
				</li>
			</ol>
		</div>

		<div class="container center_content">
			<include file="Public:finance_left"/>

			<div class="pull-right finance-content">
				<div class="big_title finance-center">
					<h4>订单列表</h4>
					<div class="clearfix"></div>
				</div>
				<div class="finance-mold">
					<ul>
						<li style="width: 22%">产品</li>
						<li>订单号</li>
						<li>所属商城</li>
						<li>购买数量</li>
						<li>总计</li>
						<li>时间</li>
						<li>状态</li>
						<li>操作</li>
					</ul>
				</div>
				<div class="finance-record">

					<ul id="record_grey" style="display: none">
						<foreach name="list" item="vo" >
							<li>
								<dl>
										<dd class="record-species" style="width: 23%">
											<div class="record-img">
												<img src="{$vo.img}"/>
											</div>
											<div class="record-price">
												<p><span>{$vo.name} </span></p>
												<p><eq name="vo.price" value="">0.00<else/>{:floatval($vo['price'])}</eq></p>
											</div>
										</dd>


									<dt>{$vo.order}</eq></dt>
									<dt><eq name="vo.type" value="1">红包商城</eq><eq name="vo.type" value="2">报单商城</eq><eq name="vo.type" value="3">重消商城</eq></dt>

									<dt>{$vo.number}</dt>

									<dt>{$vo.total_money}</dt>

									<dt>{:date("Y-m-d", $vo['time'])}</eq></dt>

									<dt><eq name="vo.status" value="1">已付款</eq><eq name="vo.status" value="2">已发货</eq><eq name="vo.status" value="3">已完成</eq></dt>

									<dd class="to-deal">
										<eq name="vo.status" value="3">
											<input type="button" value="已完成" xnb="{$vo.xnb_id}" style="width: 80px;" />
										<else/>
											<input class="confirm" type="button" value="确认收货" data="{$vo.id}" data2="{$vo.type}"  style="width: 80px;" />
										</eq>
									</dd>

								</dl>
							</li>
						</foreach>

					</ul>

				</div>
			</div>
		</div>
	</main>

	<include file="Public:footer"/>

	<script>
		$(function () {
			//排序
			var li=$('#record_grey').children();
			$('#record_grey').children().remove();
			for(var i=0;i<li.length;i++){
				$.each(li,function (k,v) {
					if (k+1<li.length) {
							var my = v;
							var next_m = li[k+1];
							var money = $(v).find('.allmoney').text();
							var next = $(li[k+1]).find('.allmoney').text();
							if (money < next) {
								li[k]= next_m;
								li[k+1]=v;
							}
					}
				})
			}
			$('#record_grey').append(li);
			$('#record_grey').css('display','block');
		})

		// $('body').on('click','input[xnb]',function(){
		// 	$.ajax({
		// 		url:"{:U('getaddr')}",
		// 		type:"post",
		// 		datatype:"json",
		// 		data:{xnb:$(this).attr('xnb')},
		// 		success:function (data) {
		// 			var xnb=data.xnb;
		// 			var marke=data.marke;

		// 			location.href='/Home`Trade`trade`id`'+xnb+'`markethouse`'+marke+'.html'
		// 		}

		// 	})
		// 	return false;
		// })

		$("body").on('click', '.confirm',function() {
			var order_id = $(this).attr("data");
			var type = $(this).attr("data2");

			$.ajax({
				url:"{:U('Buy/receiving')}",
				data:{order_id:order_id,type:type},
				type:"POST",
				success:function(data) {
					if (data.status != true) {
						set_poput_code(data.info,false);
					} else {
						set_poput_code(data.info,true);
					}
				}
			})
		});	
	</script>

	</body>
</html>
