<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/Entrust/index.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/mypubliccss/button.css" media="all">
</block>

<block name="body">

    <!-- 标题栏 -->
    <div class="main-title">
        <h2>客户提现地址列表  </h2>
    </div>
    <div class="cf">
        <div class="fl">
            <a class="btn" href="{:U('Userbank/add')}">新 增</a>
            <button class="btn ajax-post" url="{:U('Userbank/changeStatus',array('method'=>'resumeUser'))}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('Userbank/changeStatus',array('method'=>'forbidUser'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('Userbank/changeStatus',array('method'=>'deleteuser'))}" target-form="ids">删 除</button>
        </div>
        <!-- 高级搜索 -->
        <form action="" method="post">
            <div class="difference">
                <input name="name" class="username" value="{:I('name')}" placeholder="用户名"/> &nbsp; &nbsp;
                <button class="send" type="submit">确定</button>
            </div>
        </form>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="" style="text-align:center;">用户ID</th>
                <th class="" style="text-align:center;">用户名</th>
                <th class="" style="text-align:center;">备注名字</th>
                <th class="" style="text-align:center;">银行</th>
                <th class="" style="text-align:center;">开户省份</th>
                <th class="" style="text-align:center;">开户城市</th>
                <th class="" style="text-align:center;">开户人姓名</th>
                <th class="" style="text-align:center;">交易账号</th>
                <th class="" style="text-align:center;">添加时间</th>
                <th class="" style="text-align:center;">状态</th>
                <th class="" style="text-align:center;">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <foreach name="_list" item="vo">
                    <if condition="($vo.type eq 1) "> <tr style="color: red;">
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
                        <td class="titlecenter">{$vo.userid} </td>
                        <td class="titlecenter">{$vo.username}</td>
                        <td class="titlecenter">{$vo.name}</td>
                        <td class="titlecenter">{$vo.bankaddr}</td>
                        <td class="titlecenter">{$vo.bankprov}</td>
                        <td class="titlecenter">{$vo.bancity}</td>
                        <td class="titlecenter">{$vo.bankname}</td>
                        <td class="titlecenter">{$vo.bankcard}</td>
                        <td class="titlecenter">{$vo.addtime|time_format}</td>
                        <td class="titlecenter">
                            <if condition="($vo.status eq 0) "> <span style="color: red;">禁用</span>
                                <elseif condition="$vo.status eq 1"/><span style="color: green;">正常</span>
                            </if>
                        </td>
                        <td class="titlecenter">
                            <eq name="vo.status" value="1">
                                <a href="{:U('Userbank/changeStatus?method=forbidUser&id='.$vo['id'])}" class="ajax-get">禁用</a>
                                <else/>
                                <a href="{:U('Userbank/changeStatus?method=resumeUser&id='.$vo['id'])}" class="ajax-get">启用</a>
                            </eq>
                            <a href="{:U('Userbank/deletebao?id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                        </td>
                    </tr>
                        <elseif condition="$vo.type eq 2"/><tr style="color: green;">
                            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
                            <td class="titlecenter">{$vo.userid} </td>
                            <td class="titlecenter">{$vo.username}</td>
                            <td class="titlecenter">{$vo.name}</td>
                            <td class="titlecenter">支付宝</td>
                            <td class="titlecenter">----</td>
                            <td class="titlecenter">----</td>
                            <td class="titlecenter">----</td>
                            <td class="titlecenter">{$vo.bankcard}</td>
                            <td class="titlecenter">{$vo.addtime|time_format}</td>
                            <td class="titlecenter">
                                <if condition="($vo.status eq 0) "> <span style="color: red;">禁用</span>
                                    <elseif condition="$vo.status eq 1"/><span style="color: green;">正常</span>
                                </if>
                            </td>
                            <td class="titlecenter">
                                <eq name="vo.status" value="1">
                                    <a href="{:U('Userbank/changeStatus?method=forbidUser&id='.$vo['id'])}" class="ajax-get">禁用</a>
                                    <else/>
                                    <a href="{:U('Userbank/changeStatus?method=resumeUser&id='.$vo['id'])}" class="ajax-get">启用</a>
                                </eq>
                                <a href="{:U('Userbank/deletebao?id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                            </td>
                        </tr>
                        <elseif condition="$vo.type eq 3"/><tr style="color: deepskyblue;">
                            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
                            <td class="titlecenter">{$vo.userid} </td>
                            <td class="titlecenter">{$vo.username}</td>
                            <td class="titlecenter">{$vo.name}</td>
                            <td class="titlecenter">微信</td>
                            <td class="titlecenter">----</td>
                            <td class="titlecenter">----</td>
                            <td class="titlecenter">----</td>
                            <td class="titlecenter">{$vo.bankcard}</td>
                            <td class="titlecenter">{$vo.addtime|time_format}</td>
                            <td class="titlecenter">
                                <if condition="($vo.status eq 0) "> <span style="color: red;">禁用</span>
                                    <elseif condition="$vo.status eq 1"/><span style="color: green;">正常</span>
                                </if>
                            </td>
                            <td class="titlecenter">
                                <eq name="vo.status" value="1">
                                    <a href="{:U('Userbank/changeStatus?method=forbidUser&id='.$vo['id'])}" class="ajax-get">禁用</a>
                                    <else/>
                                    <a href="{:U('Userbank/changeStatus?method=resumeUser&id='.$vo['id'])}" class="ajax-get">启用</a>
                                </eq>
                                <a href="{:U('Userbank/deletebao?id='.$vo['id'])}" class=" ajax-get">删除</a>
                            </td>
                        </tr>
                    </if>

                </foreach>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        highlight_subnav("{:U('Userbank/Index')}");
    </script>
</block>
