<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="./Public/Admin/Finance/index.css" media="all">
    <link rel="stylesheet" type="text/css" href="./Public/Admin/mypubliccss/button.css" media="all">
</block>

<block name="body">
    <div class="main-title">
        <h2>人民币提现配置  </h2>
    </div>
    <form class="ajax_form" method="post" action="">
        <div>
            <table class="tables" >
                <tr>
                    <td><span class="span">最小提现金额:</span></td>
                    <td><input type="number" name="minmoney" value="{:floatval($data['minmoney'])}"  onblur="chek(this)" id="min"></td>
                </tr>
                <tr>
                    <td><span class="span">最大提现金额:</span></td>
                    <td><input type="number" name="maxmoney" value="{:floatval($data['maxmoney'])}"  onblur="chek(this)" id="max"></td>
                </tr>
                <tr>
                    <td><span class="span">提现整倍数:</span></td>
                    <td><input type="number" name="times" value="{$data['times']}"  onblur="chek(this)"></td>
                </tr>
                <tr>
                    <td><span class="span">普通提现手续费:</span></td>
                    <td><input type="number" name="slowpoundage" value="{:floatval($data['slowpoundage'])}"  onblur="chek(this)"><span style="margin-left: 5px;">%</span></td>
                </tr>
                <tr>
                    <td><span class="span">快速提现手续费:</span></td>
                    <td><input type="number" name="fastpoundage" value="{:floatval($data['fastpoundage'])}" onblur="chek(this)"><span style="margin-left: 5px;">%</span></td>
                </tr>
                <!--<tr>-->
                    <!--<td><span class="span">提现周期:</span></td>-->
                    <!--<td><input type="number" name="poundata" value="{$data['poundata']}">小时</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><span class="span">周期提现次数:</span></td>-->
                    <!--<td><input type="number" name="poundatatype" value="{$data['poundatatype']}"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><span class="span">每天最大提现次数:</span></td>-->
                    <!--<td><input type="number" name="maxoder" value="{$data['maxoder']}"></td>-->
                <!--</tr>-->
            </table>
        </div>
        <div class="btn-form">
            <button class="btns btns-red" type="submit">确 定</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btns btns-green" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>

</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('cnyconfigure')}');
    </script>
    <script>
        function chek(i) {
            if( $(i).val().match(/^[1-9]\d*$|^[1-9]\d*\.\d{1,}|0\.\d*[1-9]{1,}$/) != $(i).val()) {
                $(i).val("0.00");
                set_poput_code("非法数据！1",false);
            }
        }
        $("#max").on("blur", function () {
            var min = $('#min').val();
            var max = $("#max").val();

            min = parseInt(min);
            max = parseInt(max);

            if(min >= max) {
                set_poput_code("最小提现金额不可以大于或等于最大提现金额", false);
            }
        })
    </script>
</block>
