<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/Entrust/index.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/mypubliccss/button.css" media="all">
</block>

<block name="body">
    <div class="main-title">
        <h2>人民币提现申请</h2>
        <form action="" method="post">
            <div class="difference">
                <input name="name" class="username" value="{:I('name')}" placeholder="订单号/用户名/提现人姓名"/> &nbsp; &nbsp;
                <button class="send" type="submit">确定</button>
            </div>
        </form>
    </div>

    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="">订单号</th>
                <th class="">用户ID</th>
                <th class="">用户名</th>
                <th class="">提现金额</th>
                <th class="">提现手续费</th>
                <th class="">到账金额</th>
                <th class="">提现方式</th>
                <th class="">提现账号</th>
                <th class="">提现人姓名</th>
                <th class="">提现时间</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="data">

                <foreach name="data" item="vo">
                    <tr>
                        <td class="">{$vo.orderfor}</td>
                        <td class="">{$vo.userid}</td>

                        <td class="">{$vo.username}</td>
                        <td class="">{$vo.allmoney}</td>
                        <td class="">{$vo.poundage} </td>
                        <td class="">{$vo.money}</td>
                        <td class="">银行卡【{$vo.bank_name}】
                            <!--<eq name="vo['currency_carryapply_bank']" value="1">银行卡</eq>-->
                            <!--<eq name="vo['currency_carryapply_bank']" value="2">支付宝</eq>-->
                            <!--<eq name="vo['currency_carryapply_bank']" value="3">微信</eq>-->
                        </th>
                        <td class="">{$vo.currency_bank_bankcard}</td>
                        <td class="">{$vo.currency_users_username}</td>
                        <td class="">{:date('Y-m-d h:i:s',$vo['addtime'])}</td>
                        <td class="">
                            <form class="ajax_form" method="post" style="display: inline-block;">
                                <input type="hidden" name="id" value="{$vo.currency_carryapply_id}">
                                <button class="btns btns-green" type="submit">确认</button>
                            </form>
                            <form class="ajax_form" action="{:U('cnyintoutfase')}" method="post" style="display: inline-block;">
                                 <input type="hidden" name="id" value="{$vo.currency_carryapply_id}">
                                 <button class="btns btns-green" type="submit">拒绝</button>
                            </form>
                        </td>
                    </tr>
                </foreach>

                <else/>
                <td colspan="13" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$page}
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('cnyintout')}');
    </script>
</block>
