<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="./Public/Admin/Finance/receivables.css" media="all">
    <link rel="stylesheet" type="text/css" href="./Public/Admin/mypubliccss/button.css" media="all">
    <link rel="stylesheet" type="text/css" href="./Public/Admin/css/jquery.editable-select.min.css" media="all">
</block>

<block name="body">
    <div class="main-title">
        <h2>人民币收款地址</h2>
    </div>
    <form class="ajax_form" method="post">
        <div>
            <table class="tables" >
                <volist name="bankcard" id="bankcard">
                    <tr>
                        <td><span class="span">银行卡：</span></td>
                        <td>
                            <select name="" class="bank" style="padding-left: 5px;">
                                <volist name="bank" id="bank_data">
                                    <option value="{$bank_data.id}" disabled <eq name="bankcard.bank" value="$bank_data.id"> selected </eq>>{$bank_data.bankname}</option>
                                </volist>
                            </select>
                        </td>
                        <td><input type="text" value="{$bankcard.bankcard}" class="address" readonly></td>
                        <td><input type="text" value="{$bankcard.payee}" class="address" readonly></td>
                        <td><eq name="bankcard.sort" value="1"><span style="color: darkorange">默认地址</span><else /><a href="#" class="set_default" data="{$bankcard.id}">设置默认</a></eq></td><td>|</td>
                        <td><a href="#" class="delete" data="{$bankcard.id}">删除</a></td><td>|</td>
                        <td><a href="#" class="edit" data="{$bankcard.id}">编辑</a></td>
                    </tr>
                </volist>
                <tr>
                    <td><input type="hidden" value="" id="id"><span class="span" style="color: darkorange" id="goon">继续添加：</span></td>
                    <td>
                        <select name="banktype" id="banktype" style="padding-left:5px;width: 70%; background-color: white" placeholder="请选择银行卡" class="banktype">
                            <volist name="bank" id="bank">
                                <option value="{$bank.id}" class="option">{$bank.bankname}</option>
                            </volist>
                        </select>
                    </td>
                    <td><input type="text" name="bankcard" value="" id="bankcard" placeholder="收款账号"></td>
                    <td><input type="text" name="bankcard" value="" id="payee" placeholder="收款方"></td>
                </tr>
            </table>
        </div>
        <div class="btn-form">
            <button class="btns btns-red" type="button" id="submit">确 定</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btns btns-green" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>

</block>
<block name="script">
    <script type="text/javascript" src="__JS__/jquery.editable-select.min.js"></script>
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('cnyreceivables')}');
    </script>
    <script>
        $("#banktype").editableSelect({
            effects:'slide'
        })
    </script>
    <script>
        var bankid = 0;
        //添加银行卡
        $("#submit").click(function () {
            var banktype = $("#banktype").val();
            var bankcard = $("#bankcard").val();
            var payee = $("#payee").val();
            var id  = $("#id").val();
            $(".option").each(function () {
                var txt = $(this).text();
                var val = $(this).val();
                if (txt == banktype) {
                    bankid = val;
                }
            });

            var reg = /^\d{19}$/g;

            if (bankid != 0 && bankcard != "" && payee != "") {
                if (!reg.test(bankcard)) {
                    set_poput_code("输入正确的银行账号");
                } else {
                    $.ajax({
                        url:"{:U('Finance/cnyreceivables')}",
                        type:"POST",
                        data:{
                            "bankid":bankid,
                            "id":id,
                            "bankcard":bankcard,
                            "payee":payee
                        },
                        success:function (data) {
                            if (data.status != true) {
                                set_poput_code(data.info, false);
                                return false;
                            } else {
                                set_poput_code(data.info, true);
                            }
                        }
                    });
                }

            }
            if (bankid == 0) {
                set_poput_code("请选择银行卡", false);
                return false;
            }
            if (bankcard == '') {
                set_poput_code("银行卡号不能为空", false);
                return false;
            }
            if (payee == '') {
                set_poput_code("收款方不能为空", false);
                return false;
            }
        });
        $(".delete").click(function () {
            var id = $(this).attr("data");
            $.ajax({
                url:"{:U('Finance/deletereceivables')}",
                data:{
                    "id":id
                },
                type:"POST",
                success:function (data) {
                    if (data.status != true) {
                        set_poput_code(data.info, false);
                    } else {
                        set_poput_code(data.info, true);
                    }
                }
            })
        });
        $(".set_default").click(function () {
            var id = $(this).attr("data");
            $.ajax({
                url:"{:U('Finance/setdefault')}",
                data:{
                    "id":id
                },
                type:"POST",
                success:function (data) {
                    if (data.status != true) {
                        set_poput_code(data.info, false);
                    } else {
                        set_poput_code(data.info, true);
                    }
                }
            })
        })
        $(".edit").click(function () {
            var id = $(this).attr("data");
            $.ajax({
               url:"{:U('Finance/editreceivables')}",
                type:"POST",
                data:{
                    "id":id
                },
                success:function(data) {
                    var json = eval("(" + data + ")");
                    var id = json.id;
                    var bank = json.bank;
                    var bankcard = json.bankcard;
                    var payee = json.payee;

                    $("#goon").text("修改地址");
                    $(".option").each(function () {
                        var txt = $(this).text();
                        var val = $(this).val();
                        if (val == bank) {
                            $("#banktype").val(txt);
                        }
                    });
                    $("#bankcard").val(bankcard);
                    $("#id").val(id);
                    $("#payee").val(payee);
                }
            });
        })
    </script>
</block>
