<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/Entrust/index.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/mypubliccss/button.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/jquery.editable-select.min.css" media="all">
</block>

<block name="body">
    <div class="main-title">
        <h2>虚拟币转出复审</h2>
        <form action="" method="post">
            <div class="difference">
                <input type="hidden" name="xnbid" value="{:I('xnbid')}" id="xnbid">
                <select name="search_xnb" class="market" id="xnb_select"  placeholder="币种" style="background-color: white;border: 1px solid #BBBBBB;width: 120px;height:32px">
                    <volist name="xnb_list" id="xnb_list">
                        <option value="{$xnb_list.id}" class="option">{$xnb_list.name}({$xnb_list.brief})</option>
                    </volist>
                </select>&nbsp; &nbsp;
                <input name="name" class="username" value="{:I('name')}" placeholder="订单号/用户名/虚拟币名称"/> &nbsp; &nbsp;
                <button class="send" type="submit" id="submit">确定</button>
            </div>
        </form>
    </div>

    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="">订单号</th>
                <!--<th class="">用户ID</th>-->
                <th class="">用户名</th>
                <th class="">币种</th>
                <th class="">转出数量</th>
                <th class="">手续费</th>
                <th class="">实际到账</th>
                <th class="">转出地址</th>
                <th class="">申请时间</th>
                <th class="">状态</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="data">

                <foreach name="data" item="vo">
                    <tr>
                        <td class="">{$vo.orderfor}</td>
                        <td class="">{$vo.username}</td>
                        <td class="">{$vo.currency_xnb_name}</th>
                        <td class="">{$vo.allnumber}</td>
                        <td class="">{$vo.poundage}</td>
                        <td class="">{$vo.number}</td>
                        <td class="">{$vo.addr}</td>
                        <td class="">{:date('Y-m-d H:i:s',$vo['currency_xnbrollout_addtime'])}</td>
                        <th class="">已初审</th>
                        <td class="">
                            <form class="ajax_form" method="post" style="display: inline-block">
                                <input type="hidden" name="id" value="{$vo.currency_xnbrollout_id}">
                                <button class="btns btns-green" type="submit">确认</button>
                            </form>

                            <form class="ajax_form" method="post" style="display: inline-block" action="{:U('xnboutrefuse')}">
                                <input type="hidden" name="id" value="{$vo.currency_xnbrollout_id}" >
                                <button class="btns btns-green" type="submit">拒绝</button>
                            </form>
                        </td>
                    </tr>
                </foreach>

                <else/>
                <td colspan="13" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$page}
    </div>
</block>

<block name="script">
    <script type="text/javascript" src="__JS__/jquery.editable-select.min.js"></script>
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('xnboutVerify')}');
    </script>
    <script>
        $(function () {
            //是否有查询的币种
            var xnbid = $("#xnbid").val();
            $(".option").each(function () {
                var txt = $(this).text();
                var val = $(this).val();
                if (val == xnbid) {
                    $("#xnb_select").val(txt);
                }
            });
        });
        $("#xnb_select").editableSelect({
            effects:'slide'
        });
        $("#submit").click(function () {
            var xnbname = $("#xnb_select").val();
            var xnbid = 0;
            $(".option").each(function () {
                var txt = $(this).text();
                var val = $(this).val();
                if (txt == xnbname) {
                    xnbid = val;
                }
            });
            $("#xnbid").val(xnbid);
        })
    </script>
</block>
