<!DOCTYPE html>
<html lang="en">
<head>
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="农畜商品交易平台">
    <meta name="keywords" content="数字货币交易平台,数字货币,虚拟币,虚拟币新闻资讯">
    <meta name="author" content="lihuijie">
    <title>{$xnb_data.name}行情-农畜商品交易平台</title>
    <link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/bae.css">
    <link rel="stylesheet" href="__CSS__/trade_center.css">

    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.min.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<include file="Public:header"/>
<include file="tradeheader"/>
    <div id="market_kline" class="foreach container">
            <div class="trade_Kline" >
                <!--放K线图-->
                <canvas id="kxiantu" width="1000" height="450"></canvas>
            </div>
    </div>
    <!--newest trade record-->
    <div id="market_record" class="foreach container" value="{$market}">

        <div class="pull-right">
            <h3>最新成交</h3>
            <table class="table">
                <thead>
                <tr>
                    <td>成交时间</td>
                    <td>成交价</td>
                    <td>成交量</td>
                </tr>
                </thead>
                    <tbody>
                        <foreach name="water_data" item="vo">
                            <tr>
                                <td>{:date('Y-m-d H:i:s',$vo['time'])}</td>
                                <td>{:floatval($vo['price'])}</td>
                                <td>{:floatval($vo['number'])}</td>
                            </tr>
                        </foreach>
                    </tbody>
                </table>
        </div>

        <div class="pull-left">
            <h3>买卖盘</h3>

            <table class="table buy_table">
                <thead>
                <tr>
                    <td>折合(&yen;)</td>
                    <td>买入量</td>
                    <td>买入价(&yen;)</td>
                </tr>
                </thead>
                <tbody>
                    <foreach name="entrust_data['buy_data']" item="vo">
                        <tr>
                            <td>{:floatval($vo['num']*$vo['price'])}</td>
                            <td>{:floatval($vo['num'])}</td>
                            <td>{:floatval($vo['price'])}</td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
            <table class="table sell_table">
                <thead>
                    <tr>
                        <td>卖出价(&yen;)</td>
                        <td>卖出量</td>
                        <td>折合(&yen;)</td>
                    </tr>
                </thead>

                <tbody>
                    <foreach name="entrust_data['sell_data']" item="vo">
                        <tr>
                            <td>{:floatval($vo['price'])}</td>
                            <td>{:floatval($vo['num'])}</td>
                            <td>{:floatval($vo['num']*$vo['price'])}</td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
        </div>
        </div>






</main>


<include file="Public:footer"/>

<!--<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/base.js"></script>-->
<script src="__JS__/jquery.js"></script>
<script src="__JS__/base.js"></script>
<script src="__JS__/trade_center.js"></script>
<script src="__JS__/base.js"></script>
<script type="text/javascript" src="__JS__/echarts.js"></script>
<script type="text/javascript" src="__JS__/marketline.js"></script>
<script>
    $("#market_kline").click(function (e) {
        $("#kxiantu").css("pointer-events","auto");
        e.stopPropagation();
    });
    setInterval(function () {
        $.ajax({
            url:'/Home`Joggle`getTrdeWater',
            type:'post',
            dataType:'json',
            data:{'id':$('input[name=xnb]').val()},
            success:function (data) {
                var i=1;
                var p;
                if (data.sell_data!=null){
                    p=data.sell_data.length;
                }
                var buy_tr;
                var sell_tr;
                var TrdeWater_tr;

                if (data.buy_data!=null){
                    $.each(data.buy_data,function (k,v) {   //买13
                        buy_tr+='<tr>' +
                                '<td>￥'+parseFloat((v.price*v.num).toFixed(6))+'</td>' +
                                '<td>'+parseFloat(v.num)+'</td>' +
                                '<td>'+parseFloat(v.price)+'</td>' +
                                '</tr>';
                    })
                    $('.buy_table tbody').html(buy_tr);
                }

                if (data.sell_data!=null){
                    $.each(data.sell_data,function (k,v) {
                        var a=v.price*v.num

                        sell_tr+='<tr>' +
                                '<td>'+parseFloat(v.price)+'</td>' +
                                '<td>'+parseFloat(v.num)+'</td>' +
                                '<td>￥'+parseFloat(a.toFixed(6))+'</td>' +
                                '</tr>';
                    })

                    $('.sell_table tbody').html(sell_tr);
                }

                if (data.TrdeWater!=null){
                    $.each(data.TrdeWater,function (k,v) {
                        var type;
                        if(v.type==1){
                            type='买';
                        }else{
                            type='卖';
                        }
                        TrdeWater_tr+='<tr>' +
                                '<td>' +(formatDate(v.time))+'</td>'+
//                                '<td>'+type+'</td>' +
                                '<td>'+parseFloat(v.price)+'</td>' +
                                '<td>'+parseFloat(v.number)+'</td>' +
//                                '<td>'+parseFloat((v.price*v.number).toFixed(6))+'</td>' +
                                '</tr>';
                    })
                    $('.table tbody').html(TrdeWater_tr);
                }
            }
        })
    },3000)
</script>
</body>
</html>
