<!DOCTYPE html> 
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="区块链虚拟数字货币交易平台">
    <meta name="keywords" content="区块链虚拟数字货币交易平台">
    <meta name="author" content="lihuijie">
    <title>在线客服</title>
    <link rel="shortcut icon" href="../images/base_images/bd_safe4.png">
    <link rel="stylesheet" href="/Public/Admin/css/customer_service.css">
</head>
<body>
<div class="customer_service_mainBody" id="customer_service_mainBody">
	<div class="chitchat">
	    <!--头部  customer_service_top -->
	    <div class="customer_service_top">
	        <h3 style="margin-top: 23px">区块链</h3>
	        <!--<a href="#"><div>切换用户</div></a>-->
	    </div>
	    <div class="row overflow">
	        <div class=" customer_service_left">
	            <!--聊天内容  chat_content-->
	            <div class="chat_content " style="height: 356px;">
	
	                <!--历史记录框-->
	            </div>
	            <!--消息输入框-->
	            <div class="information_input">
	                <form action="" method="post">
	                    <textarea name="mine_information" id="mine_informationID" placeholder="请输入消息.." ></textarea>
	                    <input type="button" value="发送" id="send_informationId">
	                </form>
	            </div>
	
	        </div>
	    </div>
    </div>
    <div class="switchover">
    	<div class="switchover-title">
    		<a class="switchover-btn">用户列表</a>
    	</div>
    	<div class="userlist">
    		<ul>
    			<li class="being">
    				<div class="userlist-head">
    					<i>
    						<img  src="/Public/jquery.qrcode/userhead.png" />
    					</i>
    				</div>
    				<div class="userlist-name">
    					会飞的小鸟啊
    				</div>
    				<div class="at">在线</div>
    				<img class="being_close" src="/Public/jquery.qrcode/x.png" />
    				<span class="xiaoxi">2</span>
    				<p class="beingtime">21:15</p>
    			</li>
    			<li>
    				<div class="userlist-head huise">
    					<i>
    						<img  src="/Public/jquery.qrcode/userhead.png" />
    					</i>
    				</div>
    				<div class="userlist-name">
    					会飞的小11111鸟1啊
    				</div>
    				<div class="at">在线</div>
    				<img class="being_close" src="/Public/jquery.qrcode/x.png" />
    			</li>
    			<li>
    				<div class="userlist-head">
    					<i>
    						<img  src="/Public/jquery.qrcode/userhead.png" />
    					</i>
    				</div>
    				<div class="userlist-name">
    					会飞的小鸟啊
    				</div>
    				<div class="noat">离线</div>
    				<img class="being_close" src="/Public/jquery.qrcode/x.png" />
    			</li>
    			<li>
    				<div class="userlist-head">
    					<i>
    						<img  src="/Public/jquery.qrcode/userhead.png" />
    					</i>
    				</div>
    				<div class="userlist-name">
    					会飞的小11111鸟1啊
    				</div>
    				<div class="at">在线</div>
    				<img class="being_close" src="/Public/jquery.qrcode/x.png" />
    			</li>
    			<li>
    				<div class="userlist-head">
    					<i>
    						<img  src="/Public/jquery.qrcode/userhead.png" />
    					</i>
    				</div>
    				<div class="userlist-name">
    					会飞的小啊啊啊鸟啊
    				</div>
    				<div class="noat">离线</div>
    				<img class="being_close" src="/Public/jquery.qrcode/x.png" />
    			</li>
    			<li>
    				<div class="userlist-head">
    					<i>
    						<img  src="/Public/jquery.qrcode/userhead.png" />
    					</i>
    				</div>
    				<div class="userlist-name">
    					会飞的小11111鸟1啊
    				</div>
    				<div class="at">在线</div>
    				<img class="being_close" src="/Public/jquery.qrcode/x.png" />
    			</li>
    			<li>
    				<div class="userlist-head">
    					<i>
    						<img  src="/Public/jquery.qrcode/userhead.png" />
    					</i>
    				</div>
    				<div class="userlist-name">
    					会飞的小11111鸟1啊
    				</div>
    				<div class="at">在线</div>
    				<img class="being_close" src="/Public/jquery.qrcode/x.png" />
    			</li>
    			<li>
    				<div class="userlist-head">
    					<i>
    						<img  src="/Public/jquery.qrcode/userhead.png" />
    					</i>
    				</div>
    				<div class="userlist-name">
    					会飞的小11111鸟1啊
    				</div>
    				<div class="at">在线</div>
    				<img class="being_close" src="/Public/jquery.qrcode/x.png" />
    			</li>
    			<li>
    				<div class="userlist-head">
    					<i>
    						<img  src="/Public/jquery.qrcode/userhead.png" />
    					</i>
    				</div>
    				<div class="userlist-name">
    					会飞的小11111鸟1啊
    				</div>
    				<div class="at">在线</div>
    				<img class="being_close" src="/Public/jquery.qrcode/x.png" />
    			</li>
    			<li>
    				<div class="userlist-head">
    					<i>
    						<img  src="/Public/jquery.qrcode/userhead.png" />
    					</i>
    				</div>
    				<div class="userlist-name">
    					会飞的小11111鸟1啊
    				</div>
    				<div class="at">在线</div>
    				<img class="being_close" src="/Public/jquery.qrcode/x.png" />
    			</li>
    			<li>
    				<div class="userlist-head">
    					<i>
    						<img  src="/Public/jquery.qrcode/userhead.png" />
    					</i>
    				</div>
    				<div class="userlist-name">
    					会飞的小11111鸟1啊
    				</div>
    				<div class="at">在线</div>
    				<img class="being_close" src="/Public/jquery.qrcode/x.png" />
    			</li>
    		</ul>
    	</div>
    </div>
</div>
</body>
<script src="/Public/Home/js/jquery.js"></script>
<script>
    $(function () {
        //聊天室
        var mydata;
        $('#contact_wid').click(function () {
            $('.chat-room').show();
        })

        // 假设服务端ip为127.0.0.1
        ws = new WebSocket("ws://47.92.125.176:8282");
        ws.onopen = function() {
//            alert("连接成功");
            ws.send('{"room_id":"16"}');

        };
        ws.onmessage = function(e) {
//            alert("收到服务端的消息：" + e.data);

            var mydata='<div class="row servicein">'+
                    '<div>'+
                    '<div class="row-head">'+
	                    '<i>'+
	                    	'<img src="/Public/jquery.qrcode/userhead.png" alt="" class="col-xs-1">'+
	                    '</i>'+
                    '</div>'+
                    '<div class="col-xs-3 row_text">'+
                    '<p>'+JSON.parse(e.data)+'</p>'+
                    '<div class="arrow"></div>'+
                    '</div>'+
                    '</div>'+
                    '</div>';

            $('.chat_content').append(mydata);
            $('.chat_content').scrollTop( $('.chat_content')[0].scrollHeight );
        };

        $('#send_informationId').click(function () {
            mydata=$('#mine_informationID').val();
            ws.send('{"data":"'+mydata+'","my_room_id":"16"}');
            $('#mine_informationID').val("");

            var mydata='<div class="row row-me">'+
                    '<div>'+
                    '<div class="row-head">'+
                    '<img src="/Public/jquery.qrcode/54.png" alt="" class="col-xs-1" style="width: 30px;height: 30px;">'+
                    '</div>'+
                    '<div class="col-xs-3 row_text">'+
                    '<p>'+mydata+'</p>'+
                    '<div class="arrow"></div>'+
                    '</div>'+
                    '</div>'+
                    '</div>';
            $('.chat_content').append(mydata);
            $('.chat_content').scrollTop( $('.chat_content')[0].scrollHeight );
        })


        function getTime() {
            var d= new Date();
            return d.getFullYear()+"-"+d.getMonth()+"-"+ d.getDay()+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
        }
    })

</script>
<!--双击用户列表-->
<script>
	$(function(){
		var $perUser=$(".userlist ul li");
		$perUser.dblclick(function(){
			$(this).addClass("being").siblings().removeClass("being");
		})
	})
</script>
</html>