.difference{
    text-align: right;

}

.market{
    height: 35px;
    min-width: 90px;
    border-radius: 5px!important;
}

.username{
    height: 32px;
    min-width: 220px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
}
.username.poundage_input{
    min-width: 190px;
}
input.es-input{
    padding-left: 15px;
}

.xnb{
    height: 32px;
    min-width: 110px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.send{
    border: 0px;
    border-radius: 5px;
    background: #00BCD4;;
    height: 32px;
    width: 50px;
    color: white;
}
.send:hover{
    background: #00a8bd;;
}