<!DOCTYPE html>
<html lang="en">
<head>
 <!--   <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="农畜商品交易平台">
    <meta name="keywords" content="数字货币交易平台,数字货币,虚拟币,虚拟币新闻资讯">
    <meta name="author" content="lihuijie">
    <title>银行卡管理-农畜商品交易平台</title>
    <link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/bae.css">
    <link rel="stylesheet" href="__CSS__/center_left.css">
    <link rel="stylesheet" href="__CSS__/center_header.css">
    <link rel="stylesheet" href="__CSS__/safe_center.css">
    <link rel="stylesheet" href="__ALERT__/qiwen_popup.css">
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.min.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<include file="Public:header"/>
<main>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{:U('Index/index')}">首页</a></li>
            <li><a href="{:U('Safety/safeCenter')}">安全中心</a></li>
            <li class="active">
                <span>银行卡管理</span>
            </li>
        </ol>
    </div>

    <div class="container center_content">

        <include file="Public:safe_left"/>

        <div class="pull-right">
            <div id="bank_lock_screen"></div>
            <div id="bank_content">
                <div class="big_title">
                    <h4>银行卡管理</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="right_body">
                    <div class="notice">
                        <p><span class="glyphicon glyphicon-exclamation-sign"></span>温馨提示：为了您能快速提现，请详细填写您的银行卡信息作为默认提款账号,请仔细核对您的银行卡信息和持卡人信息等内容。
                        </p>
                    </div>

                    <if condition="($data eq null)">
                        <if condition="($status eq 1)">
                            <div class="add_bank"><button class="btn" id="add_btn">添加一个地址</button></div>
                            <div id="add_bank_info">
                                <div class="bank_title">
                                    <p>添加一个银行地址 <span id="bank_info_close">&times;</span></p>
                                </div>
                                <form action="{:U('Safety/addbank')}"  class="form-horizontal ajaxa_form" role="form" onsubmit="return false">
                                    <div class="form-group">
                                        <label for="remark_name">备注名称 : </label>

                                        <input type="text" class="form-control" name="remark_name" id="remark_name" placeholder="请输入您的备注名称">
                                    </div>
                                    <div class="form-group">
                                        <label for="deposit_bank">开户银行:</label>
                                        <select id="deposit_bank" class="form-control" name="bank">
                                            <option data-value="" data-code="">请选择银行</option>
                                            <option data-value="常用银行" disabled="" data-code="">常用银行 </option>
                                            <volist name="type" id="data">
                                                <option data-value="{$data.bankname}" data-code="COMM">{$data.bankname}</option>
                                            </volist>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="province">开户省市:</label>
                                        <div class="province_city">
                                            <select id="city" class="form-control" name="bancity"></select>
                                            <select id="province" size=1 class="form-control" name="bankprov">
                                                <option value= 北京 >北京</option>
                                                <option value= 上海 >上海</option>
                                                <option value= 天津 >天津</option>
                                                <option value= 重庆 >重庆</option>
                                                <option value= 河北 >河北</option>
                                                <option value= 山西 >山西</option>
                                                <option value= 内蒙古 >内蒙古</option>
                                                <option value= 辽宁 >辽宁</option>
                                                <option value= 吉林 >吉林</option>
                                                <option value= 黑龙江 >黑龙江</option>
                                                <option value= 江苏 >江苏</option>
                                                <option value= 浙江 >浙江</option>
                                                <option value= 安徽 >安徽</option>
                                                <option value= 福建 >福建</option>
                                                <option value= 江西 >江西</option>
                                                <option value= 山东 >山东</option>
                                                <option value= 河南 >河南</option>
                                                <option value= 湖北 >湖北</option>
                                                <option value= 湖南 >湖南</option>
                                                <option value= 广东 >广东</option>
                                                <option value= 广西 >广西</option>
                                                <option value= 海南 >海南</option>
                                                <option value= 四川 >四川</option>
                                                <option value= 贵州 >贵州</option>
                                                <option value= 云南 >云南</option>
                                                <option value= 西藏 >西藏</option>
                                                <option value= 陕西 >陕西</option>
                                                <option value= 甘肃 >甘肃</option>
                                                <option value= 宁夏 >宁夏</option>
                                                <option value= 青海 >青海</option>
                                                <option value= 新疆 >新疆</option>
                                                <option value= 香港 >香港</option>
                                                <option value= 澳门 >澳门</option>
                                                <option value= 台湾 >台湾</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="deposit_name">开户姓名:</label>
                                        <div type="text" class="text input-large form-control" id="deposit_name" name="deposit_name" value="{$name}">{$name}</div>
                                        <!--<input type="text"  class="form-control" name="deposit_name" id="deposit_name" placeholder="请输入您的开户姓名">-->
                                    </div>
                                    <div class="form-group">
                                        <label for="bank_number">银行卡号:</label>
                                        <input  type="text"  class="form-control" name="bank_number" onblur="Regbankss(this)"  id="bank_number" placeholder="请输入您的银行卡号">
                                        <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>银行卡号格式为16-21位数字</span>
                                        <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>卡号正确</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone_num" >手机号码:</label>
                                        <input type="text" class="form-control" id="phone_num" placeholder="请输入手机号" onblur="keyRenphone(this)" onkeyup="keyRenphone(this)" name="phone_num" autocomplete="off">
                                        <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>请输入正确的手机号码</span>
                                        <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>手机号码格式正确</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="yanzheng_num">动态验证码:</label>
                                        <input type="text" class="form-control"  name="yanzheng_num" id="yanzheng_num" placeholder="请输入您的验证码">
                                        <span class="tips"></span>
                                    </div>
                                    <div class="yzm_zj bank_yzm">
                                        <img class="left15" alt="验证码" src="{:U('Photoma/checkphoto')}"><span>看不清楚换一张？</span>
                                    </div>
                                    <div class="form-group">
                                        <label>获取验证码:</label>
                                        <button type="button" class="form-control" value="{$code}" onclick="regbankphone()" name="input_identify_code" id="input_identify_code">免费获取验证码</button>
                                        <span class="tips"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="input_identity" >手机验证码:</label>
                                        <input type="text" class="form-control" value="" onchange="tijiaophone(this)"  name="input_identity" id="input_identity" placeholder="请输入手机验证码">
                                        <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>手机验证码输入错误</span>
                                        <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>手机验证码输入正确</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="bank_trade_pw">交易密码:</label>
                                        <input type="password"  class="form-control" name="bank_trade_pw" onchange="Reg(this)" onkeyup="Reg(this)" id="bank_trade_pw" placeholder="请输入您的交易密码">
                                        <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>交易密码为6位数字</span>
                                        <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>交易密码格式正确</span>
                                    </div>
                                    <div id="add-bank-affirm">
                                        <button type="submit" value="确认" onclick="tijiaobank()" class="btn btn-default safe_center_btn" id="ajaxbank" >
                                            确认
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <else/>
                            <div class="tag_info red_color">
                                <p><span class="glyphicon glyphicon-question-sign"></span>您还未通过照片实名认证!<a href="{:U('Safety/photoIdenty?tag=2')}">马上认证</a></p>
                            </div>

                        </if>


                        <else/> <div id="bank_user_info">
                        <ul class="info_title">
                            <li>备注名称</li>
                            <li>开户银行</li>
                            <li>开户省份</li>
                            <li>开户城市</li>
                            <li>开户姓名</li>
                            <li class="bank_code">银行卡号</li>
                            <li class="add_time">添加时间</li>
                            <li class="action">操作</li>
                        </ul>
                        <foreach name="data" item="data">
                            <ul class="user_info" value="{$data.id}">
                                <li>{$data.name}</li>
                                <li>{$data.bank}</li>
                                <li>{$data.bankprov}</li>
                                <li>{$data.bancity}</li>
                                <li>{$data.bankname}</li>
                                <li class="bank_code">{$data.bankcard}</li>
                                <li class="add_time">{$data.addtime|time_format}</li>
                                <li class="action user_action">删除</li>
                            </ul>
                        </foreach>
                    </div>
                        <div id="delete_bank">
                            <div class="delete_title"> 请输入交易密码,并点击确认 <span id="close_delete"> &times; </span></div>
                            <div class="body">
                                <input type="password" placeholder="请输入交易密码" class="form-control"/>
                            </div>
                            <div class="bottom"><button class="btn btn-danger" id="confirm_delete" >确认</button><button class="btn btn-default" id="cancel_delete">取消</button></div>

                        </div>
                    </if>

                </div>
            </div>
        </div>

    </div>
</main>
<include file="Public:footer"/>




<script src="__JS__/jquery.js"></script>
<script src="__STATIC__/jquery-1.10.2.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/base.js"></script>
<script src="__JS__/center_left.js"></script>
<script src="__JS__/safe_center.js"></script>
<script src="__JS__/card_manage.js"></script>
<script type="text/javascript" src="__JS__/picture.js"></script>
<script type="text/javascript" src="__JS__/Safety/verification.js"></script>
<script type="text/javascript">
    var captcha_img = $('.yzm_zj').find('img');
    var span= $('.yzm_zj').find('span');
    var verifyimg = captcha_img.attr("src");
    span.click(function(){
        if( verifyimg.indexOf('?')>0){
            captcha_img.attr("src", verifyimg+'&random='+Math.random());
        }else{
            captcha_img.attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
        }
    });
    $('#cancel_delete').click(function () {
//        history.go(0)
        $('#delete_bank').css({"display":"none"})
    })
    $('#close_delete').click(function () {
//        history.go(0)
        $('#delete_bank').css({"display":"none"})
    })
</script>
</body>
</html>