<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="华联全球商贸平台">
    <meta name="keywords" content="华联全球商贸">
    <meta name="author" content="lihuijie">
    <title>修改密码-华联全球商贸平台</title>
    <link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/bae.css">
    <link rel="stylesheet" href="__CSS__/center_left.css">
    <link rel="stylesheet" href="__CSS__/center_header.css">
    <link rel="stylesheet" href="__CSS__/safe_center.css">
    <link rel="stylesheet" href="__ALERT__/qiwen_popup.css">
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.min.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<include file="Public:header"/>
<main>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{:U('Index/index')}">首页</a></li>
            <li><a href="{:U('Safety/safeCenter')}">安全中心</a></li>
            <li class="active">
                <span>修改密码</span>
            </li>
        </ol>
    </div>


    <div class="container center_content">

        <include file="Public:safe_left"/>

        <div class="pull-right">
            <div class="two_panel" id="change_Pw_content">
                <div class="big_title">
                    <h4>修改密码</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="right_body">
                    <div class="notice" id="change_pw_notice">
                        <p class="selected" id="notice_for_enter"><span
                                class="glyphicon glyphicon-exclamation-sign"></span>为确保您的顺利交易，请牢记登录密码!</p>
                        <p id="notice_for_trade"><span class="glyphicon glyphicon-exclamation-sign"></span>交易密码是在平台进行交易时需要输入的密码，不同于登录密码！<br>为确保您的财产安全，请牢记交易密码，防止丢失!
                        </p>
                    </div>
                    <div id="change_pw">
                        <div id="change_pw_title" class="second_title">
                            <span id="change_enter" class="selected">修改登录密码</span>
                            <strong class="line">|</strong>
                            <span id="change_trade">修改交易密码</span>
                        </div>
                        <div id="change_form">
                            <form action="{:U('Safety/updatalogin')}" id="enter_form" class="form-horizontal selected ajaxa_form" role="form" method="post" onsubmit="return false">
                                <div class="form-group">

                                    <label for="enter_pw" class="control-label">旧登录密码:</label>
                                    <div class="form_input_8">
                                        <input type="password" class="form-control input-lg" id="enter_pw"
                                               onchange="RegeMatch(this)" placeholder="请输入旧登录密码" name="enter_pw" autocomplete="off">
                                        <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>登录密码须以字母开头,长度为6-18位</span>
                                        <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>登录密码格式正确</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="new_enter_pw" class="control-label">新登录密码:</label>
                                    <div class="form_input_8">
                                        <input type="password" class="form-control input-lg" name="new_enter_pw" onblur="newpwdReg(this,'#re_new_enter_pw')"
                                               onkeyup="newpwdReg(this,'#re_new_enter_pw')"    id="new_enter_pw" placeholder="请输入新登录密码">
                                        <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>登录密码须以字母开头,长度为6-18位</span>
                                        <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>登录密码格式正确</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="re_new_enter_pw" class="control-label">再次输入新密码:</label>
                                    <div class="form_input_8">
                                        <input type="password" class="form-control input-lg" name="re_new_enter_pw" onblur="renewpwReg(this,'#new_enter_pw')"
                                               onkeyup="renewpwReg(this,'#new_enter_pw')"  id="re_new_enter_pw" placeholder="请重复输入新登录密码">
                                        <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i><span>登录密码须以字母开头,长度为6-18位</span></span>
                                        <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>密码一致</span>
                                    </div>
                                </div>
                                <div class="form-group submit_btn">
                                    <button type="submit" class="btn btn-default safe_center_btn" id="enter_pw_btn" onclick="comparison()">
                                        保存
                                    </button>
                                </div>
                            </form>
                            <form action="{:U('Safety/updatadeal')}" id="trade_form" role="form" class="form-horizontal ajaxa_form" onsubmit="return false">
                                <div class="form-group">
                                    <label for="trade_pw" class="control-label">旧交易密码:</label>
                                    <div class="form_input_8">
                                        <input type="password" class="form-control input-lg" id="trade_pw"
                                               onchange="Reg(this)"     placeholder="请输入旧交易密码" name="trade_pw" autocomplete="off">
                                        <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>交易密码必须是6位数字</span>
                                        <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>交易密码格式正确</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="new_trade_pw" class="control-label">新交易密码:</label>
                                    <div class="form_input_8">
                                        <input type="password" class="form-control input-lg" name="new_trade_pw" onblur="newdealReg(this,'#re_new_trade_pw')"
                                               onkeyup="newdealReg(this,'#re_new_trade_pw')"   id="new_trade_pw" placeholder="请输入新交易密码">
                                        <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>交易密码必须是6位数字</span>
                                        <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>交易密码格式正确</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="re_new_trade_pw" class="control-label">再次输入新密码:</label>
                                    <div class="form_input_8">
                                        <input type="password" class="form-control input-lg" name="re_new_trade_pw" onblur="renewdealReg(this,'#new_trade_pw')"
                                               onkeyup="renewdealReg(this,'#new_trade_pw')"   id="re_new_trade_pw" placeholder="请重复输入新交易密码">
                                        <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i><span>交易密码必须是6位数字</span></span>
                                        <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>交易密码一致</span>
                                    </div>
                                </div>
                                <div class="form-group submit_btn">
                                    <button onclick="tijiaodeal()" type="submit" class="btn btn-default safe_center_btn" id="trade_pw_btn">
                                        保存
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</main>
<include file="Public:footer"/>




<script src="__JS__/jquery.js"></script>
<script src="__STATIC__/jquery-1.10.2.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/base.js"></script>
<script src="__JS__/center_left.js"></script>
<script src="__JS__/safe_center.js"></script>
<script src="__JS__/change_password.js"></script>
<script type="text/javascript" src="__JS__/picture.js"></script>
<script type="text/javascript" src="__JS__/Safety/verification.js"></script>

</body>
</html>