<!DOCTYPE html>
<html lang="en">
<head>
 <!--   <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="华联全球商贸平台">
    <meta name="keywords" content="华联全球商贸">
    <meta name="author" content="lihuijie">
    <title>支付绑定-华联全球商贸平台</title>
    <link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/bae.css">
    <link rel="stylesheet" href="__CSS__/center_left.css">
    <link rel="stylesheet" href="__CSS__/center_header.css">
    <link rel="stylesheet" href="__CSS__/safe_center.css">
    <link rel="stylesheet" href="__ALERT__/qiwen_popup.css">
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.min.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<include file="Public:header"/>
<main>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{:U('Index/index')}">首页</a></li>
            <li><a href="{:U('Safety/safeCenter')}">安全中心</a></li>
            <li class="active">
                <span>支付绑定</span>
            </li>
        </ol>
    </div>


    <div class="container center_content">

        <include file="Public:safe_left"/>

        <div class="pull-right">
            <div class="two_panel" id="pay_bind_content">
                <div class="big_title">
                    <h4>支付绑定</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="right_body">
                    <div class="notice">
                        <p class="selected" id="notice_alipay"><span
                                class="glyphicon glyphicon-exclamation-sign"></span>温馨提示：支付宝绑定之后无法更改,请认真填写您的支付宝账号信息。</p>
                        <p id="notice_wechat"><span class="glyphicon glyphicon-exclamation-sign"></span>温馨提示：微信绑定之后无法更改,请认真填写您的微信账号信息。
                        </p>
                    </div>
                    <div id="pay_bind">
                        <div id="pay_bind_title" class="second_title">
                            <span id="alipay_bind" class="selected">支付宝绑定</span>
                            <strong class="line">|</strong>
                            <span id="wechat_bind">微信绑定</span>
                        </div>
                        <div id="pay_bind_form">
                            <div id="alipay_form_out" class="form_out selected">

                                <if condition="($bankdata eq null)">
                                    <form action="{:U('Safety/addalipay')}" id="alipay_form"
                                          class="form-horizontal ajaxa_form" role="form"
                                          onsubmit="return false">
                                        <div class="form-group">
                                            <label for="alipay_user" class="form_input_3 control-label">支付宝账号:</label>
                                            <div class="form_input_9">
                                                <input type="text" class="form-control input-lg" id="alipay_user"
                                                       onchange="Regapply(this)" placeholder="请输入支付宝账号"
                                                       name="alipay_user" autocomplete="off">
                                                <span class="tips"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="alipay_password"
                                                   class="form_input_3 control-label">交易密码:</label>
                                            <div class="form_input_9">
                                                <input type="password" class="form-control input-lg"
                                                       name="alipay_password"
                                                       onchange="Reg(this)" id="alipay_password" placeholder="请输入交易密码">
                                                <span class="tips"></span>
                                            </div>
                                        </div>
                                        <div class="form-group submit_btn">
                                            <!--  <div class="col-sm-offset-3 col-sm-9">-->
                                            <button type="submit" class="btn btn-default safe_center_btn"
                                                    onclick="ajaxapply()" id="bind_alipay_btn">绑定支付宝
                                            </button>
                                            <!--         </div>-->
                                        </div>
                                    </form>
                                    <else/>
                                    <foreach name="bankdata" item="vo">
                                <div class="bind_info">
                                    <h4>您已经绑定支付宝账号</h4>
                                    <div class="form-group">
                                        <label class="form_input_3 control-label">支付宝账号:</label>
                                        <span>
                                            {$vo.bankcard}
                                        </span>
                                    </div>
                                </div>
                                    </foreach>
                                </if>
                            </div>

                            <div id="wechat_form_out" class="form_out">
                                <if condition="($bankwechat eq null)">
                                    <form action="{:U('Safety/addwechat')}" id="wechat_form" role="form"
                                          class="form-horizontal ajaxa_form" onsubmit="return false">
                                        <div class="form-group">
                                            <label for="wechat_user" class="form_input_3 control-label">微信账号:</label>
                                            <div class="form_input_9">
                                                <input type="text" class="form-control input-lg" id="wechat_user"
                                                       onchange="Regwechat(this)" value="" placeholder="请输入微信账号"
                                                       name="wechat_user" autocomplete="off">
                                                <span class="tips"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="wechat_password"
                                                   class="form_input_3 control-label">交易密码:</label>
                                            <div class="form_input_9">
                                                <input type="password" class="form-control input-lg"
                                                       name="wechat_password"
                                                       onchange="Reg(this)" id="wechat_password" placeholder="请输入交易密码">
                                                <span class="tips"></span>
                                            </div>
                                        </div>
                                        <div class="form-group submit_btn">
                                            <button type="submit" class="btn btn-default safe_center_btn"
                                                    onclick="ajaxwechat()" id="bind_wechat_btn">绑定微信
                                            </button>
                                        </div>
                                    </form>
                                    <else/>
                                    <foreach name="bankdata" item="vo">
                                        <div class="bind_info">
                                            <h4>您已经绑定微信账号</h4>
                                            <div class="form-group">
                                                <label class="form_input_3 control-label">支付宝账号:</label>
                                                <span>
                                            {$vo.bankcard}
                                        </span>
                                            </div>
                                        </div>
                                    </foreach>
                                </if>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </div>
</main>
<include file="Public:footer"/>


<script src="__JS__/jquery.js"></script>
<script src="__STATIC__/jquery-1.10.2.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/base.js"></script>
<script src="__JS__/center_left.js"></script>
<script src="__JS__/safe_center.js"></script>
<script src="__JS__/pay_bind.js"></script>
<script type="text/javascript" src="__JS__/picture.js"></script>
<script type="text/javascript" src="__JS__/Safety/verification.js"></script>

</body>
</html>