<!DOCTYPE html>
<html lang="en">
<head>
  <!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="华联全球商贸平台">
    <meta name="keywords" content="华联全球商贸">
    <meta name="author" content="lihuijie">
    <title>手机绑定-华联全球商贸平台</title>
    <link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/bae.css">
    <link rel="stylesheet" href="__CSS__/center_left.css">
    <link rel="stylesheet" href="__CSS__/center_header.css">
    <link rel="stylesheet" href="__CSS__/safe_center.css">
    <link rel="stylesheet" href="__ALERT__/qiwen_popup.css">
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.min.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<include file="Public:header"/>
<main>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{:U('Index/index')}">首页</a></li>
            <li><a href="{:U('Safety/safeCenter')}">安全中心</a></li>
            <li class="active">
                <span>手机绑定</span>
            </li>
        </ol>
    </div>


    <div class="container center_content">

        <include file="Public:safe_left"/>

        <div class="pull-right">
            <div id="bind_telephone_content">
                <div class="big_title">
                    <h4>手机绑定</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="right_body">
                    <div class="notice"><span class="glyphicon glyphicon-exclamation-sign"></span>请绑定您的常用手机号，以确保您的帐户安全
                    </div>
                    <if condition="($shiphone eq null)">
                        <form action="{:U('Safety/reg')}" id="bind_telephone-form" class="form-horizontal ajaxa_form" role="form" onsubmit="return false">
                            <div class="form-group">
                                <label for="phone_num" class="control-label form_input_3">手机号码:</label>
                                <div class="form_input_9">
                                    <input type="text" class="form-control input-lg" id="phone_num" placeholder="请输入手机号"
                                           onblur="Renphone(this)" onkeyup="keyRenphone(this)"  name="phone_num" autocomplete="off">
                                    <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>请输入正确的手机号码</span>
                                    <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>手机号码格式正确</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="yanzheng_num" class="control-label form_input_3">验证码:</label>
                                <div class="form_input_9">
                                    <input type="text" class="form-control input-lg"  name="yanzheng_num" id="yanzheng_num" placeholder="请输入您的验证码">
                                    <span class="tips"></span>
                                    <div class="yzm_zj"><img class="left15" alt="验证码" src="{:U('Photoma/checkphoto')}"><span>看不清楚换一张？</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="get_identify_code" class="control-label form_input_3">获取验证码:</label>
                                <div class="form_input_9">
                                    <button type="button" class="form-control input-lg" name="get_identify_code"
                                            value="{$code}"    id="get_identify_code" onclick="yanzheng()">免费获取验证码
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cipher_code" class="control-label form_input_3">手机验证码:</label>
                                <div class="form_input_9">
                                    <input type="text" class="form-control input-lg" name="cipher_code" id="cipher_code"
                                           placeholder="请输入手机验证码">
                                    <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>手机验证码输入错误</span>
                                    <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>手机验证码输入正确</span>
                                </div>
                            </div>
                            <div class="form-group submit_btn">
                                <button type="submit" class="btn btn-default safe_center_btn" id="bind_tel">绑定手机
                                </button>
                            </div>
                        </form>
                        <else/><form action="{:U('Safety/jiechu')}" class="unbind_form_tel ajax_jiechu_phone" onsubmit="return false">
                        <div class="success_tips"><span class="glyphicon glyphicon-ok-sign"></span>您已经成功完成手机绑定！</div>
                        <div class="form-group">
                            <label class="control-label form_input_3">手机号码:</label>
                            <div class="form_input_9">
                                <span>{$phone}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="yanzheng_num_unbind" class="control-label form_input_3">验证码:</label>
                            <div class="form_input_9">
                                <input type="text" class="form-control input-lg"  name="yanzheng_num_unbind" id="yanzheng_num_unbind" placeholder="请输入您的验证码">
                                <span class="tips"></span>
                                <div class="yzm_zj"><img class="left15" alt="验证码" src="{:U('Photoma/checkphoto')}"><span>看不清楚换一张？</span></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="get_identify_code_unbind" class="control-label form_input_3">获取验证码:</label>
                            <div class="form_input_9">
                                <button type="button" class="form-control input-lg" name="get_identify_code_unbind"
                                        value="{$shiphone}"    id="get_identify_code_unbind" onclick="jiechureg()">免费获取验证码
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cipher_code_unbind" class="control-label form_input_3">手机验证码:</label>
                            <div class="form_input_9">
                                <input type="text" class="form-control input-lg" name="cipher_code_unbind" id="cipher_code_unbind"
                                       placeholder="请输入验证码">
                                <span class="tips red_tips"><i class="glyphicon glyphicon-info-sign"></i>手机验证码输入错误</span>
                                <span class="tips green_tips"><i class="glyphicon glyphicon-ok-sign"></i>手机验证码输入正确</span>
                            </div>
                        </div>
                        <div class="form-group submit_btn">
                            <button type="submit" class="btn btn-default safe_center_btn" id="unbind_tel" onclick="jiechuphone()">解绑手机</button>
                        </div>
                    </form>
                    </if>



                </div>
            </div>
        </div>
    </div>
</main>
<include file="Public:footer"/>




<script src="__JS__/jquery.js"></script>
<script src="__STATIC__/jquery-1.10.2.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/base.js"></script>
<script src="__JS__/center_left.js"></script>
<script src="__JS__/safe_center.js"></script>
<script type="text/javascript" src="__JS__/picture.js"></script>
<script type="text/javascript" src="__JS__/Safety/verification.js"></script>
<script type="text/javascript">
    var captcha_img = $('.yzm_zj').find('img');
    var span= $('.yzm_zj').find('span');
    var verifyimg = captcha_img.attr("src");
    span.click(function(){
        if( verifyimg.indexOf('?')>0){
            captcha_img.attr("src", verifyimg+'&random='+Math.random());
        }else{
            captcha_img.attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
        }
    });
</script>
</body>
</html>