<!DOCTYPE html>
<html lang="en">
<head>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="华联全球商贸平台">
    <meta name="keywords" content="华联全球商贸">
    <meta name="author" content="lihuijie">
    <title>安全中心-华联全球商贸平台</title>
    <link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/bae.css">
    <link rel="stylesheet" href="__CSS__/center_left.css">
    <link rel="stylesheet" href="__CSS__/center_header.css">
    <link rel="stylesheet" href="__CSS__/safe_center.css">
    <link rel="stylesheet" href="__ALERT__/qiwen_popup.css">
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.min.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<include file="Public:header"/>
<main>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{:U('Index/index')}">首页</a></li>
            <li><a href="{:U('Safety/safeCenter')}">安全中心</a></li>
            <li class="active">
                <span>安全中心</span>
            </li>
        </ol>
    </div>


    <div class="container center_content">

        <include file="Public:safe_left"/>

        <div class="pull-right">
            <div id="safe_center">
                <div class="big_title">
                    <h4>安全中心</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="right_body">
                    <div class="notice" id="name_ident_notice">
                        <p><span class="glyphicon glyphicon-exclamation-sign"></span>尊敬的用户您好，请保管好您的账户信息以及密码，以防被盗不要相信陌生人的短信不要随意打开陌生链接，工作人员不会以任何形式询问您的账户信息以及密码，祝您生活愉快!
                        </p>
                    </div>

                    <foreach name="_list" item="vo">
                        <div class="user_info">
                            <div class="level_img">
                                <if condition="($vo.yanze eq -1 or $vo.yanze eq -2 or $vo.yanze eq 0)">
                                    <if condition="($vo.phone eq null)">
                                        <if condition="($data eq null)">
                                            <img src="__IMG__/safe_center/safe_level1.png" alt="安全图标">
                                            <else/><img src="__IMG__/safe_center/safe_level2.png" alt="安全图标">
                                        </if>
                                        <else />
                                        <if condition="($data eq null)">
                                            <img src="__IMG__/safe_center/safe_level2.png" alt="安全图标">
                                            <else/><img src="__IMG__/safe_center/safe_level4.png" alt="安全图标">
                                        </if>
                                    </if>

                                    <elseif condition="$vo.yanze eq 1"/>
                                            <if condition="($vo.phone eq null)">
                                                <if condition="($data eq null)">
                                                    <img src="__IMG__/safe_center/safe_level2.png" alt="安全图标">
                                                    <else/><img src="__IMG__/safe_center/safe_level4.png" alt="安全图标">
                                                </if>

                                                <else />
                                                <if condition="($data eq null)">
                                                    <img src="__IMG__/safe_center/safe_level4.png" alt="安全图标">
                                                    <else/><img src="__IMG__/safe_center/safe_level3.png" alt="安全图标">
                                                </if>
                                            </if>

                                </if>

                            </div>
                            <ul class="list-unstyled"  id="safe_user_info">
                                <li><p>ID:</p><span>{$vo.id}</span></li>
                                <li><p>姓名:</p><span>{$vo.username}</span></li>
                                <li><p>用户名:</p><span>{$vo.users}</span></li>
                                <!--<li><p>邀请码:</p><span>{$vo.invit}</span></li>-->
                            </ul>
                        </div>
                        <ul id="ident_info" class="list-unstyled">
                            <li>
                                <div class="safe_style_img"></div>
                                <h6>实名认证</h6>

                                <p><if condition="($vo.yanze eq 1)"><span class="glyphicon glyphicon-ok-sign"></span>已认证<a href="{:U('Safety/nameIdenty?tag=1')}">查看</a>
                                    <else/><span class="glyphicon glyphicon-info-sign"></span><i>未认证</i><a href="{:U('Safety/nameIdenty?tag=1')}">立即认证</a>
                                </if></p>


                            </li>
                            <li>
                                <div class="safe_style_img"></div>
                                <h6>绑定银行卡</h6>
                                <p><if condition="($data eq null)"><span class="glyphicon glyphicon-info-sign"></span><i>未绑定</i><a href="{:U('Safety/cardManage?tag=6')}">立即绑定</a>
                                    <else/><span class="glyphicon glyphicon-ok-sign"></span>已绑定<a href="{:U('Safety/cardManage?tag=5')}">查看</a>
                                </if></p>
                            </li>
                            <li>
                                <div class="safe_style_img"></div>
                                <h6>绑定手机</h6>
                                <p><if condition="($vo.phone eq null)"><span class="glyphicon glyphicon-info-sign"></span><i>未绑定</i><a href="{:U('Safety/phoneBind?tag=4')}">立即绑定</a>
                                    <else/><span class="glyphicon glyphicon-ok-sign"></span>已绑定<a href="{:U('Safety/phoneBind?tag=4')}">查看</a>
                                </if></p>


                            </li>
                        </ul>
                        <ul id="ident_action" class="list-unstyled">
                            <li class="bg_grey"><p>登录密码</p><span>登录平台账户时需要输入的密码</span><a href="{:U('Safety/changePw?tag=3')}">修改登录密码</a></li>
                            <li><p>交易密码</p><span>在平台进行交易时需要输入的密码</span><a href="{:U('Safety/changePw?tag=3&pane=1')}">修改交易密码</a></li>
                            <if condition="$vo.yanze eq 1">
                            <li class="bg_grey"><p>实名认证</p><span>受国家要求及为了您的资金安全需进行实名认证</span><a href="{:U('Safety/photoIdenty?tag=2')}">已认证</a></li>
                                <else />
                                <li class="bg_grey"><p>实名认证</p><span>受国家要求及为了您的资金安全需进行实名认证</span><a href="{:U('Safety/photoIdenty?tag=2')}">立即实名认证</a></li>
                            </if>
                            <!--<li><p>双重验证</p><span>Google Authenticator (双重验证)，可以更安全的保护您的账户</span><i id="to_double_ident">立即双重验证</i></li>-->
                            <if condition="$vo.phone eq null">
                                <li><p>手机绑定</p><span>未绑定手机，为了您的资金安全，建议您立即绑定</span><a href="{:U('Safety/phoneBind?tag=4')}">绑定手机</a></li>
                            <else />
                                <li><p>手机绑定</p><span>您已绑定手机，可到安全中心查看</span><a href="{:U('Safety/phoneBind?tag=4')}">查看</a></li>
                            </if>
                            <!--<li><p>邮件通知</p><span><span class="glyphicon glyphicon-info-sign"></span>登录时邮件通知&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span>资金转出邮件通知</span><i id="to_change_email">修改</i></li>-->
                        </ul>
                    </foreach>
                </div>

            </div>
        </div>

    </div>
</main>
<include file="Public:footer"/>




<script src="__JS__/jquery.js"></script>
<script src="__STATIC__/jquery-1.10.2.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/base.js"></script>
<script src="__JS__/center_left.js"></script>
<script src="__JS__/safe_center.js"></script>
<script type="text/javascript" src="__JS__/picture.js"></script>
<script type="text/javascript" src="__JS__/Safety/verification.js"></script>

</body>
</html>