<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/service.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/service.js" ></script>
		
	</head>
	<body>
		<div class="main">
			<header class="top">
				<a class="top-left" id="back">
					<img src="__IMG__/back.png"/>
					<span>返回</span>
				</a>
				<h2>在线客服</h2>
				<!--<a class="top-right rengong" id="switchover">
					<img src="__IMG__/rengong.png"/>
					<p>人工</p>
				</a>-->
				
			</header>
			<section class="service_content">
				<div class="service-chat">
					<div class="matter">
						<ul class="chat-content">
							<div class="info">
								<h2>
									你正在和<span>小农</span>对话
								</h2>
							</div>
							<div class="data">
								<span>{:date('H:i', time())}</span>
								<div class="line"></div>
							</div>
							<li class="serve">
								<i class="avater">
									<img src="__IMG__/avater.png"/>
								</i>
								<div class="rich">
									<div class="arrow"></div>
									<div class="answer">
										您好，欢迎来到农畜交易平台<a href="{:U('Index/index')}"></a>！我是智能助理-小农，很高兴为您服务！
									</div>
								</div>
							</li>
							<li class="serve">
								<i class="avater">
									<img src="__IMG__/avater.png"/>
								</i>
								<div class="qa-list">
									<div class="arrow"></div>
									<div class="answer">
										<div class="qa-title">
											常见问题
										</div>
										<ul>
											<volist name="question" id="data">
												<li><a class="clickforquestion" data="{$data.id}">{$data.title}</a></li>
											</volist>
										</ul>
									</div>
								</div>
							</li>
							<!--<li class="user">
								<i class="avater">
									<img src="__IMG__/user.png"/>
								</i>
								<div class="rich">
									<div class="arrow"></div>
									<div class="answer">
										<p>您好，哈哈</p>
									</div>
								</div>
							</li>-->
							<li class="serve">
								<i class="avater">
									<img src="__IMG__/avater.png"/>
								</i>
								<div class="rich">
									<div class="arrow"></div>
									<div class="answer">
										您好，很高兴为您服务
									</div>
								</div>
							</li>
						</ul>
					</div>

				</div>
				<div class="connecting" id="connecting">
					<img src="__IMG__/loading.gif"/>
					正在连接客服,请稍等...
				</div>
			</section>
			<footer class="service_footer">
				<div class="footer_in">
					<textarea id="input_box"></textarea>
					<!--<label class="face manual" id="manual">
						<i></i>
					</label>-->
					<!--<label class="camera manual" id="camera">
						<i></i>
					</label>-->
					<!--<button class="manual_send send_btn" id="manual_send">发送</button>-->
					<button class="send send_btn" id="send">发送</button>
				</div>
			</footer>
		</div>
	</body>
	<script>
    $(function () {
        //聊天室
        var mydata;
        // 假设服务端ip为127.0.0.1
        ws = new WebSocket("ws://47.92.125.176:8282");
        ws.onopen = function() {
//            alert("连接成功");
            ws.send('{"room_id":"17"}');

        };
        ws.onmessage = function(e) {
//            alert("收到服务端的消息：" + e.data);
            var mydata='<li class="serve">'+
								'<i class="avater">'+
									'<img src="__IMG__/avater.png"/>'+
								'</i>'+
								'<div class="rich">'+
									'<div class="arrow"></div>'+
									'<div class="answer">'+
										JSON.parse(e.data)+
									'</div>'+
								'</div>'+
							'</li>'
            $('.chat-content').append(mydata);
            $('.matter').scrollTop( $('.matter')[0].scrollHeight );
        };

        $('.send_btn').click(function () {
        	if($("#input_box").val().length==0){
        		return false;
	        }
        	else{
        		mydata=$('#input_box').val();
	            ws.send('{"data":"'+mydata+'","my_room_id":"17"}');
	            $('#input_box').val("");
	
	            var mydata='<li class="user">'+
								'<i class="avater">'+
									'<img src="__IMG__/user.png"/>'+
								'</i>'+
								'<div class="rich">'+
									'<div class="arrow"></div>'+
									'<div class="answer">'+
										'<p>'+mydata+'</p>'+
									'</div>'+
								'</div>'+
							'</li>'
	            $('.chat-content ').append(mydata);
	            $('.matter').scrollTop( $('.matter')[0].scrollHeight );
	            
	            this.style.background="#ffd7a7";
        	}
            
        });


        function getTime() {
            var d= new Date();
            return d.getFullYear()+"-"+d.getMonth()+"-"+ d.getDay()+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
        }
    })

</script>
	<!-- 在线客服 -->
	<script>
		$(function () {
			var body = $("body");
			body.delegate(".clickforquestion", "click", function () {
				var helpdata=$(this).html();
				var helpid = $(this).attr("data");

				$.ajax({
					url:"{:U('Communication/answer')}",
					type:"POST",
					data:{
						"helpid":helpid
					},
					success:function (data) {
						var dataobj = eval("("+data+")");
//                alert(dataobj);
						var text = null;
						var sametype = null;
						$.each(dataobj, function(i, item) {
							switch (i) {
								case "text":
									text = item;
									break;
								case "sametype":
									sametype = item;
									break;
								default:break;
							}
						});
						var list = "";
						if (sametype != "null") {
							var sametypeobj = eval("("+sametype+")");
							list = '<div class="answer">';
							$.each(sametypeobj, function (i, item) {
								list += '<p class="kfquestionli"><a class="clickforquestion" data="'+ item.id +'">'+ item.title+ '</a></p>';
							});
							list = list + '</div>';
						}
						//客服消息
						var mydata='<li class="serve">'+
								'<i class="avater">'+
								'<img src="__IMG__/avater.png"/>'+
								'</i>'+
								'<div class="rich">'+
								'<div class="arrow"></div>'+
								'<div class="answer">'+
								text+list+
								'</div>'+
								'</div>'+
								'</li>'
						$('.chat-content').append(mydata);
						$('.matter').scrollTop( $('.matter')[0].scrollHeight );
					}
				});

				//用户消息
				var mydata='<li class="user">'+
						'<i class="avater">'+
						'<img src="__IMG__/user.png"/>'+
						'</i>'+
						'<div class="rich">'+
						'<div class="arrow"></div>'+
						'<div class="answer">'+
						'<p>'+helpdata+'</p>'+
						'</div>'+
						'</div>'+
						'</li>'
				$('.chat-content ').append(mydata);
				$('.matter').scrollTop( $('.matter')[0].scrollHeight );
			})
		});
	</script>
</html>
