<extend name="Public/base"/>

<block name="style">
	<link type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link href="__JS__/jQuery-Timepicker-Addon/jquery-ui-timepicker-addon.css" type="text/css" />
    <link href="__JS__/jQuery-Timepicker-Addon/demos.css" rel="stylesheet" type="text/css" />
    <link href="__SELECT__/jquery.searchableSelect.css" rel="stylesheet" type="text/css">
</block>
<style>
	/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }.ui-timepicker-div dl{ text-align: left; }.ui-timepicker-div dl dt{ height: 25px; }.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }.ui-timepicker-div td { font-size: 90%; }
</style>
<block name="body">
    <div class="main-title">
        <h2>新增交易>></h2>
    </div>
    <form action="{:U('Addtransaction/join')}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">选择产品</label>
            <select class="xnb" name="xnb">
                <foreach name="xnb" item="vo">
                    <option value="{$vo.id}">{$vo.name}({$vo.brief})</option>
                </foreach>
            </select>
        </div>
        <div class="form-item">
            <label class="item-label">交易类型</label>
            <select name="type">
                <option value ="1">买入</option>
                <option value ="2">卖出</option>
            </select>
        </div>
        <div class="form-item">
            <label class="item-label">交易市场</label>
            <select name="mark" >
                <foreach name="mark" item="data">
                    <option value="{$data.id}">{$data.name}</option>
                </foreach>
            </select>
        </div>
        <div class="form-item">
            <label class="item-label">最小价格(成交币种的最小价格)</label>
            <div class="controls">
                <input type="text" class="text input-large" name="minprice" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">最大价格(成交币种的最大价格)</label>
            <div class="controls">
                <input type="text" class="text input-large" name="maxprice" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">最低数量(成交币种的最低数量)</label>
            <div class="controls">
                <input type="text" class="text input-large" name="minnum" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">最高数量(成交币种的最大数量)</label>
            <div class="controls">
                <input type="text" class="text input-large" name="maxnum" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">插入时间</label>
            <div class="controls">
                <input type="text" id="time" class="text input-large" name="time" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">插入最大时间间隔(分钟为单位)</label>
            <div class="controls">
                <input type="text" class="text input-large" name="maxtime" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">插入数量(生成的数据条数)</label>
            <div class="controls">
                <input type="text" class="text input-large" name="allnum" value="">
            </div>
        </div>

        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
    <script src="__JS__/jQuery-Timepicker-Addon/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    <!--中文-->
    <script src="__JS__/jquery.ui.datepicker-zh-CN.js.js" type="text/javascript" charset="gb2312"></script>
    <script src="__JS__/jquery-ui-timepicker-zh-CN.js" type="text/javascript"></script>
    <script type="text/javascript" src="__SELECT__/jquery.searchableSelect.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.xnb').searchableSelect();
        });
        //导航高亮
        highlight_subnav('{:U('Index')}');
        
        jQuery(function () {
            // 时间设置
            jQuery('#time').datetimepicker({
                timeFormat: "HH:mm:ss",
                dateFormat: "yy-mm-dd"
            });
           
		
        });
		 $('.ui_tpicker_time_label').html("小时")
		
    </script>
</block>
