<!DOCTYPE html>
<html>
<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="农畜商品交易平台">
    <meta name="keywords" content="数字货币交易平台,数字货币,虚拟币,虚拟币新闻资讯">
    <meta name="author" content="lihuijie">
    <title>委托管理-农畜商品交易平台</title>
    <link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css"/>
    <link rel="stylesheet" href="__CSS__/bae.css">
    <link rel="stylesheet" href="__CSS__/default.css" />
    <link rel="stylesheet" href="__CSS__/jquery.ui.css"/>
    <link rel="stylesheet" href="__CSS__/center_left.css">
    <link rel="stylesheet" href="__CSS__/center_header.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/finance.css"/>
    <script type="text/javascript" src="__JS__/jquery.js" ></script>
    <script src="__JS__/base.js"></script>
    <style>
        .ul_head li,dt{
             width: 25%!important;
             text-align: center;
        }
    </style>
</head>
<body>
<include file="Public:header"/>

<main>

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{:U('Index/index')}">首页</a></li>
            <li><a href="{:u('Property/finance')}">财务中心</a></li>
            <li class="active">
                <span>委托管理</span>
            </li>
        </ol>
    </div>

    <div class="container center_content">
        <!--		<include file="Public:finance_left"/>-->
        <include file="Public:finance_left"/>

        <div class="pull-right finance-content">
            <div class="big_title">
                <h4>红包发放详情</h4>
                <div class="clearfix"></div>
            </div>

            <div class="currency-type form-group">

                <form action="" method="post" class="form-inline">
                    <input type="hidden" name="id" value="{:I('id')}">
                    <div class="form-group">
                        <input type="text" name="date" value="{:I('date')}"  readonly="readonly"  class="text form-control" id="date_start" />
                        至 <input type="text" name="dates" value="{:I('dates')}" readonly="readonly" class="text form-control" id="date_end" />
                        <input type="submit" value="查询" class="form-control">
                    </div>
                </form>
            </div>
            <div class="currency-record-hint">发放详情</div>
            <div class="entrust-column">
                <ul class="ul_head">
                    <li>序号</li>
                    <li>转入余额</li>
                    <li>转入重销</li>
                    <li>转入时间</li>
                </ul>
            </div>
            <div class="entrust-content">
                <ul>
                    <eq name="data" value="">
                        <li>
                            <dl style="text-align: center;line-height: 30px;font-size: 15px">oh 还没有内容！</dl>
                        </li>
                    </eq>
                    <li>
                        <foreach name="data" item="vo">
                            <dl class="ul_head">
                                <dt class="">{$vo['id']}</dt>
                                <dt class="">{$vo['number']}</dt>
                                <dt class="">{$vo['repeats']}</dt>
                                <dt class="">{$vo.time|date='Y-m-d H:i:s',### }</dt>
                            </dl>
                        </foreach>
                    </li>
                </ul>
            </div>
            <div class="page">
                {$page}
            </div>
        </div>
    </div>
</main>

<include file="Public:footer"/>

<script type="text/javascript" src="/Public/Home/js/jquery.ui.js"></script>
<script src="__JS__/center_left.js"></script>
<script src="__JS__/date_picker.js"></script>
<script type="text/javascript" src="__JS__/finance_comm.js" ></script>

</body>

</html>
