<extend name="Public/base"/>

<block name="body">
    <!-- 标题 -->
    <div class="main-title">
        <h2>APP页面展示列表</h2>
    </div>

    <!-- 按钮工具栏 -->
    <div class="cf">
        <div class="fl">
            <empty name="model.extend">
                <div class="tools">
                    <a class="btn" href="{:U('add')}">新 增</a>
                    <button class="btn ajax-post confirm" target-form="ids" url="{:U('delete')}">删 除</button>
                </div>
            </empty>
        </div>
        <!-- 高级搜索 -->
        <!-- <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="{$model['search_key']|default='title'}" class="search-input" value="{:I('title')}" placeholder="请输入关键字">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('Think/lists','model='.$model['name'],false)}"><i class="btn-search"></i></a>
            </div>

        </div> -->
    </div>

    <!-- 数据表格 -->
    <div class="data-table">
        <table>
            <!-- 表头 -->
            <thead>
            <tr>
                <th class="row-selected row-selected">
                    <input class="check-all" type="checkbox">
                </th>
                <th>排序</th>
                <th>ID</th>
                <th>产品名称</th>
                <th>图片</th>
                <th>单价</th>
                <th>数量</th>
                <th>添加时间</th>
                <th>状态</th>
                <th>操作</th>


            </tr>
            </thead>

            <!-- 列表 -->
            <tbody>
            <volist name="list" id="data">
                <tr>
                    <td><input class="ids" type="checkbox" value="{$data['id']}" name="ids[]"></td>
                    <td><input type="text" name="sort" class="text input-mini" value="{$data.sort}"   tid="{$data.id}" />
                    </td>
                    <td>{$data.id}</td>
                    <td>{$data.name}</td>
                    <td><img src="__ROOT__/{$data['img']}" width="35" height="50"></td>
                    <td>{$data.price}</td>
                    <td>{$data.number}</td>
                    <td>{$data.time|date="Y-m-d H:i:s",###}</td>
                    <td><eq name="data.status" value="1">启用</eq><eq name="data.status" value="2">禁用</eq></td>
                    <td>
                        <a href="{:U('add', ['id'=>$data['id']])}">修改</a>|<a href="{:U('delete', ['ids'=>$data['id']])}">删除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
    </div>

</block>
<block name="script">

    <script type="text/javascript">
        highlight_subnav("{:U('index')}");

        $(function(){



            $("input[name='sort']").blur(function(){
                var id=$(this).attr('tid');
                var val=$(this).val();
                $.ajax({
                    type: "POST",
                    url: "{:U('appsort')}",
                    data: {id:id, sort:val},
                    dataType: "json",
                    success: function(data){
                        if (data.status!=1){  //失败
                            set_poput_code(data.info,false)
                            return false;
                        }
                        set_poput_code(data.info,true)
                    }
                });
            })





        })
    </script>
</block>
