<!DOCTYPE html>
<html lang="en">
<head>
 <!--   <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="description" content="农畜商品交易平台">
    <meta name="keywords" content="数字货币交易平台,数字货币,虚拟币,虚拟币新闻资讯">
    <meta name="author" content="lihuijie">
    <title>农畜商品交易平台</title>
    <link rel="shortcut icon" href="__IMG__/base_images/bd_safe4.png">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/bae.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.min.js"></script>
    <script src="__JS__/respond.min.js"></script>

    <![endif]-->


    <link href="__CSS__/shop/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="__CSS__/shop/form.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="__JS__/shop/jquery1.min.js"></script>
<!-- start menu -->
<link href="__CSS__/shop/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="__JS__/shop/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<!--start slider -->
<link rel="stylesheet" href="__CSS__/shop/fwslider.css" media="all">
<script src="__JS__/shop/jquery-ui.min.js"></script>
<script src="__JS__/shop/css3-mediaqueries.js"></script>
<script src="__JS__/shop/fwslider.js"></script>

<script src="__JS__/shop/jquery.easydropdown.js"></script>  

</head>
<!--<script type="text/javascript">
//		var host = window.location.host;
		var wapurl ='/wap'
		function browserRedirect() {
        var sUserAgent = navigator.userAgent.toLowerCase();
      /*  var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";*/
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        if ( bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            window.location.href=wapurl;//手机设备跳转到手机站主页
        } else {
//          window.location.href='http://www.mm-oo.com';
        }
    }

    browserRedirect();
</script>-->
<body>
<include file="Public:header"/>
<main>
    <div class="container" id="lun_bo">
        <!--    <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <ul class="carousel-inner">
                    <li class="item active"><img src="__IMG__/index_images/banner6.jpg" alt="轮播图1"></li>
                    <li class="item"><img src="__IMG__/index_images/banner6.jpg" alt="轮播图2"></li>
                    <li class="item"><img src="__IMG__/index_images/banner6.jpg" alt="轮播图3"></li>
                    <li class="item"><img src="__IMG__/index_images/banner6.jpg" alt="轮播图4"></li>
                </ul>
                <a href="#myCarousel" class="carousel-control left" data-slide="prev"><span>&lsaquo;</span></a>
                <a href="#myCarousel" class="carousel-control right" data-slide="next"><span>&rsaquo;</span></a>
            </div>-->
        <div class="slides-box">
            <ul class="slides">
                <li class='slidePage'>
                    <div class='bannerRollBox'>
                        <img src="./Public/Home/images/index_images/banar_bg.jpg" alt="bg_color">
                        <img src="./Public/Home/images/index_images/roll1.png" class='slow'>
                        <img src="./Public/Home/images/index_images/roll2.png" class='reverse slow'>
                        <img src="./Public/Home/images/index_images/roll3.png" class='slow'>
                        <img src="./Public/Home/images/index_images/roll4.png" class='reverse slow'>
                        <span class="bannerRollPlayBtn"></span>

                    </div>
                </li>
                <li class='slidePage'>
                    <div class='channelBannerSection' id='waveDot'>
                        <div class='channelBannerSectionEle'>
                            <div class='channelBannerPicBox'>
                                <img src="./Public/Home/images/index_images/channel-arrowup.png">
                                <img src="./Public/Home/images/index_images/banar_bg.jpg" alt="bg_color">
                                <img src="./Public/Home/images/index_images/channel-tengxun.png" class='channelBannerPicIcon'>
                                <img src="./Public/Home/images/index_images/channel-weixin.png" class='channelBannerPicIcon'>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background: url('/Public/Home/images/index_images/slider4.png') center" class="top_slide"></li>
            </ul>
            <div id="enter_form">
                <gt  name="session" value="1">
                    <div class="login-after" id="login-after" >
                        <h2>欢迎使用平台</h2>
                        <dl class="accounts">
                            <dt>您正在使用的<strong>帐号</strong>为</dt>
                            <dt><span id="username"  class="cff3333">{$wo}</span></dt>
                            <dt><strong>ID:</strong> <span id="id" class="cff3333">{$vo}</span></dt>
                            <dt><strong>总资产 :</strong>  <span id="cny" class="cff3333">{:floatval($cny['allpropertys'])}</span></dt>
                        </dl>
                        <div class="handle">
                            <a href="{:U('Property/rmbrecharge?tag=1')}">充值</a>
                            <a href="{:U('Property/rmbwithdrawal?tag=2')}">提现</a>
                            <a href="{:U('Property/commissioned?tag=5')}">委托管理</a>
                        </div>
                        <div class="gotocenter">
                            <a href="{:U('Property/finance?tag=0')}">去财务中心</a>
                        </div>
                    </div>
                    <else/>
                    <form action="{:U('Index/login')}" class="form-horizontal ajax_form" method="post" onsubmit="return false">
                    <div class="login-before" id="login-before" style="display: block;" >
                        <h4>登录</h4>
                        <div class="user_enter">
                            <div class="form-group content">
                                <input type="text" id="user_name" name="name" value="{$username}" placeholder="请输入手机号或邮箱">
                            </div>
                            <div class="form-group content">
                                <input type="password" id="user_password" name="pass" value="{$password}" placeholder="请输入密码">
                            </div>
                            <div class="form-group remember_password">
                                <input type="checkbox" id="remember_password" ><label for="remember_password">记住密码</label>
                           <!--     <span class="pull-right"><a href="#">忘记密码？</a></span>-->
                            </div>
                            <div class="form-group" id="enter_submit">
                                <button type="submit" class="btn" >登录</button>
                            </div>
                        </div>
                        <div class="form-group" id="QQ_enter">
                            <span class="pull-right"><a href="{:U('Register/findTradePw')}">忘记密码？</a></span><span class="pull-left"><a
                                href="{:U('Register/Register')}">免费注册</a></span>
                        </div>
                    </div>
                    </form>

                </gt >


            </div>
        </div>
        <div id="official_listings">
            <p class="text-center"><a href="{:U('Information/ardetail', array('id' => $new_notice['id']))}">【官方公告】{$new_notice.title}</a></p>
            <img onclick="$(this).parent().hide()" class="close_hint" src="__IMG__/base_images/close_hint.png" />
        </div>
        <div class="main" >
    <div class="wrap">
        <div class="section group">
            <div class=" span_2_of_3" style="margin:0 auto;">
                <volist name="list" id="data">
                <h2 class="head">{$data.name}<a href="{:U('Shop/lists', array('cat_id' => $data['cat_id']))}"><span style="float: right;font-size: 15px;">更多>></span></a></h2>

                     <volist name="data.array" id="val">
                    <div class="top-box">

                       
                            <volist name="val" id="val2">
                            <div class="col_1_of_3 span_1_of_3"> 
                                <a href="{:U('Shop/single', ['id'=>$val2['id']])}">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img style="width: 300px;height: 273px;" src="__ROOT__/{$val2['img']}" alt=""/>
                                        </div>
                                        <div class="price">
                                            <div class="cart-left">
                                                <p class="title">{$val2.name}</p>
                                                <div class="price1">
                                                    <eq name="val2.type" value="1">
                                                        <span class="actual">{$val2.price_show}</span>
                                                    </eq>
                                                    <eq name="val2.type" value="2">
                                                        <span class="actual">{$val2.price_show.cmc} CMC + {$val2.price_show.cny} CNY</span>
                                                    </eq>
                                                    <eq name="val2.type" value="3">
                                                        <span class="actual">{$val2.price_show}</span>
                                                    </eq>
                                                    
                                                </div>
                                            </div>
                                            <div class="cart-right"> </div>
                                            <div class="clear"></div>
                                        </div>              
                                    </div>
                                </a>
                            </div>
                            
                        </volist>
                    </volist>
                        <div class="clear"></div>
                    </div>   
                </volist>

            </div>
            
           
        </div>
       <div class="clear"></div>
    </div>
    </div>
    </div>
    </div>
    <div id="advantages">
        <div class="container">
            <!-- <h2>专业的安全保障</h2>-->
            <div class="panel ad_1">
                <div class="bg_img"></div>
                <h3>系统可靠</h3>
                <p>银行级用户数据加密、动态身份验证，多级风险识别控制，保障交易安全。</p>
            </div>
            <div class="panel ad_2">
                <div class="bg_img"></div>
                <h3>资金安全</h3>
                <p>钱包多层加密，离线存储于银行保险柜，资金第三方托管，确保安全。</p>
            </div>
            <div class="panel ad_3">
                <div class="bg_img"></div>
                <h3>快捷方便</h3>
                <p>充值即时、提现迅速，每秒万单的高性能交易引擎，保证一切快捷方便。</p>
            </div>
            <div class="panel ad_4">
                <div class="bg_img"></div>
                <h3>服务专业</h3>
                <p>专业的客服团队，400电话和24小时在线QQ，VIP一对一专业服务。</p>
            </div>
            <div class="clearfix"></div>
            <!--<div class="notice">-->
                <!--<p>风险提示：数字货币可能存在矿工预挖、庄家操控、团队解散、技术缺陷等问题，其价格波动较大，因此我们强烈建议您在自身能承受的风险范围内参与数字货币交易。</p>-->
                <!--&lt;!&ndash;<img onclick="$(this).parent().hide()" class="close_hint" src="__IMG__/base_images/close_hint.png" />&ndash;&gt;-->
            <!--</div>-->
        </div>
    </div>
    <!--<div id="market_area">-->
        <!--<div class="container">-->
            <!--<div class="market_left">-->
                <!--<h2>市场行情</h2>-->
                <!--<ul class="market_type" id="market_type">-->
                    <!--<foreach name="xnb" item="vo">-->
                        <!--<li class="xnb" data-type="btc|cny" onclick="rik(this)" value="{$vo.brief}">{$vo.name}<br/><span>{$vo.brief}</span></li>-->
                    <!--</foreach>-->
                    <!--<li class="xnb"><a href="{:U('Trade/buy')}">更多产品</a></li>-->
                    <!--&lt;!&ndash;<li class=" xnb" data-type="btc|cny" onclick="rik(this)" value="BTB">比特币<span >BTB</span></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li data-type="ltc|cny" onclick="rik(this)" value="BHB">产品<span >BHB</span></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li data-type="eth|cny" data-period="15min" id="market_eth_tab" onclick="rik(this)" value="DQB">地球币<span>DQB</span></li>&ndash;&gt;-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="market_right">-->
                <!--<div class="market_sub">-->
                    <!--<div class="sub_top market_top">-->
                        <!--<ul class="list-unstyled top_" id="tmp_overview">-->
                            <!--<li class="price_box now_price font_down"><span class="price">&yen;&nbsp;19949.97</span>&nbsp;-->
                                <!--&lt;!&ndash;<i&ndash;&gt;-->
                                    <!--&lt;!&ndash;class="glyphicon glyphicon-arrow-down"></i>&ndash;&gt;-->
                            <!--</li>-->
                            <!--<li class="price_box">最低价&nbsp;<span class="font_down low">&yen;&nbsp;19380.03</span></li>-->
                            <!--<li class="price_box">最高价&nbsp;<span class="font_up high">&yen;&nbsp;20218.63</span></li>-->
                            <!--<li class="price_box price_rose">涨幅&nbsp;<span class="rose font_up">2.88%</span></li>-->
                            <!--&lt;!&ndash;<li class="total_box">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="total_table">24H成交量&nbsp;<span class="total">฿&nbsp;12861.6143</span></div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="sub_bottom" id="market">-->

                        <!--<div class="sub_flash" id="kxiantu">-->
                            <!--&lt;!&ndash;<iframe src=""&ndash;&gt;-->
                            <!--&lt;!&ndash;name="HB_Home_iframe" id="HB_Home_iframe" height="100%" width="100%"&ndash;&gt;-->
                            <!--&lt;!&ndash;frameborder="0" cellpadding="0" cellspacing="0"></iframe>&ndash;&gt;-->

                        <!--</div>-->
                        <!--&lt;!&ndash;<div class="sub_tx">-->
                            <!--<div class="tx_title"><b>买卖盘</b>-->
                                <!--<div class="index_depth">-->
                                    <!--<div class="depth_box" id="change_depth">-->
                                        <!--<div class="depth_info"><span class="depth_name">深度</span> <span-->
                                                <!--class="now_depth">0</span> <i class="icon_gray_arrows"></i></div>-->
                                        <!--<ul class="change_depth" style="display: none">-->
                                            <!--<li class="tb" data-depth="0">0</li>-->
                                            <!--<li data-depth="1">1</li>-->
                                            <!--<li data-depth="2">2</li>-->
                                            <!--<li data-depth="3">3</li>-->
                                            <!--<li data-depth="4">4</li>-->
                                            <!--<li data-depth="5">5</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div id="market_all">-->
                                <!--<ul class="m_t_o" id="tmp_depth">-->
                                    <!--<li><span class="tx_1 font_sell">卖5 </span> <span class="tx_2">￥ 19960.00</span>-->
                                        <!--<span class="tx_3 font_sell">9.0000</span></li>-->
                                    <!--<li><span class="tx_1 font_sell">卖4 </span> <span class="tx_2">￥ 19959.97</span>-->
                                        <!--<span class="tx_3 font_sell">1.0000</span></li>-->
                                    <!--<li><span class="tx_1 font_sell">卖3 </span> <span class="tx_2">￥ 19950.00</span>-->
                                        <!--<span class="tx_3 font_sell">0.2860</span></li>-->
                                    <!--<li><span class="tx_1 font_sell">卖2 </span> <span class="tx_2">￥ 19949.99</span>-->
                                        <!--<span class="tx_3 font_sell">0.1601</span></li>-->
                                    <!--<li><span class="tx_1 font_sell">卖1 </span> <span class="tx_2">￥ 19949.97</span>-->
                                        <!--<span class="tx_3 font_sell">2.3001</span></li>-->
                                    <!--<li class="mid"></li>-->
                                    <!--<li><span class="tx_1 font_buy">买1 </span> <span class="tx_2">￥ 19945.00</span>-->
                                        <!--<span class="tx_3 font_buy">0.4449</span></li>-->
                                    <!--<li><span class="tx_1 font_buy">买2 </span> <span class="tx_2">￥ 19942.00</span>-->
                                        <!--<span class="tx_3 font_buy">2.0000</span></li>-->
                                    <!--<li><span class="tx_1 font_buy">买3 </span> <span class="tx_2">￥ 19931.30</span>-->
                                        <!--<span class="tx_3 font_buy">0.1395</span></li>-->
                                    <!--<li><span class="tx_1 font_buy">买4 </span> <span class="tx_2">￥ 19930.00</span>-->
                                        <!--<span class="tx_3 font_buy">5.0000</span></li>-->
                                    <!--<li><span class="tx_1 font_buy">买5 </span> <span class="tx_2">￥ 19910.06</span>-->
                                        <!--<span class="tx_3 font_buy">0.9900</span></li>-->
                                <!--</ul>-->
                                <!--<div class="tx_title tx_s"><b>实时成交</b></div>-->
                                <!--<ul class="m_t_y" id="tmp_trades">-->
                                    <!--<li><span class="tx_1">10:53:53</span> <span class="tx_2">￥ 19949.97</span>-->
                                        <!--<span class="tx_3 font_sell">3.0776↓                                                                            </span>-->
                                    <!--</li>-->
                                    <!--<li><span class="tx_1">10:53:44</span> <span class="tx_2">￥ 19949.97</span>-->
                                        <!--<span class="tx_3 font_sell">0.2844↓                                                                            </span>-->
                                    <!--</li>-->
                                    <!--<li><span class="tx_1">10:53:40</span> <span class="tx_2">￥ 19949.97</span>-->
                                        <!--<span class="tx_3 font_sell">0.0320↓                                                                            </span>-->
                                    <!--</li>-->
                                    <!--<li><span class="tx_1">10:53:31</span> <span class="tx_2">￥ 19949.97</span>-->
                                        <!--<span class="tx_3 font_sell">0.0320↓                                                                            </span>-->
                                    <!--</li>-->
                                    <!--<li><span class="tx_1">10:53:28</span> <span class="tx_2">￥ 19949.97</span>-->
                                        <!--<span class="tx_3 font_sell">0.0320↓                                                                            </span>-->
                                    <!--</li>-->
                                    <!--<li><span class="tx_1">10:53:14</span> <span class="tx_2">￥ 19949.97</span>-->
                                        <!--<span class="tx_3 font_sell">0.0320↓                                                                            </span>-->
                                    <!--</li>-->
                                    <!--<li><span class="tx_1">10:52:39</span> <span class="tx_2">￥ 19949.97</span>-->
                                        <!--<span class="tx_3 font_sell">0.0320↓                                                                            </span>-->
                                    <!--</li>-->
                                    <!--<li><span class="tx_1">10:52:37</span> <span class="tx_2">￥ 19949.97</span>-->
                                        <!--<span class="tx_3 font_sell">0.2520↓                                                                            </span>-->
                                    <!--</li>-->
                                    <!--<li><span class="tx_1">10:52:12</span> <span class="tx_2">￥ 19949.97</span>-->
                                        <!--<span class="tx_3 font_sell">1.0374↓                                                                            </span>-->
                                    <!--</li>-->
                                    <!--<li><span class="tx_1">10:52:10</span> <span class="tx_2">￥ 19949.97</span>-->
                                        <!--<span class="tx_3 font_sell">0.0109↓                                                                            </span>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>&ndash;&gt;-->


                        <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                <!--</div>-->
				<!--<input type="hidden" name="markets" value="{$market}">-->
                  <!--<div class="timing">-->
			            	<!--<button class="fiveminter minterxian" onclick="fivemin(this)" value="300">5分钟线</button>-->
			            	<!--<button class="fiveminter minterxian" onclick="fivemin(this)" value="900">15分钟线</button>-->
			            	<!--<button class="fiveminter minterxian" onclick="thertyemin(this)" value="1800">30分钟线</button>-->
			            	<!--<button class="fiveminter minterxian" onclick="onehero(this)" value="3600">1小时线</button>-->
			            	<!--<button class="fiveminter minterxian" onclick="eighero(this)" value="28800">8小时线</button>-->
			            	<!--<button class="riline activebtn" onclick="riks()">日线</button>-->
			       <!--</div>-->
            <!--</div>-->
            <!--<div style="clear: both;"></div>-->
             <!--<div class="notice warm-prompt">-->
                <!--<p><span>温馨提示：</span>请您投资前对本次投资有充分认知，理性判断自己的投资能力，审慎做出投资决策</p>-->
                <!--&lt;!&ndash;<img onclick="$(this).parent().hide()" class="close_hint" src="__IMG__/base_images/close_hint.png" />&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="news index-partners">
        <h5>行业资讯</h5>
        <div class="container" id="News">
            <volist name="information" id="data">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="{:U('Information/arlist')}&type={$data.id}">{$data.title}</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <volist name="data['information']" id="content">
                            <p><span>[{$content.endtime|date="m-d",###}]</span><a href="{:U('Information/ardetail', 'id='.$content['id'].'&xnbid='.$content['xnbid'])}">{$content.title}</a></p>
                        </volist>
                    </div>
                    <div class="panel-footer"><a href="{:U('Information/arlist')}&type={$data.id}">查看更多&gt;&gt;</a></div>
                </div>
            </volist>
            <div class="clearfix"></div>
        </div>
    </div>
    <div id="App_ewm" class="container">
        <div class="pull-left">
            <img src="__IMG__/index_images/easy-phone.png" alt="手机图片">
        </div>
        <div class="pull-right">
            <div class="title">
                <h4>移动APP，轻松交易</h4>
                <ul>
                    <li>交易资产随时看，操作更安全，订单历史一目了然</li>
                    <li>手机移动端苹果、安卓双平台支持</li>
                    <li>安全快捷的虚拟币交易平台</li>
                </ul>
            </div>
            <div class="similar" >
                <!--<div id="qrcode_ios"></div>-->
                <img src="{$public_code}" alt="andriod二维码">
                <a href="{:U('DownLoadCenter/APPDownload', array('tag' => 0))}"><p>ios版</p></a>
            </div>
            <div class="similar">
                <!--<div  id="qrcode_android"></div>-->
                <img src="{$android_code}" alt="andriod二维码">
                <a href="{:U('DownLoadCenter/APPDownload', array('tag' => 0))}"><p>Android版</p></a>
            </div>
        </div>
    </div>

</main>
<include file="Public:footer"/>

<script src="__JS__/jquery.js"></script>
<script src="__JS__/echarts.js"></script>
<script src="__JS__/canvas_lines.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/base.js"></script>
<script src="__JS__/index.js"></script>
<script src="__JS__/poposlides.js"></script>

<script src="/Public/jquery.qrcode/jquery.qrcode.js"></script>
<script type="text/javascript">
    $("#remember_password").click(function () {
        if($("#remember_password").is(":checked")==true){
            var user=$("#user_name").val();
            var pass=$("#user_password").val();
            $.ajax({
                url:"{:U('Index/record')}",
                data:{user:user,pass:pass},
                type:"post",
                success:function(data) {
                }
            })
        }
    })


    $("#qrcode_android").qrcode({  //二维码
        render : "canvas",    //设置渲染方式，有table和canvas，使用canvas方式渲染性能相对来说比较好
        text : "http://app.icefeu.com/down/?20404",    //扫描二维码后显示的内容,可以直接填一个网址，扫描二维码后自动跳向该链接
        width : "120",               //二维码的宽度
        height : "120",              //二维码的高度
        background : "#ffffff",       //二维码的后景色
        foreground : "#000000",        //二维码的前景色
        src: '/Public/Home/images/base_images/ewm-top.jpg'             //二维码中间的图片
    });
    $("#qrcode_ios").qrcode({  //二维码
        render : "canvas",    //设置渲染方式，有table和canvas，使用canvas方式渲染性能相对来说比较好
        text : "http://app.icefeu.com/down/?20404",    //扫描二维码后显示的内容,可以直接填一个网址，扫描二维码后自动跳向该链接
        width : "120",               //二维码的宽度
        height : "120",              //二维码的高度
        background : "#ffffff",       //二维码的后景色
        foreground : "#000000",        //二维码的前景色
        src: '/Public/Home/images/base_images/ewm-top.jpg'             //二维码中间的图片
    });
</script>
<script type="text/javascript" src="__ECHERT__/Kxiantu.js"></script>
</body>
</html>
