<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/message.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/message.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<a class="top-left" href="{:U('arlist', array('choose' => 2))}">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>产品介绍</h2>
		</header>
		<section class="currency-introduce">
				<div class="currency-intro">
					<div class="currency-intro-plore">
						<img class="currency-intro-head" src="/{$xnbdetail.imgurl}"/>
						<div class="currency-intro-name">
							<p>{$xnbdetail.name} (英文: {$xnbdetail.enname} 缩写: {$xnbdetail.brief})</p>
							<p>推出日期: {$xnbdetail.createtime}</p>
						</div>
					</div>
					<div>{$xnbdetail.text}</div>
					<!--<div>详细参数</div>-->
				</div>
				<!--<div class="currency-intro-info">
					<ul>
						<li>
							<span>中文名 : </span>
							<span>{$xnbdetail.name} </span>
						</li>
						<li>
							<span>核心算法 : </span>
							<span>{$xnbdetail.algorithm}</span>
						</li>
						<li>
							<span>英文简称 : </span>
							<span>{$xnbdetail.brief}</span>
						</li>
						<li>
							<span>英文名 : </span>
							<span>{$xnbdetail.enname}</span>
						</li>
						<li>
							<span>研发者 : </span>
							<span>{$xnbdetail.author}</span>
						</li>
						<li>
							<span>区块时间 : </span>
							<span>{$xnbdetail.blocktime}</span>
						</li>
						<li>
							<span>发布日期 : </span>
							<span>{$xnbdetail.releasedate}</span>
						</li>
						<li>
							<span>主要特色 : </span>
							<span>{$xnbdetail.advantage}</span>
						</li>
						<li>
							<span>货币总量 : </span>
							<span>{$xnbdetail.totalmoney}</span>
						</li>
						<li>
							<span>区块奖励 : </span>
							<span>{$xnbdetail.blockreward}</span>
						</li>
						<li>
							<span>不足之处 : </span>
							<span>{$xnbdetail.disadvantage}</span>
						</li>
					</ul>
				</div>-->
		</section>
		<include file="Public:footer" />
	</body>
	<script type="text/javascript" >
		$("#back_xnb").click(function () {
			window.history.back(-1);
		})
	</script>
</html>
