<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/index.css" />
		<link rel="stylesheet" href="__CSS__/swiper-3.4.2.min.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/index.js" ></script>

	</head>
	<body class="backgroundff">
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>区块链</h2>
		</header>
		<section class="notice">
			<h2 class="notice-title">{$notice.title}</h2>
			<p>
				{$notice.text}
			</p>
		</section>
		<include file="Public:footer" />
	</body>
</html>
