.container {
    min-width: 990px;
    padding: 0;
}

a {
    color: #333333;
    text-underline: none;
    noOutline:expression(this.onFocus=this.blur());
}
a,input,button{
    blr:expression(this.onFocus=this.blur());   /*    IE Opera    */
    outline:none!important;   /*    FF Opera    */
}
a:visited{text-decoration:none!important;}
a:hover {
    color: #ff3333;
    text-decoration: underline;
}
a:active,input:active,button:active{
    -moz-outline-style: none;   /*    FF    */
}
a:focus{outline:none;}

/*header*/
header {
    width: 100%;
    background-color: #1a1c28;
    height: 36px;
    font-size: 13px;
    min-width: 990px;

}

header .container {
    position: relative;
}

header .container p {
    margin: 0;
    color: rgb(150, 140, 140);
    line-height: 36px;
}

header .container ul {
    border: 1px solid rgb(187, 186, 186);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12px;
}

header .container ul li {
    float: left;
    padding: 0;
}
header .container ul li:first-child {
    border-right: 1px solid rgb(187, 186, 186);
}

header .container ul li a {
    color: rgb(187, 186, 186);
    text-decoration: none;
    padding: 2px 12px;
    display: block;
}

header .container ul li:hover {
    background-color: #676565;
    cursor: pointer;
}

header .container ul li:hover a {
    color: rgb(225, 224, 224);
    text-decoration: none;
}

/*nav*/
nav {
    width: 100%;
    height: 80px;
    background-color: rgba(255,255,255,0.8);
    min-width: 990px;
    box-shadow: 1px 1px 3px #dddddd;
    position: relative;
    z-index: 200;
}
@media \0screen,screen\9 {
    nav {
        background-color: rgb(255, 255, 255);
        filter:alpha(opacity=80);
        zoom: 1;
    }
    #myCarousel .carousel-indicators li{
        background-color: rgb(0, 0, 0);
        filter:alpha(opacity=80);
        zoom: 1;
    }
    #myCarousel .carousel-indicators li.active{
        background-color: rgb(255, 255, 255);
        filter:alpha(opacity=80);
        zoom: 1;
    }
}
nav .container {
    position: relative;
    height: 80px;
    z-index: 10;
}

nav .container .logo {
    margin-top: 13px;
}

nav .container .logo img {
    height: 54px;
}

nav ul.nav {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    left: 4%;
}

nav ul.nav li {
    float: left;
    position: relative;
    height: 100%;
}

nav .container ul li a:after {
    content:attr(data-text);
    font-weight: bold;
    font-size: 16px;
    color: rgb(250, 66, 35);
    position: absolute;
    top: 80px;
    left: 15px;
}
nav ul.nav li a {
    padding-top: 30px;
    height: 100%;
 /*   font-weight: bold;*/
    font-size: 16px;
    background-color: transparent!important;
    display: block;
}
nav ul.nav li a:hover{
    color: #333333;
}
nav ul.nav li.similar a {
    top: 0;
}
nav ul.nav li.similar2 a {
    top: 50px;
}
nav ul.nav li.selected a {
    top:-50px;
}
nav .online_service {
    margin-top: 20px;
}

nav .online_service a {
    display: inline-block;
    color: white;
    background-color: rgb(250, 66, 35);
    padding: 8px 25px;
    font-size: 14px;
    border-radius: 20px;
    text-decoration: none!important;
}
nav .online_service a:hover{
    background-color: rgb(224, 41, 10);
    text-decoration: none;
}
nav .online_service a span {
    padding-right: 8px;
}

/*communication*/
#Communication {
    width: 100%;
    min-width: 990px;
    border-top: 1px solid #dddddd;
    background-color: white;
/*    border-bottom: 1px solid #dddddd;*/
}

#Communication {
    width: 100%;
    min-width: 990px;
/*    border-top: 1px solid #ffcfcf;*/
    padding: 40px 0;
}

#Communication .container .panel {
    width: 33%;
    height: 101px;
    float: left;
    margin-bottom: 0;
    padding: 20px 0 20px 120px;
    box-shadow: none;

}
/**/
.relation{overflow: hidden;margin: auto;font-family: "Microsoft YaHei","微软雅黑",arial,Tahoma,SimSun,sans-serif!important;}
.relationdiv{
	width: 170px;
	height: 101px;
	float: left;
}
.relation>div:nth-child(1){
	width:38%;
}
.relation>div:nth-child(2){
	width:38%;
}
.relation>div:nth-child(3){
	width:24%;
}
.relation-text p:nth-child(1){
	font-size: 18px;
    font-weight: bold;
    color: #444444;
}

.relationdiv .relationimg{
	float: left;
}
.relation-text{
	float: left;
	margin: 30px 0px;
	padding-left: 15px;
	
}
.relationdiv a{
	display: block;
	cursor: pointer;
}
.relationdiv a:hover{
	color: #333;
}
.relation-text p{
	margin: 0px;
}

#Communication .container .panel .panel-heading {
    /*color: #ff3333;*/
    color:#000000;
    padding: 12px 0 3px 0 ;
}
#Communication .container .panel .panel-heading h3{
    font-weight: bold;
}
#Communication .container .panel .panel-body {
    padding: 0;
    color: #666666;
    font-size: 12px;
    background: none;
}
#Communication .container .service_online{
    background: url("../images/base_images/service.png") 0 -1px no-repeat;
}
#Communication .container .service_online .panel-body{
    background: url("../images/base_images/offical_ico.png") 0 -1px no-repeat;
    padding-left: 20px;
    line-height: 20px;
    height: 20px;
}
#Communication .container .sina_wb{
    background: url("../images/base_images/service.png") 0 -206px no-repeat;
}
#Communication .container .qq_group{
    background: url("../images/base_images/service.png") 0 -308px no-repeat;
}
/*footer*/
footer{
    border-top: 1px solid #dddddd;
    background-color: #1a1c28;
    width: 100%;
    min-width: 990px;
}
footer .container .company_info{
    background: url("../images/base_images/xqqkl_logo-footer.png") left center no-repeat;
    padding-left: 28%;
    background-size: 300px;
}
footer .container .similar{
    width: 23%;
    float: left;
    padding: 20px;
}
footer .container .similar:nth-of-type(3){
    width: 31%;
    float: left;
    padding: 20px;
}
footer .container a{
    color: #666666;
    text-decoration: none;
}
footer .container a:hover{
    color: #ff3333;
    text-decoration: underline;
}
footer .container .similar h4 a{
    font-size: 16px;
    color: #ffffff;
}
footer .container .similar h4 a:hover{
    color: #ff3333;
}
footer .container .similar .sim_body p{
    margin-bottom: 5px;
    font-size: 14px;
    color: #969696;
}
footer .container .similar .sim_body p.big{
    font-size: 16px;
}
footer .container .similar .sim_body p a{
    color: #969696;
}
footer .container .similar .sim_body p a:hover{
    color: #ff3333;
}
/*friend_ship*/
footer #foot_bottom{
    color: white;
    padding: 10px 0 20px 0;
}
#friend_link{
    padding: 20px 0;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
}
#friend_link .link_body{
    display: inline;
    text-align: left;
}
#friend_link span{
    padding: 0 10px;
}
#friend_link a{
    font-size: 13px;
    color: #969696;
    text-decoration: none;
}
#friend_link a:hover{
    color: #ff3333;
    text-decoration: underline;
}
#friend_link .title{
    font-weight: bold;
}
#friend_link .find_more a{
    color: #ff3333;
}

#other_info{
    padding-top: 20px;
}
#other_info p{
    text-align: center;
    font-size: 12px;
    color: #969696;
}
#other_info p span{
    padding: 5px;
}
#other_info p a{
    color: #969696;
    text-decoration: none;
}
#other_info p a:hover{
    color: #ff3333;
    text-decoration: underline;
}

/*right fixed box*/
footer .backtoTopBox {
    height: 200px;
    position: fixed;
    right: 5px;
    bottom: 40px;
    text-align: right;
    z-index: 1111;
}
footer .backtoTopBox div {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    overflow: hidden;
    position: absolute;
    right: 0;

}

footer .backtoTopBox div b {
    opacity: 0;
    font-size: 17px;
    padding: 12px;
    color: #fff;
    position: relative;
}
footer a{
text-decoration: none !important;
}

footer .backtoTopBox #to_top {
    background: #ffffff url(../images/base_images/top.png) center center no-repeat;
    top: 140px;
    display: block;
    opacity: 1;
    cursor: pointer;
}
footer .backtoTopBox #to_top:hover {
    background: #ffffff url(../images/base_images/topbgH.png) center center no-repeat;
    background-color: #046ec1;
}

footer .backtoTopBox #to_top {
    display: none;
}
.backtoTopBox>div{
	cursor: pointer;
}
footer .backtoTopBox .t-hand {
    background-image: url(/Public/Home/images/base_images/footer_icon.png);
    background-color: white;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
footer .backtoTopBox .t-hand.selected {
    background-color: #046ec1;
    padding-left: 40px;
    color: #fff;
}
footer .backtoTopBox #weixin_ewm {
    background-position: center -110px;
    top: -70px;
}
footer .backtoTopBox #weixin_ewm.selected {
    background-position: center -165px;
}
footer .backtoTopBox #contact_wid {
    background-position: center 0;
    top: -140px

}
footer .backtoTopBox #contact_wid.selected {
    background-position: center -58px;
}

footer .backtoTopBox #footerConnect{
    background-position: center -220px;
    top:0
}
footer .backtoTopBox #footerConnect.selected {
    background-position: 10px -278px;
    background-color: #046ec1;
    width: 140px;
    line-height: 60px;
}

footer .backtoTopBox #footerConnect.selected b {
    opacity: 1;
}
footer .backtoTopBox #footerHelp{
    background-position: center -333px;
    top: 70px;
}
footer .backtoTopBox #footerHelp.selected {
    background-position: 10px -390px;
    background-color: #046ec1;
    width: 185px;
    line-height: 60px;
}

footer .backtoTopBox #footerHelp.selected b {
    opacity: 1;
}

footer .backtoTopBox #ewm_img {
    text-align: center;
    background-color: #046ec1;
    position: absolute;
    top: -70px;
    left: -159px;
    padding: 10px;
    width: 100px;
    height: 110px;
    background-image: none;
    border-radius: 8px;
    border-top-right-radius: 0;
    z-index: 100;
    display: none;
    color:white;
}

#contact_enter{
    position: absolute;
    top: -140px;
    left: -460px;
    width: 400px;
    /*height: 340px;*/
    background-image: none;
    border-radius: 8px;
    border-top-right-radius: 0;
    z-index: 100;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3), -1px -1px 1px rgba(0,0,0,0.3);
    display: none;
}
#contact_enter .title{
    color: white;
    width: 100%;
   margin:0;
    background-color:#046ec1 ;
    padding: 5px 10px;
    text-align: left;
}
#contact_enter .title span{
   float: right;
    font-size: 12px;
    padding-top: 3px;
    cursor: pointer;
}
#contact_enter .contact_body{
    padding: 0 20px 10px 20px;
    height: 320px;
    font-size: 13px;
    text-align: justify;
    overflow-y: auto;
    overflow-x: hidden;
 }
/*定义滚动条轨道*/
#contact_enter .contact_body::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.22);
}
/*定义滚动条高宽及背景*/
#contact_enter .contact_body::-webkit-scrollbar
{
    width: 10px;
    background-color: rgba(0, 0, 0, 0.34);
}
/*定义滚动条*/
#contact_enter .contact_body::-webkit-scrollbar-thumb
{
    background-color: #dddddd;
    border-radius: 10px;
}
#contact_enter .contact_body .notice{
    font-weight: bold;
    padding-top: 10px;
    color: #FA4223;
}
#contact_enter .contact_body .notice .glyphicon{
margin-right: 5px;
}
#contact_enter .contact_body .content{
    color: #555555;
}
#contact_enter .contact_body .content>p{
   margin-bottom: 5px;
}
#contact_enter .contact_body .content ul{
text-indent: -20px;
    padding-left: 20px;
}
#contact_enter .contact_body .content ul li{
    margin-bottom: 5px;
}
#contact_enter .bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
#contact_enter .bottom .btn{
  padding: 2px 30px;
    font-size: 13px;
    background-color: #046ec1;
    outline: none;
    color: white;
}


.backtoTopBox>div\n{
	 cursor: pointer;
}


.timing{
	width: 600px;
	/*margin: 20px auto;*/	
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 120px;
}
.timing button{
	padding: 8px 12px;
	background: #fff;
	outline: none;
	margin-right: 12px;
	border: 0px;
	border: 1px rgb(225,225,225) solid; 
}
.activebtn{
	background: rgb(250, 66, 35) !important;
	color: #fff;
}



.chat-room{
	position: fixed;
    top: 40px;
    right: 0;
    overflow: hidden;
    width: 300px;
    height: 100%;
    z-index: 999;
    background: #fff;
    box-sizing: border-box;
	box-shadow: -5px 0px 5px rgba(0,0,0,0.2);
    z-index: 3000;
	display: none;
}
.chat-room-title{
	height: 40px;
	line-height: 40px;
	background: rgba(0, 0, 0, 0.8);
	
}
.room-send-name{
	padding:20px;
}
.room-send-name input{
	height: 30px;
	border: 0px;
	border: 1px rgb(225,225,225) solid;
	width: 100%;
	text-indent: 10px;
}
.room-send-name button{
	height: 30px;
	border: 0px;
	border-radius: 0px;
	background: rgb(250, 66, 35);
	color: #fff;
	outline: none;
	width: 100%;
}
.room-title-name{
	float: left;
	color: #fff;
	margin-left: 20px;
}
.room-title-shrink{
	margin-right: 18px;
	padding: 18px 0px;
	float: right;
	cursor: pointer;
	box-sizing: border-box;
	height: 20px;
}
.room-title-shrink-box{
	display: block;
	width: 16px;
	height: 3px;
	background: #fff;
}
.room-list::-webkit-scrollbar {/*滚动条整体样式*/width: 6px; height: 4px;}
.room-list::-webkit-scrollbar-thumb {/*滚动条里面小方块*/border-radius: 5px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: rgba(0,0,0,0.2);}
.room-list::-webkit-scrollbar-track {/*滚动条里面轨道*/-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);border-radius: 0;background: #dddfe0;}

.chat-room .room-list li{
	/*margin-bottom: 15px;*/
}
.room-list-info{
	width: 100%;
	margin-bottom: 5px;
}
.room-list{
    padding: 5px 10px;
    height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: auto;
    /* margin-right: -20px; */
    box-sizing: border-box;
    /* border-bottom: 1px rgb(225,225,225) solid; */
    padding-bottom: 10px;
    border-bottom: 1px rgb(225,225,225) solid;
    margin-bottom: 0px;
}
/*定义滚动条轨道*/
.room-list::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.22);
}
/*定义滚动条高宽及背景*/
.room-list::-webkit-scrollbar
{
    width: 10px;
    background-color: rgba(0, 0, 0, 0.34);
}
/*定义滚动条*/
.room-list::-webkit-scrollbar-thumb
{
    background-color: #dddddd;
    border-radius: 10px;
}
.room-list li{
	list-style-type: none;
	padding: 3px 0px;
	width: 100%;
	word-break: break-all;
	word-wrap: break-word;
}
.room-list li p{

}
.mychat .room-list-name{
	color: #000000;
}
.room-list-time{
	color: #999;
	font-size: 12px;
	margin-bottom: 5px;
}
.room-list-name{
	color: rgba(100,100,100,0.6);
	display: block;
}
.room-send-message{
	padding:0px 10px;
	margin-top: 15px;
}
.room-send-in{
    border: 1px solid rgb(225, 225, 225);
    color: rgb(51, 51, 51);
    width: 100%;
    height: 50px;
	text-indent: 10px;
    box-sizing: border-box;
    box-shadow: none;
    /*box-shadow: 0 0 2px rgba(0,0,0,0.2);*/
}
.room-send-in:focus{
    box-shadow: rgb(21,131,251) 0px 0px 3px;
    border: 1px solid rgb(21,131,251);
    color: rgb(51,51,51);
}
.room-send-btn{
	margin-top: 20px;
	width: 100%;
	border: 0px;
	background: rgb(250, 66, 35);
	color: #fff;
	outline: none;
	height: 30px;
}
.warm-prompt{
	padding: 10px;
    margin-top: 20px;
}
.room-send-name{
	padding-top: 20px;
}
.room-send-name p{
	margin-bottom: 10px;
}
.chatlog{
	margin: 20px 0px;
}
