body{
    position: relative;
    z-index: 100;
}
#help_content .fix_left{
    z-index: 500;
}
#help_content>.pull-left ul li a{
    padding-left: 30px;
}
/*right content*/
.center_content .pull-right{
    min-height: 680px;
}
#right_content{
    padding-left: 10px;
    padding-bottom: 40px;
}
#right_content .title {
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px dashed #FA4223;
    margin-left: 20px;
}
.download_content{
    padding: 20px;
}
.download_content table{
    width: 100%;
    border: 1px solid #dddddd;
}
.download_content table tr td {
    text-align: center;
    line-height: 50px;
}
.download_content table thead{
    font-weight: bold;
    background-color: #eeeeee;
}
.download_content table tbody td img{
    max-width: 40px;
    max-height: 40px;
}
.download_content table tbody tr:nth-child(even){
    background-color: #f8f8f8;
}
.download_content table tbody td a{
    color: #FA4223;
}

/*new bizhong shangxian*/
.download_content dl{
    padding: 0 20px;
    color: #666666;
}
.download_content dl dt{
     margin-bottom: 20px;
 }
.download_content dl dd{
   line-height: 25px;
}
.download_content dl dd ol li a{
color: #FA4223;
}
.download_content p.notice{
    padding: 0 40px;
    color: #FA4223;
}
.download_content button{
    margin-top: 20px;
   margin-left: 200px;
    background-color: #FA4223;
    border: none;
    padding: 8px 30px;
    box-shadow: 1px 2px 2px #666666;
}

/*app download*/
.app_download{
    margin-top: 30px;
}
.download_content .iphone_img{
    width: 252px;
    min-height: 550px;
    background: url(/Public/Home/images/down_load_center/iphone6s.png) center top no-repeat;
    position: relative;
    margin-left: 7px;
}

.download_content .iphone_img ul li{
    position: absolute;
    left: 16px;
    top: 64px;
}
.download_content .iphone_img ul li img{
    width: 219px;
}
.download_content .app_content{
    width: 64%;
    padding-left: 10px;
}
.download_content .app_content h5{
    font-size: 20px;
    text-align: center;
}
.download_content .app_content h5 span{
    display: inline-block;
    vertical-align: top;
    width: 91px;
    height: 9px;
    margin-top: 7px;
}
.download_content .app_content h5 .span_left{
    background: url("/Public/Home/images/down_load_center/nl_title_left.png") center no-repeat;
    margin-right: 20px;
}
.download_content .app_content h5 .span_right{
    background: url('/Public/Home/images/down_load_center/nl_title_right.png') center no-repeat;
    margin-left: 20px;
}
.download_content .app_content h6{
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.download_content .app_content ul.dec_info{
    margin-bottom: 30px;
}
.download_content .app_content ul.dec_info li{
   font-size: 15px;
    margin-bottom: 10px;
    color: #666666;
}
.download_content .app_ewm{
    padding-left: 30px;
}
.download_content .app_ewm h3{
    border-left: 4px solid #FA4223;
    padding-left: 20px;
    margin-bottom: 40px;
    margin-top: 80px;
}
.download_content .app_ewm ul li{
     text-align: center;
     float: left;
    margin-right: 30px;
 }
.download_content .app_ewm ul li p img{
  border: 1px solid #dddddd;
    max-width: 135px;
    max-height: 135px;
}
.download_content .app_ewm ul li p span{
    display: inline-block;
    height: 40px;
    width: 160px;
    background-image: url(/Public/Home/images/down_load_center/msjad_btns.png);
    background-repeat: no-repeat;
    overflow: hidden;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.download_content .app_ewm ul li p span.iphones_img{
    background-position: 0 -12px;
}
.download_content .app_ewm ul li p span.android_img{
    background-position: -320px -12px;
}
