body{
	min-width: 990px;
}
#finance_list li a{
	background-image: url("/Public/Home/images/safe_center/coin_style_icon.png");
	background-repeat: no-repeat;
	position: relative;
	background-position-x: 20px;
	padding-left: 70px;
}
#finance_list li:first-child a{
	background-position-y: -306px;
}

#finance_list li:nth-of-type(2) a{
	background-position-y: -348px;
}
#finance_list li:nth-of-type(3) a{
	background-position-y: -386px;
}
#finance_list li:nth-of-type(4) a{
	background-position-y: -460px;
}
#finance_list li:nth-of-type(5) a{
	background-position-y: -499px;
}
#finance_list li:nth-of-type(6) a{
	background-position-y: -535px;
}
#finance_list li:nth-of-type(7) a{
	background-position-y: -574px;
}
#finance_list li:nth-of-type(8) a{
	background-position-y: -1264px;
}
#finance_list li:first-child.selected a,#finance_list li:first-child a:hover{
	background-position-y: 0;
}

#finance_list li:nth-of-type(2).selected a,#finance_list li:nth-of-type(2) a:hover{
	background-position-y: -42px;
}
#finance_list li:nth-of-type(3).selected a,#finance_list li:nth-of-type(3) a:hover{
	background-position-y: -81px;
}
#finance_list li:nth-of-type(4).selected a,#finance_list li:nth-of-type(4) a:hover{
	background-position-y: -154px;
}
#finance_list li:nth-of-type(5).selected a,#finance_list li:nth-of-type(5) a:hover{
	background-position-y: -192px;
}
#finance_list li:nth-of-type(6).selected a,#finance_list li:nth-of-type(6) a:hover{
	background-position-y: -229px;
}
#finance_list li:nth-of-type(7).selected a,#finance_list li:nth-of-type(7) a:hover{
	background-position-y: -267px;
}
#finance_list li:nth-of-type(8).selected a,#finance_list li:nth-of-type(8) a:hover{
	background-position-y: -1226px;
}
/*#finance_list li a{
	color: #333;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	
}
.finance-side ul li a:hover{
	color: #FA4223;
}*/
/*.choose{
	color: #e55600 !important;
}*/
/*.finance-list-icon{
	width: 22px;
	height: 19px;
	vertical-align: -5px;
	margin-left: 15px;
	margin-right: 5px;
	overflow: hidden;
	display: inline-block;
	border: 1px solid red;
}*/
.finance-side-boult{
	display: none;
    /*width: 12px;
    height: 12px;
    border-left: solid 1px #f49a68;
    border-top: solid 1px #f49a68;
    transform: rotateZ(135deg);
    -webkit-transform: rotateZ(135deg);
    -moz-transform: rotateZ(135deg);
    -o-transform: rotateZ(135deg);
    -ms-transform: rotateZ(135deg);*/
    right: 25px;
    position: absolute;
    top: 15px;
    width: 10px;
    height: 10px;
}
.finance-content{
/*	background: #fff;*/
	min-height: 620px;
	overflow: hidden;
	padding-bottom: 50px;
/*	margin-left: 250px;*/
}
/*.finance-center{
	margin-left: 50px;
}*/

.white{
	height: 20px;
	background: #fff;
}
.finance-center-hint{
	font-size: 18px;
	padding-top: 20px;
}
.total-assets{
	margin-top: 10px;
	font-size: 15px;
	margin-bottom: 25px;
}
.total-assets strong{
font-weight: bold;
}
.total-assets #info_question{
	font-size: 12px;
	color: #666666;
	cursor: pointer;
}
.total-assets #info_question img{
	width: 16px;
}
.total-assets #info_question em{
	display: none;
}
.money{
	color: #FA4223;
}
.total-assets-hint{
	font-size: 12px;
}
.finance-mark{
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 30px;
}
.finance-rmb{
	height: 40px;
	margin-top: 20px;
}
.finance-rmb img{
	width: 40px;
	height: 40px;
	vertical-align: middle;
}
.finance-rmb p{
	float: left;
}
.finance-rmb-chunk{
	float: left;
	line-height: 40px;
	width:23%;
}
.rmb-chunk-usable{
	color: #690;
}
.rmb-chunk-frost{
	color: orange;
}
.finance-mold{
	margin-top: 20px;
	height: 42px;
	line-height: 42px;
	background: #dddddd;
	width: 97%;
	font-weight: bold;
}
.finance-mold ul {
	overflow: hidden;
}
.finance-mold ul li{
	float: left;
	width: 11%;
	text-align: center;
}
.finance-mold ul li:first-child{
	width: 26%;
	padding-left: 9%;
	text-align: left;
}
.finance-record{
	width: 97%;
	border: 1px solid #dddddd;
}
.finance-record ul{
	height: 650px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.finance-record ul li{
	height: 70px;
	font-weight: 200;
}
.finance-record ul li:nth-child(even){
	background-color: rgb(248, 248, 248)
}
.finance-record ul li:hover{
	background-color: rgb(249,242,221);
}
.finance-record ul li dl{
	overflow: hidden;
	text-align: center;

}
.finance-record ul li dl dt{
	float: left;
	height: 70px;
	line-height: 70px;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 11%;
}

.finance-record ul li dl .record-species{
	width: 27%;
	padding-top: 15px;
	padding-left: 3%;
	overflow: hidden;
	float: left;
	text-align: left;
}

.record-img img{
	width: 40px;
	height: 40px;
}

.record-img{
	float: left;
	margin-right: 5px;
}
.record-img img{
}
.record-price{
	float: left;
	width: 73%;
}
.record-price>p{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.to-deal{
	height: 50px;
}
.to-deal input{
	width: 90px;
	height: 30px;
	color: #FA4223;
    border: 1px solid #FA4223;
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
    background: none;
    outline: none;
}
.to-deal input:hover{
	color: #fff;
	background: #FA4223;
}
.name-small{
	color: #999;
}

/*人民币充值*/
.scan{
	width: 280px;
	height: 280px;
	margin: auto;
	margin-top: 50px;
}
.scan-hint{
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}
.recharge{
	width: 380px;
	background-color: #f8f8f8;
	margin: 50px auto;
	border: 1px solid #dddddd;
	border-radius: 15px;
	box-shadow: 2px 2px 3px #dddddd;
}
.to-recharge{
	margin-top: 30px;
	text-align: center;
}
.to-recharge a{
	display: inline-block;
	font-size: 14px;
    width: 220px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    user-select:none;
	background-color: #FA4223;
	color: white;
	box-shadow: 1px 2px 2px #666666;
}
.rmb-balance{
	margin: 20px 100px 20px 60px;
}
.rmb-balance strong{
	font-weight: bold;
	font-size: 15px;
}
.recharge form {
	width: 300px;
	margin: 30px auto 60px auto;
}
.charge_title{
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.recharge .form-group {
	width: 300px;
	margin-top: 20px;
}
.recharge .form-group label{
	font-weight: 500;
	margin: 10px 0;
	width: 25%;
}
.recharge .form-group .form-control{
	width: 75%;
	float: right;
}

.rmb-balance span{
	margin-right: 10px;
}
.add-bank{
	margin-top: 30px;
	margin-left: 180px;
}
.add-bank form .form-group label{
	line-height: 40px;
    font-size: 14px;
    color: #666;
    font-weight: 300;
    margin-right: 5px;

}
.add-bank form .form-group input{
	display: inline-block;
	height: 40px;
	padding: 0 4px;
}
.add-bank form .form-group select{
	width: 220px;
	height: 40px;
	display: inline-block;
}
.add-bank-affirm input{
	font-size: 14px;
    height: 34px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
	background-color: #FA4223;
	color: white;
	width: 220px;
	box-shadow: 1px 2px 2px #666666;
}

/*提示框*/
.recharge_tip{
	width: 94%;
	background-color: rgba(82, 81, 81, 0.9);
	padding: 60px 120px 80px 120px;
	border-radius: 15px;
	position: absolute;
	z-index: 10;
	top: 150px;
	left: 30px;
}
.recharge_tip h5{
	font-size: 20px;
	color: #FA4223;
	margin-bottom: 30px;
	text-align: center;
}
.recharge_tip h5 span{
	padding-right: 5px;
}
.recharge_tip ul{
	width: 500px;
	margin: 0 auto;
}
.recharge_tip ul li{
	list-style-type: decimal;
	color: #f9f9f9;
	margin-left: 50px;
	line-height: 23px;
}
.recharge_tip p{
	text-align: center;
	margin-top: 30px;
}
.recharge_tip p span{
	display: inline-block;
	background-color: #FA4223;
	width: 160px;
	color: white;
	box-shadow: 1px 2px 2px #666666;
	padding: 6px 0;
	border-radius: 8px;
}
.recharge_tip p a{
	color: white;
}
.recharge_tip p a:hover{
	text-decoration: none;
}
.rmb_content{
	position: relative;
}
/*提现*/
.pull-right  .notice {
	text-align: center;
	color: #FA4223;
	border-radius: 10px;
	margin: 20px 30px 40px 30px;
	padding: 8px 20px;
	background-color: #FEFBF1;
	border: 1px solid #fec2b7;
}
.pull-right  .notice p{
	margin: 0;
}
.pull-right  .notice span {
	padding-right: 5px;
}

.withdraw{
	margin: 0 auto;
	width: 500px;
	background-color: #f8f8f8;
	border: 1px solid #dddddd;
	border-radius: 15px;
	box-shadow: 2px 2px 3px #dddddd;
	margin-bottom: 50px;
}
.withdraw form{
	width: 315px;
	margin: 0 auto;
	padding: 30px 0 80px 0;
}
.withdraw form h4.charge_title{
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.withdraw form .form-group label{
	line-height: 40px;
    font-size: 14px;
    color: #666;
    font-weight: 300;
    margin-right: 5px;
    }
.withdraw form .form-group  input{
	font-size: 14px;
}
.withdraw form .form-group  button{
	font-size: 14px;
	width: 220px;
	color: #690;
	background: #F8F8F8 url(/Public/Home/images/register_images/yuyin.png) no-repeat 20px 4px;
	outline: none;
}
.withdraw form .form-group input.form-control{
	display: inline-block;
	width: 220px;
	height: 40px;
	padding: 0 15px;
	margin-left: 20px;
}
.withdraw form .form-group select{
	display: inline-block;
	width: 220px;
	height: 40px;
	margin-left: 20px;
}
.input_width_9_a{
}
.input_width_9_a label{
	
}
.input_width_9_a input{
	width: 220px;
	margin-left: 50px;
}
.input_width_9{
	display: inline-block;
}
.withdraw-special{
	margin-left: 6px !important;
}
.c333{
	color: #333 !important;
}
.c55600{
	color:#e55600 !important;
}
.C669900{
	color: #669900 !important;
}
.label-hint{
	margin-right: 30px  !important;
}
.marleft30{
	text-align: center;
}
.add_card{
	margin-top: -15px;
	margin-left: 31%;
	margin-bottom: 0;
}
.add_card a{
	color: #690;
}
.add_bind_card{
	margin-left: -35px;
	margin-bottom: 0;
	padding: 15px 0;
	position: relative;
	left: 50%;
	top: 0;
}
.add_bind_card a{
	color: #FA4223;
}
.add_bind_card a span{
	margin-right: 3px;
}
.charge_tips{
	padding: 15px;
	border-bottom: 1px solid #dddddd;
	color: #178064;
	font-size: 16px;
}
.charge_tips span{
	padding-right: 3px;
}
.withdraw form .form-group.radio_check input{
	float: left;
}
.withdraw form .form-group.radio_check label{
	line-height: 20px;
	display: inline-block;
	float: left;
	width: 92%;
	padding-left: 2%;
	text-align: justify;
}
/*虚拟币类型*/
.currency-type{
	margin-top: 30px;
	margin-bottom: 50px;
	width: 97%;
	position: relative;
	margin-left: 3%;
}
.currency-type select{
	width: 200px;
	display: inline-block;
}

.currency-type-hint label{
	font-weight: 500;
}
.currency-type-hint span:nth-child(1){
	margin-right: 5px;
}
.currency-type-usable{
	margin-left: 30px;
	margin-right: 10px;
}
.currency-type-hint{
	font-weight: 200;
	display: inline-block;
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
	margin-left: 20px;
}
.currency-type-hint strong{
	font-weight: bold;
	color: #555555;
}
.currency-mold{
	margin-top: 20px;
	height: 42px;
	line-height: 42px;
	background: #ccc;
	width: 97%;
	font-weight: bold;
}
.currency-mold ul {
	overflow: hidden;
}
.currency-mold ul li{
	float: left;
	width: 16%;
	text-align: center;
}
.currency-mold ul li select{
	font-weight: bold;
}
.currency-mold.in_xnb ul li{
 width: 14%;
}
.currency-mold.in_xnb ul li:first-child{
	width: 21%;
}
.currency-mold.in_xnb ul li:nth-child(5){
	width: 22%;
}
.currency-mold.in_xnb ul li:last-child{
	width: 13%;
}
.currency-mold.out_curr ul li{
	width: 11.3%;
}
.currency-mold.out_curr ul li:nth-child(2){
	width: 30%;
}
.currency-mold.out_curr ul li:nth-child(4){
	width: 20%;
}
.currency-mold.rmb_out ul li{
	width: 13%;
}
.currency-mold.rmb_in ul li{
	width: 14%;
}
.currency-mold.rmb_in ul li:first-child{
	width: 20%;
}
.currency-mold.rmb_in ul li:nth-child(2){
	width: 21%;
}
.currency-mold.rmb_in ul li:last-child{
	width: 12%;
}
/*.currency-mold.rmb_out ul li:first-child{
	width: 21%;
}*/
.currency-mold.rmb_out ul li:nth-child(2){
	width: 20%;
}
.currency-mold.rmb_out ul li:last-child{
	width: 12%;
}
.currency-mold.rmb_out ul li select{
	outline: none;
	padding-left: 10px;
}
.currency-record-hint{
	border-left: 3px solid #FA4223;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-left: 15px;
	font-weight: bold;
}
.currency-record{
	height: 210px;
	width: 97%;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #dddddd;
	background-color: #f8f8f8;
}
.currency-record ul {
	 overflow: hidden;
	 line-height: 42px;
	 background: #f8f8f8;
	 width: 100%;
	 position: relative;
 }
.currency-record ul:hover{
	background: rgb(249,242,221);
}
/*.currency-record ul:nth-child(odd) {
	background-color: #f3f3f3;
}*/
.currency-record ul li{
	float: left;
	width: 16%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}
.currency-record.in_xnb ul li{
	width: 14%;
}
.currency-record.in_xnb ul li:first-child{
	width: 22%;
}
.currency-record.in_xnb ul li:nth-child(5){
	width: 22%;
}
.currency-record.out_curr ul li{
	width: 12%;
}
.currency-record.out_curr ul li:nth-child(2){
	width: 30%;
}
.currency-record.out_curr ul li:nth-child(4){
	width: 20%;
}
.currency-record.rmb_out ul li{
	width: 13%;
}
.currency-record.rmb_in ul li{
	width: 14%;
}
.currency-record.rmb_in ul li:first-child{
	width: 21%;
}
.currency-record.rmb_out ul li:nth-child(2){
	width: 21%;
}
.purse-site{
	margin-top: 30px;
	overflow: hidden;
	width: 97%;
	color: #FA4223;
	background: #fffffa;
	border: 1px solid #fcdbc8;
	padding: 30px;
}
.purse-site-id{
	margin-top: 30px;
	font-size: 18px;
}
.purse-site-hint{
	color: #333;
	
}
.purse-site-left{
	
	float: left;
}
.purse-site-ewm{
	float: right;
	width: 100px;
	height: 100px;
	text-align: center;
	/*color: #333;*/
}
.purse-site-ewm img{
	width: 100px;
	height: 100px;
}

.purse-explain{
	margin-top: 20px;
	width: 97%;
	border: 1px solid #dddddd;
	font-size: 13px;
	line-height: 25px;
	background-color: #f9f9f9;
	padding: 20px 40px;
}
.purse-explain .glyphicon{
	color: #ff7044;
	margin-right: 4px;
}
.purse-explain strong{
	font-weight: bold;
}
.purse-explain span.red{
	color: #FA4223;
}
/*币种选择*/
#xnb{
	border: 1px solid #dddddd;
	display: inline-block;
	padding: 8px 15px 8px 15px;
	line-height: 20px;
	width: 200px;
	border-radius: 5px;
	cursor: default;
}
.xnb_panel img{
	height: 24px;
	width: 24px;
	margin-right: 8px;
}
#xnb i{
	float: right;
	margin-top: 6px;
	margin-left: 20px;
	display: block;
	border-left: solid 3px #FA4223;
	border-top: solid 3px #FA4223;
	border-right: solid 3px transparent;
	border-bottom: solid 3px transparent;
	transform: rotateZ(-135deg);
	-webkit-transform: rotateZ(-135deg);
}
#xnb.selected i{
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;

}
#xnb_table{
	border: 1px solid #dddddd;
	position: absolute;
	top: 39px;
	left: 0;
	background-color: white;
	border-top: 2px solid #FA4223;
	display: none;
}
#xnb_table tr{
	border-bottom: 1px dashed #dddddd;
}
#xnb_table tr td{
	cursor: pointer;
}
#xnb_table tr td{
	padding: 10px 15px 10px 15px;
}
#xnb_table tr td:hover span{
	color: #FA4223;
}
#packet_url{
	display: none;
}
/*转出虚拟币*/
.out-info{
	margin: 0 auto 40px auto;
	width: 490px;
	background-color: #f8f8f8;
	padding: 30px 40px 50px 60px;
	border: 1px solid #dddddd;
}
.out-info h4.join_title{
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.out-info .form-group label{
	display: block;
	width: 22%;
	float: left;
	margin-top: 7px;
}
.out-info .form-group .form-control{
	width: 200px;
	display: inline-block;
}
.out-info .form-group button.form-control{
	padding-left: 30px;
	color: #690;
	background: #F8F8F8 url(/Public/Home/images/register_images/yuyin.png) no-repeat 10px -1px;
	outline: none;
}
.out-info .form-group select{
	width: 200px;
}
.out-info-hint{
	display: inline;
	margin-left: 5px;
	color: #EA6647;
	font-weight: 500;
}
.out-info-present{
	text-align: center;
}
.out-info-present input{
	font-size: 14px;
    width: 200px;
    height: 34px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
	margin-left: -20px;
	background-color: #FA4223;
	color: white;
	box-shadow: 1px 2px 2px #666666;
}
/*委托管理*/

.currency-type form{
	display: inline-block;
	margin-left: 20px;
}
.currency-type form .form-group input{
	width: 160px;
	background-color: white;
	padding: 0 12px;
	line-height: 38px;
	height: 38px;
	display: inline-block;
}
.currency-type form .form-group input[type=submit]{
	width: 90px;
	background-color: #FA4223;
	color: white;
	border: none;
	box-shadow: 1px 2px 2px #666666;
}
.entrust-column{
	margin-top: 30px;
	font-weight: bold;
}
.entrust-column ul{
	width: 97%;
	height: 36px;
	line-height: 36px;
	background: #E8E8E8;
}
.entrust-column ul li{
	float: left;
	width: 9%;
	text-align: center;
}
.entrust-column ul li select{
	font-weight: bold;
}
.entrust-column ul li:last-child{
	width: 7%;
}

.entrust-column ul li img{
	width: 22px;
	height: 22px;
	vertical-align: -5px;
}
.entrust-column ul li select{
	display: inline-block;
	width: 90%;
}
/*.entrust-column ul .entrust-column-type.entrust-column-type{
	width: 19% ;
}*/
.entrust-content{
	width: 97%;
}
.entrust-content ul{
	width: 100%;
	height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
	border: 1px solid #dddddd;
}

.entrust-content ul li dl{
	width: 100%;
	height: 36px;
	background: #fff;
	border-bottom: 1px solid #ededed;
	font-size: 12px;
	border-top: none;
}
.entrust-content ul li dl:hover{
	background-color: rgb(249,242,221);
}
.entrust-content ul li dl dt{
	width: 9%;
	float: left;
	font-weight: 500;
	line-height: 36px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*.entrust-column ul .entrust-column-type{
	width: 20%;
}
.entrust-content ul .entrust-column-type {
	width: 19%;
	padding-left: 10px;
}*/
.entrust-content ul .entrust-column-time{
	width: 17%;
}
.entrust-column ul .entrust-column-time{
	 width: 17%;
 }
.entrust-content ul .entrust-column-num{
	width: 20%;
}
.entrust-column ul .entrust-column-num{
	width: 19%;
}
.textindent25{
	text-indent: 25px;
}
/*demand*/
.container .pull-right .entrust-content.demand_report{
/*border-left: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;*/
	width: 97%;
}
.entrust-column.demand_report ul li{
	width: 11.6%;
}
.entrust-column.demand_report ul .entrust-column-num{
	width: 19%;
}
.entrust-column.demand_report ul .entrust-column-time{
	width: 17%;
}
.demand_report ul li dl dt{
	width: 12%;
}

/*人民币充值弹框*/
.prepaid-box{
    width: 610px;
/*    height: 460px;*/
    box-shadow: 0 0 15px #7f7f7f;
    background: #fff;
    overflow: visible;
    display: none;
    left: 50%;
    top: 40%;
    margin-left: -305px;
    margin-top: -230px;
    position: fixed;
    border-radius: 4px;
    z-index: 11111;
    padding-bottom: 40px;
}
.prepaid-box-top{
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden;
}
.prepaid-box-close{
	float: right;
	margin-top: -2px;
	cursor: pointer;
	color: #FA4223;
	font-size: 12px;
	margin-right: 15px;
}
.prepaid-box-info{
	margin-top: 20px;
	margin-left: 50px;
	font-weight: 500;
}
.prepaid-box-info .title{
	font-weight: bold;
	color: #FA4223;
}
.prepaid-box-info label{
	font-weight: 500;
	margin-right: 10px;
}
.prepaid-box-info p{
	margin-bottom: 10px;
}
.prepaid-box-info2{
	margin-left: 50px;
}
.prepaid-box-info2{
	margin-top: 15px;
	line-height: 150%;
	padding-right: 15px;
}

.c1686cc{
	color: #1686cc;
	cursor: pointer;
}
.cover{
	width:100%;height:100%;background: #000;filter: alpha(opacity=50);opacity: 0.5;
	top: 0px;
    left: 0px; z-index: 200;position: fixed;display: none;}
.cred{color: red;}
.prepaid-box-box{
	width: 100%;
	height: 100%;
}
.prepaid-box-fs{
	margin-top: 20px;
	margin-left: 30px;
	font-size: 16px;
}
.ed4040{
	color: #ed4040;
}
.prepaid-box-hint{
	background-color: #FFFCF0;
/*    margin-top: 5px;*/
    width: 90%;
    margin: 10px auto;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    color: #333;
    font-size: 14px;
}
.gathering-ewm{
	position: absolute;
	top: 145px;
	right: 50px;
}
.gathering-ewm img{
	width: 130px;
	height: 139px;
}
/*弹框效果*/
.BouncedEffect{
	display: block;
	-webkit-animation-duration: 450ms;
    -webkit-animation-name: styled-pop;
    -webkit-animation-timing-function: ease-in-out;
    animation-duration: 450ms;
    animation-name: styled-pop;
    animation-timing-function: ease-in-out;
}
	@keyframes style-pop{
		0%{opacity:0;transform:scale(0.25,0.25)}
    65%{opacity:1;transform:scale(1.02,1.02)}
    100%{opacity:1;transform:scale(1,1)}
	}
	@-webkit-keyframes styled-pop{
    0%{opacity:0;-webkit-transform:scale3d(0.25,0.25,1)}
    65%{opacity:1;-webkit-transform:scale3d(1.02,1.02,1)}
    100%{opacity:1;-webkit-transform:scale3d(1,1,1)}
	}
	
.BouncedOut{
	opacity: 0;
    z-index: 1109;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0,0,0) scale(0.815);
    transform: translate3d(0,0,0) scale(0.815);
    
}
/*人民币提现查看详情框*/
.show-details{
	width: 610px;
    height: 460px;
    box-shadow: 0 0 15px #7f7f7f;
    background: #fff;
    overflow: visible;
    display: none;
    left: 50%;
    top: 50%;
    margin-left: -305px;
    margin-top: -230px;
    position: fixed;
    border-radius: 4px;
    z-index: 11111;
    transition-duration: 300ms;
}
.examine{
/*	position: absolute;
	top: 1px;
	right: 0;*/
	line-height: 40px;
}
.examine a{
	color: #FA4223;
	cursor: pointer;
}
.examine button{
	border: 1px solid #FA4223;
	color: #FA4223;
	background-color: transparent;
	border-radius: 5px;
	padding: 1px 10px;
}
.examine button:hover{
	background-color: #FA4223;
	color: white;
}
.auth-code{
	margin-left: -14px;
	display: block;
	overflow: hidden;
}
.auth-code::after{
	
}
.auth-code label{
	float: left;
}
.auth-code input{
	float: left;
	width: 120px !important;
	margin-left: 25px !important;
}
.auth-code .yzmsend{
	float: left;
	display: inline-block;
	width: 85px !important;
	height: 40px;
	line-height: 40px;
	background: #eee;
	border: 1px solid #dddddd;
	margin-left: 15px !important;
	outline: none;
	text-align: center;
	cursor: pointer;
	color: #690;
	user-select:none;
	border-radius: 3px;
	text-decoration: none;
}
.auth-code .yzmsend:hover{
	background: #dcdcdc;
}
.clear{
	clear: both;
}

/*日历*/
.ui-datepicker-append{
	display: none;
}
/*日历UI的今天单元格样式*/
.ui-datepicker-today .ui-state-highlight {
	border:1px solid #eee;
	color:#f60;
}
/*日历UI的选定单元格样式*/
.ui-datepicker-current-day .ui-state-active {
	border:1px solid #eee;
	color:#06f;
}

.handler{
	padding: 0px 10px; 
}
.handler h5{
	line-height: 35px;
	font-weight: bold;
	margin-top: 20px;
	font-size: 15px;
}
.handlerway ul li{
	width: 700px;
	padding: 30px;
	padding-left: 20px;
	box-sizing: border-box;
	margin-top: 10px;
	overflow: hidden;
	border-bottom: 1px rgb(225, 225, 225) solid;
}
.handlerway ul li div p{
	border-left: 4px solid #FA4223;
	padding-left: 15px;
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 16px;
	color: #444444;
}
.handlerwayex{
	line-height: 50px;
	padding-left: 20px;
}
.handlerwayex span{
	font-weight: 500;
	font-size: 16px;
	display: inline-block;
	width: 130px;
}
.handlerwayex input{
	padding: 10px;
	width: 350px;
	color: #FA4223;
	border-radius: 1px;
}
.handlerwayex img{
	width: 100px;
	height: 100px;
	margin-top: 10px;
}
/*未申请*/
.handler-not{
	padding: 10px;
}
.handler-not p{
	line-height: 40px;
	font-size: 16px;
}
.handler-not p:nth-child(2){
	font-weight: bold;
}
.handler-apply{
	display:inline-block ;
	width: 120px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #FA4223;
	color: #fff;
	cursor: pointer;
	margin-left: 20px;
	border-radius: 10px;
}
.handler-apply:hover{
	color: #fff;
	text-decoration: none;
	background: #df3b1f;
}
.handler-not img{
	max-width: 90%;
}
.handler-box{
	width: 500px;
	height: 300px;
	background: #fff;
	box-shadow: 0 0 15px #7f7f7f;
	z-index: 10000;
	display: none;
	position: fixed;
	top: 20%;
	left: 30%;
}

/*弹框*/
.handler-box-title{
	height: 50px;
	overflow: hidden;
	padding: 0px 20px;
	padding-bottom: 10px;
	border-bottom: 1px #eee solid;
}
.handler-box-title .handler-box-title-left{
	float: left;
	margin-top: 20px;
	font-size: 16px;
}
.handler-box-title .handler-box-title-right{
	float: right;
	margin-top: 10px;
	font-size: 20px;
}
.handler-box-row{
	width: 250px;
	height: 30px;
	line-height: 30px;
	margin: 20px auto;
}
.handler-box-row label{
	width: 70px;
	display: inline-block;
}
.handler-box-row input{
	width: 150px;
	height: 30px;
	text-indent: 10px;
	border: 1px rgb(225,225,225) solid;
}
.handler-box-btn{
	width: 150px;
	height: 30px;
	margin-left: 199px;
	cursor: pointer;
}
.handler-box-btn button{
	display: inline-block;
	width: 150px;
	height: 36px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	background: #FA4223;
	border: none;
	border-radius: 15px;
	outline: none;
}
.handler-box-title-right{
	cursor: pointer;
	display: inline-block;
	width: 20px;
	height: 20px;
}
.handler-box-title-right img{
	width: 100%;
	height: 100%;
}
.finance-centent{
	position: relative;
}
.grandtotal{
	width: 700px;
	height: 50px;
	margin-top: 10px;
	background: #f8f8f8;
}
.grandtotal li{
	height: 50px;
	line-height: 50px;
	padding: 0px 20px;
	width: 50%;
	float: left;
}
.grandtotal li p span{
	font-weight: bold;
}
.grandtotal>li:nth-child(1){
	border-right: 1px #eeeeee solid;
}
.grandtotal>li .grandtotalde{
	cursor: pointer;
	color: #FA4223;
	float: right;
}
.handler h6{
	padding: 10px 20px;
	color: #FA4223;
	line-height: 20px;
}

.handler-inviter h5 {
	font-size: 16px;
	border-left: 4px solid #FA4223;
	margin: 30px 0;
	padding-left: 20px;
}
.handler-inviter h5 span:first-child{
	font-weight: bold;
}
.inviter-title{
	border: 1px solid #dddddd;
	border-top: none;
}
.inviter-content{
	height: 500px;
	overflow-y: scroll;
}
.inviter-title ul{
/*	display: flex;*/
	height: 35px;
	background: #ffffff;
	padding: 0px 10px;
}
.inviter-title ul:hover{
	background: rgb(249,242,221);
}
.inviter-title ul:nth-child(even){
background-color: #f8f8f8;
}
.inviter-title ul li{
/*	flex: 1;*/
	height: 35px;
	line-height: 35px;
	text-align: center;
	width:20% ;
	float: left;
}

.invitertitle{
	background: #E3E3E3 !important;
	font-weight: bold;
	overflow-y: hidden;
}
.inviter-list{
	width: 800px;
}
.inviter-list ul li{
	display: flex;
	height: 35px;
	line-height: 35px;
	width: 800px;
	background: #d8d8d8;
	padding: 0px 10px;
}
.inviter-list ul li span{
	flex: 3;
}
.inviter-list ul li:hover{
}
.handler-inviter{
width: 97%;
}
.handler-inviter h6{
	height: 50px;
	line-height: 50px;
}
.cred{
	color: #FA4223;
}
.applyfor{
	cursor: pointer;
}

.page div a,.page div span{
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px rgb(225,225,225) solid;
	margin-right: 5px;
}
.page div a{
	text-decoration: none;
}
.page{
	margin-top: 10px;
}
.page div{
	padding: 10px;
}
.page .current{
	color:red;
}
/*footer*/
.company_info h4{
	margin: 10px 0;
}

.yzm_zj{
	margin-top: 15px;
}
.withdraw .yzm_zj{
	width: 220px;
	float: right;
}
.out_currency_yzm .yzm_zj{
	width: 80%;
	padding-left: 86px;
}
.yzm_zj span{
	color: #FA4223;
	margin-left: 5px;
	cursor: pointer;
}
.yzm_zj span:hover{
	text-decoration: underline;
}
.yzm_zj .left15{
	width: 60%;
	height: 40px;
}
.yzm_zj.bank_yzm{
	margin-left: 26%;
	margin-bottom: 15px;
}
.yzm_zj.bank_yzm span{
	font-size: 13px;
}

/*input tips*/
.form-group span.tips{
	margin-top: 7px;
	display: none;
	width: 220px;
	padding-left: 92px;
}
.form-group  span.tips i{
	margin-right: 3px;
}
.form-group  span.tips.red_tips{
	color:#FA4223;
}
.form-group  span.tips.green_tips{
	color:green;
}

/*datepicker css change*/
.ui-datepicker{
	z-index: 300!important;
}
.ui-datepicker .ui-widget-header{
	background: #f6f6f6;
	border:1px solid #eeeeee
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: #f6f6f6;
	border:1px solid #eeeeee
}
.ui-datepicker .ui-datepicker-title select{
	font-size: 1em;
	margin: 1px 0;
	border: 1px solid #dddddd;
	float: left;
	padding: 3px;
}
.ui-datepicker .ui-datepicker-today .ui-state-highlight{
	color: #046ec1;
}
.ui-datepicker .ui-datepicker-current-day .ui-state-active{
	background: #ffffff;
	border: 1px solid #dddddd;
	color: #FA4223;
}