
nav{
    position: absolute;
    top: 36px;
    left: 0;
    box-shadow: 1px 1px 3px #666666;
}

main{
    min-height: 600px;
}
.part_1{
    padding-top: 150px;
    color: white;
    width: 100%;
    height: 800px;
    background: url("/Public/Home/images/finance_images/page1_1_03.png") center top no-repeat;
    overflow: hidden;
    position: relative;
    z-index: 2;
    min-width: 990px;
}
.part_1 .left_part{
    width: 44%;
    padding-left: 130px;
}
.part_1 button{
    padding: 12px 60px;
    font-size: 18px;
    background-color: #C31249;
    border-radius: 50px;
    margin-top: 20px;
    color: white;
    box-shadow: 2px 2px 3px #222222;
}
.part_1 dl{
margin-top: 20px;
}
.part_1 dl dt{
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}
.part_1 dl dt i{
    font-style: normal;
    color: yellow;
    font-weight: bold;
}
.part_1 .apply_num{
    background-color: rgba(255,255,255,0.5);
    padding: 15px 20px 10px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 380px;
    margin-left: -80px;
    border-radius: 20px;
}

/*数字滚动插件的CSS可调整样式*/
.numberRun4{
    display: inline-block;
    vertical-align: middle;
}
.mt-number-animate{
    line-height:40px;
    height: 40px;/*设置数字显示高度*/;
    font-size: 22px;/*设置数字大小*/
    overflow: hidden;
    display: inline-block;
    position: relative;
    color: #666666;
}
.mt-number-animate .mt-number-animate-dot{
    width: 15px;/*设置分割符宽度*/
    line-height: 40px;
    float: left;
    text-align: center;
    border: 1px solid #dddddd;
}
.mt-number-animate .mt-number-animate-dom{
    width: 30px;/*设置单个数字宽度*/
    text-align: center;
    float: left;
    position: relative;
    top: 0;
    border: 1px solid #dddddd;
    background-color: white;
}
.mt-number-animate .mt-number-animate-dom .mt-number-animate-span{
    width: 100%;
    float: left;
}
/*part1 right*/
.part_1 .pull-right{
    width: 56%;
    background: url("/Public/Home/images/finance_images/mangers_bg.png") top left no-repeat;
    background-size: 100%;
    height: 490px;
    position: relative;
}
.part_1 .pull-right img{
    width: 400px;
    transition: All 1s ease-out;
    -webkit-transition: All 1s ease-out;
    -moz-transition: All 1s ease-out;
    -o-transition: All 1s ease-out;
    position: absolute;
    left: 10%;
    top: 20%;
}
.part_1 .pull-right img.first_load{
    transform: rotateX(360deg) scale(2);
    -webkit-transform: rotateX(360deg) scale(2);
    -moz-transform: rotateX(360deg) scale(2);
    -o-transform: rotateX(360deg) scale(2);
    -ms-transform: rotateX(360deg) scale(2);
}

/*part2*/

.similar_out h1{
    text-align: center;
}
.similar_out h1 span{
    font-size: 16px;
    color: green;
    cursor: default;
}
.part2{
    position: relative;
}
.part2 ol{
    width: 450px;
    border: 1px solid #dddddd;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px #dddddd;
    text-align: justify;
    position: absolute;
    left: 50%;
    top: 70px;
    background-color: white;
    z-index: 10;
    display: none;
}
.part2 ol li{
    margin-bottom: 8px;
    color: #666666;
}
.part2 .manager_rank{
    padding: 30px 60px;
}
.part2 .manager_rank .similar_rank{
    border: 3px solid #eeeeee;
    width: 49%;
    padding: 30px;
    min-height: 500px;
}
.part2 .manager_rank .similar_rank h2.part2_title{
    color: white;
    text-align: center;
    transition: All 1s ease-out;
    -webkit-transition: All 1s ease-out;
    -moz-transition: All 1s ease-out;
    -o-transition: All 1s ease-out;
}
.part2 .manager_rank .similar_rank h2.part2_title.show_out{
    transform: rotateY(360deg);
    -ms-transform:rotateY(360deg); 	/* IE 9 */
    -moz-transform:rotateY(360deg); 	/* Firefox */
    -webkit-transform:rotateY(360deg); /* Safari 和 Chrome */
    -o-transform:rotateY(360deg); 	/* Opera */
}
.part2 .manager_rank .similar_rank h2 span{
    background-color: #C31249;
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 25px;
    box-shadow: 2px 2px 3px #dddddd;
}
.part2 .manager_rank .similar_rank h3{
    text-align: center;
    margin-top: 20px;
    color: #C31249;
    font-size: 20px;
}
.part2 .manager_rank .similar_rank table{
   width: 100%;
    margin-top: 30px;
}
.part2 .manager_rank .similar_rank table tr td {
   text-align: center;
    padding: 8px 0;
}
.part2 .manager_rank .similar_rank table thead tr td {
    font-weight: bold;
}
.part2 .manager_rank .similar_rank table tbody tr{
    border-top:1px solid #dddddd;
}
.part2 .manager_rank .similar_rank table tbody tr td span {
    background: #C31249;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    color: white;
    border-radius: 50%;
    margin: 5px 0;
}

/*part3*/
.part3{
 /*   background: url("/Public/Home/images/finance_images/content9.jpg") center bottom no-repeat;*/
    min-width: 990px;
    background-color: #f8f8f8;
    padding-top: 20px;
}

.part3 .similar_out>ul .similar3_content{
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 2px 2px 3px #dddddd;
    color: #666666;
}
.part3 .similar_out>ul{
    padding-bottom: 40px;
}

.part3 .similar_out>ul>li{
    position: relative;
    margin-top: 80px;
    border-top: 1px dashed #C31249;
}
.part3 .similar_out>ul>li h3{
    text-align: center;
    color: #010333;
    margin-bottom: 30px;
    margin-top: 40px;
}
.part3 .similar_out>ul>li h3 span{
    border: 1px solid #C31249;
    padding: 10px 30px;
    border-radius: 30px;
    margin-bottom: 20px;
    color: #C31249;
    background-color: white;
    position: absolute;
    left: 50%;
    top: -24px;
    margin-left: -139px;
}
.part3 .similar_out>ul>li:first-child p{
    text-align: center;
    font-size:18px;
}
.part3 .similar_out>ul>li ol li{
    float: left;
    width: 50%;
    padding: 0 20px;
}
.part3 .similar_out>ul>li ol li img{
    width: 37%;
    transition: All 1s ease-out;
    -webkit-transition: All 1s ease-out;
    -moz-transition: All 1s ease-out;
    -o-transition: All 1s ease-out;
}
.part3 .similar_out>ul>li ol li img.show_out{
    transform: rotateX(360deg);
    -ms-transform:rotateX(360deg); 	/* IE 9 */
    -moz-transform:rotateX(360deg); 	/* Firefox */
    -webkit-transform:rotateX(360deg); /* Safari 和 Chrome */
    -o-transform:rotateX(360deg); 	/* Opera */
}
.part3 .similar_out>ul>li ol li .img_right{
    float: right;
    width: 63%;
    text-align: justify;
}
.part3 .similar_out>ul>li:first-child p{
    text-align: center;
    font-size:18px;
}
.part3 .similar_out>ul>li ul li{
    float: left;
    width: 33.3%;
    padding: 0 15px;
}
.part3 .similar_out>ul>li ul li h4{
    border-left: 3px solid #C31249;
    padding-left: 20px;
    font-size: 22px;
    margin-bottom: 25px;
}
.part3 .similar_out>ul>li:nth-of-type(3) ul li p{
    font-size: 15px;
}

/*part4*/
.part4{
padding-bottom: 80px;
}
.part4 h1{
    margin: 40px 0;
}
.part4 .btn{
    padding: 12px 60px;
    font-size: 18px;
    background-color: #C31249;
    border-radius: 50px;
    color: white;
    float: left;
    margin-top: 200px;
    margin-left: 150px;
    box-shadow: 2px 2px 3px #dddddd;
    transition: All 1s ease-out;
    -webkit-transition: All 0.3s ease-out;
    -moz-transition: All 0.3s ease-out;
    -o-transition: All 0.3s ease-out;
}
.part4 .btn.show_out{
    transform: rotateY(360deg);
    -ms-transform:rotateY(360deg); 	/* IE 9 */
    -moz-transform:rotateY(360deg); 	/* Firefox */
    -webkit-transform:rotateY(360deg); /* Safari 和 Chrome */
    -o-transform:rotateY(360deg); 	/* Opera */
}
.part4 .out_border{
    width: 320px;
    height: 320px;
    border: 4px solid #0a001f;
    border-radius: 50%;
    float: left;
    position: relative;
    margin: 60px 0 60px 200px;
}
.part4 .out_border span{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 50px 30px;
    color: white;
    background-color: #046ec1;
    position: absolute;
    font-size: 18px;
    transition: All 1s ease-out;
    -webkit-transition: All 0.3s ease-out;
    -moz-transition: All 0.3s ease-out;
    -o-transition: All 0.3s ease-out;
}
.part4 .out_border span.show_out{
    transform: rotateX(360deg);
    -ms-transform:rotateX(360deg); 	/* IE 9 */
    -moz-transform:rotateX(360deg); 	/* Firefox */
    -webkit-transform:rotateX(360deg); /* Safari 和 Chrome */
    -o-transform:rotateX(360deg); 	/* Opera */
}
.part4 .out_border span:first-child{
    left: -40px;
    top: -40px;
 }
.part4 .out_border span:first-child.selected{
    left: -30px;
    top: -30px;
}
.part4 .out_border span:nth-child(2){
    right:-40px;
    top:-40px;
}
.part4 .out_border span:nth-child(2).selected{
    right:-30px;
    top:-30px;
}
.part4 .out_border span:nth-child(3){
    left:-40px;
    bottom: -40px;
}
.part4 .out_border span:nth-child(3).selected{
    left:-30px;
    bottom: -30px;
}
.part4 .out_border span:nth-child(4){
    right: -40px;
    bottom: -40px;
}
.part4 .out_border span:nth-child(4).selected{
    right: -30px;
    bottom: -30px;
}

/*screen lock*/
/*锁屏背景设置*/
#lock_screen{
    background-color: black;
    opacity: 0.6;
    filter:alpha(opacity=60);
    position: absolute;
    top:0;
    left: 0;
    z-index: 999;
    display: none;
    zoom: 1;
}
#apply_form {
    width: 400px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 300px;
    box-shadow: 1px 1px 2px #cccccc,-1px -1px 2px #cccccc;
    margin-left: -200px;
    display: none;
}
#apply_form h5{
    padding: 15px 40px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 30px;
}
#apply_form h5 span{
    float: right;
    font-size: 12px;
}

#apply_form .form-group {
    margin: 0 0 15px 0;
    width: 100%;
    padding: 0 40px;
}
#apply_form .form-group input {
    width: 78%;
    padding: 8px;
    border: 1px solid #dddddd;
    outline: none;
    border-radius: 5px;
    float: right;
}
#apply_form .form-group label {
    width: 22%;
    display: inline-block;
    padding-top: 9px;
    text-align: right;
}
#apply_form .form-group p{
    color: #C31249;
}
#apply_form .form-group p span{
    margin-right: 5px;
}
#apply_submit{
    text-align: center;
}
#apply_submit .btn {
    width: 150px;
    background-color: #C31249;
    outline: none;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 20px auto 40px auto;
}

#apply_submit .btn:hover {
    background-color: #b81145;
}