/*锁屏背景设置*/
#lock_screen{
    background-color: black;
    opacity: 0.6;
    filter:alpha(opacity=60);
    position: absolute;
    top:0;
    left: 0;
    z-index: 999;
    display: none;
    zoom: 1;
}
#enter_form_lock {
    width: 400px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    z-index: 999;
    display: none;
    position: fixed;
    left: 50%;
    top: 30%;
    box-shadow: 1px 1px 2px #cccccc,-1px -1px 2px #cccccc;
    margin-left: -200px;
}
#enter_form_lock a {
    color: #666666;
    font-size: 13px;
}

#enter_form_lock a:hover {
    color: #ff3333;
}
#enter_form_lock h5{
    padding: 15px 20px;
    border-bottom: 1px solid #dddddd;
    margin: 0;
}
#enter_form_lock h5 span{
    float: right;
    font-size: 14px;
    cursor: pointer;
}

#enter_form_lock .user_enter {
    padding: 20px 40px 20px 40px;
}

#enter_form_lock .form-group {
    margin: 0 0 15px 0;
    width: 100%;
}


#enter_form_lock .content input {
    width: 80%;
    padding: 8px;
    border: 1px solid #dddddd;
    outline: none;
    border-radius: 5px;
    float: right;
}
#enter_form_lock .content label {
    width: 20%;
    display: inline-block;
    padding-top: 9px;
    text-align: right;
}
#enter_form_lock .remember_password{
    width: 80%;
    float: right;
}

#enter_form_lock .remember_password input {
    margin-right: 3px;
}

#enter_form_lock .remember_password label {
    vertical-align: middle;
    font-weight: normal;
    font-size: 13px;
    color: #666666;
}

#enter_form_lock .remember_password span a {
    padding-top: 3px;
}

#enter_form_lock #enter_submit {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

    #enter_form_lock #enter_submit .btn {
    width: 150px;
    background-color: rgb(250, 66, 35);
    outline: none;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
}

    #enter_form_lock #enter_submit .btn:hover {
    background-color: rgb(224, 41, 10);
}

#enter_form_lock #QQ_enter {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    margin-bottom: 0;
    padding: 5px 23px;
    height: 40px;
}

#enter_form_lock #QQ_enter a {
    color: rgb(250, 66, 35);
    text-decoration: none!important;
}

#enter_form_lock #QQ_enter .pull-left a {
    line-height: 24px;
    display: inline-block;
}
