#help_list li a{
padding-left: 35px;
}
/*help content*/
#help_content {
    border: 1px solid #DDDDDD;
    margin-bottom: 40px;
    background-color: #efefef;
}

/*right content*/

#right_content{
    padding-left: 10px;
    padding-bottom: 40px;
}
#right_content .title {
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px dashed #FA4223;
    margin-left: 20px;
}
#right_content .img_src img{
    width: 100%;
}
#right_content ol li{
    text-align: justify;
    color: #666666;
    margin-bottom: 20px;
}
#right_content ol li ul{
 list-style: upper-roman;
}
#right_content ol li ul{
    margin-top: 20px;
    list-style: upper-roman;
}
#right_content ol li p{
    text-align: justify;
    color: #666666;
    margin-bottom: 0;
}
#right_content ol li p span{
    color: #FA4223;
}
#right_content ol li .img_src{
    margin-top: 20px;
    margin-left: -15px;
}
#right_content .small_title{
    font-size: 16px;
    padding-top: 30px;
    margin-left: 20px;
    border-top: 1px dashed #dddddd;
}
#right_content .small_title p{
     margin-left: 20px;
     padding-left: 10px;
     border-left: 4px solid #FA4223;
}
.guide_content{
    padding: 0 20px;
}
.guide_content dl{
    padding-left: 20px;
    margin-bottom: 0;
 }
.guide_content dl dt,.guide_content dl dd{
    padding-bottom: 20px;
}

/*findenterPw*/
#findenterPw .small_title {
  border: none;
    padding-top: 20px;
}

/*API*/
.guide_content ol{
    padding-right: 15px;
}
code{
    background: none;
}
pre{
    margin: 0;
}
#right_content  #user_instruction>ol>li{
    margin-left: 15px;
}
#right_content  #user_instruction>ol>li>p{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 30px;
    border-bottom: 1px solid #eeeeee;
}
#right_content  #user_instruction>ol>li>ol>li>p{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
}
#right_content  #user_instruction>ol>li>ol>li>div>p{
    margin-bottom: 10px;
}
#right_content  #user_instruction>ol>li>ol>li>dl>dt{
    padding-bottom: 10px;
    padding-top: 10px;
}
#right_content  #user_instruction>ol>>ol>li>dl>dd{
    padding-left: 20px;
    padding-bottom: 10px;
}
#right_content  #user_instruction>ol>li table{
    background-color: transparent;
    border: 1px solid #dddddd;
    width: 100%;
}
#right_content  #user_instruction>ol>li table thead{
    background-color: #eeeeee;
}
#right_content  #user_instruction>ol>li table tbody tr{
    border-top: 1px solid #dddddd;
}
#right_content  #user_instruction>ol>li table tbody tr:hover{
    background-color:#fcf8e3 ;
}
#right_content  #user_instruction>ol>li table tbody tr.bg_grey{
    background-color: #f8f8f8;
}
#right_content  #user_instruction>ol>li table tr td{
   padding: 5px 15px;
}
.guide_index{
    background-color: #f8f8f8;
    margin-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    margin-left: 20px;
}
.guide_index>li>p{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
}
.guide_index>li>p>a{
    font-size: 18px;
    font-weight: bold;
    color: #555555;
}
.guide_index>li>p>a:hover{
    color: #FA4223;
}
#right_content .guide_index li ul{
    list-style-type: decimal;
}
#right_content .guide_index li ul li ol{
    list-style-type: disc;
    margin-top: 20px;
}
.guide_index ul>li>a{
    font-size: 15px;
    font-weight: bold;
    color: #555555;
}
.guide_index ul>li>a:hover{
    color: #FA4223;
}
#user_instruction .small_title{
    font-size: 18px;
    font-weight: bold;
    color: #555555;
}
/*#user_instruction>li>ol{
    margin-top: 20px;
}*/

