body{
    background-color: rgb(248,248,248);
}
nav .container{
    background-color: rgb(248,248,248);
    opacity: 1;

    z-index: 122;
}

@media \0screen,screen\9 {
    nav {
        background-color: rgb(255, 255, 255);
        filter:alpha(opacity=100);
        zoom: 1;
    }
    #myCarousel .carousel-indicators li{
        background-color: rgb(0, 0, 0);
        filter:alpha(opacity=100);
        zoom: 1;
    }
    #myCarousel .carousel-indicators li.active{
        background-color: rgb(255, 255, 255);
        filter:alpha(opacity=100);
        zoom: 1;
    }
}
.informationHead{
    margin-top: 115px;
    height: 105px;
    background-color: #ffffff;

}
.informationHead div .col-xs-3 div{
    width: 55px;
    height: 50px;
    margin-top: 25px;
    overflow: hidden;
    /*margin-left: -10px;*/
}
.informationHead div .col-xs-3 a div img{
    width: 55px;
    margin-top: -1811px;
}
.informationHead .col-xs-3 span{
    float: left;
    margin-left: 60px;
    margin-top: -33px;
    font-size: 16px;
    /*line-height: 55px;*/
}
.boult{
    float: right !important;
    margin-right: 20px;
}
.informationHead .col-xs-3:hover .boult{
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.numberLeft{
    font-size: 32px;
    font-weight: 200;
    color: rgb(229, 86, 0);
}
.informationHead .col-xs-1 {
    text-align: center;
    margin-top: 30px;
}
.col-xs-1 span:nth-child(1){
    font-size: 18px;
}
/*更多币种*/
.more_moneytype{
    width: 580px!important;
    height: 470px!important;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: red darkgray darkgray darkgray;
    background-color: #ffffff;
    margin-left: -15px;
    display: none;
    overflow: hidden;
}
.more_moneytype_top{
    margin-top: -6px!important;
    height: 12px;
    width: 580px!important;
}
.more_moneytype_top img{
  /*margin-top: -20px;*/

}
.informationHead .col-xs-3:hover .more_moneytype{
    display: block;
}
.more_moneytype .row{
    border-bottom: 1px dotted darkgray;
}
.more_moneytype_content{
    width: 580px!important;
    margin-top: -30px!important;
    height: 450px!important;
    /*z-index: 300!important;*/
}
.more_moneytype_content table{
    width: 510px!important;
    margin-left: 35px !important;
    margin-right: 35px !important;
}
.more_moneytype_content table tr{
    width: 510px!important;
    border-bottom: 1px dotted darkgray;
}
.more_moneytype_content tr td{
    width: 170px!important;
}
.more_moneytype_content tr td  div{
    height: 20px!important;
    width: 20px!important;
    margin-top: 5px!important;
}
.more_moneytype_content tr  span{
    font-size: 12px!important;
    /*margin-top: -18px;*/
    margin-top: -18px!important;
    margin-left:25px!important; ;
}
.more_moneytype_content tr td div img{
   width: 20px!important;
    /*height: 20px!important;*/
}
/*交易中心*/
.information_main{
    margin-top: 250px;
}
.information_main_nav{
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(227,227,227);
}
.information_main_nav_active{

}
.information_main_nav_active a{
    border-bottom: 2px solid rgb(229,86,0);
    color: rgb(229,96,30);
    padding-bottom: 12px;
}
.information_main_nav li{
    float: left;
    list-style: none;
    margin-right: 30px;
    padding-bottom: 30px;
}

.information_list{
    margin-top: 25px;
    background-color: #ffffff;
}
.information_list .col-xs-3{
    padding: 20px;
}
.information_list .row img{
    width: 191px;
}
.information_list_title{
    margin-top: 20px;
}
.information_list_time{
    float: right;
}
.information_list >.row{
    margin-bottom: 10px;
    /*border-bottom: 1px solid rgb(227,227,227);*/
}
.list_title{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px dotted darkgray;
}
.list_item div{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    border-bottom: 1px dotted darkgray;
}
.list_item a{
    font-size: 14px;
    color: rgb(229, 86, 0);
}
.list_publish_time{
    margin-left: 20px;
}
.listTurn{
    margin-top: 20px;
    margin-bottom: 20px;
}
.listTurn .btn-group a input{
    color: rgb(229, 86, 0);
}
.listTurn .btn-group a:hover input{
    background-color:rgb( 229,86,0)!important;
    color: #ffffff;
    outline: none;
}
.listActive{
    background-color:rgb( 229,86,0)!important;
    color: #ffffff!important;
}
.information_list .listTurn{
    padding: 30px;
}


/*评分*/
.score{

}
/*评价项目类别*/
.information_main{
    background-color: #ffffff;
}
.evaluative_sort{
    margin: 10px;
    border-bottom: 1px dotted darkgray;
}
.evaluative_sort h3{
    padding-left: 12px;
    border-left: 2px solid rgb(229,86,0);
}
.evaluative_sort >div{
    padding-left: 12px;
    margin-top: 15px;
}

.score_left{
    clear: both;
    float: left;
    margin-right: 15px;
}

.sorce{
    color: rgb(245,187,123);
}

.evaluative_sort div div .glyphicon{
    color: rgb(252,193,115);
}
.all_people{
    color: rgb(241,149,71);
}
.progress {
    margin-left: 10px!important;
    width: 30% !important;
}
.progress .progress-bar{
    margin-left: -10px;
}

/*我的评价*/
.mine_appraise{

}
.mine_appraise .col-xs-6{
    padding-left: 40px;
}
.mine_appraise textarea{
    width: 555px;
    max-width: 555px;
    height: 125px;
}
.submit_comment input{
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-left: 50px;
    color: #ffffff;
    outline: none;
    background-color: rgb(218,93,57);

}
.best_support span {
    color: rgb(248,186,106);
}
.normal_support span {
    color: rgb(248,186,106);
}
.worse_support span {
    color: rgb(248,186,106);
}
.user_appraise_information{
    padding-left: 15px;
}
.user_appraise_information >div >span{
    float: left;
}
.user_name{
    float: left;
    padding-left: 15px;
}
.user_information{
    height: 30px;
    line-height: 30px;
    background-color: #F8F8F8;;
}
.appraise_support{
    float: right;
    margin-right: 15px;
}
.appraise_support span{
    margin-right: 5px;
    margin-left: 5px;
}
.appraise_time{
    font-size: 12px;
    color: rgb(136, 136, 136);
}


/*了解以太坊*/

.yitaifang .row .col-xs-1 img{
    width: 80px;
    height: 80px;
}
.yitaifang .row .col-xs-11{
    padding-left: 20px;
    line-height: 1.5em;
}
.yitaifang .row .col-xs-11 p:nth-child(2){
    border-bottom: 1px dotted darkgray;
    padding-bottom: 5px;
}
.yitaifang .evaluative_sort ul li{
    height: 30px;
    /*padding: 5px;*/
    width: 80px;
    text-align: center;
    line-height: 30px;;
    float: left;
    list-style: none;
    margin-right: 25px;
    border: 1px solid rgb(229,86,0);
    border-radius: 15px;
}
.yitaifang .evaluative_sort ul li:hover{
    background-color: rgb(229,86,0);
}
.yitaifang .evaluative_sort div ul li:hover a{
    color: #ffffff!important;
    text-decoration: none;
}
.yitaifang .evaluative_sort div table{
    border: 1px solid darkgray;
    width: 100%
}

.yitaifang .evaluative_sort div table td span{
    color: rgb(136, 136, 136);
    margin-right: 10px;
}
.yitaifang .evaluative_sort div table tr td{
   padding: 10px;
}
.dotted_bottom{
    border-bottom: 1px dotted darkgray;
}
.dotted_right{
    border-right: 1px dotted darkgray;
}
.solid_right{
    border-right: 1px solid rgb(242,242,242);
}
.yitaifang .alert .close{
    font-size: 24px;
}
.yitaifang .alert a{
    color:rgb(229, 86, 0);
    font-size: 12px;
}
.top_table{
    height: 450px;
    margin-bottom: 20px;
}
.table_bottom_left table{
    border: 1px solid rgb(242,242,242);
    font-size: 13px;
}
.table_bottom_left table tbody tr{
    height: 40px;
    line-height: 40px;
    border-top: 1px solid rgb(242,242,242);
}
.table_bottom_left table tbody tr:hover{
    background-color: rgb(248,248,248);
}
.table_bottom_left table tbody tr td:nth-child(3){
    color: rgb(229, 86, 0);
}
.table_bottom_left table tbody tr td:nth-child(6){
    color: rgb(102, 153, 0);
}
.top_table,.table_bottom_left table,.table_bottom_right table{
    background-color: #ffffff;
}
.table_bottom_left table{
    margin-bottom: 500px;
}
.table_bottom_right table tr{
    border-top: 1px solid rgb(248,248,248);
}
.table_bottom_right table tr span{
    color: #808080;
}
.table_bottom_right,.table_bottom_left thead >tr{
    height: 40px;
    /*line-height: 40px;*/
}
.table_bottom_right tbody tr{
    height: 40px;
    line-height: 25px;
}
.deal_history{
    background-color: #ffffff;
}
.deal_history ul li{
    list-style: none;
    float: left;
    width: 20%;
}

