.list{

}
.list_title{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px dotted darkgray;
}
.list_item div{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    border-bottom: 1px dotted darkgray;
}
.list_item a{
    font-size: 14px;
    color: rgb(229, 86, 0);
}
.list_publish_time{
    margin-left: 20px;
}
.listTurn{
    margin-top: 20px;
    margin-bottom: 20px;
}
.listTurn .btn-group a input{
    color: rgb(229, 86, 0);
}
.listTurn .btn-group a:hover input{
    background-color:rgb( 229,86,0)!important;
    color: #ffffff;
    outline: none;
}
.listActive{
    background-color:rgb( 229,86,0)!important;
    color: #ffffff!important;
}