body {
    background-color: #f8f8f8;
}
footer{
    margin-top: 0;
}
.center_content{
    margin-bottom: 40px;
}
.center_content .pull-right{
    padding-bottom: 150px;
}
/*left list*/
#safe_list li a{
      background-image: url("/Public/Home/images/safe_center/coin_style_icon.png");
      background-repeat: no-repeat;
      position: relative;
      background-position-x: 20px;
      padding-left: 70px;
  }

#safe_list li:first-child a{
    background-position-y: -1111px;
}
#safe_list li:first-child a:hover,#safe_list li:first-child.selected a{
    background-position-y: -1072px;
}
#safe_list li:nth-child(2) a{
    background-position-y: -845px;
}
#safe_list li:nth-child(2) a:hover,#safe_list li:nth-child(2).selected a{
    background-position-y: -615px;
}
#safe_list li:nth-child(3) a{
    background-position-y: -1858px;
}
#safe_list li:nth-child(3) a:hover,#safe_list li:nth-child(3).selected a{
    background-position-y: -1825px;
}

#safe_list li:nth-child(4) a{
    background-position-y: -884px;
}
#safe_list li:nth-child(4) a:hover,#safe_list li:nth-child(4).selected a{
    background-position-y: -654px;
}

#safe_list li:nth-child(5) a{
    background-position-y: -998px;
}
#safe_list li:nth-child(5) a:hover,#safe_list li:nth-child(5).selected a{
    background-position-y: -768px;
}

#safe_list li:nth-child(6) a{
    background-position-y: -922px;
}
#safe_list li:nth-child(6) a:hover,#safe_list li:nth-child(6).selected a{
    background-position-y: -692px;
}

#safe_list li:nth-child(7) a{
    background-position-y: -424px;
}
#safe_list li:nth-child(7) a:hover,#safe_list li:nth-child(7).selected a{
    background-position-y: -116px;
}
#safe_list li:nth-child(8) a{
    background-position-y: -1752px;
}
#safe_list li:nth-child(8) a:hover,#safe_list li:nth-child(8).selected a{
    background-position-y: -1790px;
}

/*safe content*/
.pull-right .right_body .notice {
    text-align: center;
    color: #FA4223;
    border-radius: 10px;
    margin: 20px 30px 40px 30px;
    padding: 8px 20px;
    background-color: #FEFBF1;
    border: 1px solid #fec2b7;
}
.pull-right .right_body .notice p{
margin: 0;
}
.pull-right .right_body .notice span {
    padding-right: 5px;
}

.pull-right .right_body .form-group label {
    font-size: 14px;
    padding-top: 14px;
    padding-left: 0;
    text-align: right;
}

.pull-right .right_body .form-group input {
    font-size: 14px;
}
.pull-right .right_body .form-group .form_input_3{
    width: 25%;
    text-align: right;
}
.pull-right .right_body .form-group .form_input_9{
    width: 70%;
    float: right;
}
.pull-right .right_body .form-group .form_input_9{
    width: 70%;
    float: right;
}
.pull-right .right_body .form-group.submit_btn {
    text-align: center;
}
.pull-right .right_body .safe_center_btn {
    background-color: #FA4223;
    color: white;
    border: none;
    width: 160px;
    outline: none;
    box-shadow: 1px 2px 2px #666666;
    margin-top: 15px;
    margin-left: 30px;
}

.pull-right .right_body .safe_center_btn:hover {
    background-color: #dc2c2c;
}

/*safe center*/
.pull-right .right_body #name_ident_notice{
    text-align: left;
    text-indent: -10px;
    padding: 10px 15px 10px 40px;
}
#safe_center .user_info{
    padding-left: 50px;
    height: 110px;
    margin-bottom: 20px;
}
#safe_center .user_info .level_img{
    float: left;
    width: 110px;
    height: 110px;
}
#safe_user_info{
    padding: 15px 20px 15px 130px;
}
#safe_user_info li{
    font-size: 13px;
    color: #666666;
}
#safe_user_info li p{
    width: 60px;
    margin-right: 20px;
    display: inline-block;
    text-align: right;
    margin-bottom: 0;
    line-height: 25px;
    font-weight: bold;
}
#safe_user_info li:first-child span{
    color: #FA4223;
}
#ident_info{
    margin-right: 50px;
    height: 100px;
}
#ident_info li{
    width: 33.3%;
    float: left;
    border: 1px solid #DDDDDD;
    padding: 10px 15px;
}
#ident_info li:nth-child(2){
    border-left: none;
    border-right: none;
}
#ident_info li h6{
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}
#ident_info li .safe_style_img{
    width: 60px;
    height: 60px;
    float: left;
    background-image: url("/Public/Home/images/safe_center/safe_style.png");
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-right: 20px;
}
#ident_info li:first-child .safe_style_img{
    background-position: 0 0;
}
#ident_info li:nth-child(2) .safe_style_img{
    background-position: 0 -125px;
}
#ident_info li:last-child .safe_style_img{
    background-position: 0 -250px;
}
#ident_info li p{
    font-size: 13px;
    color: #666666;
}
#ident_info li p i{
    font-style: normal;
    color: #999999;
}
#ident_info li p span.glyphicon-ok-sign{
    color: #AFD550;
    padding-right: 4px;
}
#ident_info li p span.glyphicon-info-sign{
    color: #f37661;
    padding-right: 4px;
}
#ident_info li p a{
    float: right;
    color: #FA4223;
}

#ident_action{
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 80px;
}

#ident_action li{
    padding: 8px 20px;
    font-size: 13px;
}
#ident_action li.bg_grey{
    background-color: #f9f9f9;
}
#ident_action li p{
    display: inline-block;
    width: 80px;
    margin-bottom: 0;
}
#ident_action li span{
    color: #888888;
}
#ident_action li span .glyphicon{
    color: #FA4223;
    padding-right: 5px;
}
#ident_action li a{
    float: right;
    font-style: normal;
    color: #FA4223;
    cursor: pointer;
}
#ident_action li i:hover{
    text-decoration: underline;
}
/*name identy*/
#name_identy .tag_info{
    color: green;
    font-size: 18px;
    margin: 20px 40px;
}
#bank_content .tag_info.red_color{
    margin-left: 30px;
}
.tag_info.red_color p{
    color: #FA4223;
    font-size: 16px;
}
.tag_info.red_color a{
    color: #ffffff;
    font-size: 16px;
    background-color: #FA4223;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    margin-left: 40px;
    box-shadow: 2px 2px 3px #dddddd;
}
.tag_info.red_color a:hover{
    background-color: #e03b1f;
}
.tag_info span.glyphicon{
    margin-right: 5px;
    font-size: 26px;
    vertical-align: middle;
    top: 0;
}
.tag_info.red_color span.glyphicon{
    font-size: 20px;
}
#name_identy .right_body table {
    margin: 40px;
}
#name_identy .right_body table caption{
    border-left: 3px solid #FA4223;
    padding: 0 0 0 20px;
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    margin-bottom: 20px;
}
#name_identy .right_body table tr td:first-child{
   text-align: right;
    font-weight: bold;
    height: 35px;
    padding-left: 30px;
}

#name_identy .right_body .change_flow{
    margin: 20px 40px;
}
#name_identy .right_body .change_flow h5{
    border-left: 3px solid #FA4223;
    padding: 0 0 0 20px;
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    margin-bottom: 20px;
}
#name_identy .right_body .change_flow ol{
    background-color: #f9f9f9;
    padding: 20px 40px;
}
#name_identy .right_body .change_flow ol li{
    line-height: 30px;
    margin-bottom: 20px;
}
#name_identy .right_body .change_flow ol li figure{
    margin-left: 30px;
    margin-top: 20px;
}
#name_identy .right_body .change_flow ol li figcaption{
   margin-left: 60px;
}
/*photo ident*/
#photo_ident .tag_info{
    color: #0c9e69;
    font-size: 16px;
    margin-left: 30px;
}
#photo_ident .tag_info.green_color{
    color: green;
    font-size: 18px;
}
#photo_ident .tag_info .glyphicon{
    margin-right: 5px;
    vertical-align: bottom;
}
.ajax_photo{
    margin: 0 50px;
}
.ajax_photo dl{
    display: inline-block;
    width: 28%;
    text-align: center;
    float: left;
    border: 1px solid #DDDDDD;
    position: relative;
    height: 135px;
    overflow: hidden;
   
}
.ajax_photo dl:nth-child(2){
    margin: 0 7.5%;
}
.ajax_photo dl dt.file_post input{
    border: 1px solid red;
    width: 212px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 0;
}
.ajax_photo dl dt.post_img_bg{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.ajax_photo dl:first-of-type dt.post_img_bg{
    background: url("/Public/Home/images/safe_center/id_card_z.png") center 20px no-repeat;
}
.ajax_photo dl:nth-of-type(2) dt.post_img_bg{
    background: url("/Public/Home/images/safe_center/id_card_f.png") center 20px no-repeat;
}
.ajax_photo dl:last-of-type dt.post_img_bg{
    background: url("/Public/Home/images/safe_center/id_card_s.png") center 10px no-repeat;
}
.ajax_photo dl dt.post_img_bg img{
    display: none;
    max-height: 100%;
    max-width: 100%;
}
.ajax_photo dl dd{
    position: absolute;
    top: 95px;
    text-align: center;
    width: 100%;
    padding: 0 10px;
}
.ajax_photo dl:last-of-type dd{
    top: 95px;
    line-height: 17px;
}
.ajax_photo .photo_notice{
    text-align: center;
    margin: 15px 0;
}
.ajax_photo .photo_notice .color_red{
    color: #FA4223;
}
.ajax_photo .photo_submit{
    text-align: center;
    margin-top: 25px;
}
.photo_submit button{
    background-color: #FA4223;
    color: white!important;
    width: 150px;
    box-shadow: 1px 2px 2px #666666;
}
.photo_submit button:hover{
    background-color: #d5381e;
    color: white;
}

/*change password  and pay bind title base css*/
.pull-right .two_panel .second_title {
    text-align: center;
    font-family: Arial, 微软雅黑, Verdana, 黑体, sans-serif;
    font-size: 1.2em;
    color: #999999;
    margin-bottom: 30px;
}

.pull-right .two_panel .second_title span {
    cursor: pointer;
}

.pull-right .two_panel .second_title span.selected {
    font-weight: bold;
    color: #333333;
}

.pull-right .two_panel .second_title strong {
    color: #DDDDDD;
    padding: 0 5px;
}

/*change password*/
#change_pw {
    margin-top: 30px;
}
#change_pw_notice p {
    display: none;
}

#change_pw_notice p.selected {
    display: block;
}

#change_form {
    width: 430px;
    border: 1px solid #DDDDDD;
    margin: 30px auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

#change_form form {
    display: none;
}

#change_form form.selected {
    display: block;
}
#change_form .form-group label{
    width: 30%;
}
#change_form .form-group .form_input_8{
    width: 66%;
    float: right;
}


/*bind_telephone*/

#bind_telephone-form {
    width: 400px;
    margin: 60px auto;
}

#get_identify_code {
    font-size: 14px;
    color: #690;
    background: #F8F8F8 url("/Public/Home/images/register_images/yuyin.png") no-repeat 40px 4px;
    outline: none;
}
.unbind_form_tel{
    width: 470px;
    margin: 14px auto;
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 15px;
    padding-right: 30px;
    margin-top: 100px;
    padding-bottom: 50px;
}
#get_identify_code_unbind{
    font-size: 14px;
    color: #690;
    background: #F8F8F8 url("/Public/Home/images/register_images/yuyin.png") no-repeat 40px 4px;
    outline: none;
}
.success_tips{
    font-size: 18px;
    color: green;
    margin-bottom: 80px;
    margin-left: -80px;
    margin-top: -80px;
}
.success_tips .glyphicon{
    margin-right: 5px;
    font-size: 26px;
    top: 0;
    vertical-align: middle;
}
.unbind_form_tel .form_input_9{
    line-height: 46px;
}
/*pay bind*/
#pay_bind_content .right_body .notice p {
    margin-bottom: 0;
}

#pay_bind_form {
    width: 460px;
    border: 1px solid #DDDDDD;
    margin: 30px auto;
    padding: 30px 50px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

#pay_bind_form .form_out {
    display: none;
}

#pay_bind_form .form_out.selected {
    display: block;
}

#pay_bind_content p {
    display: none;
}

#pay_bind_content p.selected {
    display: block;
}
.bind_info{
    padding: 30px 0;
}
.bind_info h4{
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #dddddd;
    font-size: 16px;
}

/*bank_panel*/
#bank_content{
        position: relative;
}
#bank_content .right_body .notice p {
    padding-left: 20px;
    text-align: left;
    text-indent: -10px;
}
#bank_user_info{
    border: 1px solid #dddddd;
    margin-right: 30px;
}
#bank_user_info ul{
    height: 34px;
    padding: 0;
    margin: 0;
    font-size: 13px;
    border-bottom: 1px solid #dddddd;
}

#bank_user_info ul.info_title{
    background-color: #f9f9f9;
        font-weight: bold;
}
#bank_user_info ul:last-child{
border: none;
}

#bank_user_info ul li{
    float: left;
    list-style: none;
    padding: 8px 5px 8px 5px;
    width: 9%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#bank_user_info ul li:nth-child(2){
   width: 18%;
}
#bank_user_info ul li.bank_code{
    width: 22%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#bank_user_info ul li.add_time{
    width: 18%;
}
#bank_user_info ul li.action{
    width:6%;
}
#bank_user_info ul li.user_action{
    cursor: pointer;
    color: #FA4223;

}
#bank_content .add_bank{
    margin: 30px;
    text-align: center;
}
#bank_content .add_bank #add_btn{
    background-color: #FA4223;
    color: white;
    outline: none;
    box-shadow: 1px 2px 2px #666666;
    width: 160px;
}
#bank_content .add_bank #add_btn:hover{
    background-color: #e32d2d;
}

#add_bank_info{
    width: 600px;
    border: 1px solid #DDDDDD;
    position: absolute;
    top: -35%;
    left: 50%;
    background-color: white;
    border-radius: 5px;
    padding: 60px 100px;
    box-shadow: 2px 2px 4px #dddddd;
    display: none;
    z-index: 300;
    margin-left: -300px;
}
#add_bank_info .bank_title{
 line-height: 30px;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 20px;
}
#add_bank_info .bank_title span{
   float: right;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
#add_bank_info .form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
}
#add_bank_info .form-horizontal .form-group label{
    width: 20%;
    padding-top: 7px;
}
#add_bank_info .form-horizontal .form-group .form-control{
    width: 75%;
    float: right;
}
#add_bank_info .form-horizontal .form-group .province_city{
    width: 75%;
    float: right;
}
#add_bank_info .form-horizontal .form-group .form-control#province{
    width: 45%;
    float: left;
}
#add_bank_info .form-horizontal .form-group .form-control#city{
    width: 45%;
    float: right;
}
#add_bank_info span.tips{
    width: 75%;
    float: right;
}
#add-bank-affirm{
 text-align: center;
}
#add-bank-affirm input{
    font-size: 14px;
    width: 220px;
    height: 34px;
    background: #FA4223;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 73px;
}
#add-bank-affirm input:hover{
    background: #d52b2b;
}
#delete_bank{
    padding: 10px 30px 30px 30px;
    background-color: white;
    position: absolute;
    left: 250px;
    top: 200px;
    width: 300px;
    border: 1px solid #dddddd;
    box-shadow: 2px 2px 3px #dddddd;
    border-radius: 5px;
    display: none;
}
#delete_bank .delete_title{
    line-height: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
    font-weight: bold;
}
#delete_bank .delete_title span{
  font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}
#delete_bank .bottom{
    margin-top: 20px;
}
#delete_bank .bottom{
    margin-top: 20px;
}
#delete_bank .bottom .btn{
    width: 40%;
}
#delete_bank .bottom #confirm_delete{
    background-color: #FA4223;
}
#delete_bank .bottom #confirm_delete:hover{
    background-color: #dd2c2c;
}
#delete_bank .bottom #cancel_delete{
    float: right;
    background-color: #f9f9f9;
}
#delete_bank .bottom #cancel_delete:hover{
    background-color: #eeeeee;
}
.false_tips{
    text-indent: 30px;
    margin-bottom: 30px;
    color: #FA4223;
}

/*
.ajax_photo dl dd{
  margin-top: 20px;
}*/
/*find trade code*/
#find_tradePw{
    position: relative;
}
#find_tradePw_form{
    width: 400px;
    margin: 0 auto;
}
#get_identify_code_id{
    font-size: 14px;
    color: #690;
    background: #F8F8F8 url('/Public/Home/images/register_images/yuyin.png') no-repeat 40px 4px;
    outline: none;
}
#id_card{
    font-size: 15px;
    line-height: 25px;
    color: green;
}
#bank_lock_screen{
    background-color: black;
    opacity: 0.6;
    filter:alpha(opacity=60);
    position: absolute;
    top:0;
    left: 0;
    z-index: 300;
    display: none;
    zoom: 1;
}
div#reset_trade_pw{
    width: 450px;
    background-color: white;
    border: 1px solid #DDDDDD;
    padding: 40px 50px;
    position: absolute;
    left: 200px;
    top: 170px;
    display: none;
}
div#reset_trade_pw h4{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px dashed #dddddd;
    margin-bottom: 30px;
}

div#reset_trade_pw .form_input_9{
    width:65%;
}

.yourp{
    border-left: 4px solid #FA4223;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    margin: 30px;
}
.yourpi{
    margin-left: 30px;
}
.yourpimg{
	margin-left: 20px;
	width: 200px;
	height: 200px;
    display: inline-block;
}
.yourpimg img{
	width: 100%;
	height: 100%;
}
.yzm_zj{
    margin-top: 15px;
}
.yzm_zj span{
    color: #FA4223;
    margin-left: 5px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.yzm_zj span:hover{
    text-decoration: underline;
}
.yzm_zj .left15{
    width: 60%;
    height: 40px;
}
.yzm_zj.bank_yzm{
    margin-left: 26%;
    margin-bottom: 15px;
}
.yzm_zj.bank_yzm span{
    font-size: 13px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#input_identify_code{
    font-size: 14px;
    color: #690;
    background: #F8F8F8 url(/Public/Home/images/register_images/yuyin.png) no-repeat 40px 0;
    outline: none;
}
/*safecenter tips*/
.form-group span.tips{
    margin-top: 7px;
    display: none;
}
.form-group  span.tips i{
    margin-right: 3px;
}
.form-group  span.tips.red_tips{
    color:#FA4223;
}
.form-group  span.tips.green_tips{
    color:green;
}