/*danger_notice*/

#danger_notice{
    padding: 30px 50px;
}
#danger_notice p{
    background-color: #d4cfcf;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(220, 75, 51);
    display: inline-block;
    margin: 0 auto;
    padding: 15px 40px;
    text-align: justify;
}

body{
    background-color: #f8f8f8;
    min-width: 990px;
}
/*trade_area*/
#trading_area {
    width: 100%;
    min-width: 990px;
    min-height: 700px;
    background-color: white;
    font-size: 15px;
}

#trading_area .nav {
    border: none;
}

#trading_area .nav li a {
    border: none;
    font-weight: bold;
    padding: 15px 15px 13px 15px;
}

#trading_area .nav li.active a {
    color: rgb(250, 66, 35);
    border-bottom: 2px solid rgb(250, 66, 35);
    background-color: #eeeeee;
}

#trading_area .nav li a:hover {
    color: rgb(250, 66, 35);
}

#trading_area .nav li a span {
    background-color: rgb(250, 66, 35);
    margin-left: 5px;
}

#table_title {
    width: 100%;
    background-color: #eeeeee;
    border-top: 2px solid #dddddd;
}
#table_title ul {
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
}
#table_title ul li {
    width: 16%;
    padding: 13px 0 15px 0;
    float: left;
}
#table_title ul li:nth-child(5){
    width: 7%;
}
#table_title ul li:nth-child(6){
    width: 22%;
}
#table_title ul li:last-child{
    width: 7%;
}
#table_title ul li.double_arrow{
    cursor: pointer;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    user-select:none;
}
#table_title ul li.double_arrow span{
    color: #999999;
}
#table_title ul li.double_arrow i{
    font-style: normal;
}
#table_title ul li.double_arrow:hover i{
    color: rgb(250, 66, 35);
}
#table_title ul li.double_arrow.selected i{
    color: rgb(250, 66, 35);
}
#table_title ul li.double_arrow.selected span.glyphicon.selected{
    color: rgb(250, 66, 35);
}

#table_title ul li .gly_parent {
    position: relative;
    top: -4px;
    font-size: 12px;
}

#table_title ul li .gly_parent .glyphicon-triangle-bottom {
    position: absolute;
    top: 8px;
    left: 0;
}

#trading_area .tab-content {
    width: 100%;
}

#trading_area .tab-content ul.tab-pane {
    margin-bottom: 0;
    text-align: center;
}

#trading_area .tab-content ul.tab-pane>li:nth-child(even){
    background-color: #f5f5f5;
}

#trading_area .tab-content ul.tab-pane li:hover {
    background-color: #fcf8e3;
    cursor: pointer;
}

#trading_area .tab-content ul.tab-pane li ol li {
    width: 16%;
    float: left;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#trading_area .tab-content ul.tab-pane ol li:first-child{
    text-align: left;
}
#trading_area .tab-content ul.tab-pane ol li:nth-child(2){
    color: rgb(250, 66, 35);
}
#trading_area .tab-content ul.tab-pane li ol li:nth-child(5){
    width: 7%;
}
#trading_area .tab-content ul.tab-pane li ol li:nth-child(6){
    width: 22%;
}
#trading_area .tab-content ul.tab-pane li ol li:last-child{
    width: 7%;
}
#trading_area .tab-content ul.tab-pane li ol li .btn {
    padding: 3px 12px;
    font-size: 13px;
    outline: none;
    color: white;
    background-color: rgb(250, 66, 35);
}

#trading_area .tab-content ul.tab-pane li ol li .btn:hover {
     background-color: rgb(224, 41, 10);
}
#trading_area .tab-content ul.tab-pane li ol li:first-child p{
    background-color: #d62b2b;
    float: left;
    display: inline-block;
    margin: 1px 5px 1px 0;
    width: 24px;
    height: 24px;
    background-image: url("../images/trade_center/coin_all.png");
    background-repeat: no-repeat;
}
#bitebi_lhj ol li:first-child .logo_icon{
    background-position:0 -527px;
}


/*btb_trade*/

/*btb_header*/
#trade_title {
    height: 86px;
    background-color: #ffffff;
    box-shadow: 2px 2px 3px #dddddd;
}
/*.xnb_name{width: 226px;}*/
#trade_title .xnb_name_out {
    width: 21%;
    float: left;
    position: relative;
    height: 86px;
    cursor: pointer;
}

#trade_title .xnb_name_out div.xnb_name {
    margin-top: 20px;
    height: 50px;
}

#trade_title .xnb_name_out div.xnb_name i {
    width: 50px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
    float: left;
}

#trade_title .xnb_name_out div.xnb_name i img {
    width: 50px;
/*    margin-top: -1100px;*/
}

#trade_title .xnb_name_out div.xnb_name span {
    font-size: 16px;
    line-height: 50px;
    float: left;
    margin-left: 10px;
}

#trade_title .xnb_name_out div.xnb_name span.boult {
    margin: 0 10px;
    float: left;
}

#trade_title .xnb_name_out:hover .boult {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#trade_title .xnb_name_out:hover .more_moneytype {
    display: block;
}

/*更多币种*/
.more_moneytype {
    position: absolute;
    left: 0;
    top: 86px;
    width: 580px;
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    border-top: 2px solid rgb(250, 66, 35);
    z-index: 100;
    box-shadow: 2px 2px 3px #dddddd;
    display: none;
}
/*jiantou*/
.more_moneytype .glyphicon-eject{
    position: absolute;
    top: -11px;
    left: 50px;
    color: rgb(250, 66, 35);
    font-size: 13px;
}

.more_moneytype .row {
    border-bottom: 1px dotted darkgray;
}

.more_moneytype_content table {
    width: 510px;
    margin-left: 35px;
    margin-right: 35px;
}

.more_moneytype_content table tr {
    width: 510px;
    padding-bottom: 5px;
    border-bottom: 1px dotted darkgray;
    column-count: 3;
}

.more_moneytype_content tr td {
    /*width: 252px;*/
   padding: 5px 0px;
}

.more_moneytype_content tr td p {
    margin: 0;
    padding: 0;
    line-height: 35px;
}

.more_moneytype_content tr td p i {
    display: inline-block;
    height: 23px;
    width: 23px;
    margin-top: 5px;
    margin-right: 3px;
    overflow: hidden;
    float: left;
}
.more_moneytype_content tr td p a:hover {
    text-decoration: none;
}
.more_moneytype_content tr td p i img{
    height: 23px;
    width: 23px;
    vertical-align: top;
}

/*title right num*/
#trade_title .right_num{
    float: left;
    width: 79%;
}
#trade_title .right_num div{
    text-align: center;
    margin-top: 20px;
    width: 15%;
    float: left;
}
#trade_title .right_num div.numberLeft {
    width: 25%;
    font-size: 28px;
    color: rgb(250, 66, 35);
    font-weight: bold;
    padding-top: 12px;
}
#trade_title .right_num div.numberLeft strong {
    font-size: 28px;
    float: left;
    line-height: 25px;
}
#trade_title .right_num div.numberLeft span {
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
     font-size: 32px;
    float: left;
    line-height: 25px;
}
 .right_num div span:nth-child(1) {
    font-size: 20px;
}
/*trade area nav*/

#trade_nav{
    margin-bottom: 30px;
}
#trade_nav ul li a{
    color: #444444!important;
    padding: 12px 30px 10px 30px;
    font-size: 16px;
    font-weight: bold;
}
#trade_nav ul li.active a{
    font-weight: bold;
    color: rgb(250, 66, 35)!important;
}
#trade_nav ul li a:hover{
    color: rgb(250, 66, 35)!important;
}
#trade_nav .nav-tabs>li{
    margin-bottom: -2px;
}


/*trade rmb*/
#trade_rmb .pull-left{
    width: 69%;
}
#trade_line_out{
    position: relative;
    margin-bottom: 20px;
}
#trade_line_out .timing{
    position: absolute;
    bottom: 0;
    left: 0;
}
#trade_rmb .pull-left .trade_Kline{
    padding-top: 5px;
    width: 100%;
    height: 480px;
    /*margin-bottom: 20px;*/
    /*padding: 0 20px;*/
    border: 1px solid #dddddd;
    background-color: #ffffff !important;
    pointer-events: none;
}
#trade_rmb .pull-left .trade_buy_sell{
    border: 1px solid #DDDDDD;
    padding: 15px;
    background-color: white;
}
#trade_rmb .pull-right{
    width: 31%;
    height: 600px;
    padding-left:15px;
}
/*has money table*/
#trade_rmb .pull-right .has_money tr td{
    border: 1px solid #DDDDDD;
}
#trade_rmb .pull-right .has_money tr td:first-child{
    background-color: #eeeeee;
    width: 40%;
}
#trade_rmb .pull-right .has_money tr td.span_green{
    color: green;
}
#trade_rmb .pull-right .has_money tr td.span_red{
    color: rgb(250, 66, 35);
}


/*buy sell table*/

#trade_rmb .pull-right .buy_num_table{
    width: 100%;
    font-size: 13px;
    border: 1px solid #DDDDDD;
    background-color: white;
    text-align: center;
    table-layout: fixed;
}
#trade_rmb .pull-right .buy_num_table thead{
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
}
#trade_rmb .pull-right .buy_num_table tbody{
    border-bottom: 1px solid #eeeeee;
    color: green;
}
#trade_rmb .pull-right .buy_num_table tfoot{
    color: rgb(250, 66, 35);
}
#trade_rmb .pull-right .buy_num_table tbody tr:hover{
background-color: #fcf8e3;
}
#trade_rmb .pull-right .buy_num_table tfoot tr:hover{
    background-color: #fcf8e3;
}
#trade_rmb .pull-right .buy_num_table tr td{
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*buy sell form*/
#trade_rmb .pull-left .trade_buy_sell .trade_panel{
    width: 50%;
    padding: 0 20px;
    border-right: 1px dashed #eeeeee;
    float: left;
}
#trade_rmb .pull-left .trade_buy_sell .trade_panel h3{
    margin-bottom: 20px;
}
#trade_rmb .pull-left .trade_buy_sell #buy_rmb h3{
    color: rgb(250, 66, 35);
}
#trade_rmb .pull-left .trade_buy_sell .trade_panel .input-group{
    margin-bottom: 15px;
}
#trade_rmb .pull-left .trade_buy_sell .trade_panel .form-control{
    outline: none;
    border-right: none;
}
#trade_rmb .pull-left .trade_buy_sell .trade_panel .input-group-addon{
    background-color: #ffffff;
    font-size: 13px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    cursor: pointer;
}

#trade_rmb .pull-left .trade_buy_sell .trade_panel .input-group-addon span{
    color: rgb(250, 66, 35);
    border-bottom: 1px dashed rgb(250, 66, 35);
}
#trade_rmb .pull-left .trade_buy_sell .trade_panel .set_trade_pw span{
    color: #666666;
    border-bottom: none;
}
#trade_rmb .pull-left .trade_buy_sell .trade_panel .other_info{
    margin-bottom: 15px;
    color: #888888;
}
#trade_rmb .pull-left .trade_buy_sell .trade_panel .other_info span{
    color: #333333;
}
#trade_rmb .pull-left .trade_buy_sell .trade_panel .other_info strong{
    color: #333333;
    padding-right: 5px;
}
/*buy percent*/
#trade_rmb .pull-left .trade_buy_sell .trade_panel .trade_percent{
    margin: 30px 0 30px 0;
}
ul.lanren{
    width:70%;
    float: right;
    padding: 0 ;
    margin: 0}
.scale_panel{
    color: #999;
    width: 80%;
    position: absolute;
    line-height: 18px;
    left: 0;
    top: 0;}
/*.scale_panel .range{float:right;}*/
.scale span{
    width: 20px;
    height: 20px;
    background: #eeeeee;
    border: 1px solid #dddddd;
    position: absolute;
    left: 0;
    top: -5px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: -2px;
}
.scale{
    background-color: #E4E4E4;
    border-left: 1px rgb(250, 66, 35) solid;
    width: 100%;
    height: 10px;
    position: relative;
    font-size: 0;
    border-radius: 3px;
}
.sell_lanren .scale{
    border-left: 1px green solid;
}
.scale div.bar_bg{
    background-color: rgb(250, 66, 35);
    width: 0;
    position: absolute;
    height: 10px;
    left: 0;
    bottom: 0; }

.sell_lanren .scale div.bar_bg{
    background-color: green;
}
.lanren li{
    font-size: 12px;
    line-height: 20px;
    position: relative;
    height: 20px;
    list-style: none;
    top: 4px;
}
.lanren li>span{
    float: right;
    margin-top: -5px;
}
#trade_rmb .pull-left .trade_buy_sell .trade_panel .trade_submit{
    margin: 30px  auto;
    padding-bottom: 20px;
}
#trade_buy_btn{
    outline: none;
    background-color: rgb(250, 66, 35);
    width: 150px;
    color: white;
}
/*sell form */
#trade_rmb .pull-left .trade_buy_sell #sell_rmb{
    border-right: none;
}
#trade_rmb .pull-left .trade_buy_sell #sell_rmb h3{
    color: green;
}
#trade_sell_btn{
    outline: none;
    background-color: green;
    width: 150px;
    color: white;
}

/*trade_record*/
#trade_record h3{
    font-weight: bold;
    font-size: 18px;
    border-left: 4px solid #FA4223;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 30px;
}
#trade_record #tbody_out{
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 40px;
    border: 1px solid #DDDDDD;
    border-top: none;
    background-color: white;
    color: #666666;
}
#trade_record #tbody_out table{
    border: none;
}

#trade_record table{
    border: 1px solid #DDDDDD;
    margin-bottom: 0;
    table-layout: fixed;
}
#trade_record>table{
    border-bottom: none;
}
#trade_record table thead{
    background-color: #eeeeee;
    font-weight: bold;
}
#trade_record table thead tr td{
    padding-right: 30px;
}
#trade_record table tbody tr.bg_grey{
    background-color: #f8f8f8;
}
#trade_record table tbody tr:hover{
    background-color: #fcf8e3;
}
#trade_record table tr td{
    width: 20%;
    padding: 10px 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*btb market*/
#market_kline{
    padding: 30px;
    border: 1px solid #dddddd;
    min-height: 510px;
    background-color: white;
}
#market_kline .trade_Kline{
    width: 100%;
    height: 500px;
    pointer-events: none;
}
/*market record*/
#market_record .pull-left{
    width: 62%;
    padding: 15px 0;
}
#market_record h3{
    font-weight: bold;
    font-size: 18px;
    border-left: 4px solid #FA4223;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 30px;
}
#market_record table{
    border: 1px solid #DDDDDD;
    background-color: #ffffff;
    text-align: center;
    color: #666666;
    table-layout: fixed;
}
#market_record table tr td{
   overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#market_record table thead{
   font-weight: bold;
}
#market_record .pull-left .num_table{
    width: 8%;
    float: left;
}
#market_record .pull-left .buy_table{
    width: 48%;
    float: left;
    border-right: none;
    border-left: 1px solid #dddddd;
}
#market_record .pull-left .buy_table tbody tr td:nth-of-type(2){
color: rgb(250, 66, 35);
}

#market_record .pull-left .sell_table{
    width: 48%;
    float: left;
}

#market_record .pull-left .sell_table tbody tr td:nth-of-type(2){
    color: green;
}
#market_record .pull-right{
    width: 38%;
    padding: 15px 0;
}
#market_record .pull-right table tr td:first-child{
    width: 42%;
}
/*introduce*/
.xnb_detail_param {
    background-color: #ffffff;
    border: 1px solid #EEEEEE;
    padding: 0 30px 30px 30px ;
}
.xnb_detail_param.similar{
    margin-bottom: 60px;
}
.xnb_detail_param.similar h3{
    border-left: 4px solid rgb(250, 66, 35);
    padding: 0 20px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}
.currency-introduced{
    overflow: hidden;
    width: 1050px;
    margin-top: 20px;
}
.currency-introduced-img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    float: left;
}
.currency-introduced-img img{
    width: 50px;
/*    margin-top: -1099px;*/

}
.currency-introduced-info{
    float: left;
    width: 900px;
    margin-left: 20px;
    line-height: 150%;
}
.currency-introduced-time{
    color: #999;
    font-size: 13px;
}
.currency-introduced-name{
    font-weight: 600;
}


/*detail param*/
.xnb_detail_param table{
    border: 1px solid #dddddd;
}
.parameter_tab tr td{
    margin-right: 5px !important;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.parameter_tab tr td span{
    width: 80px;
    display: inline-block;
    font-weight: bold;
}
.parameter_tab tr td i{
    color: #555555;
    font-style: normal;
}

/*btb_evaluate*/
#btb_evaluate{
    background-color: #ffffff;
    border: 1px solid #EEEEEE;
    padding: 0 30px 30px 30px ;
    margin-bottom: 50px;
}
#btb_evaluate .similar{
    margin-bottom: 60px;
}
#btb_evaluate .similar h3{
    border-left: 4px solid rgb(250, 66, 35);
    padding: 0 20px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}

/*xnb_score*/
#btb_evaluate .xnb_score .content dt{
    margin-bottom: 20px;
}
#btb_evaluate .xnb_score .content dd{
  display: block;

}
#btb_evaluate .xnb_score .content dd i{
    font-style: normal;
    padding-left: 10px;

}
#btb_evaluate .xnb_score .content dd span{
    float: left;

}
#btb_evaluate .xnb_score .content dd .progress{
    width: 200px;
    float: left;

}
#btb_evaluate .xnb_score .content dd .progress-bar{
    width: 40%;
    background-color: rgb(250, 66, 35);
}
/*score form*/
#btb_evaluate .score_form textarea{
    width: 50%;
    height: 100px;
    resize: none;
    padding: 10px;
    outline: none;
}
#btb_evaluate .score_form .about_score{
/* border: 1px solid #DDDDDD;*/
    width: 48%;
    padding: 0 20px;
}
#btb_evaluate .score_form .about_score div{
      margin-bottom: 15px;
  }
#btb_evaluate .score_form .about_score div:last-child{
    margin-bottom: 0;
}
#btb_evaluate .score_form .input-group{
    margin-top: 15px;
}
#btb_evaluate .score_form .input-group .btn{
    color: white;
    background-color: rgb(250, 66, 35);
    width: 150px;
}
#btb_evaluate .xnb_peoplesay .say_title{
    background-color: #EEEEEE;
    padding: 8px 20px;
}
#btb_evaluate .xnb_peoplesay .say_title p{
    margin-bottom: 0;
}
#btb_evaluate .xnb_peoplesay .say_title p.pull-left{
    color: #888888;
}
#btb_evaluate .xnb_peoplesay .say_title p.pull-right{
    font-size: 12px;
    margin-top: 2px;
}
#btb_evaluate .xnb_peoplesay .say_title p span{
   color: rgb(250, 66, 35);
    padding-right: 10px;
}
#btb_evaluate .xnb_peoplesay .say_title p i{
    font-style: normal;
}
#btb_evaluate .xnb_peoplesay .say_content{
    padding: 10px 20px;
}
#btb_evaluate .xnb_peoplesay .say_content p small{
    color: #888888;
}
#btb_evaluate .xnb_peoplesay .peoplesay_page{
    margin: 0 auto;
    text-align: center;
}
#btb_evaluate .xnb_peoplesay .peoplesay_page .pagination li a{
    color: rgb(250, 66, 35);
}
#btb_evaluate .xnb_peoplesay .peoplesay_page .pagination li.active a{
    color: #ffffff;
    background-color: rgb(250, 66, 35);
    border: 1px solid rgb(250, 66, 35);
}


.give-mark dd span{
	margin-right: 5px !important;
}
.give-mark dt span{
	margin-right: 5px !important;
}
.about_score div{width: 455px;}
.checkbox-inline input{
	margin-right: 5px;
}

.maycoin{
	width: 100%;
	border: 1px rgb(225,225,225) solid;
	margin-bottom: 20px;
    background-color: white;
}
.maycoin ul{
	padding: 0px;
	margin: 0px;
}
.maycoin ul li{
	height: 40px;
	list-style-type: none;
	display: flex;
	border-bottom: 1px rgb(225,225,225) solid;
	line-height: 40px;
}
.maycoin ul li>span:nth-child(1){
	flex: 5;
	border-right: 1px rgb(225,225,225) solid;
	text-align: center;
    font-weight: bold;
}
.maycoin ul li span:nth-child(2){
    flex: 7;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.maycoin ul li:last-child{
	border-bottom: 0px;
}
.cred{color: red;}
.cgreen{color: green;}

#my_trade_order h4{
    font-weight: bold;
    font-size: 18px;
    border-left: 4px solid #FA4223;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 30px;
}
#my_trade_order h4 a{
    font-size: 14px;
    font-weight: normal;
    float: right;
    color: #FA4223;
}
#my_trade_order h3 a i{
    font-size: 12px;
}
#my_trade_order table{
 width: 100%;
    border: 1px solid #dddddd;
    table-layout: fixed;
}
#my_trade_order table thead{
    background-color: #eeeeee;
    font-weight: bold;
}
#my_trade_order table tbody{
    background-color: #ffffff;
}
#my_trade_order table tr td{
     width: 15%;
     text-align: center;
     padding: 10px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
#my_trade_order table tr td:last-child{
    width:10%;
    text-align: center;
    padding: 10px 10px;
}
#my_trade_order table tbody tr{
    border-top: 1px solid #dddddd;
}
#my_trade_order table tbody tr:hover{
    background-color: #fcf8e3;
}
#my_trade_order tbody tr:nth-child(even){
    background-color: #f8f8f8;
}
#my_trade_order table tbody tr td:last-child button{
    border: 1px solid #FA4223;
    color: #FA4223;
    background-color: transparent;
    border-radius: 5px;
    padding: 1px 10px;
}
#my_trade_order table tbody tr td:last-child button:hover{
    background-color: #FA4223;
    color: white;
}