<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/login.css" />
		<link rel="stylesheet" href="__ALERT__/qiwen_popup.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/login.js" ></script>
	</head>
	<body>
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>手机注册</h2>
		</header>
		<form class="register ajax_zhuce" action="{:U('Register/zhuce')}" method="post" onsubmit="return false">
			<div class="register-write" id="firstregist" style="display: block;">
				<input class="feedin" type="text" id="phone_num" onchange="Regphone(this)" name="phone_num" placeholder="请输入手机账号" />
				<div class="register-tx sryzm">
					<input type="text" id="yanzheng_num" placeholder="请输入您的验证码" maxlength="6" />
					<p class="yzm_zj"><img title="点击刷新" src="{:U('Register/yanzhengma')}"/></p>
				</div>
				<div class="register-yz">

					<input type="text" value="" onchange="tijiaophone(this)"  name="input_identity" id="input_identity" placeholder="请输入手机验证码" />
					<a  onclick="yanzheng()" name="input_identify_code" id="input_identify_code">发送验证码</a>

				</div>
				<input class="feedin" type="password" onchange="RegeMatch(this)" name="cipher_code" id="cipher_code" placeholder="登录密码, 6~18位字母开头字符" />
				<input class="feedin" type="password" onchange="newpwdReg(this)" name="confirm_code" id="confirm_code" placeholder="重置登录密码" />
				<empty name="pid">
					<input class="feedin" type="text" name="yaoqing_code_num" id="yaoqing_code_num" placeholder="请输入邀请码(非必填)" />
				</empty>
				<div class="register-agreement">
					<input type="checkbox" value=""  id="agree1_checkbox" name="agree1_checkbox"  >
					我已阅读并同意 <a id="protocol"><<平台服务协议>></a>
				</div>
				<a class="register-next" onclick="nextren()" id="num_submit">下一步</a>
			</div>
			<div class="register-write" id="nextdeal" style="display: none;">
				<div class="register-write-hint">
					<img src="__IMG__/tixing.png"/>
					为保障您的资金安全，请设置交易密码，请务必牢记!
				</div>
				<input class="feedin" type="password" id="set_trade_pw" onchange="Regdeal(this)" placeholder="请输入交易密码6为数字" name="set_trade_pw" />
				<input class="feedin" type="password" onchange="Regnewdeal(this)"  name="reset_trade_pw" id="reset_trade_pw" placeholder="请重新输入交易密码" />
				<a class="register-next martop20" onclick="nextdeal()" id="trade_pw_submit">下一步</a>
			</div>
			
			
			<div class="register-write" id="lastregis" style="display: none;">
				<div class="register-write-hint">
					<img src="__IMG__/tixing.png"/>
					根据国家相关规定，请填写您的真实身份信息，完成实名认证!
				</div>
				<select id="idtpe">
					<option>身份证</option>
				</select>
				<input class="feedin" type="text" id="real_name"  name="real_name" placeholder="请输入您的真实姓名" />
				<input class="feedin" type="text" onchange="cardReg(this)" name="id_num" id="id_num" placeholder="请输入您的证件号码" />
				<button type="submit" class="register-next martop20" onclick="tijiaozhuce()" id="real_name_submit">下一步</button>
			</div>
			
			<div class="register-write" id="housregis" style="display: none;">
				<div class="register-write-hint2">
					<img src="__IMG__/chenggong.png"/>
					恭喜您，已经注册成功！
				</div>
				<div class="register-prosperity">
					<div class="register-prosperity-row">
						<span>注册账号 : </span><span id="users"></span>
					</div>
					<div class="register-prosperity-row">
						<span>认证姓名 : </span><span id="username"></span>
					</div>
					<div class="register-prosperity-row">
						<span>证件类型 : </span><span id="idtype"></span>
					</div>
					<div class="register-prosperity-row">
						<span>证件号码 : </span><span id="idcard"></span>
					</div>
				</div>
				<div class="register-walk">
					<a href="{:U('Trade/buy')}">去交易</a>
				</div>
			</div>
		</form>
		<include file="Public:footer" />
	</body>
	<script type="text/javascript" src="__JS__/Wapregister.js"></script>
	<script type="text/javascript" src="__ALERT__/qiwen_popup.js"></script>
	<script type="text/javascript">
		$('#agree1_checkbox').click(function () {
			if($("#agree1_checkbox").is(":checked")==true){
				$("#agree1_checkbox").attr("value","1");
			}else {
				$("#agree1_checkbox").attr("value","0");
			}
		})
		var captcha_img = $('.yzm_zj').find('img');
		var verifyimg = captcha_img.attr("src");
		captcha_img.attr('title', '点击刷新');
		captcha_img.click(function(){
			if( verifyimg.indexOf('?')>0){
				$(this).attr("src", verifyimg+'&random='+Math.random());
			}else{
				$(this).attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
			}
		});
	</script>
	<script>
		$("#protocol").click(function () {
			$("#agree1_checkbox").attr("checked", false);
			window.location.href="{:U('Content/registrationProtocol')}";
		});
	</script>
</html>
