<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>用户提现地址新增</h2>
    </div>
    <form action="{:U('Userbank/join')}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">用户ID</label>
            <div class="controls">
                <input type="text" class="text input-large" name="userid" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">备注名称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">开户银行</label>
            <div class="controls">
                <input type="text" class="text input-large" name="bank" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">开户省份</label>
            <div class="controls">
                <input type="text" class="text input-large" name="bankprov" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">开户城市</label>
            <div class="controls">
                <input type="text" class="text input-large" name="bancity" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">交易账号</label>
            <div class="controls">
                <input type="text" class="text input-large" name="bankcard" value="">
            </div>
        </div>

        <div class="form-item">
            <select name="type">
                <option value ="1">银行卡</option>
                <option value ="2">支付宝</option>
                <option value ="3">微信</option>
            </select>
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
