<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/Entrust/index.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Public/Admin/mypubliccss/button.css" media="all">
</block>
<block name="body">
    <!-- 按钮工具栏 -->
    <div class="main-title">
        <h2>订单列表  </h2>
        <div class="cf search_right">
            <form action="" method="post">
                <div class="difference">
                    <select name="status" class="market" id="">
                        <option value="" <if condition="I('status') eq ''"> selected </if>>选择订单状态</option>
                        <option value="1" <if condition="I('status') eq 1"> selected </if>>已付款</option>
                        <option value="2" <if condition="I('status') eq 2"> selected </if>>已发货</option>
                        <option value="3" <if condition="I('status') eq 3"> selected </if>>已完成</option>
                    </select>&nbsp; &nbsp;
                    <input name="search" class="username" value="{:I('search')}" placeholder="订单号/用户名"/> &nbsp; &nbsp;
                    <button class="send" type="submit">确定</button>
                </div>
            </form>
        </div>
    </div>

    <!-- 数据表格 -->
    <div class="data-table">
        <table>
            <!-- 表头 -->
            <thead>
            <tr>
                <th>订单号</th>
                <th>产品图片</th>
                <th>产品名称</th>
                <th>用户名</th>
                <th>所属商城</th>
                <th>数量</th>
                <th>总价</th>
                <th>时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>

            <!-- 列表 -->
            <tbody>
            <volist name="list" id="data">
                <tr>
                    <td>{$data.order}</td>
                    <td>
                        <eq name="data.img" value="">
                            <img src="__ROOT__/{$data['product_img']}" width="35" height="50">
                        <else/>
                            <img src="__ROOT__/{$data['img']}" width="35" height="50">
                        </eq>
                    </td>
                    <td><eq name="data.name" value="">{$data.product_name}<else/>{$data.name}</eq></td>
                    <td>{$data.users}</td>
                    <td>
                        <eq name="data.type" value="">
                            <eq name="data.product_type" value="1">红包商城</eq><eq name="data.product_type" value="2">报单商城</eq><eq name="data.product_type" value="3">重消商城</eq>
                        <else/>
                            <eq name="data.type" value="1">红包商城</eq><eq name="data.type" value="2">报单商城</eq><eq name="data.type" value="3">重消商城</eq>
                        </eq>
                    </td>
                    <td>{$data.number}</td>
                    <td>{$data.total_money}</td>
                    <td>{$data.time|date="Y-m-d H:i:s",###}</td>
                    <td><eq name="data.status" value="1">已付款</eq><eq name="data.status" value="2">已发货</eq><eq name="data.status" value="3">已完成</eq></td>
                    <td>
                        <a href="{:U('detail', ['id'=>$data['id']])}">查看订单详情</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="page">
        {$page}
    </div>
    </div>

</block>
<block name="script">

    <script type="text/javascript">
        highlight_subnav("{:U('index')}");

        $(function(){



            $("input[name='sort']").blur(function(){
                var id=$(this).attr('tid');
                var val=$(this).val();
                $.ajax({
                    type: "POST",
                    url: "{:U('appsort')}",
                    data: {id:id, sort:val},
                    dataType: "json",
                    success: function(data){
                        if (data.status!=1){  //失败
                            set_poput_code(data.info,false)
                            return false;
                        }
                        set_poput_code(data.info,true)
                    }
                });
            })





        })
    </script>
</block>
