<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">              
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/rmb.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/rmb.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span> 
			</a>
			<h2>银行卡管理</h2>
		</header>
		<section class="bank">
				<notempty name="data">
					<ul>
					<foreach name="data" item="data">
						<li class="bank-card">
							<div class="bank-handle">
								<h2 class="bank-name">{$data.bank}</h2>
								<img class="bank-del" value="{$data.id}" src="__IMG__/shanchu.png"/>
							</div>
							<dl>
								<dt>
									<span>卡号 : </span><span>{$data.bankcard}</span>
								</dt>
								<dt>
									<span>户名 : </span><span>{$data.bankname}</span>
								</dt>
								<dt>
									<span>开户省市 : </span><span>{$data.bankprov}</span>
								</dt>
								<dt>
									<span>银行 : </span><span>{$data.bank}</span>
								</dt>
							</dl>
						</li>
					</foreach>
					</ul>
				<else/>
					<div class="add-bank">
						<a href="{:U('cardBind')}">添加银行卡</a>
					</div>
				</notempty>
	 	</section>
		<include file="Public:footer" />
	</body>
</html>
 