<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/setting.css" />
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
	</head>
	<body>
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>照片认证</h2>
		</header>
		<section class="setting-attestation">

			<div class="uploading-picture">
				<if condition="($status eq -1  OR  $status eq -2) ">
					<div class="uploading-hint wxts">
						<img src="__IMG__/tixing.png"/>
						温馨提示：请按照要求上传以下照片！
					</div>
					<if condition="( $status eq -2) ">
						<p class="false_tips falips"><span class="glyphicon glyphicon-info-sign"></span>你的审核被拒绝，请重新上传审核图片</p>
					</if>
					<form id="post_img" action="{:U('Safety/file')}" method="post"  enctype="multipart/form-data" name="ajax_photo" class="ajax_photo" onsubmit="return false">
					<div class="photograph">
						<dl class="id_card_post"  value="55" >
							<dt class="file_post" ><input style="display:none;" name="photo[]" type="file"  value="上传图片" id="front_photo" multiple="multiple"></dt>
							<dt class="post_img_bg" onclick="picture(this)"><img style="width: 60px;height: 36.5px;" id="myImg"></dt>
							<dd class="zheng_card_titlez">点击上传正面照片</dd>
						</dl>
						<dl class="id_card_fan">
							<dt class="file_post"><input style="display:none;" type="file" value="上传图片" name="photo[]" id="negative_photo" multiple="multiple"></dt>
							<dt class="post_img_bg" onclick="picture(this)"><img style="width: 60px;height: 36.5px;" id="fanImg"></dt>
							<dd class="fan_card_titlez">点击上传背面照片</dd>
						</dl>
						<dl>
							<dt class="file_post"><input style="display:none;" type="file" value="上传图片" name="photo[]" id="id_photo" multiple="multiple"></dt>
							<dt class="post_img_bg" onclick="picture(this)"><img style="width: 50px;height: 46px;" id="idImg" ></dt>
							<dd class="id_card_titlez">点击上传手持身份证和当日字条</dd>
						</dl>
						<div class="clearfix"></div>
						<div class="photo_submit">
							<button type="submit" class="btn photograph_btn" value="确认提交" id="photo_submit">确认提交</button>
						</div>
					</div>
				</form>
					<div class="uploading-hint2">
						<p class="cred">手持身份证照片要求: 左手手持身份证照片，右手手持写有当天日期纸条的照片</p>
						<p>证件必须是清晰彩色原件电子版，证件上文字清晰可见，可以是扫描件或者数码拍摄照片。</p>
						<p>请上传后缀名为jpg jpeg png的照片，照片最大尺寸为5M</p>
						<p class="cred">因为现在提交身份证照片审核的较多，预计需要一至三个工作日审核完成。</p>
					</div>
					<elseif condition="$status eq 0"/>
					<div class="tag_info">
						<p><span class="glyphicon glyphicon-info-sign"></span>审核中……</p>
					</div>

					<p class="yourp">你的照片</p>
					<div class="photograph">
						<volist name="photo_real" id="vo">
							<dl class="id_card_post" >
								<dt class="file_post" ><input style="display:none;" name="photo_zheng" type="file"  value="上传图片" ></dt>
								<dt class="post_img_bg" onclick="picture(this)"><img style="width: 60px;height: 36.5px;" src="{$vo.topurl}" alt="图片"></dt>
								<dd class="zheng_card_titlez">正面照片</dd>

							</dl>
							<dl class="id_card_fan">
								<dt class="file_post"><input style="display:none;" type="file" value="上传图片" name="photo_fan" ></dt>
								<dt class="post_img_bg" onclick="picture(this)"><img style="width: 60px;height: 36.5px;" src="{$vo.bankurl}" alt="图片"></dt>
								<dd class="zheng_card_titlez">背面照片</dd>

							</dl>
							<dl>
								<dt class="file_post"><input style="display:none;" type="file" value="上传图片" name="photo_id"></dt>
								<dt class="post_img_bg" onclick="picture(this)"><img style="width: 50px;height: 46px;" src="{$vo.takeurl}" alt="图片"></dt>
								<dd class="zheng_card_titlez">手持身份证和当日字条</dd>

							</dl>
						</volist>

						<div class="clearfix"></div>
					</div>

					<elseif condition="$status eq 1"/>
					<div class="tag_info green_color">
						<p><span class="glyphicon glyphicon-ok-sign"></span>审核已通过！</p>
					</div>
					<p class="yourp">你的照片</p>
					<div class="photograph">
						<volist name="photo" id="vo">
							<dl class="id_card_post" >
								<dt class="file_post" ><input style="display:none;" name="photo_zheng" type="file"  value="上传图片" ></dt>
								<dt class="post_img_bg" onclick="picture(this)"><img style="width: 60px;height: 36.5px;" src="{$vo.topurl}" alt="图片"></dt>
								<dd class="zheng_card_titlez">正面照片</dd>

							</dl>
							<dl class="id_card_fan">
								<dt class="file_post"><input style="display:none;" type="file" value="上传图片" name="photo_fan" ></dt>
								<dt class="post_img_bg" onclick="picture(this)"><img style="width: 60px;height: 36.5px;" src="{$vo.bankurl}" alt="图片"></dt>
								<dd class="zheng_card_titlez">背面照片</dd>
							</dl>
							<dl>
								<dt class="file_post"><input style="display:none;" type="file" value="上传图片" name="photo_id"></dt>
								<dt class="post_img_bg" onclick="picture(this)"><img style="width: 50px;height: 46px;" src="{$vo.takeurl}" alt="图片"></dt>
								<dd class="zheng_card_titlez">手持身份证和当日字条</dd>

							</dl>
						</volist>

						<div class="clearfix"></div>
					</div>
					<!--<elseif condition="$status eq -2" />-->
					<!--<div class="tag_info">-->
						<!--<p><span class="glyphicon glyphicon-info-sign">审核失败重新上传</span></p>-->
					<!--</div>-->
				</if>
			</div>

		</section>
		<include file="Public:footer" />
	</body>
	<script type="text/javascript" src="__JS__/picture.js"></script>
</html>
