<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/login.css" />
		<link rel="stylesheet" href="__ALERT__/qiwen_popup.css" />

		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/login.js" ></script>
	</head>
	<body>
		<header class="top">
			<!--<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>-->
			<h2>登录</h2>
		</header>
		<section class="login-content">
			<div class="designation">
				<img src="__IMG__/logo.png"/>
			</div>
			<div class="enter">
				<form action="{:U('Public/logins')}" class="form-horizontal ajax_form" method="post" onsubmit="return false">
					<input type="text" name="name" value="" placeholder="请输入您的手机和或邮箱" />
					<input class="pass" name="pass" type="password" value="" placeholder="请输入密码" />
					<span class="qiwen_poput_code" style="display: none"></span>
					<input class="login" type="submit"  value="登录" />
				</form>
			</div>
			<div class="register-forget">
				<a href="{:U('Register/Register')}">立即注册</a><a href="{:U('Public/retrievePassword')}">忘记密码</a>
			</div>
		</section>


		<script type="text/javascript" src="__ALERT__/qiwen_popup.js"></script>
		<script>

		</script>
		<include file="Public:footer" />
	</body>
</html>
