<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=1">
		<meta name="format-detection" content="telephone=no,address=no">
		<title></title>
		<link rel="stylesheet" href="__CSS__/base.css" />
		<link rel="stylesheet" href="__CSS__/login.css" />
		<link rel="stylesheet" href="__ALERT__/qiwen_popup.css">
		<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="__JS__/fastclick.js" ></script>
		<script type="text/javascript" src="__JS__/base.js" ></script>
		<script type="text/javascript" src="__JS__/login.js" ></script>
	</head>
	<body class="backgroundf6">
		<header class="top">
			<a class="top-left" id="back">
				<img src="__IMG__/back.png"/>
				<span>返回</span>
			</a>
			<h2>找回密码</h2>
		</header>
		<section class="retrieve-password">
				<ul id="retrievetab">
					<li class="pitch">手机找回</li>
					<li>邮箱找回</li>
				</ul>
			<form action="{:U('Register/returnpwd')}" class="ajaxaaaa_form" method="post" onsubmit="return false">
				<div class="retrieve-method" id="iphone_find">
					<div class="retrieve-email-hint">
						<img src="__IMG__/gantan.png"/>
						<span>手机号注册的用户仅支持手机找回</span>
					</div>
					<div class="email-row">
						<label>手机号码</label>
						<input type="text" maxlength="11" id="phone_num" onchange="Regfindphone(this)" placeholder="请输入手机号" name="phone_num" />
					</div>
					<div class="email-row">
						<label>验证码</label>
						<input type="text" maxlength="6" name="yanzheng_num" id="yanzheng_num" placeholder="请输入验证码" />
						<p class="yzm_zj"><img title="点击刷新" src="{:U('Register/yanzhengma')}"/></p>
					</div>
					<div class="email-row">
						<label>手机验证码</label>
						<input type="text"   name="input_identity" id="input_identity" placeholder="请输入手机验证码" maxlength="6" />
						<a  onclick="pwdfind()" name="input_identify_code" id="input_identify_code">发送验证码</a>
					</div>


					<div class="find">
						<input type="submit" onclick="tijiaofindphone()" id="num_submit_find" value="找回密码"  />
					</div>
					<p class="retrieve-email-re">我还没有账户? <a href="{:U('Register/Register')}" class="cff8c00"> 立即注册</a></p>
				</div>
				<div class="retrieve-method" id="email_find">
					<div class="retrieve-email-hint">
						<img src="__IMG__/gantan.png"/>
						<span>邮箱注册的用户仅支持邮箱找回</span>
					</div>
					<div class="email-row">
						<label>邮箱地址</label>
						<input type="text" name="email_name" id="email_name" placeholder="请输入邮箱地址" onblur="emailfindpw(this)" />
					</div>
					<div class="email-row">
						<label>验证码</label>
						<input type="text" maxlength="6" name="yanzheng_num" id="yanzheng_email_num" placeholder="请输入验证码" />
						<p class="yzm_zj"><img title="点击刷新" src="{:U('Register/yanzhengma')}"/></p>
					</div>
					<div class="email-row email-hqyz">
						<label>邮箱验证码</label>
						<input type="text" class="form-control input-lg" value=""  name="input_identity" id="input_identity_email" placeholder="请输入邮箱验证码">
						<button type="button" class="form-control input-lg" value="{$code}" onclick="Regemail()" name="input_identify_code" id="input_identify_email">获取验证码</button>
					</div>
					<div class="find">
						<input type="submit" onclick="findemailpwd()" id="email_submit_find" value="找回密码"  />
					</div>
					<p class="retrieve-email-re">我还没有账户? <a href="{:U('Register/Register')}" class="cff8c00"> 立即注册</a></p>
				</div>
				<div id="set_pw" style="display: none">
					<div class="form-group">	
						<div class="input_width_9">
							<label for="new_pw" class="control-label">新登录密码:</label>
							<input type="password" class="form-control input-lg" name="new_pw" onchange="RegeMatch(this)" id="cipher_code" placeholder="请输入新登陆密码">
						</div>
						<span class="tips">输入登陆密码必须以字母开头，6--18位</span>
					</div>
					<div class="form-group">
						<div class="input_width_9">
							<label for="re_new_pw" class="control-label">确认新登录密码:</label>
							<input type="password" class="form-control input-lg"  name="re_new_pw" onchange="newpwdReg(this)" id="re_new_pw" placeholder="请再次输入新登陆密码">
							<span class="tips">确认登陆密码必须以字母开头，6--18位</span>
						</div>
					</div>
					<div class="form-group">
						<div class="input_width_9">
							<button type="button" class="btn btn-default register_btn" onclick="tijiaoreturn()" id="change_submit">修改密码</button>
						</div>
						<div class="clearfix"></div>
					</div>

			</div>
			</form>
		</section>
		<include file="Public:footer" />
	</body>
	<script type="text/javascript" src="__ALERT__/qiwen_popup.js"></script>
	<script type="text/javascript" src="__JS__/Wapregister.js"></script>
	<script type="text/javascript">
		var captcha_img = $('.yzm_zj').find('img');
		var verifyimg = captcha_img.attr("src");
		captcha_img.attr('title', '点击刷新');
		captcha_img.click(function(){
			if( verifyimg.indexOf('?')>0){
				$(this).attr("src", verifyimg+'&random='+Math.random());
			}else{
				$(this).attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
			}
		});
	</script>
</html>
