<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/sys_stat.css" media="all">
</block>
<!-- 子导航 -->


<block name="body">
<!--    <div class="main-title">
        <h2></h2>
    </div>-->
    <div id="main-content">
        <div id="main" class="main">
            <div class="second_title">
                <strong class="big_title">系统概况</strong>
            </div>
            <!--用户信息-->
            <ul class="user_info">
                <li class="li_left">
                    <div class="img_bg">
                        <img src="__IMG__/sys_image/scan_1.png" alt="图标">
                    </div>
                    <div class="value valuepadding">
                        <p><strong>{$users}</strong></p>
                        <p><span>注册总人数</span></p>
                    </div>
                </li>
                <li>
                    <div class="img_bg">
                        <img src="__IMG__/sys_image/scan_2.png" alt="图标">
                    </div>
                    <div class="value valuepadding">
                        <p><strong>{$cny}</strong></p>
                        <p><span>人民币总计</span></p>
                    </div>
                </li>
                <li class="li_left">
                    <div class="img_bg">
                        <img src="__IMG__/sys_image/scan_3.png" alt="图标">
                    </div>
                    <div class="value valuepadding">
                        <p><strong>{$trade}</strong></p>
                        <p><span>累计交易额</span></p>
                    </div>
                </li>
                <li>
                    <div class="img_bg">
                        <img src="__IMG__/sys_image/scan_4.png" alt="图标">
                    </div>
                    <div class="value valuepadding">
                        <p><strong>{$contents}</strong></p>
                        <p><span>CMC总计</span></p>
                    </div>
                </li>
            </ul>
            <!--报表-->
            <ul class="report_statistics scale_ul">
                <li class="li_left red">
                    <p class="title red">用户注册报表(30天)</p>
                    <div id="box1"> 
                        
                    </div>
                </li>
                <li>
                    <p class="title green">系统 充值/提现 统计图(30天)</p>
                    <div id="box2">
                    </div>
                </li>
            </ul>
            <!--系统信息-->
            <ul class="system_info scale_ul">
                <li class="li_left">
                    <table>
                        <tr>
                            <td>服务器操作系统:</td>
                            <td>WINNT</td>
                        </tr>
                        <tr>
                            <td>运行环境:</td>
                            <td>Apache/2.4.18 (Win32) OpenSSL/1.0.2e PHP/5.5.30</td>
                        </tr>
                        <tr>
                            <td>PHP版本:</td>
                            <td>5.5.30</td>
                        </tr>
                        <tr>
                            <td>Mysql版本:</td>
                            <td>5.5.47</td>
                        </tr>
                        <tr>
                            <td>服务器IP:</td>
                            <td>192.168.0.114</td>
                        </tr>
                    </table>
                </li>
                <li>
                    <table>
                        <tr>
                            <td>授权域名:</td>
                            <td>192.168.0.114:90</td>
                        </tr>
                        <tr>
                            <td>授权周期:</td>
                            <td>终身</td>
                        </tr>
                        <tr>
                            <td>售后周期:</td>
                            <td>终身</td>
                        </tr>
                        <tr>
                            <td>网站域名:</td>
                            <td>192.168.0.114</td>
                        </tr>
                        <tr>
                            <td>风险警告:</td>
                            <td>为保障程序正常运行,请勿随意篡改代码!</td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>

    </div>

</block>

<block name="script">
    <script>
        highlight_subnav('{:U('sys_scan')}');
    </script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/echarts.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/Home/js/diagram.js"></script>
</block>

